<app-interview-template videoId="lLzG4z8mgAw" audioId="1051533100">
  <article>
    <p>
      <span class="first-letter">P</span>
      <em>eriodismo de Barrio</em> entrevista a Daniel Díaz Mantilla, escritor y editor cubano.
      Esta entrevista forma parte de
      <em>
        <a class="link-higthlight" href="https://www.periodismodebarrio.org/2020/12/la-revolucion-de-los-aplausos/">La
          Revolución de los aplausos</a> </em>, una serie de conversaciones con actores de la sociedad civil que se
      realizaron entre diciembre de 2020 y enero de 2021, a raíz del diálogo que tuvo lugar el 27 de noviembre de 2020
      en el Ministerio de Cultura:
    </p>
  </article>

  <article>
    <h4>Vamos a empezar por la presentación…</h4>
    <p>Yo soy escritor, soy narrador, poeta, ensayista, también soy editor. Comencé a publicar en los años 90, como
      parte
      de esa generación que se llamó los “novísimos narradores”, y he publicado novelas, libros de cuentos, poesía.</p>
    <p>Trabajo en Ediciones Unión desde hace varios años. Antes de eso trabajé como editor alrededor de 12 años en una
      revista que se llama <em>La Letra del Escriba</em>.</p>
  </article>

  <article>
    <h4>¿Has sido censurado alguna vez?</h4>
    <p>Bueno, sí. He tenido dificultades en determinados momentos para publicar, por diversas razones. Algunas tienen
      que
      ver con el contenido, con la parte ideológica del texto, pero a la vez he tenido la suerte de poder publicarlo
      todo
      aquí, en Cuba, sin ningún problema. Es decir, ha habido demoras, ha habido incomprensiones, dificultades… Y
      algunas
      también tienen que ver más con la forma que con el contenido, por el asunto este de la hibridez entre géneros y la
      dificultad para clasificar un texto dentro de los cánones que tienen las instituciones, en este caso las
      editoriales.</p>
    <p>He pasado un poco por encima de esas incomprensiones. En el caso de las cuestiones ideológicas, he tratado
      siempre
      de pasar por encima de todas esas incomprensiones, que han sido dolorosas, que han tomado tiempo, pero al final
      creo
      que he logrado que se me escuche, que se me entienda. He logrado insertarme en ese espacio que para mí es
      esencial,
      porque yo escribo para los cubanos, no solo para los cubanos, pero fundamentalmente para los cubanos. Y como mismo
      he podido publicar fuera de Cuba, siempre he querido, y lo he logrado, te digo, publicar dentro de Cuba para los
      lectores cubanos.</p>
  </article>

  <article>
    <h4>¿Y cómo has logrado eso? ¿Cómo has saltado la censura?</h4>
    <p>La censura por lo general tiene que ver con una incomprensión, con una dificultad entre las dos partes para
      entenderse, para respetarse, para vencer el recelo. Por lo general, las instituciones ven cualquier forma de
      crítica
      casi como un ataque, muchas veces lo han visto así, y cualquier tipo de novedad formal o temática, como algo
      peligroso o difícil de aceptar. Eso es comprensible también, porque muchas veces quienes deciden son funcionarios,
      burócratas, personas que no tienen una sensibilidad lo suficientemente desarrollada o actualizada para entender
      las
      cosas nuevas o críticas. Eso sucede. A mí, en lo personal, el haber sido censurado en algún momento me ha hecho
      buscar otros modos de expresión. Siempre desde el respeto, siempre desde la voluntad de llevarle a cualquier
      persona
      de cualquier tendencia ideológica o política, un contenido artístico, que es inevitablemente un contenido humano.
    </p>
    <p>Entonces creo que esa censura me ha hecho crecer también un poco como escritor. Y a la vez como ciudadano. He
      evitado siempre cualquier tipo de confrontación en la que no haya un camino para la comprensión entre las
      personas.
      Nosotros podemos tener confrontaciones, podemos tener diferencias, podemos tener incluso discusiones serias,
      fuertes, pero jamás ha salido de mi boca hacia ninguna de esas personas una ofensa. Y jamás me he negado a la
      posibilidad de entendernos, de perdonarnos, de reconocernos, más allá del cargo que se puedan tener.</p>
    <p>Inicialmente, con mi segundo libro, tuve muchas dificultades. Estuve alrededor de seis años sin publicar en Cuba…
    </p>
  </article>

  <article>
    <h4>¿Entre el primero y el segundo?</h4>
    <p>Entre el segundo y el tercero. Y fue difícil, realmente. Fue bastante difícil.</p>
    <p>Yo jamás me fui, jamás hice ningún tipo de declaración que pudiera herirlos. Insistí una y otra vez. Y en algún
      momento las puertas se fueron abriendo otra vez. Al punto de que muchas personas que tuvieron una actitud de
      recelo
      hacia mí, que me vieron como un enemigo, o como un enemigo potencial, después fueron mis compañeros de trabajo. Y
      jamás, ni en ese momento ni después, tuve una actitud hacia ellos irrespetuosa o agresiva.</p>
    <p>Yo trato por todos los medios de no crear enemistad con nadie. Creo que las diferencias en cuanto al pensamiento
      son algo natural, en cuanto a cualquier tipo de pensamiento, incluido el pensamiento político. Quizás seamos
      adversarios en algún debate, pero jamás seré enemigo de ninguno de ellos. Esa es mi posición.</p>
  </article>

  <article>
    <h4>¿Crees que la literatura, el arte en general, tiene alguna función social?</h4>
    <p>El arte tiene una función social siempre. En el momento en que el arte no tenga una función social, no es arte.
      Tiene muchas funciones, y todas son sociales. Tanto las cuestiones puramente estéticas como las cuestiones que
      tienen que ver con el movimiento de ideas. Son aspectos todos de la vida social, y la cultura es sólo en sociedad,
      y
      el arte también.</p>
  </article>

  <article>
    <h4>Háblame de las cuestiones que llevaron al 27N.</h4>
    <p>Creo que el 27 de noviembre [de 2020] confluyeron dos cosas distintas, pero que armonizan siempre, que siempre
      han
      estado de alguna manera juntas. Y es importante desligarlas, distinguirlas, para el análisis, para la comprensión,
      pero también hay que entender que esas cosas van juntas siempre. Es el eterno problema de la política y el arte, o
      la política y la cultura. Que haya contenidos políticos en la literatura o en el arte en general, es una cosa
      totalmente legítima. Es decir, el arte se ocupa también de la política como un aspecto de la vida de las personas,
      pero el arte no es política. Tú puedes hacer política con el arte si quieres, o puedes no hacerla. Eso es decisión
      de cada cual, como creador, pero no es ilegítimo abordar las cuestiones políticas dentro del arte.</p>
    <p>Creo que ese día 27 hubo una parte de los reclamos de las personas que nos reunimos allí, que tiene que ver con
      cuestiones puramente artísticas, o de política cultural, no de la otra política, y son cuestiones muy antiguas,
      cuestiones que se van reactualizando, que van resurgiendo casi al ritmo de las generaciones. Por ejemplo, la
      cuestión de lo culto y lo popular en los años 60. Todo el debate, toda la falta de entendimiento que hubo entre
      las
      partes en ese momento, es una expresión del mismo conflicto. La polémica entre el arte realista y el abstracto, o
      los problemas con la música rock en los años ‘70, ‘80, ‘90, que yo los viví personalmente. Todas esas
      incomprensiones que en algún momento se han ido zanjando o se han ido resolviendo, yo creo que, parcialmente, son
      parte del mismo conflicto que incidió ese 27 de noviembre. Y son síntomas de que las soluciones que se le dieron a
      ese conflicto en los distintos momentos, con sus manifestaciones específicas, no resolvieron el problema de una
      manera satisfactoria o total.</p>
    <p>Hay que entender también que la relación del artista con la sociedad y con las instituciones es una relación muy
      conflictiva. El arte es crítico e incide en la sociedad para cambiarla. Eso es ser revolucionario también. Además
      de
      eso, el arte es súper dinámico. Si una cosa no puede permitirse el arte es ser repetitivo y monótono. Y, por otra
      parte, las instituciones culturales, y esto es válido para cualquier institución cultural del mundo, las
      instituciones culturales forman parte de una burocracia, de una estructura que es más bien lenta en su movimiento.
      Eso hace que los conflictos reaparezcan una y otra vez. Lo que se necesita quizás es un modo de resolver ese
      desfase, que no sea agónico, que no sea tan crítico.</p>
    <p>Nosotros tenemos, por ejemplo, congresos de la UNEAC, de la AHS, tenemos mil encuentros que cada cierto tiempo se
      realizan, debates, sobre todo después de una crisis como esta viene una especie de diálogo, un debate como ese que
      se hizo en estos días por parte del Ministerio de Cultura con algunos jóvenes. Siempre tenemos esos momentos. Pero
      realmente lo que necesitamos, independientemente de que esos encuentros ocurran, es un debate constante sobre
      nuestros problemas artísticos, culturales. Esa dinámica del diálogo tiene que ser habitual en los medios, en las
      instituciones, entre los ciudadanos, porque, ya te digo, el arte es dinámico como es dinámica la sociedad. Va
      cambiando, va evolucionando, y si uno espera a que haya una crisis para hablar sobre el problema, entonces está
      todo
      el tiempo entre la represión de lo nuevo y la crisis de lo nuevo que trata de imponerse. Eso no es muy saludable.
      No
      quiero decir que no deba haber congresos de la UNEAC ni de la AHS, sino que debe haber un diálogo más fluido entre
      las instituciones y los artistas.</p>
  </article>

  <article>
    <h4>¿Cuáles fueron tus exigencias ese día?</h4>
    <p>Yo no tenía ninguna exigencia personal. Después si quieres llegamos ahí. Hay otra cosa que quería decir con
      respecto a esto…</p>
    <p>Mira, te decía que, por un lado, está la cuestión que tiene que ver con el arte. Hay una manera en que
      tradicionalmente se han abordado esos temas del arte, que es la politización de los problemas. Cuando yo era
      joven,
      oír rock era diversionismo ideológico. Y cuando personas como Fernando Rojas o Abel Prieto eran jóvenes, la
      cuestión
      de lo culto y lo popular… es decir, un arte, digamos, elitista, era también conflictivo. Poco a poco se han ido
      trascendiendo esas dicotomías, esas visiones demasiado parcializadas, visiones que nacen desde la incomprensión y
      desde cierto recelo, porque también hay que entender que vivimos en un país con un contexto social, político,
      etcétera, que es muy complejo, y no hay que negarlo, no podemos tapar el sol con un dedo: tenemos un vecino muy
      poderoso, con el cual las relaciones no son muy amistosas, y esa sombra gravita sobre todo lo que sucede en
      nuestro
      país. Por eso a veces vemos fantasmas donde no los hay, y a veces también no vemos los fantasmas que están ahí. Es
      muy complejo.</p>
    <p>Yo pienso que hay que tratar de entender la complejidad de la realidad donde vivimos, y también tenemos que
      entender, y esto es sobre todo para las instituciones, que el hecho de que tengamos a ese vecino ahí en el norte,
      no
      puede ser una justificación para negar las diferencias que tenemos entre nosotros. Al contrario, esas diferencias
      tenemos que aprender a vivir con ellas y hacer una armonía con esas diferencias, para que no venga desde afuera
      cualquiera, amigo o enemigo, a hacer algún tipo de intervención, que va a ser al final siempre dañina para
      nosotros.
    </p>
    <p>Tenemos que aprender que los Estados Unidos no se van a ir de ahí, van a seguir estando ahí, y nosotros tenemos
      que
      seguir viviendo aquí, en armonía con nuestras diferencias.</p>
    <p>Ese fantasma es peligroso: existe alguien ahí siempre tratando de incidir en nuestra realidad, y no debería
      hacerlo. Pero ese fantasma no nos puede volver paranoicos.</p>
    <p>Entonces ya estoy hablando de la otra parte que incide en lo que sucedió el 27 de noviembre, que tiene que ver
      con
      cuestiones políticas específicamente. Es decir, eran artistas, pero eran a la vez artistas y ciudadanos los que
      asistieron al Mincult. Y hay cuestiones que tienen que ver con la censura en el arte, pero hay cuestiones que
      tienen
      que ver con los derechos ciudadanos. Son dos problemas que tal vez digas que no tienen que ver, pero sí, porque un
      artista no es artista nada más, es una persona como cualquier otra, y todas las incomprensiones, todas sus ideas,
      todos sus anhelos, todos sus deseos, todos sus problemas, se vuelcan en su arte. Y si haces una lectura
      parcializada
      de su arte, le estás quitando dimensiones a la persona, le estás quitando dimensiones al artista. Lo cierto es que
      Cuba es una sociedad plural desde hace mucho tiempo, siempre lo ha sido, con una diversidad de aspiraciones, de
      sueños, de ideas políticas, que uno puede o no compartir, pero que no puede negar: existen. Para resolver los
      conflictos que esa diversidad conlleva tenemos leyes, para eso tenemos códigos de conducta como cualquier sociedad
      del mundo, y para eso también tenemos mecanismos para hacer consensos. Nosotros aprobamos una Constitución en
      2019,
      y mira, una Constitución, que es un consenso, nunca satisface a todo el mundo cien por ciento, porque uno tiene
      que
      ceder en ciertas cosas, tiene que aceptar la voluntad de los demás. Pero también uno encuentra cierto avance a
      nivel
      social, a nivel legal, en un documento como ese. Yo pienso que esta nueva Constitución trae muchísimos derechos,
      por
      lo menos en la letra, en el texto, muchísimos derechos a los cuales nuestra sociedad no está habituada, nuestras
      instituciones no están habituadas, hay que reajustar, siempre ante una nueva Constitución hay que reajustar muchas
      cosas, y esta Constitución trae muchas cosas nuevas para nuestra sociedad.</p>
    <p>Y el diálogo que ocurrió el día 27 fue con un apego total a esta Constitución. Por parte de todas las personas
      que
      hablaron ahí, que fueron personas muy diversas todas, y entre los 30 creo que no coincidimos dos personas en todo
      lo
      que piensan, como es lógico. Pero tenemos un marco legal, un marco institucional, y tenemos la voluntad, no solo
      los
      30 sino en general, toda la sociedad cubana, incluidas las instituciones, los funcionarios, tenemos la voluntad de
      respetar nuestras leyes, las que nosotros mismos nos hemos ido dando con el tiempo. Y esa es la base, pienso yo,
      sobre la cual se puede debatir, construir, adversar. Hay que entender también que un adversario político no es un
      enemigo. No necesariamente es un enemigo.</p>
  </article>

  <article>
    <h4>Entonces tú, como creador que ha lidiado con la censura, ¿cómo llevas tu relación con las instituciones?
      Porque trabajas en una…</h4>
    <p>Yo siempre he visto las instituciones estatales como algo necesario y útil. En un país como el nuestro, que es
      subdesarrollado no solo económicamente sino también culturalmente, aunque estamos quizás muy por encima de otros
      países de nuestra región en cuestiones de educación, de sensibilidad, de cultura, pero somos un país
      subdesarrollado
      en todos los aspectos, necesitamos instituciones que fomenten el desarrollo de la cultura, que eduquen, que creen
      espacios, que cuiden el arte que se hace del influjo que puede tener el mercado más desatado, ¿entiendes?;
      protección, por ejemplo, del <em>kitsch</em>, de la vulgarización de los contenidos. Y para eso sirven las
      instituciones, no solo las estatales, pero las instituciones estatales tienen un peso súper importante en eso. Hay
      que tener esto en cuenta. Las instituciones estatales no son enemigos, son necesarias y son o pueden ser aliados.
      Depende de cómo actúen, pero pueden ser aliados en el proceso de crear, de producir arte, de educar la
      sensibilidad,
      de crear espacios para el artista, para el crítico, para todo tipo de trabajo intelectual.</p>
    <p>Entonces, mi posición siempre ha sido esta: trabajo con las instituciones culturales para la cultura cubana, para
      el pueblo cubano. No trabajo para las instituciones culturales, trabajo con ellas. Eso significa que en el momento
      que haya desencuentros, incomprensiones insalvables, puedo seguir trabajando para la cultura, para el pueblo, sin
      las instituciones.</p>
  </article>

  <article>
    <h4>Sin embargo, me decías que crees que hacen falta otras instituciones, no sólo las que existen.</h4>
    <p>Sí, el problema es que las instituciones del Estado son útiles, son válidas, son necesarias, pero no son las
      únicas
      que podemos tener. Yo te hablaba antes de la lentitud con que esas instituciones burocráticas, o que tienen una
      estructura burocrática… la lentitud con que esas instituciones asumen lo novedoso en los códigos de expresión y en
      las ideas que se manejan. Por eso también es que son necesarias otro tipo de instituciones culturales creadas,
      dirigidas, fomentadas por los propios artistas, o por otros actores que pueden ser críticos, o investigadores de
      la
      cultura, creando cierto tipo de marco institucional o legal donde quepan esas instituciones, que podrían ser una
      cooperativa o un trabajo por cuenta propia. Siempre, por supuesto, con respeto a ciertas normas, a cierta
      legalidad,
      pero ese otro tipo de instituciones es importante.</p>
    <p>En el caso de la literatura, que es el que más conozco, casi todas las revistas literarias de antes de la
      Revolución eran instituciones culturales, pero desde los propios artistas. Con o sin apoyo de mecenas, con más
      pobreza o con menos pobreza, pero una revista como <em>Orígenes</em>, o una editorial como <em>Orígenes</em>, eran
      una institución. Era una institución por la importancia, por el respeto que logró ganarse, por la capacidad para
      legitimar artistas y tendencias estéticas dentro del campo de la cultura cubana.</p>
    <p>Y otra revista tan adversa a esa como <em>Ciclón</em>, por ejemplo, la que hizo Virgilio Piñera, que fue un
      momento
      de ruptura con <em>Orígenes</em>, esa revista también era una institución. Fue una institución breve, sí, porque
      como te decía antes este es un país pobre, los artistas no tenían muchos recursos, pero son instituciones también.
      Y
      son instituciones que defienden posiciones estéticas, a veces beligerantes con otras, pero beligerantes a un
      nivel,
      y nunca esa beligerancia es exclusión de lo otro: es debate, diálogo, debate a veces intenso, pero al final todas
      están construyendo lo mismo: están construyendo un devenir como sociedad, como cultura, una identidad, que es
      diversa, que es plural. Hoy quizás no vemos la gran diferencia entre <em>Orígenes</em> y <em>Ciclón</em>, a pesar
      de
      que en su momento las tensiones fueron bastante grandes entre Virgilio y Lezama. Son así las cosas.</p>
    <p>Yo creo que en estos tiempos también tenemos muchas maneras diversas de hacer el arte. En el cine, por ejemplo,
      con
      el abaratamiento de todos los medios, en las artes plásticas, también; la aparición de un nuevo espacio inmenso
      que
      es el ciberespacio, para la difusión, para la promoción de contenidos… Todo eso nos pone en una época totalmente
      distinta, en Cuba y el resto del mundo. Y también hay distintos mecenazgos, apoyos, algunos canalizados a través
      de
      <em>crowdfunding</em> o cualquier otra vía, por medios digitales o no. Todo eso nos coloca en una realidad
      distinta.
      No podemos pretender que todo se mantenga como en los años 90 o en los años 80, es decir, hay cambios en el mundo,
      en Cuba, y esos cambios tienen que expresarse en nuevas libertades, en nuevas posibilidades, porque eso es
      crecimiento, eso es avance.
    </p>
  </article>

  <article>
    <h4>¿Cuál fue tu intervención en la reunión con el viceministro Fernando Rojas?</h4>
    <p>El día 27 yo les recordé allí a los compañeros con los que nos reunimos, el momento en que se fundó el Ministerio
      de Cultura, que fue un momento, digamos, de cambio. Cuba venía de un periodo muy, muy terrible, de ruptura de la
      comunicación entre los artistas y las instituciones del Estado, ese periodo que se llamó Quinquenio Gris, pero que
      realmente empezó mucho antes y duró todavía un poco después del año 75.</p>
    <p>Para poner fin a ese Quinquenio Gris se fundó el Ministerio de Cultura; para reconstruir el diálogo y la armonía
      entre los creadores, las instituciones y la sociedad, se creó el Ministerio de Cultura. Fue un momento de
      esperanza
      muy grande para todos los artistas y para todos los políticos de ese momento. Ese espíritu fue el que yo traté de
      que se recordara en esa reunión del día 27. Hablé de la necesidad de vencer el recelo, de escuchar, de reconectar
      con los jóvenes creadores, de encontrar una vía para comunicarse, para dialogar. Esa fue una parte de mi
      intervención, que tiene que ver específicamente con las cuestiones culturales.</p>
    <p>La otra parte de mi intervención tuvo que ver con los derechos ciudadanos de esos artistas, con ciertas prácticas
      que incluso la ley proscribe, y que desde ciertas instancias del poder en Cuba se están usando habitualmente.
      Prácticas que implican la represión, la exclusión, y que no son aceptables de ninguna manera. En primer lugar,
      porque están convirtiendo en enemigos a quienes no lo son, y en segundo, porque ellos tienen que respetar las
      leyes
      también. Todos tenemos que respetarlas. Si esas son las leyes revolucionarias, son las leyes de nuestro Estado
      socialista, cómo es posible que, desde el Estado socialista, una instancia, una parte de ese Estado, sea capaz de
      violarla. Eso no puede suceder. Yo le hablé de eso al viceministro de Cultura, porque lo cierto es que, aunque sea
      el Ministerio de Cultura, es parte del Estado y tienen un mandato, que es velar porque la Constitución se cumpla,
      porque las leyes se cumplan.</p>
    <p>Pero no dije eso, ni lo digo ahora, ni lo diré jamás, desde la posición de un enemigo. Lo dije allí: me alegro de
      que tengamos una Seguridad del Estado, es necesario tenerla, todos los Estados tienen que protegerse de la
      injerencia de cualquier otro Estado; hay muchísimas acciones oscuras que se hacen entre unos y otros, incluso
      entre
      Estados que parecen amigos. Si recuerdas, por ejemplo, lo que sucedió entre Ángela Merkel y Donald Trump a raíz
      del
      descubrimiento de todo el espionaje masivo que se hacía hacia instituciones y funcionarios de Alemania, tú dices:
      pero bueno, ¿no son amigos? Es decir, eso es una práctica habitual, no es saludable, pero uno no puede soñar con
      que
      eso no exista, y hay que protegerse. Es decir, necesitamos realmente una Seguridad del Estado, necesitamos
      contrainteligencia, necesitamos policías, necesitamos ejército, todas esas cosas las necesitamos. Yo no quiero que
      eso desaparezca, y no los veo como enemigos ni como una amenaza a mi libertad, pero me parece que hay una falta de
      comprensión, primero, de la diversidad de nuestra sociedad, que es legítima, que es natural; y quizás de la nueva
      realidad en la que estamos viviendo desde que tenemos esta Constitución nueva. La incapacidad para ver personas
      distintas y no enemigos.</p>
    <p>En el tiempo que estuve dialogando con esos muchachos que recién conocí el día 27, no vi personas que pudiera
      catalogar como enemigos, personas a las cuales pudiera decirles “contigo no hablo”. No los vi. Y vi posiciones
      políticas, ideológicas, muy distintas de las mías. Pero vi la posibilidad de conversar, vi la posibilidad de
      convivir y de construir juntos cosas, cosas que son buenas para ellos y para nosotros, para todos. Eso es lo que
      me
      movió a trabajar con ellos, y lo que me ha movido a ponerme al lado de ellos en esta búsqueda del diálogo. A mí no
      me gusta decir en esta batalla o en esta lucha o en esta guerra, porque para mí no es una guerra. Yo trabajo con
      las
      instituciones, muchas de esas personas son mis compañeros de trabajo de muchos años, y hemos tenido conversaciones
      de todo tipo, desde broncas hasta conversaciones de amigos, y no son mis enemigos, ni aun en el momento en que
      hayamos tenido un malentendido, jamás los he visto como enemigos, y esos muchachos tampoco lo son. Entonces estoy
      ahí con ellos precisamente porque quiero que todos ellos y los otros tengan un espacio para vivir aquí y para
      realizarse.</p>
  </article>

  <article>
    <h4>¿Creíste que ese diálogo del 27N iba a llevar a algún lugar?</h4>
    <p>Si no hubiese creído que podía salir algo bueno de ahí, no hubiese perdido mi tiempo haciéndolo.</p>
    <p>Yo estaba escribiendo antes de que sucediera todo eso, un rato antes de irme para el Ministerio de Cultura estaba
      escribiendo, y necesito seguir lo que estaba haciendo. Para mí eso es muy importante. Y paré porque sentí que era
      necesario estar allí, y todos estos días en los que estuvimos en INSTAR con esos muchachos, dialogando, tratando
      de
      encontrar vías, de ponernos de acuerdo y construir un camino para ese diálogo, para mí no fue tiempo perdido. E
      incluso ahora, después de haber visto la manera en que se resolvió ese problema, que no fue una solución
      realmente,
      o no fue una buena solución, me parece, de ninguna de las partes. Pero incluso con este resultado que hemos tenido
      hasta ahora, no fue una pérdida de tiempo.</p>
    <p>A mí me parece que esta ruptura es la evidencia de que tenemos un problema serio que resolver. Quizás ahora no
      sea
      el momento de insistir con el diálogo, de insistir en que hay que sentarse a dialogar, porque estamos todos
      tensos,
      crispados, dolidos, nos sentimos traicionados. No digo yo, digo todos. Me imagino que hay muchos compañeros de
      trabajo o personas que me conocen, que están dolidos conmigo, por haber estado allí con esos muchachos. Y ese
      malestar no es el clima adecuado para un diálogo constructivo.</p>
    <p>Ahora creo que lo más necesario sería que nos sentemos cada cual a reflexionar, a pensar en lo que hicimos bien,
      en
      lo que hicimos mal, en dónde fuimos intolerantes y en dónde no queremos ceder, y en cómo ceder sin traicionarnos a
      nosotros mismos. Tenemos todos que reflexionar mucho, porque lo que ha sucedido no le gustó a nadie. Ni a ellos
      les
      gustó que nosotros fuésemos a las puertas del Ministerio de Cultura a exigirles, ni a nosotros nos gustó que en
      los
      medios masivos hicieran toda esa serie de asociaciones locas de los que fuimos, un grupo de artistas o personas
      con
      sensibilidad artística, con preocupaciones artísticas, asociados de pronto con gente que quiere que un millón de
      cubanos mueran, o gente que tira cocteles molotov en no sé dónde. No. ¿Por qué se nos asocia a eso? Eso es un
      error.
      Y entiendo que están desde la trinchera temiendo el avance del enemigo. Sí, hay un enemigo, y sí, quiere avanzar,
      pero no somos nosotros. De verdad que no.</p>
    <p>Entonces hay que esperar a que sanen un poco esos malestares, y hay que retomar ese diálogo. Es imprescindible,
      lo
      he dicho, lo he escrito y publicado en estos días. Es imprescindible el diálogo. Es imprescindible encontrar el
      espacio. Así que no ha sido un tiempo perdido.</p>
  </article>

  <article>
    <h4>¿Te sigue pareciendo que el camino es el diálogo?</h4>
    <p>Sí, el camino es el diálogo siempre. El diálogo es una vía de comunicación, y no es solo verbal. Hay que
      acercarse.
      Hay que ver el arte que hacen, hay que escuchar la música que hacen, hay que leer la literatura que escriben, hay
      que ver al ser humano que está comunicándose contigo. Y hay que ver que algunos de ellos quizás son jóvenes
      inexpertos, son demasiado apasionados, no saben expresar sus ideas de una manera que llegue bien, con una música
      como el reguetón o como el rap, que son un poco agresivas en su manera de expresarse.</p>
    <p>A veces es difícil echarse para atrás y entender de dónde nace ese malestar, pero ese malestar es natural. A ver,
      Sigmund Freud lo explicaba en un texto súper famoso que es “El malestar en la cultura”. Y ese malestar tiene vías
      de
      expresión y de canalización, y puede transformarse el malestar en otras emociones distintas; además no es solo
      malestar lo que hay en esas personas, hay otras cosas que también se pueden cultivar. A veces solo con mirarnos a
      los ojos y darnos un poco de confianza, un poco de aliento, se resuelven muchos problemas, ¿entiendes?</p>
  </article>

  <article>
    <h4>¿Ha cambiado o crees que cambie tu relación con las instituciones después del 27N?</h4>
    <p>Creo que no depende de mí. Yo sigo siendo la misma persona de siempre, desde que publiqué mi primer cuento con 23
      años, desde que andaba con pitusas rotos y el pelo por la cintura y la policía me detenía y me metían en el
      calabozo
      porque era un friki. Desde entonces soy la misma persona y toda la trayectoria mía como persona y como escritor ha
      sido de evolución en una dirección. No ha habido una ruptura en mí a pesar de los momentos difíciles por los que
      pueda haber pasado, y no creo que esto vaya a marcar una ruptura para mí, independientemente de lo que las
      instituciones puedan hacer. Si ellos rompen conmigo, les daré su tiempo para que recapaciten y cambien su manera
      de
      pensar; no quiere decir eso que mi manera de pensar no tenga que cambiar también y que yo no tenga que recapacitar
      ciertas cosas, pero ya te digo, jamás los voy a ver como enemigos. Los veo como personas que comparten conmigo
      muchísimo, porque son personas a las que les interesa la cultura, les interesa el arte, les interesa la sociedad,
      les interesa la política, cosas que a mí me interesan también; que tienen criterios distintos a los míos a lo
      mejor,
      ok, podemos conversarlo, hoy, mañana, dentro de 20 años, si todavía estoy vivo dentro de 20 años quiero decir… Es
      decir, por mi parte no. Espero que por la parte de ellos tampoco.</p>
  </article>

  <article>
    <h4>¿Y crees que cambió algo en Cuba ese día?</h4>
    <p>Sí. Ese día cambiaron muchas cosas en Cuba. Hay que ver… Todo depende también de las actitudes que se tengan a
      partir de ahora. Porque podemos olvidar y repetir los errores, podemos aprender de estos errores y hacer que esos
      cambios sean para bien, o podemos actuar de maneras equivocadas todavía, seguir con tozudeces e intolerancias, y
      hacer que esos cambios sean para mal. Pero lo que sucedió en ese Ministerio de Cultura el día 27, como lo que
      sucedió con la ‘Guerrita de los e-mails’, fue un momento de cambio, de reacomodo de las relaciones, de repensar el
      consenso. Y si lo repensamos bien serán buenos cambios, si lo repensamos mal serán malos cambios. Pero cambio sí,
      eso fue un cambio.</p>
  </article>
</app-interview-template>
