<app-interview-template
  videoId="FUVitTh0hlg"
  audioSrc="https://vdmedia.elpais.com/elpaistopaudio/multimedia/20196/20/20190620105250650_1561020870_audio_128.mp3"
>
  <p>
    <span class="first-letter">L</span>orem, ipsum dolor sit amet consectetur
    adipisicing elit. Hic ratione cupiditate facilis reprehenderit. Blanditiis
    enim facere, dignissimos quibusdam, a soluta inventore ea voluptate possimus
    impedit repellat dolor sit ducimus ad?
  </p>
  <p>
    Interview 7
  </p>
</app-interview-template>
