<app-interview-template videoId="rtgWUVl3zP0" audioId="1011191575">
  <article>
    <p>
      <span class="first-letter">P</span>
      <em>eriodismo de Barrio</em> entrevista a Yunior García Aguilera, actor y dramaturgo cubano. Esta entrevista forma
      parte de
      <em>
        <a class="link-higthlight" href="https://www.periodismodebarrio.org/2020/12/la-revolucion-de-los-aplausos/">La
          Revolución de los aplausos</a> </em>, una serie de conversaciones con actores de la sociedad civil que se
      realizaron entre diciembre de 2020 y enero de 2021, a raíz del diálogo que tuvo lugar el 27 de noviembre de 2020
      en el Ministerio de Cultura:
    </p>
  </article>

  <article>
    <h4>¿Por qué el teatro? ¿De dónde viene eso?</h4>
    <p>
      El teatro viene desde chiquito. Cuando estaba en cuarto grado, más o menos, tres amigos, que ahora todos somos
      actores: Luis Ángel Batista Bruzón, Yasser Velázquez y yo, hicimos un trío que se llamaba Arroz con pollo. Era muy
      raro en esa época un trío humorístico de niños. Un humor crítico con la sociedad durante el Periodo Especial.
      Desde ahí surgió esa necesidad de expresarnos mediante el teatro, los personajes, la ficción… Pararse encima de un
      escenario a comunicarse con un público.
    </p>
    <p>
      Lo que empezó siendo un juego, terminó siendo una profesión. Primero estudié Actuación en la Escuela Nacional de
      Arte (ENA) y luego Dramaturgia en el Instituto Superior de Arte (ISA), hasta que finalmente me dediqué a escribir
      y a dirigir con Trébol Teatro.
    </p>
  </article>

  <article>
    <h4>¿Pero en aquel tiempo, de niño, ya tenían escenario? ¿Fue difícil?</h4>
    <p>Fue un poco difícil porque los espacios para el humor eran pensados para adultos. Es decir, el fenómeno de niños
      haciendo humor no era habitual. Nos presentábamos en peñas para adultos, en horario nocturno. Y aunque hacíamos
      nuestras cosas en la escuela, también nos fueron insertando en otras peñas, nos invitaron a programas de radio.
      Pero era un fenómeno realmente raro en esa época, ver a niños tan pequeños haciendo humor en Cuba.</p>
  </article>

  <article>
    <h4>¿Te parece que el teatro tiene una función social más allá del entretenimiento?</h4>
    <p>Por supuesto. Hago teatro, sobre todo, por la función social que tiene. Por el hecho de ver la realidad desde un
      punto de vista distinto al que muestran los programas de entretenimiento. Tengo una frase en mi perfil de Twitter
      que dice: “La realidad de un país está más cerca de la creación de sus artistas que de los discursos de sus
      políticos”.</p>
    <p>Cuando hay una crisis en algún lugar del mundo, pienso: “¿Qué estarán escribiendo en ese lugar? ¿Qué cuadros
      estarán pintando? ¿Qué obras de teatro estarán haciendo? ¿Qué película nos cuentan?”. Eso refleja mucho más el
      espíritu de la realidad.</p>
  </article>

  <article>
    <h4>¿Cuáles son tus preocupaciones?</h4>
    <p>Yo soy un inconforme por naturaleza. Si viviera, por ejemplo, en Nueva York o en París, también sería muy crítico
      con la sociedad. Me preocupa la injusticia, es algo que no tolero. Dondequiera que seas injusto con un grupo de
      personas, por pequeño o marginal que sea, esa injustica me provoca, me mueve, no me puedo quedar callado ante
      cosas así.</p>
  </article>

  <article>
    <h4>De cierta forma es activismo…</h4>
    <p>Sí. No me importan las categorías. No me importan demasiado las etiquetas o los nombres de las cosas que uno
      siente y por las que trabaja. Lo más importante, creo, es el impulso que te mueve y el resultado que al final
      quieres lograr.</p>
  </article>

  <article>
    <h4>¿Pero te consideras un activista/artivista?</h4>
    <p>No me atrevería a decir que no lo soy. Lo que hago tiene una función social importante: lo que hago puede
      cambiar, aunque sea mínimamente la sociedad y, por qué no, el mundo.</p>
    <p>Yo sí creo que el arte puede cambiar el mundo. Estoy convencido. El arte tiene la capacidad de sacudir a una
      persona, y si logras sacudir a una persona, cambias el mundo.</p>
  </article>

  <article>
    <h4>¿Has sentido en algún momento que has cambiado algo con tu obra?</h4>
    <p>Lo he sentido. Por ejemplo, una vez con <em>Jacuzzi</em>, en una de las primeras funciones, viene la acomodadora
      y me
      dice: “Hay dos camiones de militares allá abajo para ver la obra”. Cuando aquello había mucha preocupación con
      <em>Jacuzzi</em>. Era una obra polémica. La censura rondaba sobre nosotros y no sabíamos cuánto tiempo íbamos a
      estar en
      cartelera. Había personas a las que no les gustaba la obra por el contenido político que tenía el texto y la
      puesta en escena. Y me dijeron: “Vienen dos camiones de militares”. Al principio me asusté, obviamente, pero no
      fue tan así. Eran dos camiones de Camilitos, de estudiantes de las escuelas militares Camilo Cienfuegos.
    </p>
    <p>Los actores también se asustaron. Dijeron: “¿Qué va a pasar? ¿Qué van a decir? ¿Les gustará la obra?
      ¿Reaccionarán? ¿Se pararán a decir algo?”.</p>
    <p>Y para nada. A medida que la obra avanzaba, aquellos muchachos se relajaban. Sus rostros iban poniéndose menos
      tensos y terminaron abriéndose las camisas, aplaudiendo de pie y gritando: “¡Bravo!”. Para que recuperaran la
      actitud marcial, el oficial que estaba al frente les tuvo que decir: “¡Firmes!”. Pero ese cambio en ellos, esa
      transformación, ese relajamiento, ese “Acepto lo que me están comunicando, aunque sea algo totalmente distinto a
      lo que me dicen en la escuela militar”, para mí fue interesante. Y estoy seguro de que, por dentro, muchos
      cambiaron su actitud.</p>
  </article>

  <article>
    <h4>Es un objetivo cumplido…</h4>
    <p>Cada vez que alguien va al teatro y sale pensando o cuestionándose un poquito las ideas fijas, los dogmas que
      tenía antes de la función, eso es un cambio importante.</p>
  </article>

  <article>
    <h4>¿Cómo has logrado evadir la censura?</h4>
    <p>Ha sido un ejercicio complejo. No sé hasta qué punto uno logra evadir algo como la censura. Es un juego
      constante. La censura siempre está presente, de una manera u otra. A veces no es tan evidente, es más sutil. A
      veces, por ejemplo, pasa por decidir en qué sala te presentas, en qué horarios. A nosotros nos pasó con
      <em>Jacuzzi</em>.
      Nos invitaron al Festival de Teatro de La Habana. Hubo una discusión sobre si la obra podía estar o no en la
      selección oficial. Al final nos permitieron presentarnos, pero fue en el City Hall, una sala que no funcionaba
      como teatro, de difícil acceso… No estaban las condiciones creadas para una obra de teatro. Una sala a la que el
      público no está habituado a asistir para ver representaciones teatrales. Entonces, no puedo decir que la obra no
      se puso en la cartelera del Festival. Pero esas condiciones: dónde te pongo, en qué horarios, etc., son una manera
      también de limitar el alcance de tu obra.
    </p>
    <p>De todas formas, lo agradezco. Nunca veo esas cosas como algo que atenta contra el espectáculo. Lo asumo como un
      reto, una barrera que hay que saltar y que te entrena en ese difícil ejercicio de burlar la censura.</p>
  </article>

  <article>
    <h4>¿En una futura Cuba democrática el arte tendrá esa función que encuentras en el teatro?</h4>
    <p>Debería tenerla. Las sociedades necesitan procesos constantes de autocrítica. No se acaba nunca. Cuando uno cree
      que ya se han alcanzado determinados resultados en materia de derechos, aparecen otras inquietudes, nuevas
      injusticias contra las que habrá que luchar. El papel del arte, siempre, en todas las sociedades, va a ser ese:
      crear un equilibrio, sacudir las cosas que parecen establecidas, inamovibles, y poner a pensar a la gente en los
      cambios que se necesitan.</p>
  </article>

  <article>
    <h4>Cuéntame del 27N, ¿cómo fue ese día?</h4>
    <p>El 27N viene desde antes: una acumulación de insatisfacciones, una acumulación de cosas que ya no podíamos seguir
      soportando. La censura no ha parado, este año ha sido terrible. Empezó con la Muestra de Jóvenes Realizadores, con
      la censura del documental <em>Sueños al pairo</em>. Luego vino la expulsión de Pedro Junco de la UNEAC en
      Camagüey.</p>
    <p>Es decir, había una acumulación de insatisfacciones. Lo que estaba pasando con los muchachos de San Isidro ya era
      como el colmo. Un grupo de muchachos sitiados en un lugar con actos de repudio… La resurrección de los actos de
      repudio, que es algo que debería desaparecer para siempre de Cuba y del mundo; no hay nada más detestable que un
      grupo de personas humillándote públicamente. Era muy preocupante. No tanto porque uno estuviera de acuerdo con las
      ideas estéticas, políticas, de los muchachos del Movimiento San Isidro, sino porque veíamos amenazadas nuestras
      propias libertades y nuestros propios derechos.</p>
    <p>Por eso fue que el día antes del 27 de noviembre, cuando bloquearon las redes sociales, y luego cuando
      recuperamos Facebook y nos enteramos de lo que había sucedido, un grupo de amigos que no pasábamos de cinco o
      seis, a través de WhatsApp, nos pusimos de acuerdo y dijimos: “Nos vemos a las 11:00 a.m. frente al Ministerio de
      Cultura para protestar por lo que está pasando”. Y así fue.</p>
    <p>Poniéndonos de acuerdo muy rápido, usando WhatsApp, nos encontramos ahí un grupo de 14, 15 personas frente al
      Ministerio y comenzó aquello. Se fueron sumando personas, ya eran 50, luego 200, hasta que finalmente había
      alrededor de 300 personas o más frente al Ministerio. Todos con una idea común, a pesar de que era un grupo bien
      heterogéneo, con distintas líneas de pensamiento. La idea era: tenemos libertades, tenemos derechos y queremos que
      se respeten. La vía que estamos escogiendo es, de manera pacífica, buscar, solicitar un diálogo. Pero un diálogo
      real… No un diálogo como el que ha ocurrido toda la vida: reuniones que se hacen a puertas cerradas, con
      invitaciones específicas, donde hacen que la gente se desahogue…</p>
    <p>Yo le llamo a eso el muro de los lamentos: vas, colocas tu queja en un papelito; ese papelito se pone en el muro
      y a esperar por la gracia divina…</p>
    <p>Es decir, no queríamos reuniones como los congresos de la UNEAC o de la AHS, donde se habla mucho y durante años
      se presentan una y otra vez las mismas quejas, los mismos problemas. Queríamos un diálogo realmente transformador.
      Un diálogo honesto, con el compromiso de transformar la realidad. Salir de ese diálogo con resultados concretos.
      No solo con promesas. No con el “Vamos a seguir trabajando”, “Lo vamos a discutir”, “Eso se elevará”, sino: “La
      solución existe, vamos a cambiar las cosas”. Cosas como el Decreto 349, el Decreto 370; los actos de repudio, que
      hay que eliminar de una vez y por todas; el respeto real de las libertades creativas y las libertades ciudadanas,
      porque no solo se trata de artistas. También los cuentapropistas necesitan que se escuche su voz. También los
      campesinos necesitan ser escuchados.</p>
    <p>Éramos un grupo de artistas frente a un Ministerio específico, el Ministerio de Cultura. Pero lo que estábamos
      representando ahí eran las libertades y derechos de una ciudadanía, de un grupo diverso de personas.</p>
  </article>

  <article>
    <h4>¿Por qué escogieron el Ministerio de Cultura?</h4>
    <p>Porque el Ministerio de Cultura era el lugar que orgánicamente nos correspondía. Lo que había sucedido era un
      fenómeno vinculado con la cultura.</p>
    <p>En los últimos meses, aquella frase: “La cultura es lo primero que hay que salvar”, quedó en el vacío. La cultura
      se fue relegando a tercer, cuarto plano. Veíamos, por ejemplo, en las noticias, en la prensa, que siempre hablaba
      el mismo ministro, el ministro de Economía; parecía que todos los problemas del país se resolvían cambiando dos o
      tres medidas económicas. Había, además, un sentimiento de insatisfacción en la población por medidas tan
      antipopulares como las tiendas en MLC. De pronto, la cultura no era importante.</p>
    <p>Pasó un año del congreso y ni se habló de las cosas que estaban pendientes. Se hizo una pequeña reunión donde
      todos dijeron: “¡Qué buenos somos! ¡Qué grande este país! ¡A todos los artistas nos escuchan, podemos criticar,
      podemos decir nuestras inconformidades!”.</p>
    <p>¿Dónde están los resultados? ¿Dónde están esas transformaciones? ¿Qué ha pasado con la corrupción a nivel
      institucional? ¿Qué ha pasado con la promoción de los artistas? ¿Qué ha pasado con el discurso realmente pasado de
      moda, desajustado e inefectivo de la prensa en Cuba? ¿Ha cambiado algo después de tantos congresos de la UPEC?
      Después de tantas reuniones donde se critica la falta de transparencia, los discursos unidireccionales, la espera
      eterna por las orientaciones para publicar una noticia…</p>
    <p>Es decir, todo eso seguía en el mismo punto que hace 60 años. Y de pronto sentimos que el problema en Cuba era,
      además de económico, social; un problema estrictamente cultural. Habían olvidado lo peligrosa que puede ser la
      cultura cuando se deja de tener como prioridad en cualquier país. ¿Y por donde reventó la insatisfacción? Por los
      artistas. No es casual que no hayan sido, digamos, los cuentapropistas frente a un Ministerio X. No es casual que
      fuéramos artistas, sobre todo jóvenes artistas, delante del Ministerio de Cultura el 27N.</p>
    <p>Fue algo interesante, porque fue también el hecho de decir: “Estamos aquí, no en la Plaza de la Revolución, no en
      el malecón. Estamos frente a una institución que todavía reconocemos. Es decir, creemos, confiamos, en que esta
      institución puede cambiar y puede resolver los problemas que estamos discutiendo”.</p>
    <p>Por lo tanto, fue un voto de confianza, fue un proceso auténticamente revolucionario. De hecho, algunos le han
      llamado a lo que pasó el 27N: “La Revolución de los aplausos”. La Revolución no es una cosa estática, no puede ser
      algo que está ahí, en algún lugar, y que tú puedes estar a favor o no. La Revolución es un proceso, un proceso que
      incluye a todos los cubanos, estén de acuerdo o no con determinadas medidas. Y estar frente al Ministerio de
      Cultura fue decir: “OK, venimos a decir que no estamos de acuerdo con algo, que queremos dialogar con ustedes
      porque nos reconocemos mutuamente y queremos que las cosas cambien, que es lo más importante. No se trata solo de
      tener la oportunidad de plantear una queja; no se trata de tener la libertad de opinar, se trata de que expresar
      tu opinión sirva para cambiar las cosas”.</p>
  </article>

  <article>
    <h4>¿En algún momento creíste que ese diálogo llegaría a algún lugar?</h4>
    <p>Frente al Ministerio sí creí que fuera posible un diálogo transformador. A medida que fueron pasando los días,
      por la manera en la que la televisión, sobre todo el Noticiero y este programa especial que se hizo con Humberto
      López y con Lázaro Manuel Alonso… Cuando empecé a ver esos programas, me percaté de que no sería posible; querían
      que fracasara ese intento de diálogo real y transformador. Y así fue. Lo lograron.</p>
    <p>Puede que el grupo de los 30, nosotros a lo interno, cometiéramos determinados errores. Es cierto. No éramos un
      grupo de políticos experimentados. Éramos un grupo de jóvenes artistas jugando a la democracia con mucha presión
      alrededor, sin experiencia en este tipo de consenso, porque muy pocas veces un grupo tan heterogéneo ha tenido la
      oportunidad de reunirse libremente para decidir cosas que incluyen a muchas personas. Teníamos una responsabilidad
      también con los que representábamos: habíamos sido elegidos para representar opiniones y éramos un grupo realmente
      diverso. Había muchas líneas de pensamiento.</p>
    <p>Es posible que cometiésemos errores. Yo creo que el correo electrónico como vía de negociación fue un error
      tremendo. Pero más allá de eso, también sabíamos que la otra parte haría todo lo posible porque ese diálogo que se
      pactó el 27N no se diera. Y eso fue lo que lograron. Otra reunión donde te doy la oportunidad, porque soy
      magnánimo desde mi presidencia, para que te levantes y digas tu crítica, y luego te prometo que voy a trabajar
      sobre ello. Pero se salió de esas reuniones sin nada concreto.</p>
  </article>

  <article>
    <h4>Pero mientras estuviste ahí, en la reunión con el viceministro, creíste que eso iba a llegar a algún lugar. ¿Qué
      dijiste tú? ¿Qué respondieron ellos? ¿Por qué aceptaron salir de ahí con promesas si no era el plan inicial?</h4>
    <p>Yo creo que, en materia de símbolo, lo que pasó el 27N ya es importante para este país y para esta sociedad,
      incluso, aunque no lográramos nada concreto. El hecho de que libre y espontáneamente tantas personas se reunieran
      en un lugar, teniendo puntos de vista contrarios, se llegara a consenso, se votara democráticamente por los
      representantes, por los que podían entrar a un lugar a llevar tus ideas, eso fue algo inédito en la historia
      reciente de Cuba. Más allá de que se lograra o no, más allá de que se respetara el pacto que allí se hizo, ya lo
      que estaba ocurriendo era novedoso. Destapaba mucho coraje, mucha valentía en otros jóvenes y no tan jóvenes que
      hasta ese momento nunca habían sentido la libertad de vencer sus miedos para decir lo que pensaban.</p>
  </article>

  <article>
    <h4>Sin embargo, no fue suficiente…</h4>
    <p>Todavía. Pero es el nacimiento de algo. A nosotros, como sociedad, nos falta mucho camino por recorrer. Nos
      cuesta mucho trabajo ponernos de acuerdo. Estamos demasiado acostumbrados a que unas opiniones se impongan sobre
      otras. Hay una cosa terrible que estuve leyendo hace poco en las redes sociales, alguien que decía: “En Cuba se
      respetan los derechos humanos para las mayorías”. Nada viola más los derechos humanos que decir algo como eso,
      porque se supone que los derechos humanos son para todas las personas. Cuando tú crees que los has garantizado
      para una mayoría, estás excluyendo a un grupo que también tiene derechos. Los derechos humanos son para todas las
      personas, sin exclusión.</p>
  </article>

  <article>
    <h4>¿Todavía crees en el camino del diálogo?</h4>
    <p>Creo en el diálogo entre nosotros los cubanos. Se han iniciado otros diálogos que no han salido por la televisión
      ni en la prensa… Muchas personas han estado comentando, ya sea en encuentros familiares, en reuniones de amigos o
      por las redes sociales, cosas que hasta hace un mes o dos no se debatían; por lo menos no con la intensidad de los
      últimos días. Eso me parece un cambio hacia lo interno.</p>
    <p>No espero demasiado de esos diálogos con la institución, donde hay una presidencia con demasiada autoridad. Creo
      en un diálogo más horizontal, entre iguales, con acuerdos concretos para cambiar las cosas. Ese diálogo hacia lo
      interno de la sociedad, yo creo que está cambiando. Es posible que no inmediatamente. Pero estoy convencido de que
      las próximas reuniones, los próximos congresos, ya no van a ser los mismos.</p>
  </article>

  <article>
    <h4>¿A pesar de que los dejen a ustedes fuera?</h4>
    <p>Es que no se trata de nombres específicos. Hay algo que dije el 27N y lo he repetido después, y es que en Cuba se
      tiene que acabar el caudillismo. En Cuba se tiene que acabar eso de los nombres propios, de la construcción
      ficticia de héroes o de caudillos. Eso tiene que terminarse. Somos una sociedad plural y hay intereses que son de
      grupos, no necesariamente de individuos, aunque hay intereses individuales que también, por supuesto, tienen todo
      el derecho del mundo a existir y manifestarse.</p>
    <p>Construir liderazgos o caudillismos, puede afectarnos más que beneficiarnos. Hemos tenido una larga tradición de
      caudillos que han sido decepciones para el pueblo de Cuba. A Batista, por ejemplo, le decían “El Hombre”; Fidel
      luego fue “El Caballo”; a Martí lo perdimos antes de tiempo. Martí, que pudo haber sido tan imprescindible en la
      construcción de una República, murió antes de tiempo.</p>
    <p>Entonces, esa necesaria personificación de las causas, esa necesaria identificación del caudillo, que es una
      especie de ser mesiánico para el destino de un país, tiene que cambiar en Cuba. Hay que pensar más como sociedad.
      Una de las palabras que más repetíamos el 27 de noviembre era Fuenteovejuna, aquí somos uno. No existe un líder o
      un jefe. Éramos todos iguales en ese momento.</p>
  </article>

  <article>
    <h4>Me decías que se reunieron frente al Ministerio porque creían que esa institución podía cambiar algo. ¿Sigues
      creyendo en las instituciones ahora mismo? ¿Cómo es y cómo será tu relación con esas instituciones a partir de
      ahora?</h4>
    <p>He pensado mucho en mi relación con las instituciones. Por mi edad, ya no soy miembro de la ASH; todavía soy
      miembro de la UNEAC. He pensado realmente en si vale la pena seguir siendo parte de una organización que me dio la
      espalda en todo este fenómeno. Una organización que, quizás, desea a puertas cerradas, en su dirección, salir de
      alguien como yo. Porque puedo ser molesto. Como salieron de Pedro Junco…</p>
    <p>El hecho de que existan instituciones que agrupen a los artistas es importante. Más allá de que haya que
      transformarlas, aunque no estén las personas adecuadas al frente. Yo creo que ha descendido la calidad intelectual
      de muchos liderazgos en las instituciones cubanas. Hubo un tiempo en que había grandes intelectuales al frente de
      determinados lugares o segmentos de la cultura. Eran personas con las que quizás no estabas de acuerdo, pero en
      ningún momento dudabas de su capacidad intelectual a la hora de enfrentar un problema. Había personas con posturas
      muy dignas a la hora de defender a un artista, aunque eso significara buscarse un problema con sus jefes, con las
      autoridades, con la máxima dirección del país.</p>
    <p>Yo siento que ahora mismo no está ocurriendo eso. Tenemos personas al frente de las instituciones con una obra
      mucho más pequeña, con mucho menos liderazgo dentro de los grupos, los gremios, los movimientos de artistas en el
      país; con mucho menos reconocimiento a la hora de depositar tu confianza en ellos, incluso, cuando hay un
      conflicto de intereses, cuando sientes que la institución o el poder están amenazando tus libertades como
      artistas, como ciudadano… Hubo un tiempo en que sí podías depositar tu confianza en algunos líderes y decir: “Él
      me va a defender; estará de acuerdo con mi obra; él va a defender mi postura como artista”. Ahora mismo eso lo
      tengo en duda. No estoy seguro de que tengan el coraje, la grandeza de buscarse problemas con sus jefes para
      ponerse del lado de los artistas.</p>
  </article>

  <article>
    <h4>¿Y cómo puede cambiar eso? ¿A qué conclusión has llegado?</h4>
    <p>Todavía es muy pronto. Ha pasado muy poco tiempo después de los sucesos del 27N, pero eso, de alguna manera, en
      la mente nuestra y también en la mente de los que en ese momento ocupaban cargos de responsabilidad en las
      instituciones, es algo que está dando vueltas. Ellos están midiendo las opiniones, recibiendo informes. Y tienen
      que darse cuenta de que algo está cambiando. Ellos también tienen que cambiar.</p>
    <p>Hemos repetido muchísimo la frase: “Revolución es cambiar todo lo que debe ser cambiado”, pero en la mente de
      algunos pareciera todo lo contrario. Pareciera que Revolución es conservar todo lo que debe ser conservado. Y son
      criterios completamente opuestos. Me molesta mucho que estas personas que se llaman “revolucionarias”, no pasen de
      ser unos dogmáticos de manual.</p>
  </article>

  <article>
    <h4>¿Cómo ha sido tu vida después del 27N?</h4>
    <p>Difícil. Ha sido compleja. Mucha presión de un lado y del otro. Han aparecido críticas muy fuertes de lugares que
      no te esperabas. Presión familiar. En mi caso, por ejemplo, tuve que bloquear a mi mamá en Facebook para que no se
      enterara, para que no leyera los ataques que estaba recibiendo; algunos muy injustos. A mi hijo hace un tiempo que
      no lo visito, porque no quisiera mezclarlo con todo esto que me está pasando. Tiene solamente nueve años y quiero
      que conserve su inocencia, que no se mezcle en estos procesos.</p>
    <p>Siento tranquilidad. He tratado de quedar bien conmigo mismo. No de complacer a un segmento, no de complacer a un
      grupo; no se trata de defender una idea porque vaya a obtener muchos likes o porque vaya a recibir el apoyo de
      mucha gente. Lo principal es quedar bien conmigo mismo. Decir: “Esto es lo que pienso, lo que he pensado siempre,
      lo que entiendo por justicia…, aunque me critiquen, me busque problemas, pierda amigos, privilegios; aunque mi
      obra o mi carrera corran el riesgo de enfrentarse a muchos más muros… Tienes que asumir ese peso y hacerlo con
      responsabilidad.</p>
  </article>

  <article>
    <h4>De forma más general, cómo ves la situación del arte y de los artistas cubanos después del 27N.</h4>
    <p>Es probable que algo haya mejorado, pero me atrevo a decir que muchas otras cosas han empeorado. Muchos hemos
      sido reprimidos. En mi caso personal, me han cortado tres veces la línea del teléfono celular; he tenido a una
      persona delante de mi puerta diciéndome que no puedo salir, al menos un día. A otros de los que estuvieron
      involucrados en el grupo de los 30 les ha pasado mucho más que a mí. Algunos han tenido varios días a alguien en
      su puerta que les dice que no pueden salir de la casa. Eso es muy grave. No hay forma de justificar una cosa así.
    </p>
    <p>La prensa sigue teniendo una actitud difamatoria contra muchos de nosotros. No es periodismo lo que se está
      haciendo en la televisión y en la prensa cubana oficial en estos días. No es periodismo. Es burda propaganda.
      Propaganda de un solo sentido. Es seguir un manual muy parecido a aquellos manuales que se usaban en la Unión
      Soviética de Stalin. Eso no tiene nada que ver con la Cuba que todos queremos construir. Que no es que tenga que
      tener un apellido claro como socialismo tal cual, pero creo que en la Constitución queda claro que lo que se está
      construyendo en Cuba es un socialismo democrático. Y la palabra “socialismo” y la palabra “democracia” llevan
      implícito una participación abierta, llevan implícita una pluralidad, un reconocimiento del otro y una aceptación
      y un diálogo con el otro. Y eso de alguna manera se está obviando. Volvemos al viejo discurso, que no deja de ser
      real, del enemigo, la amenaza, el imperialismo, el embargo, el bloqueo o como le quieran llamar. Esas son cosas
      reales. Yo también estoy en contra del embargo y lo he dicho donde quiera que he podido.</p>
    <p>El embargo económico de los Estados Unidos contra Cuba no solo afecta a la familia cubana, también sirve de
      excusa para que el gobierno justifique todos sus errores internos. Sirve para generar solidaridad en el mundo
      hacia Cuba. También es algo que, quizás, a muchos conservadores les convenga, porque es una causa que tienen ahí
      para hacer sus talleres, dictar sus conferencias y para ganarse viajes alrededor del mundo hablando sobre el
      embargo.</p>
    <p>Yo me pregunto a veces de qué hablaría Bruno Rodríguez Parrilla si deja de existir el bloqueo. ¿De qué hablaría?
      Entonces, estoy consciente de que eso tiene que cambiar. La agresividad de los Estados Unidos sobre Cuba debe
      cambiar. Yo no acepto nunca las sanciones que afecten a la familia cubana. Es un problema nuestro. Tenemos que
      resolverlo con soberanía. Es un problema que nos toca a los cubanos resolver. Pero hay que hacerlo con
      transparencia, en igualdad de condiciones. No con abuso de fuerza. No con abuso de poder. Y no aplastando a una
      minoría, porque eso no es democracia; no es socialismo. No es justo, sencillamente.</p>
    <p>Uno de los sintagmas que más me gusta del proyecto cubano, y que a veces se obvia, es justicia social. Cada vez
      que se vaya a tomar una decisión, cada vez que vayamos a dialogar, a discutir un problema, la palabra de orden
      tiene que ser justicia social. Si lo que se hace se aparta aunque sea un metro de la justicia social, eso no es
      Revolución. No puede serlo.</p>
  </article>

  <article>
    <h4>¿Qué han dicho sobre ti para desacreditarte?</h4>
    <p>Hasta ahora, en televisión no he sido atacado. Mi nombre no se ha mencionado. Pero en las redes sociales ha
      comenzado una campaña que está orquestada desde la Seguridad del Estado, porque tienen acceso a información que un
      ciudadano común no tiene. Han intentado plantar la idea de que soy un producto fabricado en universidades fuera de
      Cuba. Están utilizando, por ejemplo, dos breves viajes académicos que hice, uno a Buenos Aires y otro a Madrid,
      dos viajes que juntos no pasan de los 15 días, para decir que ahí fui entrenado para ser el Guaidó de Cuba. Algo
      que es absolutamente irracional.</p>
    <p>Están diciendo, por ejemplo, que Felipe González, el expresidente de España, fue mi profesor. Alguien a quien
      solamente vi una mañana y le pregunté sobre una anécdota de García Márquez. Es absurdo pensar que fui entrenado
      por “tanques pensantes” del imperialismo para destruir el sistema cubano. Es absurdo.</p>
    <p>Una de las cosas que yo le decía al perfil falso que está diciendo estas cosas en redes sociales es: “Si en 15
      días los tanques pensantes del imperio son capaces de crear un líder en Cuba, cierren la Niño López, porque
      ustedes están gastando muchos recursos y gastando mucho tiempo en entrenar cuadros expertos en meter la pata.
      Basta solo con ver la mala comunicación que poseen muchos de nuestros ministros, lo mal preparados que están para
      dirigirse a un público en cámara o fuera de cámara, la imagen de estos ministros que no ha sido para nada
      estudiada porque dan una impresión totalmente contraria al discurso que intentan comunicar; voy a usar la palabra
      “comunicar” haciéndoles un favor. Es decir, realmente es algo en lo que deben pensar. La formación de cuadros en
      Cuba, de estos cuadros que defienden las líneas oficiales, está bastante mal”.</p>
    <p>Entonces, quizás les vendría bien algún viaje a Madrid: escuchar durante cinco minutos a una persona que piense
      diferente, para ver si las cosas mejoran. Porque, realmente, existe una crisis en la formación de cuadros que
      defiendan el proceso revolucionario. Y aquellos jóvenes que tienen un pensamiento diferente, pero que le pueden
      hacer bien al país en materia de justicia social, que es lo que más nos tiene que importar, los están tratando
      como enemigos, traidores, como delincuentes, marginales o, en todo caso, como ingenuos. Esa es una palabra que
      suelen emplear cuando no saben cómo catalogarte; cuando no pueden ponerte la etiqueta de “mercenario” o de
      “traidor”, usan la palabra “ingenuo”. Y creo que son ellos los que están siendo absolutamente ingenuos al pensar
      así.</p>
    <p>Algunos ataques deberían darme rabia, pero la rabia es un ejercicio que me da pereza practicar. Y entonces me
      hacen gracia. Una de las cosas que están haciendo contra mí es buscándome apodos. Hay quien me ha dicho Yunior
      “Alcancía” Aguilera; otros me dicen “Western Yunior”.</p>
    <p>Los que me conocen, los que están cerca de mí, saben que no tengo un peso en el bolsillo. Que, por ejemplo, el
      que menos cobra en Trébol Teatro soy yo, que ni siquiera me he evaluado. El tema del dinero es algo que a mí jamás
      en la vida me ha preocupado, salvo cuando es para producir, para crear.</p>
    <p>Es decir, generalmente cuando estoy pensando en ganar algún dinero, es para invertirlo en el arte: crear un
      cortometraje, hacer una obra de teatro. Ellos saben que soy un tipo al que no le interesa el dinero. No necesito
      más en el bolsillo que lo necesario, porque tengo un hijo, una familia, una casa. Pero como no tienen otra cosa
      que decir, inventan esto del Yunior “Alcancía” Aguilera. Es terrible.</p>
    <p>Yo los reto a demostrarme que no soy un revolucionario. Yo me siento, de verdad, un joven revolucionario. Me
      siento revolucionario desde la rebeldía, no desde la consigna. Revolucionario no es aquel joven que se aprende un
      lema: “¿Para dónde hay que ir? Para lo que sea, el paso al frente”; el primero en levantar la mano en una reunión
      de militantes o en lo que sea. Un revolucionario es, sobre todo, alguien que está inconforme con su realidad y que
      quiere transformarla para el bien de la sociedad. Eso es un revolucionario.</p>
    <p>La pregunta es: ¿Quién se está comportado aquí como revolucionario y quién se está comportando como conservador?
    </p>
    <p>¿Quién se está comportando como dogmático?</p>
    <p>¿Quién se está comportando como una cosa de piedra inamovible, algo que no se puede transformar, que hay que
      dejar así, tal cual?</p>
    <p>La palabra “continuidad”… ¿Se han puesto a pensar en lo que significa? ¿En lo contradictoria que resulta esa
      palabra en un proceso que se llama Revolución?</p>
    <p>Entonces, eso es lo que me pasa. Me pasa que estoy viendo en esos que hoy deberían ser los líderes de la
      Revolución, a personas extremadamente dogmáticas y conservadoras. Y lo que me pasa es que están viendo en
      nosotros, que somos auténticamente revolucionarios, a traidores, mercenarios o ingenuos.</p>
    <p>No estamos confundidos. Sabemos lo que queremos. Queremos lograr un país mejor entre todos. El proyecto que
      nosotros estamos defendiendo, que fuimos a defender el 27N, incluye a todo el mundo. Incluye al Movimiento San
      Isidro, pero también incluye al funcionario y también incluye a las instituciones y a los que tengan la ideología
      más ultraizquierdista, aunque yo pueda estar en desacuerdo con algunos. Pero también los incluye.</p>
    <p>Lo que se estaba pidiendo ahí no era la renuncia de nadie. Se pedía un diálogo. La palabra diálogo no es una
      palabra ingenua. El diálogo es siempre el comienzo de algo… Los que fuimos al Ministerio de Cultura el 27N
      pensábamos que ese diálogo podía ser para bien, para mejorar el país. Ellos no fueron capaces de entenderlo.</p>
  </article>
</app-interview-template>
