<app-interview-template videoId="nOSncRWjERI" audioId="1133872267">
  <article>
    <p>
      <span class="first-letter">P</span>
      <em>eriodismo de Barrio</em> entrevista a Julio Antonio Fernández Estrada, Doctor en Ciencias Jurídicas. Esta
      entrevista forma parte de
      <em>
        <a class="link-higthlight" href="https://www.periodismodebarrio.org/2020/12/la-revolucion-de-los-aplausos/">La
          Revolución de los aplausos</a> </em>, una serie de conversaciones con actores de la sociedad civil que se
      realizaron entre diciembre de 2020 y enero de 2021, a raíz del diálogo que tuvo lugar el 27 de noviembre de 2020
      en el Ministerio de Cultura:
    </p>
  </article>

  <article>
    <p><strong>¿Puedes presentarte?</strong></p>
    <p>Mi nombre es Julio Antonio Fernández Estrada, soy jurista de profesión. No he ejercido mucho la carrera, sino la
      docencia, porque la mayor parte del tiempo, el ejercicio de la profesión de derecho ha sido académica. Yo fui
      profesor de la Universidad de La Habana de manera continua desde 1999 hasta 2016. En el curso regular diurno de
      Derecho estuve desde 1999 hasta 2008. Después del 2008 al 2016 me mantuve dando clase siempre en las filiales
      universitarias, en la universalización de la universidad y también, incluidos, desde el 2012 al 2016 en un centro
      de estudios de la universidad, que es el Centro de Estudios Administración Pública, meramente con funciones de
      posgrado.</p>
    <p>Desde el año 2008 perdí contacto con la enseñanza de curso regular diurno, pero no con el pregrado de Derecho.
      Siempre las cosas que he impartido son asignaturas generales de la formación jurídica. Más bien la formación
      política, filosófica, histórica del derecho, y nunca he ejercido la carrera fuera de ese ámbito. Yo nunca he sido
      juez, nunca he sido abogado de un bufete, nunca he sido fiscal. También es importante porque no es lo mismo ser
      jurista que dedicarse a la profesión completamente.</p>
    <p>En los últimos años, ya desde el año 2016 para acá, me he dedicado absolutamente a escribir para algunos medios
      independientes como <em>El Toque</em>, <em>OnCuba</em>, con el que ya había empezado desde el año 2015. Y ahora me
      dedico sólo a cosas más relacionadas con la promoción de la cultura jurídica, tratar de llegar a la ciudadanía con
      mensajes educativos. Ese tipo de cosas es lo que estoy haciendo desde hace un tiempo. Más bien es una especie de
      periodismo de opinión, de columnista de esos medios.</p>
    <p><strong>¿Cómo te vinculas al Movimiento 27N?</strong></p>
    <p>Yo me vinculo con el 27N como mismo se vincula mucha gente en Cuba. Conozco la situación de lo que está pasando
      en ese momento desde por la mañana en el Ministerio. Desde el primer momento me doy cuenta de que esto es un
      suceso histórico, que es algo diferente, que empieza a crecer y a desbordar el motivo original por el que se fue
      ahí, y además es muy legítimo. Entonces, me interesa desde el principio.</p>
    <p>En ese mismo momento, en esa misma mañana, estaba participando en un evento por WhatsApp, muy interesante, de una
      red académica a la que pertenecemos y estábamos haciendo un evento que incluía algunos temas del contexto político
      actual porque eran cuestiones de derecho, de política, con mirada histórica, filosófica, de la politología y
      jurídica.</p>
    <p>Y entonces, en esa discusión ahí, en ese contexto salió ya el hecho de que estaba sucediendo esto en el
      ministerio y creamos esta articulación, que se llama Articulación plebeya [ya desaparecida], un grupo de personas
      estaban participando en este mismo evento para acompañar cualquier tipo de agenda de diálogo posible en el país,
      antes de que se convirtiera en el suceso que fue por la noche, de las tantas personas ―más de 300 personas― y todo
      lo que pasó, las discusiones. Ya esa articulación nosotros la teníamos pensada desde primeras horas de la mañana
      porque nos parecía que era muy importante para el momento que estaba viviendo el país.</p>
    <p>Yo no asistí al Ministerio de Cultura. Yo seguí esto hasta las tres de la mañana por internet, el momento en que
      se van las personas así con mucha intensidad y mucha emoción, también con mucha tensión. Y, a partir de este
      momento, se comunican conmigo en los próximos días, no recuerdo qué día exactamente, para que les haga un
      acompañamiento a las personas que ya entraron a la reunión y que representaban, de manera general, al grupo que
      había estado fuera del Ministerio, o a una parte de esas personas que estaban afuera del Ministerio, son
      representados por los 30, y entonces, se ponen en contacto conmigo para que les haga asesoría jurídica.</p>
    <p>Sobre todo por el interés que tienen de conocer la Constitución del país, los extremos constitucionales posibles,
      la aplicación del derecho vigente en el país porque, evidentemente, no hay un conocimiento muy extendido de las
      cuestiones jurídicas en Cuba, como en casi ninguna parte, y este es un gremio eminentemente artístico, que no
      tiene relación directa con el derecho, y que incluso aunque fueran personas que la tuvieran, siempre hace falta
      conocer qué se puede hacer, qué no se puede hacer, cómo respetar la legalidad, cómo respetar la constitucionalidad
      y por ahí entro yo a tratar de ayudar en lo que se me consultara.</p>
    <p><strong>Cuando entraste, cómo viste que estaban funcionando ellos desde el punto de vista jurídico.</strong></p>
    <p>La poca posibilidad que tuve de verlos en acción, me parecía que era un funcionamiento organizado, que como todas
      las cuestiones democráticas tienen muchos problemas. La ingeniería democrática es mucho más complicada que la
      autocracia o que el autoritarismo. Por lo tanto, eso también lo vimos en un momento, lo discutimos, lo hablamos en
      vivo, en persona, en alguna reunión, que la democracia tiene sus costos. La pluralidad, el pluralismo mismo, las
      divisiones, las fragmentaciones, las discusiones, la polémica, pero si se quiere lograr tomar las decisiones, por
      lo menos por mayoría sino por consenso, hay que tomar este reto.</p>
    <p>Y, por lo tanto, a mí me apareció que tenían muy claras las cuestiones que querían. Algunas con diferencias.
      Gente mucho más joven, gente mayor, personas todas con una gran motivación por mejorar el país, por ayudar al
      gremio artístico, al gremio de los creadores y las creadoras. Y, a la misma vez, con mucha vocación cívica, de
      cumplir la legalidad, cumplir la Constitución, ser disciplinados con el sistema de lo que existía en el país y, a
      la misma vez, cambiar lo que se pudiera cambiar.</p>
    <p>Las cosas que se estaban pidiendo para el país son las mismas que pedía la gente cuando estaba la consulta
      constitucional, por ejemplo. Es decir, nada extraño que no hubiera salido ya en las asambleas estas que se
      hicieron por cientos en el país un tiempo antes, en febrero del 2019. Por lo tanto, me pareció que era un grupo
      que estaba pensando con claridad y que tenía los mismos problemas que tiene cualquier grupo que quiere pensar
      cosas tan complejas como el futuro del país, cómo hacer mejor las cosas, cómo comunicarse de una manera diáfana o
      por lo menos legítima, clara, transparente con las autoridades.</p>
    <p>Recuerden que todo esto sale de una petición de hablar con el Ministro de Cultura, no de ir a una autoridad
      externa, ni de violar la soberanía del país. Esas son peticiones legítimas que están previstas en la Constitución
      de Cuba. Es decir, esa petición que ellos estaban haciendo fuera del Ministerio es un derecho que tiene la
      ciudadanía en Cuba.</p>
    <p><strong>Explícame dónde dice que tú tienes derecho a hacer esa petición.</strong></p>
    <p>Son dos cosas. Hay muchas cosas relacionadas. Recuerda que la Constitución de la República desde 2019 es una
      Constitución mucho más compleja desde el punto de vista de la protección de los derechos, al reconocer por primera
      vez en la historia del derecho positivo, revolucionario, los derechos humanos con ese nombre.</p>
    <p>Existe en Cuba el derecho de manifestación, existe en Cuba el derecho asociación. Por lo tanto, que un grupo de
      personas se quieran asociar, es un derecho, que un grupo de personas quieran solicitar, hacer una petición o
      quejarse ante una autoridad es un derecho. Al no existir ninguna norma que diga cuáles son las formas de realizar
      esto, una de las formas que se puede y que está prevista también es manifestarse de una forma pacífica, que no
      viole el derecho de terceros, ni de ninguna institución, ni el orden público y hacer una petición.</p>
    <p>Esto que parecía inédito, y que parecía algo extraño que se hiciera de forma espontánea, realmente no violaba
      ninguna norma en el país. No hay nada que establezca que eso sea un delito o que sea una violación. La prueba está
      en que la autoridad lo que hace es recibirlos, con dificultad, pero se reciben ese mismo día un grupo de
      representantes y después se queda una agenda pendiente de discusión con el Ministro, esa es una de las promesas
      que se hace también, de los acuerdos de esa noche.</p>
    <p>Por lo tanto, se le está dando reconocimiento a esas personas. No se le está tratando como persona al margen de
      la ley. Lo que sucede es que después hay un momento de descanso, de tranquilidad y de pensamiento racional y no
      emotivo del Estado en que el que se recupera su capacidad de respuesta, de poder público-político, de ente
      soberano en Cuba, con todas las posibilidades a su alcance para lograr su cometido, y comienza a tener ya entonces
      un papel preponderante en ese posible diálogo. Por eso responde de la forma en que responde a una propuesta, de la
      carta famosa que se hace pública de peticiones, con algunos puntos, algunos principios para el diálogo, cosa que
      es muy normal también. No puede existir ningún diálogo sin que las partes se pongan de acuerdo en la forma del
      diálogo.</p>
    <p><strong>¿En algún momento tú creíste que ese diálogo iba a ser posible?</strong></p>
    <p>Yo no era muy optimista con que el diálogo saliera como, por lo menos, como los 30 lo querían, pero a la misma
      vez me parecía que era imposible negarlo. Yo creía que se iba a dar, y que se iba a dar dentro de unos límites.
      Que lo iban a hacer complicado, pero que iba a ser posible. El hecho de romper el diálogo y, además, poner la
      responsabilidad de la ruptura del diálogo en la parte de los 30, cosa que no estoy de acuerdo que fue así…</p>
    <p>Yo creo que la autoridad tiene todo el poder para decir: “Aceptamos o no un grupo de peticiones de ustedes para
      el diálogo, pero eso no significa que el diálogo se rompa”. En ningún momento, en el correo electrónico que se
      divulga dice: “Nosotros rompemos el diálogo”. Es decir, no hay ninguna petición de ruptura del diálogo. Hay un
      grupo de peticiones que usted como autoridad en el país puede decir: “Esto sí, esto no” y vuelvan a proponer. Y ya
      eso de por sí es diálogo. No hacía falta reunirse en el Ministerio para estar en un diálogo. Para mí el diálogo
      existía desde el mismo día 27.</p>
    <p>Lo que sucede es que es complicado porque la política es complicada. También, aquí, no se puede hacer una
      tormenta en un vaso de agua. Problemas van a haber siempre que sucedan cuestiones como estas porque el poder
      público y político siempre va a responder a este tipo de presiones con sus posibilidades. Y no todos están
      preparados. Ni todas las autoridades, ni todo el funcionariado, ni la burocracia en ningún país responden siempre
      de esta forma tan fácil al diálogo. Es decir, hay una tendencia a no hacerlo.</p>
    <p>Por eso, tienen que haber mecanismos, instituciones políticas y jurídicas que agilicen o canalicen el diálogo
      democrático. Si no existen, siempre existe la posibilidad, la tentación política de decir: “Nos vamos por la parte
      que entorpece el diálogo”. Porque existe la posibilidad política de hacerlo, es una característica del Estado
      responder de esta forma, que puede ser con prepotencia, puede ser con una posición de cierre o si existen los
      otros canales de un Estado de derecho que obliga la respuesta y que crea garantías a esa posibilidad, entonces va
      a ser un poco más difícil que la respuesta sea ese tipo.</p>
    <p>Pero, repito: yo creo que ya el hecho de que hubiera una propuesta al Ministerio de cómo hacer el diálogo, era un
      primer paso. Creo que lo que tocaba era una respuesta también del otro lado de decir: “Aceptamos esto, no
      aceptamos esto”, pero la solución fue: “Me estás poniendo cosas aquí que no están previstas, rompiste el diálogo”.
      En todo diálogo, hay una parte que dice una cosa con la que no estás de acuerdo y eso no significa que el diálogo
      se ha roto.</p>
    <p>El diálogo se rompe solo si una de las partes se levanta y se va. Y en este caso no fueron los 30 lo que se
      levantaron. Los 30 no tienen el poder de levantarse. Los 30 todavía estaban ahí pidiendo el diálogo.</p>
    <p><strong>¿Puedes hablarme del correo electrónico punto por punto? </strong></p>
    <p><strong>El texto dice: “Reunión domingo. Ideas para condiciones. Dado el acoso, hostigamiento y criminalización
        hacia los participantes del 27N y el MSI, pedimos garantías de seguridad y protección para todos lo que vamos a
        la reunión y para todos los que quieran estar afuera”.</strong></p>
    <p>La petición de garantía del correo electrónico, que está en el correo electrónico de los representantes de 27N,
      es lógica. Eso no rompe el diálogo con nadie. Pedir que haya garantías para que, por ejemplo, no haya una
      respuesta masiva, no haya un acto de repudio, ese tipo de cuestiones me parece algo básico. Más bien es como
      poniendo del lado de la autoridad que ejerzan su poder, que ejerzan las funciones estatales y permitan que el
      diálogo se dé de una manera tranquila. Me parece que es hasta respetuoso. Absolutamente respetuoso de la
      institucionalidad pedir eso.</p>
    <p><strong>Sigo: “Dado que la lista de representantes enviados al Mincult contiene el nombre de personas elegidas
        democráticamente…, la participación de dichos representantes en la reunión no puede ser negociable”. </strong>
    </p>
    <p>Sí, igual me parece. Lo que están pidiendo… Es decir, al pedir que estén todas las personas que se eligieron
      democráticamente ese día es como ser respetuoso con lo que los ha llevado hasta este momento. Queremos que todas
      las personas que fueron elegidas participen de la reunión. ¿Por qué? Porque estaban pidiendo una representación de
      los 30 desde el Ministerio. Ya había entonces propuestas anteriores al correo. El correo no es la primera
      propuesta.</p>
    <p>La idea de: “Vamos a ver con cuál de ustedes nos reunimos” es en una propuesta original, una propuesta anterior
      al correo. Por lo tanto, decir: “Queremos ir todos porque todos fuimos elegidos y elegidas democráticamente”, me
      aparece, de nuevo, algo muy digno. Una petición muy digna. Normal.</p>
    <p><strong>Sin embargo, y eso no quedó claro. Cuando firman esta petición, firman un montón de gente que no son los
        30. Entonces, no quedó claro si esas eran las personas que debían participar en la reunión porque estaban
        personas que no eran parte del grupo original…Y entonces, no quedó claro si ellos eran los firmantes de la carta
        esta de petición o si eran las personas que debían entrar. </strong></p>
    <p>Ese tipo de cuestiones, de quiénes están en la lista, quiénes van a participar o quién se propone que participen,
      y si algunas personas son sólo gente que firma y otros que no, es algo que realmente habría que haber llegado al
      momento del diálogo para saberlo.</p>
    <p>A mí me parece que ahí se trató de incluir por todos los medios a personas que debieron estar entre los 30, y
      originalmente no lo estaban por otras razones. Porque el problema de Otero Alcántara, por ejemplo, es que no
      estaba o no podía estar en el momento del 27N. Entonces, pedir esto es casi simbólico. Esta es una de las razones
      por las que se va al Ministerio el 27, decir que vaya a esta reunión es algo…Pertenece al gremio, es un artista,
      un creador, tiene que ver con esto originalmente. Es decir, el hecho de que esté o no en el <em>Movimiento San
        Isidro</em>, que sea un líder del <em>Movimiento San Isidro</em>, en este momento no es decisivo para pedir su
      participación.</p>
    <p>Repito: El Estado puede decir: “No queremos que vaya esta persona”, y de nuevo pasar la pelota para el otro lado.
      Eso no significa que el diálogo se acabe. Es, sencillamente, parte del diálogo. Vamos a discutir cuáles
      posibilidades. Entonces, tácticamente, los 30 podrían haberse reunido, tomar una decisión. Otra decisión. También,
      democráticamente, de cómo hacerlo. Incluidas las personas de San Isidro que estaban en el grupo, pero todo eso
      forma parte de un diálogo que podía ser porque nada de eso todavía debía haber trabado el diálogo.</p>
    <p><strong>¿Era legítimo que ellos pidieran la participación de otras personas que no eran parte de los 30
        originales?</strong></p>
    <p>A mí me parece que mientras en la petición no se violara ninguna ley, ni estuvieran pidiendo algo absurdo: Que
      vaya una persona que está muerta, que vaya un héroe de la patria que no está o que vaya una persona que no está en
      el país, o pedir una cosa que está fuera de la institucionalidad del país. Mientras fueran peticiones normales, de
      lo que está dentro de la lógica posible, todo es negociable y discutible.</p>
    <p>Es decir, el hecho de medir o evaluar esto por la situación posterior que es que el diálogo se rompe, me parece
      que es una discusión ociosa. ¿Qué se podía haber hecho para que saliera bien? Bueno, es que salió como podía ser.
      Eso es un hecho histórico. Las cosas nunca salen perfectas.</p>
    <p><strong>La tercera petición es que tú los acompañes y la cuarta es: “Pedimos la presencia de Díaz Canel, un
        representante del Minint y otro del Ministerio de Justicia”.</strong></p>
    <p>La petición de que alguien de Ministerio de Justicia y que hay alguien del Minint es muy lógica porque las
      peticiones que se van a hacer y las propuestas que se van a hacer no son sólo culturales o del gremio de los
      creadores y las creadoras. Porque si usted va a pedir temas como no mantener las detenciones arbitrarias o ese
      tipo de cuestiones que van más allá de lo cultural-artístico, entonces es lógico que haya alguien del Ministerio
      del Interior que pueda dar una respuesta clara y concreta y alguien del Ministerio de Justicia para las cuestiones
      eminentemente jurídicas, de peticiones de nomas nuevas. Sobre todas las cosas relacionadas con disposiciones
      normativas que se están pidiendo que se deroguen.</p>
    <p>Es decir, están bien, de nuevo. Una petición lógica y respetuosa de la institucionalidad. No se está diciendo que
      vaya un ente externo desconocedor de la institucionalidad cubana sino las personas que son responsables. Y el
      hecho de pedir que vaya el presidente es otro derecho que tiene la ciudadanía. Usted lo que puede responder como
      Ministerio de Cultura es: “El presidente no puede ese día, el presidente tiene otras cosas que hacer, el
      presidente no quiere reunirse para esto, el presidente no puede ir a todas las reuniones que se convoquen”.</p>
    <p>Hay mil respuestas posibles. Pero eso no significa que el diálogo se acabe. Pedir hablar con el presidente es
      algo que sucede en todos países del mundo, todos los días 25 000 veces. El hecho de que se dé o no la reunión es
      una cuestión que no tiene nada que ver con la petición. Es decir, no se puede romper el diálogo por eso.</p>
    <p>Es como si yo voy ahora y pido que en la libreta de abastecimiento todo se pague con 100 pesos cubanos, y que
      haya 300 productos más de los que hay ahora. ¿Eso significa que se rompió el diálogo? Eso significa que yo soy un
      utópico, que cree que las cosas se pueden resolver porque las pido. Pero eso no significa que esté totalmente loco
      ni nada de eso. Es lo que me parece que es lo mejor para el pueblo cubano.</p>
    <p>Pero repito: Eso no significa que va a atender el presidente. Son todas las cosas que para mí no bastan para
      romper un diálogo. Ninguna de las cosas que están pedidas en el correo electrónico este que se mandó, ninguna es
      suficientes para que el Ministerio de Cultura considere que el diálogo está roto.</p>
    <p><strong>Continúo: “La presencia de la prensa, la declaración pública, y las garantías de que todo esto se
        cumpliera”. </strong></p>
    <p>A mí me parece que todas son peticiones normales. Que haya prensa es lo más normal del mundo, pedir que haya
      personas que son especialistas de la comunicación y la información, que después no haya tergiversación en las
      noticias, que las noticias no se den desde un solo punto de vista. Todo es ne-go-cia-ble.</p>
    <p>Si el Ministerio de Cultura consideraba que nada de eso era aceptable, debía haber hecho otra comunicación
      diciendo: “No aceptamos tal, tal, tal punto. Aceptamos, tal, tal, tal punto”. Y volver a mandar la negociación
      hacia el lado de allá. Eso significa tres o cuatro reuniones más al otro lado y así. Cuando se encontrara una
      agenda común, estaba dándose un paso histórico de cómo negociar.</p>
    <p>Si no se ponían de acuerdo, todavía podían buscar mediadores, personas que eran respetados o instituciones
      respetadas por ambas partes. El hecho de que estuviera Fernando Pérez ahí era también una visión de alguien que no
      es de nuestro grupo de los 30 ni nada de eso. Es alguien que viene aquí acompañando el diálogo. Y el hecho de que
      me propongan a mí es alguien que nos puede asesorar jurídicamente. Y mi asesoría podía servir también a la
      institución porque cuando yo digo: “Esto se puede o no se puede según las leyes cubanas”, también estoy asesorando
      a la institucionalidad. Porque las leyes son las mismas para todos.</p>
    <p>Por tanto, no puedo hacer una interpretación que favorezca a los 30 sin que favorezca a la institucionalidad
      porque lo que quiere el poder político, lo que quiere un organismo de la administración central del Estado como el
      Ministerio de Cultura, es que las cosas se hagan según la ley. Y no hay dos leyes para estos asuntos. Es la misma
      ley para todos.</p>
    <p><strong>Entonces, la respuesta del ministerio fue: “No aceptamos personas que se han autoexcluido hace mucho
        tiempo por sus agresiones a los símbolos patrios, delitos comunes, ataques frontales a la dirección de la
        Revolución bajo el disfraz de arte…Acaban de romper por eso toda posibilidad de diálogo”. Además, lo del
        financiamiento exterior.</strong></p>
    <p>Ahí la respuesta es que no acepta el diálogo porque consideran que hay personas que están ahí, que se están
      proponiendo para ir a la reunión, que se han autoexcluido del diálogo en el país. Es una interpretación de la
      administración del Estado cubano, de gobierno, en este caso el Ministerio de Cultura, de que personas que ejercen,
      que manifiestan su creatividad artística de una manera que no le parece bien al Estado desde el punto de vista
      estético, desde el punto de vista ético, desde el punto de vista político, desde el punto de vista…. de muchos
      puntos de vistas, ya significa que está autoexcluido.</p>
    <p>Es decir, nadie se autoexcluye cuando se está proponiendo ir al diálogo. El hecho de estar en una lista para el
      diálogo es porque no está autoexcluido, porque está de acuerdo en ir a hablar con el Ministro ¿Cómo puede ser que
      yo esté autoexcluido si estoy diciendo que quiero hablar contigo? Tú me estás excluyendo cuando me dices que no
      puedes venir.</p>
    <p>Para yo no aceptarte en un diálogo tiene que ser porque tú no tienes derechos políticos, porque tú tienes
      limitación del derecho, porque tú legalmente no puedes salir de tu casa, porque tú estás esperando juicio y hay
      una norma que dice que usted no tiene que venir a hablar con una autoridad, porque usted está con la COVID y puede
      aquí pegarles la enfermedad a personas, hacer una propagación del virus.</p>
    <p>¿Cuál otra razón? No hay más ninguna razón. Esas son las únicas razones posibles. Si esas no se manifestaron así,
      es una interpretación política de no querer dialogar con persona específica. En este caso, sobre todo, es el tema
      de Luis Manuel.</p>
    <p><strong>¿Y el tema del supuesto pago del exterior?</strong></p>
    <p>De nuevo sigue siendo una cuestión de interpretación. Es decir, podría ser un tema incidental en el sentido de
      decir: “Hasta que no sepamos que ninguna de estas personas está financiada por una potencia enemiga del país,
      nosotros vamos a investigar, y si ninguno está financiado, nos sentamos a hablar con ustedes”.</p>
    <p>Pero el hecho de decir: “Ya ustedes están” y no dar ninguna prueba… ¿Cómo se maneja? Y en el caso de que sea de
      verdad y que están financiados y que hay financiamiento ilegal en Cuba, porque no basta con que haya
      financiamiento, financiamiento tienen todas las ONGs, financiamiento tienen instituciones, colaboraciones
      exteriores en Cuba la tienen hasta instituciones, el Estado y el gobierno; estoy hablando de que sea un
      financiamiento ilegal e ilegítimo o inmoral. Y si es así, y ya hay pruebas, entonces las personas tienen que
      responder ante la ley por lo que están haciendo. No quedaría solo como un estigma sociopolítico sino que tiene que
      haber consecuencia jurídica.</p>
    <p>Si no hay consecuencias jurídicas, lo que yo tengo que presumir es que es falso. Porque si usted no toma las
      medidas que tiene que tomar como autoridad, entonces por qué yo tengo que creer que todas las personas que están
      aquí y piden diálogo están financiadas por una potencia extranjera, o por un dinero sucio.</p>
    <p>¿Cómo se puede saber eso? Pruebas y consecuencias jurídicas. No las hay, y todas las personas hay que asumir que
      son inocentes hasta que se pruebe lo contrario. La presunción de inocencia está en la Constitución de la
      República. Por lo tanto, estas personas, o se demuestra que han cometido un delito o no han cometido el delito.
    </p>
    <p><strong>¿Ese delito cuál sería? ¿Cómo se llama?</strong></p>
    <p>Esto donde único en Cuba tiene algún tipo de regulación es en la ley 88. Es una ley que contiene delitos que, por
      lo tanto, se relaciona con el Código Penal, pero no es el Código Penal. Es decir, no está dentro de la ley
      especial penal cubana. Pero la ley 88 del 99, al ser una ley de protección de la soberanía, la famosa ley que se
      ha dicho que se puede aplicar en cualquier momento, se ha reconocido públicamente por el Estado cubano que se
      puede aplicar, que está vigente, que no está derogada; es ahí donde único aparecen claras prohibiciones, a no ser
      que se trate de delitos más graves contra la Seguridad del Estado y otras cosas que tienen algunos puntos de
      relación con los fondos, quién financia, ese tipo de cosas.</p>
    <p>Pero todas están relacionadas con actos, acciones u omisiones contrarias al Estado directamente. No son solamente
      personas que reciben dinero y ya. No basta con recibir dinero. Es para qué usted lo usa. Porque si usted recibe
      dinero y lo que hace es proteger gatos, entonces no es un delito contra la Seguridad del Estado. Es decir, hace
      falta algo más.</p>
    <p>Y, por ahí, hay que tener claridad siempre. No basta con decir que usted es un delincuente para que lo sea. Eso
      en ninguna parte del mundo es así y el derecho cubano no lo acepta tampoco.</p>
    <p><strong>¿Y eso es mercenarismo?</strong></p>
    <p>No, no, no. El delito de mercenarismo es un delito contra la Seguridad del Estado que no tiene nada que ver con
      eso. El delito de mercenarismo son personas que reciben dinero para formar parte de un ejército extranjero, de un
      ejército, tomar las armas, ser soldados, estar movilizados para la guerra, siendo pagados como profesionales de la
      guerra. No tiene nada que ver con esto que de manera metafórica se le llama “mercenario” en Cuba.</p>
    <p>Si quieren encontrar algo parecido a lo que aquí se le llama “mercenario” en la propaganda política tienen que
      buscarlo en la ley 88. No se puede encontrar en el Código Penal. El mercenarismo, el Código Penal, el que está
      establecido aquí, es un delito grave contra la Seguridad de Estado que no comete ninguna de esas personas que
      estamos analizando aquí. Es otra cosa.</p>
    <p><strong>Háblame de ti, lo que pasó después de eso contigo</strong></p>
    <p>Lo que sucedió fue que…Como todo el mundo vio, al hacerse público el hecho del correo electrónico y todo esto, al
      dar la noticia por la televisión de la ruptura del diálogo, en el noticiero del mediodía… No me acuerdo de qué día
      fue porque yo no lo pude ver, salió entonces un periodista analizando el correo y haciendo hincapié,
      específicamente, en Luis Manuel y en mí. En el caso mío, por ser un ente nuevo ahí, que no estaba previsto, que no
      estaba en la lista original, y que era un ex profesor y que escribía para medios independientes y que todo el
      mundo sabe que el que paga manda.</p>
    <p>Fue más o menos el resumen de lo que me dijeron que habían dicho. Y bueno, evidentemente, eso es un acto de por
      sí ya difamatorio no solo a mi persona, también de los medios que me pagan porque yo escriba ahí y porque el
      problema está en que los medios serios no te dicen qué tú tienes que escribir. Es decir, eso es una falta de ética
      absoluta.</p>
    <p>Te pueden decir que no le interesa este escrito tuyo, pero nunca en la vida me han dado agenda ni <em>OnCuba</em>
      ni <em>El Toque</em>. Nunca en la vida me han dicho qué yo tengo que escribir, cómo hacerlo. Tengo absoluta
      libertad, y escribo casi de lo que me da la gana, y además de eso, la edición de mis escritos es mínima en el
      sentido de que no existe ninguna intervención ni censura ni ninguna obligación a cumplir con una agenda de ninguna
      parte. Eso casi que es una condición que sin discutirlas está dada de antemano que yo no voy a aceptar. Además de
      eso, ninguno de esos medios lo va a imponer tampoco porque no es una práctica.</p>
    <p>Ahí también se oculta otra cosa. Es que las personas que hablan en el Noticiero, esos periodistas, también
      reciben un salario y nadie les está diciendo públicamente en ningún otro medio que ellos están haciendo lo que les
      manda el que les paga. Por lo tanto, es un tipo de análisis verdaderamente injusto porque aquí todo el mundo está
      cobrando por su trabajo.</p>
    <p>Por cierto, la mayor parte del trabajo que yo hago sigue siendo trabajo voluntario. Incluido el de asesoría a la
      gente del 27N. ¿Eso qué cosa es? Eso sigue siendo domingo rojo. Entonces, aquí hay personas que seguimos
      trabajando voluntario. Es decir, es todo lo contrario. Me parece hasta mucho más revolucionario que lo que ellos
      están haciendo ahí al difamar personas; porque a ellos sí les pagan por eso, pero lo que yo hago es gratis.</p>
    <p>Me pareció escandaloso sobre todo por la opinión pública, la repercusión que tiene en las personas, porque yo
      tengo hijos pequeños, porque se asustaron, por la familia, por lo que mi mamá pensó, por las personas que te dejan
      de hablar, por la gente que no te mira a la cara, por la gente que…Y también es muy emocionante por la forma en
      que la gente reaccionó.</p>
    <p>A mí me abrumó mucho más la reacción de las personas en Facebook ―que yo no estoy en Facebook― pero un ejército
      de amistades, de familiares, empezaron a decirme, a enseñarme lo que la gente decía. Pero esa reacción es una
      reacción que uno no se espera tampoco porque yo, realmente, lo que pensé es que eso que había pasado es algo común
      y corriente. Casi todos los días alguien sale difamado, injuriado ahí en los medios y más todavía las personas del
      27N, el mismo <em>Movimiento San Isidro</em>, que han recibido ataques de todo tipo.</p>
    <p>Entonces, me pareció que era algo realmente mínimo. Lo que pasa es que es hiriente y es sorprendente. Y es más
      bien vergonzoso. En mi caso, específicamente, es vergonzoso porque te pone en una situación en la que no te puedes
      defender, pero a la misma vez, no lo ves como suficientemente importante como para tener una tener una
      consecuencia jurídica o ese tipo de cosas. Es decir, realmente me parece que tenía concentrarme en ir a lo que
      tocaba, al próximo paso, que era seguir haciendo las cosas, cumpliendo con mi deber, seguir escribiendo, pensando,
      aportando lo que se puede aportar en Cuba desde la mirada intelectual porque no es una mirada muy abarcadora, es
      lo que cada cual puede hacer.</p>
    <p>Bueno, pasó eso, pero te repito, no es algo que realmente sea extraño. Es algo que va a seguir sucediendo, creo
      yo.</p>
    <p><strong>¿Hay algún instrumento jurídico que te permitiría defenderte en esto que te pasó?</strong></p>
    <p>Sí, sí, claro. Las leyes en Cuba protegen el honor, protegen a las personas desde ese mismo Código Penal, por
      ejemplo. Son delitos que se impulsan por medio de la querella contra la difamación, la calumnia, la injuria. Y en
      este caso, podía haberme querellado contra el Sistema Informativo o contra la persona que lo hizo directamente en
      el caso de que se pudiera haber hecho.</p>
    <p>Es decir, las personas tienen esa defensa. Todas las personas que son calumniadas, injuriadas y difamadas puedes
      hacerlo. Además de que también existe una demanda, una posibilidad de una acción, que por medio de una demanda se
      puede lograr la reparación del daño moral, a partir de las nuevas regulaciones constitucionales en Cuba y una
      instrucción del Tribunal Supremo que permite que ese tipo de proceso sea resuelto por tribunales competentes de lo
      civil, en el caso del daño moral que antes no era muy fácil de lograr.</p>
    <p>El derecho cubano tiene problemas, pero estas situaciones que se están dando, todas tienen cabida en el derecho,
      todas se pueden resolver. Además de que exista la queja institucional, las peticiones, se puede uno quejar ante la
      Fiscalía por violación de derechos, se puede quejar porque una institución está violando flagrantemente el
      derecho.</p>
    <p>Hay muchos mecanismos jurídicos diferentes que se pueden encontrar en algún punto. Pero que, incluso, en un
      sistema donde faltan garantías para el ejercicio y protección de los derechos humanos, no estamos completamente
      desnudos y desnudas frente a esas violaciones. Se pueden tomar medidas.</p>
    <p>Lo que pasa es que estamos como acostumbrados a recibir esos golpes y no tenemos todavía la cultura necesaria
      para usar el derecho. También sabemos que pueden existir otras trabas, otras consecuencias. Las personas todavía
      no logramos entender el valor que tiene usar el derecho para mejorar el sistema y para crear una cultura de Estado
      de derecho y de Derechos Humanos en el país.</p>
    <p>Pero todo eso, si se hiciera, realmente es respaldar y legitimar la Constitución porque es la Constitución la que
      permite todo eso. Es decir, es una Constitución votada por casi el 80% de la población electoral en el país.
      Estamos hablando de que realmente debería tener esas consecuencias, pero es algo que tenemos que aprender todavía.
    </p>
    <p><strong>¿Sigues trabajando con el movimiento del 27N?</strong></p>
    <p>Yo sigo asesorando a todas las personas que me lo pidan del movimiento; individual, colectivamente, como sea.</p>
    <p><strong>¿Y cómo crees que anda eso ahora mismo?</strong></p>
    <p>A mí me parece que ahora mismo lo que está haciendo el Movimiento es resistiendo porque realmente…Recuerda que lo
      que tenemos ahí es una representación del movimiento, de las personas que fueron al Ministerio de Cultura.</p>
    <p>Una representación diversa, una representación que no está absolutamente de acuerdo en todo, pero que tienen
      otras claridades y que tiene su agenda, pero hoy es, sobre todo, una agenda de resistencia. En el sentido de
      defenderse de las violaciones de derechos, defenderse de las prisiones ilegales, de la falta de libertad que están
      sufriendo por no poder salir de sus casas, tratando de lograr reunirse por algún medio…</p>
    <p>Yo creo que hoy es más mantenerse como grupo y lograr en algún momento ser escuchados y escuchadas y no claudicar
      en sus peticiones que todas son cívicas y todas son legales y todas están dentro de la institucionalidad del país.
      Y, por lo tanto, cómo un jurista le va a decir que no a personas que te están preguntando cómo defenderte de una
      violación de un derecho, cómo hacer para que una institución de un país te escuche, cómo hacer para cumplir la
      Constitución y no equivocarse. Me aparece infame decirle que no a eso.</p>
    <p><strong>¿Qué está violando el Estado con todo esto? Es decir, la vigilancia, el secuestro en tu propia
        casa.</strong></p>
    <p>No permitirle a una persona que salga de su casa sin una causa legal es una violación absoluta y no hay ninguna,
      ninguna justificación legal en Cuba para mantener en su casa a una persona que no sea alguien que está en
      aislamiento por la COVID, y eso es una decisión muy reciente. Si la persona no tiene un análisis positivo de COVID
      y no está en asilamiento, en estos momentos no encuentro otra razón porque no existe la famosa prisión
      domiciliaria esta que la gente le llama a no ser como una medida de seguridad y eso para personas que
      preventivamente se le puede aplicar una medida.</p>
    <p>Por ejemplo, a alguien se le puede aplicar una medida de seguridad. En Cuba hay medidas de seguridad anterior al
      delito, posterior al delito, y no es el caso porque no son personas sancionadas ni personas que están en procesos
      penales. Es decir, que no hay ninguna de las dos posibilidades.</p>
    <p>Son personas que están retenidas en sus hogares por cuestiones de otro tipo de intereses de seguridad nacional o
      de orden interior y no están respaldadas estas decisiones en ninguna norma. Es decir, no hay ninguna justificación
      legal para hacer eso. Si se quiere hacer legalmente tienen que encontrar una justificación porque como está
      sucediendo no hay ninguna ley en el país que lo permita.</p>
    <p><strong>¿Y por qué el Estado está violando su propia ley? Es obvio, pero quiero preguntarlo. </strong></p>
    <p>Eso es más bien una pregunta que se puede responder, en todo caso, desde el punto de vista teórico general y no
      con respecto al Estado cubano. Es decir, todos los Estados violan sus propias leyes. Todos los Estados deben tener
      mecanismos, crean leyes para que él mismo no se desborde.</p>
    <p>Lo límites del Estado los tiene que producir el mismo Estado porque si no, no es un Estado de Derecho. El hecho
      de que el Estado produzca derecho, positivo, para limitar su funcionamiento, es porque el estado tiene la
      intención de ser un Estado de Derecho.</p>
    <p>El Estado puede romper eso de dos maneras: Teniendo un derecho inefectivo o escaso para poder tener las manos
      libres, no sería un Estado de Derecho o puede romper con su derecho, incluso, si es un buen derecho, un derecho
      abarcador, puede romper con ese derecho por intereses superiores de conservación del poder, mantención de la
      soberanía, mantención del poder público-político, intereses económicos, intereses X de relaciones exteriores, de
      orden interior, pero para que eso no sea un funcionamiento tiránico o autoritario, tiene que haber derecho
      suficiente que impida que eso suceda o que por lo menos ponga barreras o que por lo menos muestra la ilegalidad de
      esas acciones, para que haya Estado de Derecho, repito.</p>
    <p>Pero no sólo eso. Tiene que haber consecuencias procesales, judiciales. ¿Qué significa eso? Tiene que haber
      acceso a la justicia de las personas que son limitadas en su derecho para poder llegar a la administración de
      justicia y encontrar reparación del daño moral, material, lo que sea que haya sufrido.</p>
    <p>Si falta segunda parte tampoco hay Estado de Derecho. El Estado de Derecho tiene que ser un mecanismo complejo de
      posibilidades positivas, normativas, institucionales, de garantías, de control y transparencia de pueblo, de
      democracia, de contraloría, de defensoría del pueblo.</p>
    <p>Cuba tiene tienes fisuras para la realización y antes, todavía diría, para la edificación del Estado de Derecho.
      Tiene fisuras. Cosas que están algunas muy fuertes y otras de donde falla desde los cimientos o tiene problemas en
      otras partes de la estructura. Hay cuestiones que mejoraron mucho ahora. Por ejemplo, de los Derechos Humanos en
      la Constitución nueva, que si lo compara con la anterior, está mejor ahora.</p>
    <p>Pero a la misma vez tenemos problema con la garantía de los derechos, el procedimiento por el cual se podían
      defender ante los tribunales los derechos según el artículo 99 de la Constitución, no apareció en la ley
      correspondiente al cronograma legislativo del mes de octubre.</p>
    <p>¿Por qué razón en el momento que más lo necesitamos no aparece esa ley? ¿Cuál es la razón de retraso? No hay
      respuesta. No se ha dicho nada. No hay ninguna justificación.</p>
    <p>La única posible sería la COVID. La pregunta sería: ¿Por qué han aparecido otras leyes, por qué la COVID no las
      paró todas, de dónde sale la prioridad, quién dijo que otras leyes que han sido promulgadas son más importantes
      con la ley que crea un procedimiento para defender los derechos ante los tribunales? ¿No demuestra la realidad
      política actual que esa es más importante que todas las demás?</p>
    <p>Yo diría que Cuba tiene un delante un enorme reto entre la institucionalidad, la sociedad civil, el sistema
      político. Todo el mundo en Cuba darse cuenta de que la posibilidad de ser un Estado de Derecho y de ser una
      sociedad tranquila, armónica, por lo menos, respetuosa de los Derechos Humanos, con armonía, con reconciliación,
      con tranquilidad, sin vendetta, sin violencia, con una cultura del respeto a la legalidad, depende de todo el
      mundo a la misma vez.</p>
    <p>No se puede esperar que la gente tenga esa cultura y que el Estado no la tenga. O no se puede esperar que el
      Estado la tenga y que la gente haga lo que le da la gana. Tenemos que empujar, todo el mundo, y para eso la
      población tiene que observar el ejemplo de la administración porque esa es una de sus funciones. Tiene que dar ese
      ejemplo, Si no da ese ejemplo, la gente piensa que estamos en la ley de la selva.</p>
  </article>
</app-interview-template>
