<app-interview-template videoId="PuxJZP7I0qo" audioId="1147960111">
  <article>
    <p>
      <span class="first-letter">P</span>
      <em>eriodismo de Barrio</em> entrevista a Maykel Obsorbo, rapero cubano y miembro del Movimiento San Isidro. Esta
      entrevista forma parte de
      <em>
        <a class="link-higthlight" href="https://www.periodismodebarrio.org/2020/12/la-revolucion-de-los-aplausos/">La
          Revolución de los aplausos</a> </em>, una serie de conversaciones con actores de la sociedad civil que se
      realizaron entre diciembre de 2020 y enero de 2021, a raíz del diálogo que tuvo lugar el 27 de noviembre de 2020
      en el Ministerio de Cultura.
    </p>
  </article>

  <article>
    <p><strong>¿Por qué rap, Maykel? ¿De dónde viene lo del rap?</strong></p>
    <p>El rap, asere, viene más o menos del año 90, que empecé a escuchar la música de El General y de Vico C. Y es como
      que era un género que me llamaba mucho la atención, ¿sabes?, por las palabras, porque pude desde esos inicios, que
      fue cuando realmente el rap empezó a escucharse. El rap latino, empezó a escucharse aquí en la Isla, mediante esos
      dos exponentes: Vico C, El General, y otros más que ahora mismo no recuerdo, porque hace muchos años ya de eso.
      Mediante esos exponentes fue que empezó a gustarme el rap. Incluso me sabía todas las canciones de ellos de
      memoria, ¿entiendes?</p>
    <p>Fue pasando el tiempo y decidí dedicarle un espacio al rap, ¿sabes?, como <em>hobby</em>. Y empecé a cantar en
      las peñas, empecé poco a poco a hacer composiciones, y decidí que tenía vocación para hacer eso, ¿entiendes? Y
      entonces decidí dedicarme a eso. Cosa que me trajo problemas desde sus inicios porque, imagínate tú, que desde el
      año 99 yo hago una canción contestataria, y esa canción contestataria me costó. Me costó porque decían los
      vecinos, muy comunistas en aquel tiempo y socialistas, decían los vecinos que yo tenía raíces de
      contrarrevolucionario, ¿entiendes? Y más o menos mis raíces en el rap vienen sobre esa base.</p>
    <p><strong>¿Fue como una forma de expresarte?</strong></p>
    <p>No, desde un primer momento no era ni una manera de expresarme. Era un modismo, ¿sabes? El rap era algo así como
      un modismo que se cantaba en las casas de cultura, venía mucha gente aquí, porque el movimiento de hip hop más
      fuerte que hubo fue en esos tiempos, ¿sabes?, de los 90 al 2000. Entonces me metí adentro de ese modismo hasta que
      logré descubrir que tenía arte para hacer arte contestatario, ¿entiendes? Y eso fue lo que me hizo daño, eso fue
      lo que me perjudicó.</p>
    <p><strong>Y paralelo a eso, ¿estudiaste?, ¿trabajabas?</strong></p>
    <p>No, mira, paralelo a eso no hacía nada. Paralelo a eso lo que hacía era perder el tiempo, porque no tenía tiempo,
      ¿entiendes? Paralelo a eso yo era pendenciero, yo era una persona pendenciera. Tal vez, quizás, no tuve la
      influencia de un familiar, ¿sabes? En este caso mi mamá, y mi papá tampoco, mi papá estaba preso, lo que me
      mandaba eran cartas. Entonces paralelo a eso yo era un bandolero, <em>brother</em>. Yo andaba por la calle así…
      perdiendo el tiempo, ¿sabes?</p>
    <p>¿Estudio?, no me gustaba la escuela. No encontré en la escuela las cosas necesarias. De hecho, la escuela la dejé
      en cuarto grado. Ya cuando tenía 15 años, que estaba en cuarto grado, dije no, ¿qué escuela? Yo con 15 años en un
      aula con niños, no, no es posible, ¿entiendes? Entonces ya decidí dejar la escuela. No recuerdo si la decidí
      dejar, yo lo que no recuerdo ni la escuela, ¿entiendes? Porque solamente llegué a cuarto grado. Pero paralelo al
      rap no hacía más nada.</p>
    <p><strong>Vivías de tus padres… </strong></p>
    <p>No, tampoco. Vivía de algunos vecinos, mi abuela. Vivía y no vivía, <em>brother</em>. Vivía de incluso salir a la
      catedral a pedirle cosas a los turistas. Yo salía a la calle Obispo y pedía dinero, <em>brother</em>. Claro, ahora
      te estoy diciendo esto y me avergüenza decírtelo. Pero bueno, te estoy diciendo lo que yo pasé.</p>
    <p>También era deambulante, porque yo era deambulante, ¿sabes? Yo me montaba en una guagua y aparecía en cualquier
      municipio, amanecía en el Vedado, en Marianao, apenas siendo un niño, ¿entiendes? Tenía así como rasgos de
      rebeldía. Yo vivía de eso, hermano.</p>
    <p>En aquellos tiempos Cuba estaba más desahogada y cualquiera te daba un plato de comida. Mis vecinos me daban
      platos de comida, me ayudaban, me lavaban la ropa que tenía. Mi mamá se encontraba en la Base Naval de Guantánamo.
      Con diez años yo andaba en la calle solo, deambulando, ¿entiendes? Porque no quería vivir con mi abuela, tampoco
      quería estar becado. Era complejo, ¿sabes? Y más o menos fue así, hasta que cogí responsabilidad más grande, más
      adulto.</p>
    <p><strong>¿Cómo hacías tu música?</strong></p>
    <p>Yo no vine a grabar hasta más o menos el 2003. En el 2003 fue cuando yo le dediqué un espacio real al rap. Pagué
      mis primeras producciones, participé en un premio en la casa de cultura de Habana Vieja, cogí el gran premio, y
      entonces me di cuenta de eso y empecé a dedicarme a eso.</p>
    <p>Ya ahí sí empecé a trabajar. En el año 2000, más bien. Ya para el 2000 yo trabajaba en una construcción. Yo tenía
      16 años exactamente. No quería escuela, porque la escuela no me iba a enseñar nada a esa edad. Entonces empecé a
      trabajar en una construcción, de ayudante. Y en esa construcción cobraba semanal como 100 pesos. A veces ni comía,
      porque ya yo vivía solo en una vivienda donde no había nada, donde dormía en el piso. Y ya, un joven de 16 años,
      viviendo solo, ¿qué tú puedes imaginarte?, ¿sabes? Casi nunca comía si no era por un vecino, por una vecina, o por
      amigos así más cercanos. Pero el dinero lo cogía para hacer música.</p>
    <p><strong>¿Te acuerdas de tus primeras canciones?</strong></p>
    <p>Sí, compadre. La primera canción que grabé me trajo problemas, ¿sabes? La primera canción la grabé en el 2002. Yo
      tenía 17 o 18 años. Pero el tema era un poco complejo. Para aquellos tiempos era bastante contestatario. Fui a
      cantar el tema a la casa de la cultura de la Habana Vieja, y la directora de la casa de la cultura, que se llamaba
      Reina, me dijo “Mi negrito, más nunca vengas a cantar una canción así como esa, que me perjudica la peña”. Porque
      el hijo de la directora era cantante y era el dueño de la peña, ¿entiendes? Y así, confrontaba esos problemas para
      cantar mis textos.</p>
    <p><strong>Entonces fuiste censurado desde que empezaste…</strong></p>
    <p>Sí, fui censurado, pero eso no me preocupó, porque a veces yo me sentía mejor cantando en una esquina. Te digo,
      había mucha euforia de raperos, y había más raperos en la calle, porque no había instituciones para raperos, no
      había un lugar donde pudiera cantar un artista urbano, no existía. Entonces había más raperos en las esquinas
      cantando a capela que en las instituciones.</p>
    <p>Yo creo que cuando aquello existía Triángulo Oscuro, SBS. Eran los grupitos así que había. No había más ninguno.
      Eso fue año 99, 2000. Era Orishas… Te hablo de artistas reconocidos por las instituciones. Triángulo Oscuro, SBS y
      Primera Base.</p>
    <p>Ya después en los 2000 vino la furia del reguetón, y ahí fue donde las instituciones empezaron a darle entrada a
      esos artistas urbanos, porque se dieron cuenta de que tenían una manera de buscar divisas, ¿entiendes? Si no, no
      les hubieran dado entrada. Después vino Eddy K, vino Gente de Zona, y así…</p>
    <p><strong>¿Siempre te llamaste Maykel Obsorbo?</strong></p>
    <p>No, no. En un principio yo me llamaba Mulato MC, ¿entiendes? Ya el Maykel Obsorbo es una historia más compleja, y
      un poco más triste. No sé cómo, por equivocación de un amigo, se introdujo ese nombre en el mundo artístico, que
      no era el correcto. Yo de hecho me llamaba El Decano, después que yo salgo ya, que logro instalarme como rapero,
      el nombre mío era El Decano. El primer disco que yo lanzo, lo lanzo con ese nombre.</p>
    <p>Maykel Obsorbo vino después, y llegó por accidente.</p>
    <p>En el 2013 yo me presento…, el 5 de octubre me presento en La Madriguera, en una peña de Yimi Konclaze, pero Yimi
      Konclaze se equivoca y me pone en los <em>flayers</em> como me decían en el barrio, ¿entiendes? Porque Obsorbo fue
      algo que nosotros creamos en la prisión, ¿sabes?, para protegernos un grupo de muchachos que del centro de
      reeducación de menores brincamos a la prisión de mayores, ¿sabes?</p>
    <p>Cuando nosotros llegamos a la prisión había una hermandad…, había un grupo de personas sumamente agresivas que se
      hacían llamar <em>Justichayan</em>. Entonces esas personas eran tan agresivas que funcionaban como mismo funciona
      el régimen. Esa persona entraba a tu compañía o a tu celda y podía…, porque la policía se lo permitía, porque
      tenían cuchillos y tenían cosas y no pasaba nada. Entonces nosotros, mediante todo eso, dijimos “No, espérate,
      vamos a hacer eso”. Entonces creamos ese pacto como tal, el pacto Obsorbo, ¿entiendes? Y fue creciendo y fue
      creciendo, y logramos combatir a esas personas, y logramos darnos a respetar. Pero todo parte de una protección
      hacia nosotros, porque eran muchos y te atacaban mucho, entonces nosotros tratamos de ser muchos también, para
      defendernos mucho, y se creó eso.</p>
    <p>Y el Yimi, sin querer, introdujo ese nombre ahí, que eso es lapidario. Yo no quería ese nombre. Pero bueno, ya
      está. Entonces hay que darle una vuelta y hacerlo ver de otra manera.</p>
    <p><strong>¿Cuándo empieza el activismo?</strong></p>
    <p>El activismo como tal lo empiezo a partir del Decreto-Ley 349.</p>
    <p>A raíz del 349 yo doy un concierto en La Madriguera donde La Madriguera se llenó, porque imagínate tú, yo tengo
      muchos seguidores que me siguen en el rap cubano. Entonces yo doy ese concierto condenando el 349. Ahí conozco a
      Luis, ya conocía a Amaury, conocía unas cuantas personas, pero, terminando de dar el concierto… canté las
      canciones que yo siempre he cantado, canciones protesta, contestatarias, pero me di cuenta de que no eran las
      canciones, sino el momento en que estaba cantando esas canciones. Para ese momento el eslabón más débil era yo. El
      régimen cogió “Ah, ¿diste un concierto?, está bien”, separó a todo el mundo, y me metió preso un año y seis meses
      exactamente, <em>brother</em>.</p>
    <p>Estuve en el Valle, con el cargo que siempre te ponen: “Desacato”. Bueno, a mí me pusieron “Atentado”. Ellos son
      inteligentes. El régimen se las trae. Imagínate, lo dominan todo…</p>
    <p>Yo había tenido un problema con un oficial, que ese oficial me quería llevar para la estación y dejar a mi hija
      sola en el parque. Un oficial del DNA que estaba haciendo un operativo a un drogadicto. Y cuando ellos hacen el
      operativo mi niña empieza a llorar, porque eso fue en el parque a plenas dos de la tarde. Mi hija empieza a llorar
      y yo me molesto, y voy para allá, y cojo y le digo al oficial “Oye, compadre, ¿ustedes no están viendo ese género
      de violencia que ustedes están demostrando aquí? Mira los niños, están llorando”. Y el oficial me dice a mí que
      apague el teléfono. Yo tenía el teléfono encendido porque estaba hablando con mi mamá por IMO, en un puntico de
      wifi de esos. Y el oficial, mayor del Minint, me le dio un manotazo al teléfono y me dice “Oye, tú no sabes quién
      soy yo, yo soy el mayor Juan José”, ¿entiendes? Y me rompe el teléfono, hermano. Eso a mí me molestó. Y me dice
      “Vamos para la unidad”. “Yo no voy a ningún lado, mira a mi hija aquí”. Bueno, al final, tremenda problemática,
      todos esos oficiales me fueron arriba, me dieron golpes todos esos oficiales, había una cámara, la cámara lo vio,
      me esposaron los pies, me esposaron las manos, y lograron montarme dentro de la patrulla. Y se les olvidó que
      dejaron a mi hija sola en el parque.</p>
    <p>Me llevan para el Vivac. En el Vivac estuve 18 días de huelga voluntaria, sin comer. A los 18 días me soltaron
      para la calle bajo un 83. Al año de haberme puesto el 83, que ya eso no era válido, ya yo estaba en la calle, doy
      este concierto. Entonces ellos fueron inteligentes: “Vamos a meterlo preso, pero tú no puedes decir que por cantar
      metiste a un tipo preso. Bueno, vamos a ir allá atrás al año ese donde fuimos, y vamos a revocarle el 83”.</p>
    <p>Ya cuando salí salgo más rebelde todavía, hermano, porque mientras yo estuve preso a mí cada 15 días iba a
      entrevistarme la Seguridad del Estado, a darme instrucciones: “Mira, tienes que hacer esto, ahora cuando tú salgas
      nosotros te vamos a ayudar, te vamos a poner en la Agencia Cubana de Rap”. Cosas que te prometen, ¿entiendes?,
      pero yo sé que no es así, porque yo tenía una idea. Y así me hicieron varias propuestas, varias proposiciones y yo
      no acepté ninguna, y ahora estoy en este punto. Pero así fue que llegué al activismo.</p>
    <p><strong>¿Y al Movimiento San Isidro?</strong></p>
    <p>Al Movimiento San Isidro, saliendo de libertad. Ya yo era parte del Movimiento San Isidro, ¿entiendes? Porque a
      medida que yo voy preso la campaña se intensifica, y los que quedaron aquí afuera, los coordinadores, empezaron a
      viajar el mundo exponiendo lo que había pasado, que había un artista preso. Y como ustedes pueden saber el MSI es
      un movimiento de arte, y me metieron preso a mí. Eso fue lo que pasó.</p>
    <p><strong>¿Pero tú eres fundador?</strong></p>
    <p>Yo no sé si soy fundador o no. Yo lo que te puedo decir es que el MSI se fundó estando yo preso. Aunque sí, yo
      creo que debo ser fundador, porque yo estaba preso. Yo estaba preso por acciones de San Isidro. Entonces a
      mediados de yo estar preso es que se funda el MSI, que empieza a viajar el MSI, que el mundo empieza a conocer el
      MSI.</p>
    <p><strong>¿Hay alguna relación entre el arte y el activismo?</strong></p>
    <p>No sabría decirte. Yo sí te digo que yo, como persona, tengo esa relación con el arte y con el activismo. Ahora
      mismo yo no creo que pueda, haciendo arte, dejar de hacer activismo, como mismo tampoco puedo dejar de hacer
      activismo sin hacer arte, ¿entiendes? A mí me han complementado las dos cosas, y eso hay que saber llevarlo. Hay
      quien deja de hacer arte y hace activismo solo, o viceversa. Entonces yo creo que ahí es donde el régimen no tiene
      por dónde cortar, porque realmente usted es un artista que le está dedicando parte de su arte al activismo.
      Entonces no pueden como que convoyarte con toda la pila de campañas de descrédito que ellos hacen, que lo que
      están es gastando energía por gusto, porque uno no va a cambiar su manera de pensar ni los principios que tiene.
    </p>
    <p><strong>¿Qué buscas con eso? ¿Qué denuncias? ¿Qué quieres lograr? </strong></p>
    <p>Mira, primero que nada, yo denuncio todo lo que pasa diariamente en Cuba, porque creo que tienen que existir
      medios, nacionales incluso, que denuncien esas cosas. Y no los hay. Simplemente la prensa aquí es manipulada, el
      arte es manipulado, es todo manipulado. Claro, militarizado también. Pero eso es lo que busco yo,
      <em>brother</em>, que haya igualdad de pensamiento, ¿entiendes? Que tú puedas hacer lo que tú quieras y no que sea
      penalizado, hermano. Que tú puedas explicarle a un dirigente la realidad de lo que está pasando, que te resuelvan
      los problemas reales, que no te justifiquen más que si estamos bloqueados… que el bloqueo no es americano
      solamente, el bloqueo es interno, el bloqueo realmente es interno.
    </p>
    <p>Es cierto que tenemos bloqueo, es cierto que Estados Unidos tiene leyes y enmiendas en contra del régimen, porque
      no es ni en contra mía. Si tú me dijeras que es en contra del pueblo tú dices <em>wow</em>, espérate, Estados
      Unidos está mal. No, pero es que Estados Unidos no maltrata al pueblo. Entonces eso es lo que quiero yo: igualdad
      de pensamiento.</p>
    <p>Para hablarte claro, como eso no va a existir, lo que quiero es la libertad absoluta. Yo lo que quiero es que el
      régimen se vaya. Que exista otro partido, que existan otras personas. Porque, aunque tú no lo creas,
      <em>brother</em>, tú necesitas ser representado políticamente, tú tienes que tener una idea política… No sé si tú
      quieres pertenecer al partido radical; yo, ni de derecha ni de izquierda, yo soy del centro. A mí la derecha no me
      interesa ni la izquierda me interesa. Ni me interesa Trump ni me interesa Biden ni me interesa Raúl ni me interesa
      Díaz-Canel, eso a mí no me importa. A mí lo que me importa son las libertades que pueda tener yo como ser humano.
      Que las pueda tener todo el mundo, hermano. Eso es lo básico. Lo básico que merece una persona para decir: “Yo soy
      libre”.
    </p>
    <p>A mí lo que me importa es no ser vigilado como si yo fuera una amenaza. Y de hecho soy una amenaza, porque ellos
      en mí ven la persona que siempre los va a denunciar, ¿entiendes? No. Haz las cosas bien. Haz las cosas bien para
      yo no denunciarte.</p>
    <p><strong>Entonces en medio de toda esa censura y de todo ese aparato conspirando contra ti, ¿cómo llevas adelante
        tu arte? </strong></p>
    <p>Eso es bastante difícil. Me ha sido bastante difícil. De hecho, me está siendo bastante difícil, pero cuando tú
      pones empeño las cosas salen. Lo que tienes que dedicarle simplemente tu tiempo, y más tiempo del necesario,
      ¿sabes?</p>
    <p>He logrado salir adelante gracias a las redes y gracias a muchas personas que me han apoyado, de la distancia, de
      aquí mismo… Son más los de la distancia que te apoyan, porque te siguen, que los de aquí mismo, porque los de aquí
      te apoyan, pero te apoyan en silencio, ¿entiendes? A veces criticamos que los que están en la distancia, que no sé
      qué, pero bueno, por lo menos te apoyan y gracias a ellos es que mi arte ha salido un poco adelante. Aunque el
      régimen no lo reconozca, de hecho, nunca lo va a reconocer, ¿entiendes?, y no me interesa tampoco porque lo voy a
      seguir haciendo, ¿entiendes? Y es así como he logrado salir adelante.</p>
    <p>De hecho, no he salido todavía a ningún lado. Cuando yo te digo alante es que no he salido a ningún lado. Yo no
      sé si esté alante todavía. Yo lo que sí sé que esté el gobierno que esté, el régimen que esté, <em>brother</em>,
      yo nací rebelde, yo voy a criticar al que no sea transparente, yo voy a denunciar al que no sea transparente, yo
      voy a hacer todo eso, ¿entiendes? Siempre voy a hacer todo eso. Mañana yo puedo vivir en Francia y algún dirigente
      comete un error y también lo voy a criticar. Donde esté, sabes. Porque yo no tengo ideología política ninguna, a
      mí la política no me importa, para mí la política es un asco. No me considero un político, pero hablo de política
      porque la política nos afecta.</p>
    <p><strong>¿Te acuerdas de lo último que escribiste? ¿Has escrito algo en estos días que tenga que ver…?</strong>
    </p>
    <p>Sí, he escrito muchas cosas. De hecho, ahora subí un video a las redes sociales que está bien fuerte. Y le
      escribí al MSI también. Siempre le escribo, siempre le escribo. Le escribo a mi hija, le escribo a mi hermana, le
      escribo a muchas cosas. Pero ahora no tengo energía para echarte algo así, ¿entiendes? Pero siempre escribo.</p>
    <p>Las letras no son ni tan crudas, son simplemente letras. Son las letras de las cosas que uno está viviendo.</p>
    <p>Una de las últimas cosas que hice, que le estoy haciendo un video, dice:</p>
    <p>Otro dictador castrista/ comunista, antagonista/ elitista como los fascistas/ y súper extremista/ Una Cuba
      esclavizada/ mi bandera enajenada/ una lágrima para el dolor y una nación callada/ Una esposa que reclama la
      liberación de un hombre/ que como José Daniel Ferrer pelea y no se esconde/ Un poeta que reclama pa’l oído del que
      escucha/ que se quieran como buen cubano pa’ seguir la lucha/ Una fuerza, una moral/ un principio y un final/ un
      talento que brindar/ y una hija que criar/ Un amor pa’ defender mi bandera con mucho orgullo/ un barrio que me vio
      nacer y así desarrollarme/ y un corazón valiente con orgullo pa’ explicarte/ los principios no…</p>
    <p>Más o menos algo así, ¿entiendes? Sí, porque si me pongo no paro nunca, ¿entiendes?</p>
    <p><strong>¿Tú conocías a Denis antes de…?</strong></p>
    <p>Sí, claro. De hecho, yo creo que soy uno de los que mejor lo conozco, porque pasé buena parte del tiempo con él,
      y le iba a hacer un disco, estábamos en el proceso de un disco.</p>
    <p>Yo le iba a producir un disco. Yo iba a capitalizar sus ideas. Él estaba escribiendo bastante ya, tenía varios
      temas hechos. Y en una semana yo le iba a producir un disco, <em>brother</em>. Con la ayuda de mis seguidores yo
      le iba a producir su disco y lo iba a lanzar como solista, porque realmente tiene talento. Pero bueno, mira todo
      lo que pasó. No se pudo capitalizar la idea que yo tenía.</p>
    <p><strong>¿Cómo se llama Denis como MC?</strong></p>
    <p>El lobo solitario…</p>
    <p>Él, lo que pasa…, es lo que le pasa aquí a los artistas cuando son urbanos y además negros. Es como que el
      régimen no ha buscado un modo real, porque ya ni las casas de la cultura sirven. Antiguamente tú ibas a una casa
      de la cultura y no trascendías a ningún sitio, pero tenías un espacio. Llegabas y cantabas ahí algo, la jefa de la
      casa de la cultura seguía robando, pero mostraba una actividad, ¿entiendes? El de recursos humanos también seguía
      robando, pero bueno, todos los domingos hacían una peña, ¿entiendes? Y más o menos el joven se documentaba de
      algo, hacía algo, expresaba algo. Pero es que ya no existe. Ahora todo el mundo sigue robando, todos los
      comunistas siguen robando, la de la casa de la cultura sigue robando, pero no hay actividades en la casa de la
      cultura.</p>
    <p>Entonces si a eso le sumas que Denis es negro, ya eso es un contraste muy estresante. Porque ¿quién va a ayudar a
      Denis, que no sea un artista independiente? El régimen tiene los recursos, pero no tiene el órgano reproductor
      para ayudar a la gente humilde. El régimen nada más piensa en ellos. Entonces esas son las cosas que uno quiere
      cambiar: que la gente tenga una oportunidad, que el que quiera tocar piano pueda tocar piano, que no tenga que ir
      a una escuela con 200 gente nada más, que no tenga que ser el hijo de no sé qué dirigente.</p>
    <p>El arte es independiente. El arte no tiene que estar vinculado a ninguna rama del régimen. Si el régimen quiere
      tener sus artistas, bueno, que las tenga, si quiere ayudar a sus artistas que los ayude, pero el régimen tiene que
      tener en su conciencia que hay artistas que son independientes y artistas que son gubernamentales. Bueno, deja que
      los independientes valoricen su arte. No los interrumpas más.</p>
    <p>Y es lo que ha hecho el régimen todo este tiempo. Mira lo que le está pasando al Denis, le pasó a Luis Manuel en
      su momento, y si no ponemos un pare la va a seguir pasando a todo el mundo. Porque nosotros no somos políticos,
      nosotros somos artistas, más allá de que el Denis no tenga muchos seguidores o no tenga ninguno, de que Luis
      Manuel tenga muchos seguidores, de que tú quizás no tengas un seguidor, pero eres artista, porque estás
      transmitiendo algo, y siempre va a haber alguien que le va a gustar lo que estás haciendo y está dispuesto a
      apoyarte. Pero cómo se va a capitalizar eso si por cada vez que una persona está dispuesta a apoyarte, el régimen
      está dispuesto a frenar a esa persona, a ponerle un muro, a ponerle una barrera y decirle “No se puede, tienes que
      entrar por aquí por la institución”.</p>
    <p>Yo no quiero mezclar mi arte con la institución porque mi arte es urbano, mi arte es empírico. Mi arte tú no me
      la diste, mi arte me vino solo. Yo no te quiero a ti de intermedio. Y eso es como una herramienta básica de la
      represión: controlarlo todo, ¿entiendes? Y es lo que ha pasado con Denis.</p>
    <p><strong>¿Me puedes hacer un recuento breve de estos días en San Isidro?</strong></p>
    <p>Estos días en San Isidro me han abierto la mentalidad a mí a un nivel impresionante, el cual tú no eres capaz de
      imaginarte. Allá adentro había 15 personas, 15 personas que aprendimos a querernos, que aprendimos a ser amigos,
      que aprendimos a ser hermanos, 15 personas que nos ayudamos unos a los otros. Y entre esas 15 personas, como siete
      u ocho que yo no conocía de ningún sitio. Pero ahora mismo esas 15 personas que estaban allí conmigo, yo lo
      considero más que un movimiento, porque de hecho muchas no pertenecen al MSI, pero yo lo considero más que eso,
      porque fueron jóvenes que fueron capaces de conectarse, ¿entiendes?</p>
    <p>Entonces cuando tú miras dices <em>wow</em>, esta gente de dónde salieron. Porque el régimen quizás pensó que
      allí iban a llegar disidentes, opositores, no. Personas que no conocía nadie, se conectaron, ¿entiendes? Hasta que
      hubo un momento que dijimos “No vamos a dejar entrar a más nadie”. Chamacos jóvenes, <em>brother</em>, que
      llegaban ahí y decían “Estamos cansados de esto. Nosotros los seguimos a ustedes”. Pero bueno, tuvimos que parar
      eso, porque hay un momento donde tú no sabes si es la Seguridad del Estado la que te mandó al tipo o llegó por sus
      propios medios. Porque eso estaba allí un poco triste por las cosas que nos estaban pasando, no por la convivencia
      que teníamos allá adentro, porque estábamos mal. Literalmente estábamos mal. Yo estaba muy mal. Pero ahí yo tuve
      un sentido de lo que es la amistad, y hoy por hoy, cada una de las personas que estuvieron ahí al lado mío, para
      mí en lo personal, son un movimiento. No importa si se llama San Isidro o si se llama no sé qué, no importa, el
      nombre tú lo cambias. Todo está en que la gente entienda que esas 15 personas fueron parte de algo espectacular.
    </p>
    <p><strong>¿Cómo se aguanta una huelga de hambre? ¿Qué piensas, qué sientes, cómo luchas contra tu propia
        naturaleza?</strong></p>
    <p>Hermano, las huelgas de hambre no se aguantan, porque literalmente tú te estas consumiendo, <em>brother</em>. Yo
      pienso que cuando tú decides hacer una huelga de hambre y de sed como la que hice yo, y Luis Manuel, cuando tú
      decides hacer una huelga tú tienes que estar consciente primeramente de que eso te va a hacer daño, en segundo
      lugar, que te puedes morir, pero lo que te hace a ti soportar una huelga de hambre o soportar cualquier tortura,
      <em>brother</em>, es la idea, la idea que tú tengas, lo que tú estés buscando.
    </p>
    <p>No logramos el objetivo principal, que es la libertad de Denis, y no vamos a parar, pero logramos más que eso:
      logramos despertar a miles de cubanos, que de hecho siempre estuvieron despiertos, pero logramos incentivarlos,
      logramos hablar, logramos que la gente se manifestara realmente. Logramos que el mundo viera que realmente Cuba es
      una dictadura. Pero eso no lo logró el MSI, eso lo logramos las 15 personas que estábamos allí. Honor a quien
      honor merece.</p>
    <p>Desgraciadamente, de esos 15, los que realmente debían hablar, no fueron a la reunión del 27 de noviembre, y el
      régimen nuevamente se salió con la suya, ¿entiendes? Como siempre.</p>
    <p><strong>Háblame del 27N…</strong></p>
    <p>Yo pienso que esa reunión fue espectacular, porque cada persona tocó los puntos que le afectaban como individuos,
      como artistas, como intelectuales. Pero el objetivo esencial que encendió esa chispa fue la libertad de Denis
      Solís. Entonces, de algún modo, no se tocaron cosas puntuales en esa reunión, que pienso que eran valorables de
      tocarlas, ¿sabes? Más allá de querer nosotros hacer un líder, de querer representar algo, más allá de eso. La
      huelga de hambre, por lo que casi uno pierde la vida, vino por algo, y ese algo no lleva diálogo.</p>
    <p>Si tú quieres algo por lo que todavía hay personas plantadas, porque Luis Manuel estaba plantado y yo estaba
      plantado, todavía no estábamos comiendo… Entonces es como que pudieron olvidar que eso no llevaba diálogo. Quizás
      porque muchos no conocían del MSI a Denis Solís, pero no, eso no llevaba diálogo ninguno. Eso lo que llevaba era:
      “Nosotros vamos a dialogar cuando usted suelte a Denis Solís”. Y hubiera sido fácil, y todo el mundo hubiera
      estado contento.</p>
    <p>Entonces ahí fue donde aprovechó el régimen, cogió las explicaciones de otras personas, les dijo: “La semana que
      vienen nos vemos”. No, eso no había que resolverlo la otra semana ni la más arriba, eso se hubiera resuelto ahí.
      Si ahí hubiera estado la gente correcta, que no era MSI…</p>
    <p><strong>¿Crees en el diálogo como un camino positivo?</strong></p>
    <p>Para serte sincero, aquí no hay diálogo. Ya te lo demostraron ellos mismos, que no quieren diálogo. Te hicieron
      un performance de que iba a haber un diálogo, buscaron a tres o cuatro artistas, buscaron a tres o cuatro
      intelectuales, e hicieron su diálogo a su manera, a como ellos querían.</p>
    <p>Ahora te cambian tres o cuatro cosas, cambia la administración de Estados Unidos, abren un poquitico más las
      puertas, y después viene el pingazo de nuevo, ¿entiendes?</p>
    <p>Y así funciona: te abro un poquitico, te doy un poquitico de prioridades, me lleno, después cuando se me cierren
      las puertas aprieto al pueblo, reprimo al pueblo, ¿entiendes? Y es así. Así esto se ha mantenido 62 años.</p>
  </article>
</app-interview-template>
