<mat-tab-group mat-align-tabs="center">
  <mat-tab #textTabRef aria-label="Interview text">
    <ng-template mat-tab-label>
      <mat-icon
        aria-hidden="false"
        aria-label="Interview text icon"
        [svgIcon]="textTabRef.isActive ? 'paperOn' : 'paper'"
      ></mat-icon>
    </ng-template>

    <section class="interview-text">
      <ng-content></ng-content>
    </section>
  </mat-tab>

  <mat-tab #videoTabRef aria-label="Interview video">
    <ng-template mat-tab-label>
      <mat-icon
        aria-hidden="false"
        aria-label="Interview video icon"
        [svgIcon]="videoTabRef.isActive ? 'eyeOn' : 'eye'"
      ></mat-icon>
    </ng-template>
    <app-yt-player [videoId]="videoId"></app-yt-player>
  </mat-tab>

  <mat-tab #audioTabRef aria-label="Interview audio">
    <ng-template mat-tab-label>
      <mat-icon
        aria-hidden="false"
        aria-label="Interview audio icon"
        [svgIcon]="audioTabRef.isActive ? 'earOn' : 'ear'"
      ></mat-icon>
    </ng-template>
    <app-soundcloud-audio-player
      [audioId]="audioId"
    ></app-soundcloud-audio-player>
  </mat-tab>
</mat-tab-group>
