<mat-tab-group [(selectedIndex)]="activeTab" mat-align-tabs="center">
  <mat-tab #textTabRef aria-label="Interview text">
    <section class="interview-text">
      <ng-content></ng-content>
    </section>
  </mat-tab>

  <mat-tab #videoTabRef aria-label="Interview video">
    <app-yt-player [videoId]="videoId"></app-yt-player>
  </mat-tab>

  <mat-tab #audioTabRef aria-label="Interview audio">
    <app-soundcloud-audio-player
      [audioId]="audioId"
    ></app-soundcloud-audio-player>
  </mat-tab>
</mat-tab-group>
