<mat-tab-group mat-align-tabs="center">
  <mat-tab aria-label="Interview text">
    <ng-template mat-tab-label>
      <mat-icon
        aria-hidden="false"
        aria-label="Interview text"
        svgIcon="arrowDown"
      ></mat-icon>
    </ng-template>

    <article class="interview-text">
      <ng-content></ng-content>
    </article>
  </mat-tab>

  <mat-tab aria-label="Interview video">
    <ng-template mat-tab-label>
      <mat-icon
        aria-hidden="false"
        aria-label="Interview video"
        svgIcon="facebook"
      ></mat-icon>
    </ng-template>
    <app-yt-player [videoId]="videoId"></app-yt-player>
  </mat-tab>

  <mat-tab aria-label="Interview audio">
    <ng-template mat-tab-label>
      <mat-icon
        aria-hidden="false"
        aria-label="Interview audio"
        svgIcon="instagram"
      ></mat-icon>
    </ng-template>

    <audio controls class="w-100">
      <source [src]="audioSrc" />
      Your browser does not support the audio element.
    </audio>
  </mat-tab>
</mat-tab-group>
