<app-interview-template videoId="Daf3q6MQln0" audioId="1139914645">
  <article>
    <p>
      <span class="first-letter">P</span>
      <em>eriodismo de Barrio</em> entrevista a Adonis Milán, director de teatro. Esta entrevista forma parte de
      <em>
        <a class="link-higthlight" href="https://www.periodismodebarrio.org/2020/12/la-revolucion-de-los-aplausos/">La
          Revolución de los aplausos</a> </em>, una serie de conversaciones con actores de la sociedad civil que se
      realizaron entre diciembre de 2020 y enero de 2021, a raíz del diálogo que tuvo lugar el 27 de noviembre de 2020
      en el Ministerio de Cultura:
    </p>
  </article>

  <article>
    <p><strong>Hazme un paneo por tu vida artística, tu obra. ¿Por qué el teatro? ¿Cómo llegaste al teatro? </strong>
    </p>
    <p>Soy Adonis Milán, director de Perséfone Teatro. Empecé en el teatro trabajando como actor. Fui alumno de Berta
      Martínez. Trabajé como asistente en varios grupos. Estuve mucho tiempo desempeñando esa tarea de actor-asistente,
      hasta que me fui inclinando para la dirección. Por las trabas institucionales, yo quería crear mi grupo
      independiente al margen del Consejo Nacional de las Artes Escénicas, que es quien agrupa a los proyectos de artes
      escénicas en Cuba, y fuera de él es muy difícil existir o crear.</p>
    <p>Entonces, yo fui creando a partir de la Asociación Hermanos Saíz. Ellos me dan una sede, empecé en un diálogo con
      ellos, en un trabajo más directo. Ahí estrené <em>El árbol de los gatos</em>, de Elaine Vilar Madruga, un texto
      que hablaba sobre la emigración, la identidad cubana…, y otros espectáculos hasta estrenar <em>Máquina
        Hamlet</em>, de Heiner Müller, un texto alemán escrito en la RDA que fue censurado por las instituciones
      culturales.</p>
    <p>Yo creé Perséfone Teatro en el 2005 como un proyecto independiente. Siempre lo he defendido así, aun cuando ha
      estado asociado a la Asociación Hermanos Saíz hasta que me expulsaron en 2017.</p>
    <p>Perséfone Teatro era en aquel entonces como es hoy: un punto de resistencia o de fe en el teatro y en la sociedad
      cubana. Era para volcar mi vida y mis percepciones, mis emociones, sobre la escena. Mis pensamientos estaban muy
      volcados en eso: muy volcados hacia la búsqueda de la identidad femenina; hacia este mito que, de cierta manera,
      es Perséfone como diosa griega con una dualidad vida-muerte, bien y mal, luz y oscuridad. Eso es, precisamente, lo
      que yo creo que son los actores. Lo que tú tienes que buscar. Un balance entre las dos cosas. Y también tenía
      mucho que ver con el discurso artaudiano y con todo esto del teatro y la peste y buscar el teatro como ese espacio
      donde drena lo más podrido de la sociedad, la sociedad más contaminada, más decadente. El teatro es el espacio
      para gritar esas verdades, para sacar ese pus, para sacar ponzoña a la superficie. Y creo que eso nos remite
      directamente a la realidad cubana.</p>
    <p>Retomando a Artaud, yo hago una analogía: Cuba y la sociedad cubana es un cuerpo en putrefacción, es un cuerpo
      con peste y está drenando. Pero como decía Artaud en ese manifiesto, solamente puede ser purificado con la
      putrefacción extrema para pasar a la purificación extrema. Yo pienso que eso está pasando con Cuba.</p>
    <p>Cuba tiene que podrirse completamente. Cuba tiene que drenar todo ese pus; tiene que salir, que es lo que está
      pasando. Por eso la marginación, por eso la decadencia, por eso el hambre, la contaminación, la suciedad, y
      también toda esa suciedad y toda esa contaminación en el pensamiento, en la emoción, en las proyecciones para
      podernos empezar a limpiar, partir de cero.</p>
    <p>Es como cuando coges a un actor en escena, que tienes que borrarle todo, borrarlo como si fuera una pizarra y
      rescribir sobre él un discurso, rescribir sobre él una partitura diferente, que no te la pongo yo; no soy el
      dictador que voy a venir con mi pensamiento, eso lo tienes que encontrar desde ti. Ya sea un texto de Shakespeare
      o de Rogelio Orizondo. Ese texto que yo te doy, esa partitura, yo no te la impongo. Ese texto lo encuentras en ti.
      Ni el dramaturgo ni yo, ni el diseñador, te lo vamos a imponer si no lo encuentras en ti.</p>
    <p>Y creo que esa visión del teatro, esa filosofía de ver el teatro como un espacio de resistencia, como un espacio
      de creación y, sobre todo, como un espacio de existencia en una sociedad que siento que está muerta; en una
      sociedad que cada vez que me levanto siento que estoy tan muerto como ella. Y solamente así puedo vivir a través
      de ella.</p>
    <p>La muerte, la decadencia extrema, le teme a esa vida que representa no solamente mi teatro sino el arte cubano en
      general.</p>
    <p><strong>Vamos un poquito para atrás. Es difícil crear una compañía desde cero. ¿Cómo se hace eso?</strong></p>
    <p>Claro, es muy difícil. Primero que todo, yo no tengo una compañía. Primero que todo, yo he sido la barca y el
      timonel de Perséfone Teatro, el Carón único que siempre se ha mantenido en la barca. Yo he tenido que reinventarme
      una y mil veces las maneras de crear y producir esos espectáculos. Espectáculos que no tienen una plantilla de
      actores, ni de técnicos, ni de diseñadores, ni de dramaturgos. Simplemente yo invito a actores, personas que son
      afines a determinadas empatías o a determinadas sensibilidad, a trabajar en un proyecto. Un proyecto a veces más
      grande, un proyecto a veces más breve.</p>
    <p>Justamente, cuando yo salgo de las instituciones, intento estrenar un espectáculo que hablaba sobre la mujer en
      la política cubana, la mujer en la resistencia, en el activismo en Cuba; espectáculo que no se pudo terminar de
      hacer. Nunca se supo por qué. La actriz lo abandonó. Nunca se supo por qué.</p>
    <p>Entonces, te quedas en ese limbo y, justamente, las redes sociales, el Internet, me hicieron repensar porque yo
      no tenía teatro, yo no tenía espacio. O sea, yo no me podía presentar en un lugar porque si yo me presentaba en un
      lugar, la Seguridad cerraba el cerco y no dejaba pasar a la gente. O me arrestaban, o los actores terminaban
      arrestados. Una situación inaguantable. En el 11M fue una de las últimas veces que puse así, frente a público, que
      fui arrestado ese día desde por la mañana por el motivo que ellos entendieron.</p>
    <p>Después de eso, he ido poco a poco bajando la parada política y concentrándome en la creación artística; he
      diseñado una escena para el audiovisual, una especie de videoteatro, una especie de cortometraje para las redes
      sociales hasta que actualmente estoy volviendo al teatro, volviendo a la escena desde los espacios más&#8230;
      independientes, culturales, pero no con intenciones políticas. Cada vez que esté en un espacio con intenciones
      políticas, ellos no me lo van dejar hacer. Eso es obvio.</p>
    <p>Entonces, es llegar a una negociación. Sí. Tú tienes que llegar a unas negociaciones, tú te tienes que cortar los
      impulsos, los impulsos del pensamiento, los impulsos de posturas políticas que yo las tengo profundamente. Yo
      estoy convencido de qué es el Gobierno cubano, pero tengo que cortarme todos estos impulsos porque entonces qué…
      ¿Quedo en un limbo? O me corto mis púas disidentes, las pulo, o sencillamente voy a ser un disidente más y un
      arrestado.</p>
    <p>Yo admiro a las personas que hacen arte político, un arte que tiene un propósito contundente para el cambio en
      Cuba. No es mi objetivo cambiar. Yo pienso que Luis Manuel Otero lo ha trazado muy bien junto a Tania Bruguera,
      que fue una de las precursoras de todo el arte político.</p>
    <p>El teatro es muy diferente a la plástica. El teatro se gesta en comunidad, el teatro se gesta con actores, se
      gesta en un espacio físico, en un traje, en un objeto. El teatro es muy difícil gestarlo. No pienso que es
      imposible gestarlo solo con un director, pero no es mi intención. Mi intención es dirigir actores, una puesta en
      escena desde la más clásica a la más moderna. Trabajar con el espacio de la representación. Me puedo mover hacia
      otros lugares pero, básicamente, ese es mi objetivo.</p>
    <p><strong>Sigo para atrás, porque me dijiste que ahora mismo no tienes espacio, pero al principio me comentaste que
        sí te habían dado un espacio y que estabas vinculado con la AHS.</strong></p>
    <p>No, no, no. Yo fui expulsado de la AHS en el 2016.</p>
    <p><strong>Pero no hemos llegado a qué fue lo que pasó…</strong></p>
    <p>Te cuento. Yo me estuve teniendo una amistad con la actriz Lynn Cruz. Hay un amigo que se va de Cuba, un
      director, Eric Morales, fue censurado en el 2016 por un espectáculo que se llamaba <em>La hija del carnicero</em>
      y después otro espectáculo que se llamaba<em> El niño que vuela</em>. Ese grupo pertenecía a un subgrupo de un
      proyecto de las Artes Escénicas. En fin, yo le digo, mira: “Yo quiero hacer <em>Charlotte Corday</em>, de Nara
      Mansur”, el mítico personaje que mata a Jean-Paul Marat, el líder de la Revolución francesa. Él me dice: “Llama a
      Lynn Cruz”. Llamo a Lynn, le digo, le comento. Lynn reescribe la obra. En un momento determinado yo tenía un
      teatro, tenía actores y le digo: “Lynn, yo este texto no lo puedo hacer”.</p>
    <p>Aun así, yo empiezo una relación de amistad con ella y me empiezo a involucrar, de cierta manera, con el arte
      independiente. Con estas figuras de Luis Manuel Otero, Lía Villares, que estaba aquí&#8230; Y ellos me tenían el
      ojo puesto encima y en Santiago de Cuba, bajan la obra de cartelera, <em>Máquina Hamlet</em>. El primer día va un
      comité sensor del Consejo de las Artes Escénicas y decide poner la obra. Yo tengo la grabación, la grabación está
      en Internet. Pero, después, el segundo día, la Seguridad del Estado llama directamente, se conmemoraba un año, dos
      años, fue en el 2017, de la muerte de Fidel Castro, y deciden bajarla. Automáticamente me dicen: “La obra no se
      puede poner. Se suspende la obra”.</p>
    <p>Y entonces, nada, eso me arroja a los espacios independientes. Después empiezo a hacer una obra, un fragmento de
      <em>Psicosis</em>, de Sarah Kane, con Iris Ruíz, la mujer de Amaury Pacheco, la gente de Ovni. En casa de Lía hay
      unos enfrentamientos con la Seguridad del Estado, un enfrentamiento de ellos con nosotros. Ellos se llevan a Lía
      Villares ese día y se llevan a Iris Ruíz. Nosotros no podemos poner la obra. Se forma un altercado con Luis Manuel
      y con Tania Bruguera, yo creo que todo el mundo vio esos videos; fue en 2017.</p>
    <p>Yo pienso que esos sucesos fueron detonantes del Decreto 349. De cierta manera, el Decreto Ley 349 yo lo siento
      como una respuesta a todas esas cosas que sucedieron. Los <em>performances</em> de Luis Manuel Otero, las obras de
      teatro en casa de Lía Villares, las cosas que estaba haciendo Tania, los talleres en INSTAR, etc.</p>
    <p>Lo que pasa es que las cosas pasan en un tiempo y vemos el fruto a través de los años. Ahora, creo que todo esto
      que está pasando en San Isidro, creo que toda la respuesta de los artistas es consecuencia de este proceso en los
      últimos cuatro años.</p>
    <p><strong>Entonces, pierdes tus actores, pierdes tu espacio, ¿y cómo te reinventas?</strong></p>
    <p>Intento hacer teatro independiente, en espacios independientes, y fue totalmente imposible. Una porque no había
      actores. Venía gente de la calle que tenían interés, pero realmente no eran actores. No tenían material para
      hacerlo. Y entonces era como echar agua en un gran colador donde toda tu energía creativa se estancaba. Y estaba
      la parte política, la de la persecución de la Seguridad del Estado, citaciones, arrestos. En fin, fue todo un
      infierno realmente.</p>
    <p>Así es imposible crear. Y después, en el 2019, es que me tiro para los audiovisuales. Para empezar a reinventarme
      desde el audiovisual, en estos cortometrajes a partir de un poemario: la <em>Antología de Spoon River</em>, de
      Edgar Lee Masters. Grabamos en diferentes lugares, grabamos en casas de amigos. Boris Gonzáles Arenas y Omara Ruiz
      Urquiola nos prestaron la casa para grabar en dos ocasiones. Mario Guerra y Pancho García, que para mí fue un
      honor, aceptaron trabajar. Incluso, Broselianda Hernández, que en paz descanse, aceptó trabajar en uno de los
      cortos. Al final no pudo venir. Saben lo que pasó&#8230; Horrible.</p>
    <p>Y de pronto, yo también creo que fue culpa mía. Cuando yo salgo de las instituciones, yo me encierro y me pongo
      en el extremo. En el extremo opuesto. Y yo me automargino del medio mío, que es el teatro, el medio de los
      actores, y había mucho resentimiento con ese medio, lo confieso, y yo me empiezo a marginar. Ellos me marginan y
      yo me margino aún más y me radicalizo en posiciones políticas, en posiciones, en actitudes. Pero yo creo que es
      parte del aprendizaje. Todo el tiempo te estás armando y reinventando.</p>
    <p><strong>O sea, que pasó más o menos como en San Isidro. Fue la Seguridad la que los llevó a la huelga de hambre;
        contigo pasó más o menos igual. </strong></p>
    <p>Yo pienso que sí. Ellos me llevaron&#8230; También es una acumulación. Son muchos años. Yo pienso que los cubanos
      nada más tenemos el estallido de algo y ya. Son muchos en pie. Las familias, los trabajos, las formas de
      vivir&#8230; y de pronto, tú, nada, lo canalizas todo en ese momento y realmente te vuelves su reflejo.</p>
    <p>Y ese fue mi miedo. Lo que me hizo despertar a mí principalmente fue eso: qué yo quiero hacer. “¿Qué es lo tú
      quieres Adonis Milán?”. Un día me miré al espejo y me dije: “¿Qué es lo que tú quieres hacer?”. Tú quieres seguir
      con esa gente afuera de la casa, tocando, llamándome por teléfono; tú quieres seguir en esto o tú quieres crear,
      buscar otra plataforma para poder expresarte.</p>
    <p>Tenemos que tener mucho cuidado con ir a un extremo. Es muy difícil mantenerse en el centro, pero tenemos que
      tener la mente fría como la tuvimos en el Ministerio de Cultura. Quiero, sobretodo, agradecer a todas las personas
      que estuvieron ahí, que mostraron su valor e inteligencia, que lograron mantenerse en ese lugar. Que lograron, a
      pesar de todas las cosas que pasaron, lograron sentarse en un momento determinado, es increíble, a mí me pareció
      increíble, que los artistas, que somos las personas más “raritas”, y menos tranquilitas, de pronto fuimos las más
      adecuadas en ese lugar para enfrentar a la represión; estábamos siendo amenazados por la Seguridad que avanzaba.
      Nos quitan la luz, le echan gas a uno de mis amigos, actor, que trabaja conmigo actualmente, y supimos manejar esa
      situación.</p>
    <p>“No pasa nada. Vamos a seguir esperando, vamos a seguir esperando y no buscando una confrontación”. Yo pienso que
      es importante decirlo también. O sea, lo que pasó en el Ministerio de Cultura fue un paso adelante.</p>
    <p>No espero nada de Fernando Rojas. Ni de Alpidio Alonso. Tuve un momento en que la represión era casi
      inaguantable, a principios de año, cuando empezó la COVID-19. Llamadas telefónicas, amenazas y yo,
      automáticamente, le digo a la Seguridad del Estado:</p>
    <p>―A ver, ¿qué es lo que ustedes quieren?</p>
    <p>―No, yo quiero que tú te desvincules de todo.</p>
    <p>―No, yo no estoy vinculado a nada. Yo no pertenezco a ningún grupo político&#8230;</p>
    <p>―No, yo quiero que tú me firmes&#8230;</p>
    <p>Yo les firmé. Ya. Ellos me han dejado tranquilo, aparentemente. Me siguen llamando. Siguen visitando. De vez en
      cuando se aparecen por la casa, pero al menos ese acoso continuo ha frenado bastante desde que yo hice eso. Y yo
      lo necesitaba para mi salud emocional y psicológica. Y sobre todo para poder crear.</p>
    <p>Lo que empata esto con el Ministerio, perdón, es que nosotros fuimos ahí muy inteligentes. Yo pienso que en el
      último momento ellos estaban dispuestos a una agresión física. Todo el mundo lo decía. A mí todo el tiempo el
      teléfono me estaba sonando con mensajes de amigos de dentro y fuera de Cuba. Mi mamá estaba muy preocupada en mi
      casa porque sabía que había un ejército de casi 600 o 700 personas esperándonos. Y se tenía que evitar un charco
      de sangre.</p>
    <p>Yo admiré, para mí fue un día lleno de emociones porque ahí estaban mis maestros. Ahí estaba gente que yo admiro,
      de la escena, actores increíbles, personas increíbles que perteneces a la oficialidad, que llevan años trabajando
      en el Ministerio, en el Consejo Nacional de las Artes Escénicas; incluso, asesores de Fernando Rojas, el actual
      presidente del Consejo de las Artes Escénicas. Y estaban ahí.</p>
    <p>Y se estaba evitando a cualquier costo un derramamiento de sangre o un acto de violencia. Ahí había menores de
      edad, por si no lo saben, ahí había muchachos estudiantes de nivel medio de ENA, San Alejandro, Amadeo; estos
      muchachitos que oscilan entre los 16, 17, 18 años. Ellos estaban dispuestos a cualquier agresión.</p>
    <p>Fue el acto, fue la acción de estar presentes, de estar reunidos, de que un gremio se sienta, un gremio presente,
      un gremio sin divisiones entre institución-independiente, que tanto nos lastra. Ahí estábamos todos por un bien
      común. Todos.</p>
    <p>Desde los más institucionales, desde los que más tienen una jerarquía institucional y cultural en Cuba hasta los
      más independientes y los que más tienen una visión contra el sistema, estaban ahí. Y se estaba hablando desde el
      respeto. Pienso que periodistas independientes que estaban ahí, artistas independientes estaba hablando desde el
      respeto y lo que pedían era un simple diálogo.</p>
    <p>Ellos demostraron una vez más que no están dispuestos al diálogo. Que no están ni quieren dialogar. Se siguen
      aferrando a la utopía de un tal enemigo; siguen construyendo ese teatro, ese mal teatro, ese mal montaje de tal
      enemigo, de tal CIA, etc., y se apoya también a la creación de ese enemigo en el sur de la Florida, que crea
      totalmente el espejo y ayuda a que ese teatro se siga manteniendo. Es de las dos partes.</p>
    <p>Y nosotros, los del centro, los del pueblo, los artistas, estábamos precisamente en el centro, unos ayudando a
      que estos sigan creando su teatro de enemigos virtuales y los otros sosteniendo esos enemigos virtuales, que es la
      justificación mayor que ellos tienen para cualquier agresión.</p>
    <p><strong>Eso te iba a preguntar&#8230; para desmentir la parte del dinero. ¿Cómo haces para financiar tus
        trabajos?</strong></p>
    <p>Yo me he financiado del dinero que me manda mi familia de los Estados Unidos, que es un dinero simbólico, que es
      un dinero para vivir y para comprar comida. Y así yo he financiado la mayoría de los videoteatros.</p>
    <p>Yo he recibido, en algún momento, una ayuda de una organización en Nueva York, de artistas, que creo que se llama
      Artistas Cubanos en Nueva York. Pero son artistas. Una organización que, incluso, ha puesto artistas oficialistas
      en las exposiciones y en las revistas que ellos hacen. Entonces, si hay alguien en el exterior, de Miami o de
      cualquier sitio, que te quiere mandar 100, 200, 500 o 400 CUC, que no es mi caso, para financiarte ese proyecto
      cultural, es la persona la que lo está haciendo.</p>
    <p>¿Cómo tú puedes probar que ese dinero viene de la CIA, de la contrainteligencia norteamericana? Es una persona.
      Hay muchos contribuyentes en los Estados Unidos que se solidarizan con el caso Cuba, que se solidarizan, además,
      con los artistas perseguidos, marginados, como es el caso de Maykel Obsorbo, como es el caso de Luis Manuel Otero,
      que no tienen otra manera de vivir. O sea, esa cosa del dinero es un juego muy sucio que ellos han mantenido por
      muchos años para desprestigiar a la oposición cubana y ahora al periodismo y al arte independiente.</p>
    <p><strong>¿Cuáles eran tus demandas el 27?</strong></p>
    <p>Las mismas que estaban planteadas ahí. Yo pido la libertad de expresión. Pido que se reconozcan los espacios
      independientes; yo necesito que se me reconozca tanto en la crítica especializada, que por supuesto, no existe en
      los espacios independientes, como en los festivales y en los eventos que tienen las instituciones. Que me
      reconozcan como creador. También estaba ahí por Luis Manuel Otero y por Maykel Obsorbo, obviamente, que son mis
      amigos. Personas que estaban sufriendo, persona que estaban al borde de la muerte.</p>
    <p>Yo me pasé todos esos días muy mal emocionalmente porque dije: “Se van a morir”, “los van a dejar que se mueran”
      y son dos personas jóvenes, con una vida por delante, con hijo, con familia y viven como pueden.</p>
    <p>Quien ha ido a San Isidro, al espacio donde vive Luis Manuel, que ahora es que ha empezado a reparar, y quien ha
      ido a casa de Maykel, quien vive en una bodega, un gran almacén que han hecho casas ahí, con pedazos de madera y
      otras cosas, se pregunta: “¿Dónde está el financiamiento? ¿Dónde está?”.</p>
    <p>Quien vea la casa de Maykel Obsorbo por dentro, por favor, que se compre un apartamento en el Vedado entonces.
      Pero, vivir ahí, en un almacén, varias familias, con el techo que se puede caer en cualquier momento&#8230; Yo he
      estado ahí.</p>
    <p>Y Omara, Anamely, Katherine, son gente que viene del mundo de la academia, intelectualidad, reconocidas incluso.
      Omara con una labor impresionante, con una labor más que probada en el mundo de la academia y respetada muchísimo
      en el mundo del teatro porque fue durante años la mano derecha de Armando Suárez del Villar; él fue decano de la
      Facultad del Teatro y ella fue la jefa de la cátedra de diseño escénico. O sea, no son personas solamente
      queridas, sino con una obra hecha.</p>
    <p>A mí me da mucha gracia cuando la Seguridad del Estado me dice: “No, Maykel Obsorbo no es artista, Luis Manuel
      Otero no es artista”. Y yo me pregunto: “¿Y qué capacidad tienes tú para decirme quién es artista y quién no?
      ¿Cuál es tu bagaje cultural? ¿Con qué regla tú estás midiendo a Maykel Obsorbo?”. Maykel Obsorbo corresponde
      totalmente en protección, en físico, en ropa, en todo, al artista que él representa. Él es un artista de música
      urbana, del rap; el rap viene de la clase baja, del gueto, de la proyección marginal. Y obviamente, yo pienso que
      esa ha sido la principal arma del Gobierno cubano: crear separaciones. Es decir, los del medio, los de abajo, los
      del centro; crear separaciones.</p>
    <p>Nos vendieron un sueño de socialismo cuando todos nos hemos dado cuenta de que ese tal socialismo no existe. Es
      una utopía, una construcción barata que no funciona, que no es verdad. Ellos hacen todo por separarnos, por
      dividirnos, por decir: “Tú eres artista y yo no. Tú eres no sé qué y tú no. Tú eres bueno, tú eres malo, tú eres
      revolucionario, tú eres mercenario”. Dividendo, dividiendo, dividiendo.</p>
    <p>Hay que empezar a educar a la sociedad cubana, dentro y fuera de Cuba, porque yo no veo a los que están en el
      exilio como no cubanos. Son tan cubanos como nosotros, lo que pasa es que están tan dañados como nosotros. Están
      tan jodidos por ese mismo sistema como nosotros; viven a partir del resentimiento, no aceptan un pensamiento en
      contra. Da igual que estés a favor de Trump o de Biden, o de Jesucristo&#8230; Tú me tienes que respetar a mí.
      Porque si yo te respeto a ti, tú no me tienes que tildar ni de comunista, ni de fascista. Funcionan iguales. Es
      increíble lo dañada que está nuestra sociedad. El sistema de democracia en Cuba va a ser complicado: no solamente
      es tumbar un Gobierno, hay que cultivar el civismo de la sociedad cubana.</p>
    <p><strong>¿Y qué función tendría el arte en esa democracia? </strong></p>
    <p>Yo pienso que el arte es el pilar. El arte genera un pensamiento y genera un cambio. El arte va hacia las
      libertades humanas y crea canales para encontrar esas verdades, esas otras verdades de lo que impone la sociedad,
      de lo que dice la sociedad.</p>
    <p>Pero pienso que sí hay que reinventar el discurso, reinventar el discurso de la oposición cubana si se quiere
      llegar a alguna parte, porque con el trumpismo, con la ultraderecha, con el puritanismo, no vamos a llegar a
      ninguna parte. Tú, ahora, publicas una cosa contra el aborto y ya vas a tener un gran parte de la sociedad cubana
      que te va a rechazar; igual contra el matrimonio gay, en fin, contra millones de cosas. Y es lo que ha pasado.</p>
    <p>Yo pienso también que ha sido una estrategia. A veces escucho a Tania y veo una gran sabiduría. Ella sabe. Ella
      empieza por abajo, por abajo, por abajo. Ya se demostró que Fernando Rojas no quiere diálogo.</p>
    <p>Fernando Rojas me tiene a mí esperando desde hace seis meses. Cuando la Seguridad del Estado fue a decirme lo del
      papel y no sé qué&#8230; “¿No, y como tú te puedes insertar en el teatro?”. Yo contacto con una directora y la
      directora me dice: “No…”. Le digo: “Te voy a montar este espectáculo”. Ella me dice: “Dale, ven para acá, te
      contrato”.</p>
    <p>El contrato mío nunca fue aprobado. No por el director del centro de teatro como cualquier otro contrato. El
      contrato tenía que ser aprobado por el viceministro, actual presidente del Consejo de las Artes Escénicas,
      Fernando Rojas. Fui a su oficina en tres ocasiones. La secretaria me dijo con estas palabras: “Yo conozco, yo sé,
      él sabe perfectamente tu caso”, y Fernando nunca se presentó.</p>
    <p>Me tiene ahí, esperando una llamada, como si yo fuera un objeto. Y yo le pregunté&#8230; La última vez que fui a
      su oficina fue justamente el día del Ministerio, en la mañana yo pasé por ahí. Y le pregunté: “Ven acá, y por fin,
      mi vida, mi obra”. “No, él no tiene respuesta todavía”. La mujer muy apenada.</p>
    <p>En fin, él no ha dado la cara, él no ha dado esa respuesta. Yo no espero nada de las instituciones. Yo realmente
      ejercí esa presión para ver qué pasaba. Para ver hasta dónde ellos llegaban. Porque pienso que sí es importante no
      seguir el juego del chantaje, pero sí es importante decir: “Tú eres una persona y yo voy a hablar contigo y te voy
      a decir mis derechos, mis inquietudes, mis anhelos, mis deseos como ciudadano cubano, como artista, aunque tú me
      trates como nada”, como hizo él.</p>
    <p>Él trató a esas personas como nada. Se burló de ellos vilmente. Eso nos sirvió también para darnos cuenta de que
      los Ministerios en Cuba no solamente no funcionan, sino que no deciden absolutamente nada.</p>
    <p>En la sociedad cubana ya tú no decides ni por tu propio cuerpo, no decides nada. Hay algo más, allá arriba, hay
      un Dios todopoderoso, como el último espectáculo de Nelda Castillo en El Ciervo Encantado, estos ángeles
      mediadores que son Fernando, Alpidio Alonso, son ángeles mediadores, ángeles de eso, de la comedia farsesca que te
      dicen: “Sí, no”, pero al final no deciden nada. Son simplemente representativos. Tal vez, ni el propio presidente
      decide absolutamente nada.</p>
    <p>El problema es que ya el pueblo tiene que empezar a buscar otras estrategias para exigir. Y ya le demostramos, al
      menos, que somos un grupo, que somos grandes, y no estamos conformes.</p>
    <p><strong>¿Cuáles son tus estrategias? ¿Cuáles se te ocurren? </strong></p>
    <p>A mí, en lo particular, no se me ocurre ninguna ahora mismo. Yo pienso que sí es útil volver a un reclamo
      colectivo. Volver, quizás, penetrando los mismos organismos de ellos. Podría ser. Yo digo: “¿Qué organizamos tú me
      dejas? ¿Qué organizamos tú me dices que me representan como artista?”. La Asociación Hermanos Saíz y la UNEAC.
      Entonces, yo voy a pedir que tú quites al presidente que tienes, yo quiero que el gremio de artistas decida cuál
      va a ser el presidente que nos va a representar.</p>
    <p>Por ejemplo, en la Asociación Hermanos Saíz, tenemos a jóvenes, no sé, como Yunior García, Camila Lobón, que me
      estaba diciendo que no era asociada&#8230; A mí sí que no me den ningún título mobiliario porque yo&#8230;</p>
    <p>¿Cuál es el mecanismo que tú utilizas? Nosotros vamos a utilizar ese mecanismo para poder llegar a ti. Yo pienso
      que Osvaldo Payá lo hizo en su momento con el Proyecto Varela. El utilizó el mecanismo. Después ellos viraron
      todo. Osvaldo Payá era un hombre con tesón y con una manera de ver las cosas, más allá de sus proyecciones
      cristianas o no, me gusten o no, pero si era un tipo que gestó un acto de resistencia.</p>
    <p>Vamos a ir poco a poco, paso a paso. Esto empieza ahora. Esto comienza ahora. Ya ellos saben que los artistas no
      están conformes. No yo que tengo un seguimiento de la Seguridad del Estado, no Tania Bruguera que no la dejan
      salir de la casa, no Luis Manuel Otero que lo desaparecen a cada rato. No estamos hablando de los artistas que
      ellos consideran disidentes. Estamos hablando de los artistas que incluso, llevan años trabajando en las
      instituciones, de los artistas que representan al arte cubano oficial.</p>
    <p><strong>¿Te parece que cambió algo en Cuba el 27 de noviembre?</strong></p>
    <p>Yo pienso que claro que cambió. Cambió la postura. Hubo un cambio. Ese día es histórico para el arte cubano. Es
      histórico. Yo hablé con esos muchachos de escuelas de arte. Estaban ahí porque ellos no quieren, cuando se
      gradúen, pasar por lo mismo que he pasado yo, que ha pasado Luis Manuel, que ha pasado Tania. Ellos quieren que
      cambie el curso. El curso tiene que cambiar. El curso de la Historia tiene que cambiar. También ellos tienen que
      reconocer los espacios independientes, ellos tienen que ser inteligentes porque yo no creo que debería ser una
      transición de sangre, ni una transición violenta; ellos solo entienden con la violencia, y la transición no
      debería ser violenta.</p>
    <p>Que salgan del poder va a costar. Va a costar mucho tiempo. Costó en Argentina, y los juicios vinieron 20 años
      después, o muchos años después, no recuerdo, pero sí recuerdo cuando yo estuve en la ESMA, el centro de exterminio
      de la dictadura en Argentina; esa gente pagó ya siendo ancianos y muchos de ellos no llegaron a pagar.</p>
    <p>Yo pienso también que no estamos buscando culpables tampoco ahora, no es una cacería de brujas, no es volver a
      las cacerías, es déjame vivir, déjame crear una sociedad diversa, una sociedad justa, no tienes derecho a
      imponerte sobre mí. Tú no te puedes imponer sobre mí. Y es así, tajante.</p>


  </article>
</app-interview-template>