<app-interview-template videoId="xrnO3JT23Zw" audioId="997817317">
  <article>
    <p>
      <span class="first-letter">P</span>
      <em>eriodismo de Barrio</em> entrevista al músico cubano, Ian Benavides.
      Esta entrevista forma parte de
      <em>
        <a class="link-higthlight" href="https://www.periodismodebarrio.org/2020/12/la-revolucion-de-los-aplausos/">La
          Revolución de los aplausos</a> </em>, una serie de conversaciones con actores de la sociedad civil que se
      realizaron entre diciembre de 2020 y enero de 2021, a raíz del diálogo que tuvo lugar el 27 de noviembre de 2020
      en el Ministerio de Cultura:
    </p>
  </article>

  <article>
    <h4>¿Cómo llegaste a la música?</h4>
    <p>Llegué a la música desde chiquitico: cantaba en coros de iglesias; en la Alianza Francesa, porque estudio francés
      desde niño. Incluso, canté en el coro Solfa y en otros de mayor rango. Un día estaban haciendo una audición para
      un grupo que se llamaba One Love, me presenté y me aprobaron. Nos presentamos en el programa de televisión
      <em>Talla Joven</em>… Después salí de ese grupo y empecé a formar lo que sería F5.
    </p>
  </article>

  <article>
    <h4>¿Pero no estudiaste en la academia?</h4>
    <p>No, nunca estudié profesionalmente la música. Me regalaron una guitarra cuando tenía 15 años. Empecé a descargar
      tutoriales, buscaba manuales, cosas así, hasta que aprendí a tocar guitarra. Por los coros sabía un poco de
      solfeo. Con la guitarra y el solfeo, el piano fue más fácil: saber acordes te hace todo un poco más sencillo.</p>
  </article>

  <article>
    <h4>¿F5 de dónde viene?</h4>
    <p>Existía una <em>boy band</em> en Cuba que se llamaba Fénix; el director, Liam Sánchez, era muy amigo mío. Él
      conocía a unos muchachos que cantaban. Nos unimos y de ahí salió F5.</p>
  </article>

  <article>
    <h4>Es decir, ya eran un grupo que existía…</h4>
    <p>Ellos ya tenían un proyecto hecho. Luego entré yo y empezamos a trabajar en cosas nuevas.</p>
  </article>

  <article>
    <h4>¿Ya se llamaban F5?</h4>
    <p>Sí, tenían el nombre y todo.</p>
  </article>

  <article>
    <h4>¿Qué significa F5?</h4>
    <p>F5 es la tecla que se utiliza en la computadora para actualizar. De ahí el nombre. Además, somos cinco.</p>
  </article>

  <article>
    <h4>¿Ahora mismo tú eres el director?</h4>
    <p>Sí. Pero el trabajo lo hacemos todos. Solo que el director coordina varias cosas: dónde tocar, las cosas que
      tenemos que hacer, el trabajo con los productores.</p>
  </article>

  <article>
    <h4>¿Cómo suenan? ¿Sobre qué temas escriben?</h4>
    <p>Escribimos nuestra propia música. De todo un poco: temas de amor, de la juventud&#8230; Hacemos <em>pop</em>,
      <em>latin pop</em>, <em>urban pop</em>. Son los géneros trabajamos.
    </p>
  </article>

  <article>
    <h4>¿Cuál es la edad de los integrantes?</h4>
    <p>La edad promedio es 20-21 años.</p>
  </article>

  <article>
    <h4>¿Tú que edad tienes?</h4>
    <p>Soy el mayor, tengo 23 años.</p>
  </article>

  <article>
    <h4>¿Estás en la universidad?</h4>
    <p>Estudio Historia. Estoy en cuarto año, bueno voy para quinto en febrero.</p>
  </article>

  <article>
    <h4>¿Y cómo llevas las dos cosas?</h4>
    <p>Es complicado porque estudio, trabajo –soy profesor en la Alianza Francesa– y llevo la música al mismo tiempo. Es
      difícil coordinarse con las cosas de la escuela; buscar el tiempo libre para la música, los ensayos, las clases.
      Estamos tomado clases de canto y de solfeo en la Casa de la Cultura de Plaza.</p>
  </article>

  <article>
    <h4>Me comentaste que no eran profesionales aún, que están como aficionados en la Casa de la Cultura. ¿Qué
      hacen ahí?</h4>
    <p>Nosotros estamos involucrados con la Casa de la Cultura de Plaza. Ahí tenemos un espacio los segundos viernes de
      cada mes. Nos acercamos a la Casa de la Cultura porque conocíamos a una profesora de canto. Trabajamos con ella
      todos los miércoles en la tarde. Tenemos clases de canto y de solfeo. Y, además, un espacio para presentarnos,
      para ir cogiendo confianza en el escenario.</p>
  </article>

  <article>
    <h4>¿Cómo ha funcionado el trabajo entre ustedes y la Casa de la Cultura?</h4>
    <p>Es un poco complicado. Tenemos las clases de canto y un espacio para presentarnos una vez al mes, pero nos
      gustaría un poco más de apoyo. Espacios para ensayar, por ejemplo; tenemos que ensayar en un cuarto de mi casa,
      cinco personas bailando… Es complicado. Y un poco más de guía o apadrinamiento por parte de la Casa de la Cultura.
    </p>
  </article>

  <article>
    <h4>¿Qué tiempo llevan ustedes?</h4>
    <p>Como seis, siete meses.</p>
  </article>

  <article>
    <h4>¿Cómo hacen para grabar?</h4>
    <p>Estamos terminando de grabar un álbum completo. Tenemos varios videos realizados que están en YouTube. Hemos
      hecho bastante. Todo ha sido independiente, por nuestra cuenta.</p>
    <p>Grabamos en estudios independientes, es decir, una casa con un cuarto-estudio. Así grabamos. Las coreografías las
      montamos nosotros mismos. La edición de los videos también va por nosotros.</p>
  </article>

  <article>
    <h4>¿Cómo llegaste al 27 de noviembre?</h4>
    <p>Un actor amigo mío me escribió por WhatsApp: “Está pasando algo en el Ministerio de Cultura”. Vivo relativamente
      cerca. Fui a preguntar qué intenciones tenía el grupo y cuando me explicaron todo dije: “Bueno, sí, creo que vale
      la pena”. Regresé a mi casa para almorzar y volví de nuevo al Ministerio.</p>
  </article>

  <article>
    <h4>¿Qué fue lo que te explicaron?</h4>
    <p>Me explicaron que el objetivo de la protesta, de la sentada, era achicar los espacios que existen entre las
      organizaciones, el Ministerio de Cultura, sus instituciones y los artistas independientes. Apostar por la libertad
      de creación, de expresión. Esos eran los planteamientos fundamentales.</p>
  </article>

  <article>
    <h4>¿Ustedes han tenido algún problema de ese tipo? Falta de libertad de expresión, de creación…</h4>
    <p>Creo que casi todos los artistas independientes hemos experimentado algo relacionado con eso, porque a la hora de
      hacer música y tratar de llevarla un poco más profesional, te viene el choque de no estar institucionalizado. Hoy
      en día el proceso de institucionalizarse es muy trabajoso. Mucho papeleo, muchos caminos. Siempre se complica.
      Casi todo el mundo resuelve las cosas por segundos canales… Das tanto por tal papel. Hay mucha corrupción…</p>
    <p>Nos dicen:</p>
    <p>―Nos gustó tu música ¿Quieres cantar en tal lugar?</p>
    <p>Y yo:</p>
    <p>―Sí, sería bueno.</p>
    <p>―¿Tienen papeles?</p>
    <p>―No.</p>
    <p>―Ah, entonces no pueden cantar, porque nos ponen una multa.</p>
  </article>

  <article>
    <h4>¿Ustedes han hecho alguna gestión?</h4>
    <p>Estamos por la vía de la Casa de la Cultura, que hace nivelaciones y cosas así, pero el proceso es muy “demorón”.
      Con la Casa de la Cultura llevamos trabajando seis, siete meses y no hemos hecho nada. Supuestamente, la misma
      Casa de la Cultura es la que programa la nivelación de los artistas con los que trabaja, pero…</p>
  </article>

  <article>
    <h4>Es decir, ustedes prácticamente no han salido de la Casa de la Cultura…</h4>
    <p>Estuvimos cantando en bares, pero todo un poco clandestino. Si de momento entra una inspección en un lugar de
      esos, te pueden multar, porque no debes cobrar si no eres profesional. Lo hemos hecho en fiestas que nos invitan,
      fiestas de 15… Pero cantar en bares, discotecas, etc., eso no lo tenemos permitido.</p>
  </article>

  <article>
    <h4>Han cobrado, pero por la izquierda…</h4>
    <p>Sí.</p>
  </article>

  <article>
    <h4>¿Cómo hacen para promocionarse? </h4>
    <p>Ahora tenemos las redes sociales. Puedes “caminar”, aunque no te pasen en la radio, aunque no puedas estar en la
      televisión&#8230; Lo difundes por Instagram, por WhatsApp y la gente llega al contenido por esa vía. El Paquete
      Semanal lo usamos cuando lanzamos música nueva. Y lo hacemos con nuestro dinero.</p>
  </article>

  <article>
    <h4>¿Cuánto les cuesta ese proceso de promocionarse?</h4>
    <p>Depende de dónde grabes y con quién. Una grabación puede costar de 80 a 200 dólares cada canción. Depende de la
      calidad del estudio, la experiencia del productor. Los videos están entre 200 USD y 1 000 USD, mucho más. Depende
      de lo que utilices: luces, algunos efectos, técnicas para grabar y cosas así.</p>
    <p>Y la promoción, el Paquete Semanal tiene varios métodos. O sea, algunos en 20, 50 y 80 USD. Algunas de estas tres
      vías puedes usarlas.</p>
    <p>Invertimos nuestro dinero en eso. Por nuestra esperanza. Queremos lograr algo. Así es como nos unimos para salir
      adelante.</p>
  </article>

  <article>
    <h4>Entonces, ahora mismo no está siendo lucrativo.</h4>
    <p>No, para nada.</p>
  </article>

  <article>
    <h4>Volvemos al 27N, ¿cómo te incluiste en el grupo de los 30?</h4>
    <p>Yo llegué sobre la 1:00 p.m. para quedarme. A esa hora éramos alrededor de 50, 60 personas. Cuando empezaron las
      negociaciones con el viceministro, nos reunimos por gremios para tratar de establecer acuerdos entre nosotros y
      luego plantearlos en general. Seleccionamos por cada grupo y entonces hicimos la lista de 30 personas que entraron
      en el Ministerio de Cultura para las conversaciones.</p>
  </article>

  <article>
    <h4>¿Qué peticiones tenías tú?</h4>
    <p>La mía, específicamente, y fue lo que conversé con el viceministro, es eliminar tanto espacio entre el Ministerio
      de Cultura y el artista. No hace falta una institución que te diga: “Tú puedes ser artista, tú no; tú puedes
      cantar aquí, tú no; tú puedes presentarte en este lado, tú no puedes”. Eliminar eso. Porque, al final, aunque no
      lo crean, la radio y la televisión hoy no son medios muy consumidos por la población.</p>
    <p>Que te limiten no significa que en realidad dejes de existir. Con Internet, aunque tú lo quieras prohibir, ese
      artista va a seguir existiendo, creando y difundiendo sus canales. Lo que vas a hacer es que la gente no preste
      mucha atención a los canales oficiales, porque existen otros canales alternativos para que te llegue música, para
      que te llegue información.</p>
  </article>

  <article>
    <h4>¿Cómo crees que se pudiera eliminar esa brecha entre el Ministerio y los artistas?</h4>
    <p>Existen varias vías. Una sería eliminar todo ese aparato burocrático para que te consideren artista profesional.
      La otra, que las propias instituciones abran espacios y promocionen un poco que pueden trabajar con artistas
      aficionados, con artistas independientes, para que los artistas se lleguen ahí y vean que no les ponen obstáculos,
      sino como que te acompañan durante el recorrido. Es decir, que no sea limitar, sino acompañar, la función de las
      instituciones. No decir quién sí y quién no. La institución debe preguntar: “¿Te puedo acompañar? ¿Te puedo
      ayudar? ¿Te puedo guiar?”. Y si reúnes los requisitos, puedes entra en la empresa. Si no, no importa. Si quieres
      seguir solo, puedes seguir solo, pero no te pongo obstáculos para seguir solo. Que tú puedas escoger la vía que te
      sea más cómoda para llegar.</p>
  </article>

  <article>
    <h4>Entonces, eso fue lo que planteaste… ¿Te respondieron de alguna forma?</h4>
    <p>Dentro del Ministerio, cada uno se fue levantando para exponer su punto de vista, sus opiniones; al final de todo
      fue que el viceministro intervino y dio su palabra, respondiendo cosas de manera general. Lo que acordamos, en ese
      sentido, era seguir el diálogo, seguir reuniéndonos. Elaborar una agenda de trabajo. Eso fue lo acordado.</p>
  </article>

  <article>
    <h4>¿Y qué pasó después de eso contigo?</h4>
    <p>Después de eso, el grupo de los 30 nos volvimos a reunir en el Instituto de Artivismo Hannah Arendt (INSTAR) y
      estuvimos colaborando, uniendo ideas, creando peticiones, ideas a plantear en esa agenda de trabajo con el
      ministro de Cultura. Fue difícil. Demasiados grupos distintos, gente con ideas diferentes, y era muy difícil
      llegar a un acuerdo. Las reuniones eran larguísimas, de seis horas.</p>
  </article>

  <article>
    <h4>¿Cómo llegaste tú a la reunión en la Universidad?</h4>
    <p>Bueno, como a los dos días, me llaman de la Universidad. Me dijeron: “Necesitamos conversar contigo. Es una cosa
      importante, es con la dirección de la Facultad”.</p>
    <p>Yo voy y cuando llego había dirigentes del Ministerio de Cultura, dirigentes de mi Facultad, Filosofía e
      Historia; de la Asociación Hermanos Saíz (AHS) también había un representante&#8230;</p>
    <p>Me explicaron que les preocupaba mi caso. No conocían que yo tuviera esas inquietudes… Vieron que estaba en la
      lista de las personas que entraron al Ministerio de Cultura… También me dieron una lista de organizaciones y
      personas que son financiadas en Cuba por Estados Unidos. Y me dijeron: “Mira, tu punto de vista es claro: hay
      muchas cosas que hay que reformar; hay que dialogar para que suceda, etc., pero a lo mejor, lo que no estás
      haciendo bien y en lo que debes tener cuidado es con quién te juntas…, para que no te cause otros problemas y que
      no seas visto tú también como un financiado”.</p>
    <p>También les expliqué que el grupo de los 30 es muy diverso. No podemos decir que el grupo de los 30 es el
      Movimiento San Isidro&#8230; No. Es muy diverso.</p>
    <p>Ahí, ese día, planificamos encuentros con representantes de algunas instituciones. Por eso me reuní con la
      directora del Instituto de la Música. Expliqué todas mis inquietudes. Ella me explicó los mecanismos que hoy en
      día existen y cómo podía trabajar para que esos mecanismos fueran más flexibles, más inclusivos, más cercanos a lo
      que se produce en la calle, es decir, al arte de la calle. Una palabra clave en todas las conversaciones con el
      Ministerio de Cultura fue “divorcio”, el divorcio del arte en la sociedad con el arte que refleja el Estado.</p>
    <p>Acordamos hacer un trabajo con mi Facultad y con la Facultad de Sociología para estudiar, exactamente, los gustos
      musicales que tiene la juventud, el consumo de la televisión, de la radio. Un trabajo sociológico para que ellos
      sepan la realidad de lo que se consume en Cuba. Trabajar en base a eso.</p>
    <p>Después fuimos al Ministerio de Cultura. Tuvimos una reunión con el ministro de Cultura donde se hablaron las
      cosas claras y se dijeron las cosas tal como son, sin ningún tipo de… “Déjame callarme esto, porque estoy hablando
      con el ministro de Cultura”. No. Todo el mundo dijo sus cosas claramente, sus preocupaciones, y creo que fue una
      reunión productiva por ese sentido.</p>
  </article>

  <article>
    <h4>¿Hasta ahora solo han tenido diálogo?</h4>
    <p>Por el momento solo hemos tenido diálogo y planes de trabajo. Es lo que hemos establecido.</p>
  </article>

  <article>
    <h4>¿Cómo es tu relación con la gente que se quedó afuera, o sea, con el resto de los 30 que no pudieron
      entrar?</h4>
    <p>En estos momentos no tengo mucho contacto con ellos. No nos conocíamos de antes. Nos conocimos el 27N, cuando
      entramos al Ministerio. Pero no sé si seguirán reuniéndose, no tengo mucho contacto con ellos.</p>
  </article>

  <article>
    <h4>¿Tienes esperanza en que ese diálogo llegue a alguna parte? ¿Te parece un buen camino?</h4>
    <p>Tengo esperanza y creo que necesito esa esperanza. ¿Se hará realidad o no? Estamos prácticamente empezando. Creo
      que hay muchas cosas que dependen más de nosotros, por el momento, que por ellos. Ahora mismo, el Instituto Cubano
      de la Música está esperando respuestas mías: el trabajo sociológico. Para con esa base, con hechos, empezar a
      trabajar en la agenda que establecimos.</p>
  </article>

  <article>
    <h4>¿Acordaron alguna otra cosa, por ejemplo, ayudarte en el trabajo de la banda, o algo así…?</h4>
    <p>Sí. En el Instituto de la Música me propusieron ayudar en el trabajo de la banda y la institucionalización. Pero
      mi intención no era pensar en la banda y ya. No. Me gustaría más que el cambio fuera real. No solamente
      institucionalizar mi banda y ya. No podemos olvidarnos de los problemas que existen. Se trata de que las personas
      que empiezan a crear y tienen ganas de hacer música, puedan tener vías menos difíciles. Eso es lo que me gustaría
      cambiar.</p>
  </article>

  <article>
    <h4>Eso es general. También me estabas contando del trabajo que te propusieron con la banda…</h4>
    <p>Me hablaron de la Agencia Cubana del Rap, una institución que existe, que es una empresa; me dijeron que podíamos
      entra ahí y trabajar para lograr institucionalizar la banda por esa vía o con la AHS. Eso fue lo que establecimos.
      Esa podía ser una vía. Me parece una buena opción, pero los problemas que existen son reales y no me gustaría
      institucionalizar la banda y olvidarme.</p>
  </article>

  <article>
    <h4>En estas reuniones a las que acudiste, ¿has planteado algunas de las preocupaciones comunes que tenían
      los 30? ¿Has tratado de ser la voz de la gente que se quedó afuera?</h4>
    <p>A ver, por el momento, las reuniones que te tenido, los diálogos que he tenido, han sido por música, con el
      Instituto Cubano de la Música, entonces como que las cosas de las personas que se quedaron afuera, que no pudieron
      entrar, las he planteado, pero desde el enfoque de la música. No he podido llegar a otros niveles, por el momento.
      En la reunión con el ministro de Cultura, yo creo que muchas de las cosas que se opinaban dentro del Ministerio de
      Cultura el 27 de noviembre se plantearon.</p>
    <p>Hubo comentarios muy buenos. Incluso, los estuve comparando con lo que se habló el 27 de noviembre y
      prácticamente fue como tener a los 30. Porque se dijeron las cosas… Las mismas preocupaciones las presentaron sin
      tocar el tema del Movimiento San Isidro, sin tocar esos temas…</p>
  </article>

  <article>
    <h4>¿Y cuáles son esas preocupaciones?</h4>
    <p>Las preocupaciones de la libertad de expresión, el tema del repudio, campañas de desacreditación, los problemas
      con la AHS, la UNEAC, etc., todos esos fueron puntos claves de la reunión después del 27N.</p>
  </article>

  <article>
    <h4>¿Y qué repuesta tuvieron?</h4>
    <p>Yo tuve que salir temprano ese día porque tenía que trabajar. No pude llegar a la parte de las respuestas de los
      que estaban sentados enfrente de nosotros. Pero por lo que he leído y he escuchado, quedaron en mantener el
      diálogo. Seguir trabajando en lo que se discutió ahí, porque son inquietudes válidas; ya no son solamente
      inquietudes de personas que están financiadas o personas que se pararon en una manifestación y entraron y forzaron
      el diálogo, son las opiniones, incluso, de artistas que están institucionalizados, de dirigentes de algunas de
      esas instituciones cubanas.</p>
    <p>Entonces, no solamente se trata de un punto, una parte de la sociedad, sino de toda la comunidad artística, una
      comunidad que tiene preocupaciones y quiere lograr cambios. Creo que el diálogo y esta cercanía van a ser
      obligatorios, prácticamente, para resolver esos problemas.</p>
  </article>

  <article>
    <h4>¿Tienes como músico algún tipo de responsabilidad social?</h4>
    <p>Yo creo que sí. Los artistas son un reflejo de la sociedad. Es casi obligatorio mostrar la sociedad mediante tu
      arte. De una manera u otra, a lo mejor hasta inconscientemente, lo haces. Pero al mismo tiempo tienes que
      retribuir eso. Eres una representación de la sociedad y tienes que influir en la sociedad.</p>
  </article>

  <article>
    <h4>¿Crees que cambió algo el 27 de noviembre?</h4>
    <p>Yo creo que sí. El 27 de noviembre, ante todo, abrió puertas e hizo cuestionar cosas a muchas personas que, a lo
      mejor, antes tenían esos mismos cuestionamientos, pero no los planteaban de verdad.</p>
    <p>El 27 de noviembre abrió las puertas del diálogo. Abrió puertas a que la gente se preocupara por lo que está
      pasando y ver que se pueden corregir las instituciones. Ver que se puede decir: “Esto está mal, creo que esto
      ustedes no lo están haciendo bien, lo pueden hacer mejor”.</p>
    <p>A partir del 27N, la gente tomó un poco más de responsabilidad en los asuntos políticos y en el funcionamiento de
      las cosas.</p>
  </article>

  <article>
    <h4>¿Cuáles son los planes futuros de la banda?</h4>
    <p>Planes futuros: tenemos que institucionalizarnos. O seguir trabajando solos, pero que no existan límites para
      nosotros en la radio, en cualquier programa de la televisión, tenemos que poder poder cantar en cualquier espacio.
      Lograr eso.</p>
    <p>Que el público sea el que decida lo que le gusta, lo que no le gusta, lo que quiere escuchar. Pero que no sea una
      institución quien te diga sí o no; o que un programa de televisión te diga que no, porque no estás
      institucionalizado. Que sea la gente la que escoja lo que quiere o no quiere oír.</p>
  </article>

  <article>
    <h4>¿Alguna vez le dijeron que no en alguna radio, en algún programa de televisión?</h4>
    <p>Sí. Un ejemplo, conocemos el canal Clave. Si no tienes tus papales no puedes poner tus videos clips ahí.
      <em>Talla Joven</em> era uno de los espacios que tenía un apartado para presentar una vez por semana a un artista
      nuevo, independiente, pero lo cerraron. Sin contar <em>Cuerda Viva</em>, que también es un proceso largo para
      poder estar en <em>Cuerda Viva</em>, <em>Talla Joven</em> era el único programa de la televisión en el que podías
      presentarte sin papeles.
    </p>
    <p>No tenemos puertas abiertas en la televisión ni en la radio. Nosotros hemos tratado de acceder y nos han dicho
      que no. Eso funciona como todo: a lo mejor te llevas con alguien allá dentro y te dice: “Me gustó tú música, la
      podemos poner”. Pero no son cosas establecidas. Se presta mucho para la corrupción.</p>
    <p>Si limitas tanto, la gente va a buscar cualquier vía para hacer las cosas, y eso es peor. Creo que es mejor no
      limitar tanto y crear espacios. No poner tantas trabas.</p>
  </article>

  <article>
    <h4>¿Sentiste empatía con los demás artistas del 27N que estaban demandando libertad de expresión, que
      concluyeran las campañas de descrédito, actos de repudio?</h4>
    <p>Sabemos las cosas que pasan, pero no prestamos mucha atención porque estamos en otra cosa. Y entonces, ese día,
      conocer esos problemas, conocer que esas cosas son reales y que de verdad influyen y tienen importancia, te hace
      ver las cosas distintas.</p>
    <p>Si te pones en su lugar, que te prohíban hacer cosas, proyectos comunitarios, cosas así, se siente como: “Esto
      está sucediendo y nosotros nunca habíamos pensado en cómo podemos actuar con respecto a esto. No lo habíamos
      interiorizado de verdad”.</p>
    <p>Por eso estaba diciendo que el 27 de noviembre nos ayudó a esclarecer un poco las cosas y decir: “Hay cosas mal y
      nos estamos haciendo los ciegos cuando podemos intentar cambiarlas”. Eso creo que fue algo muy positivo.</p>
  </article>
</app-interview-template>
