<app-interview-template videoId="BhulXiIDMrQ" audioId="1039939993">
  <article>
    <p>
      <span class="first-letter">P</span>
      <em>eriodismo de Barrio</em> entrevista a Anamely Ramos, curadora de arte y miembro del Movimiento San Isidro.
      Esta entrevista forma parte de
      <em>
        <a class="link-higthlight" href="https://www.periodismodebarrio.org/2020/12/la-revolucion-de-los-aplausos/">La
          Revolución de los aplausos</a> </em>, una serie de conversaciones con actores de la sociedad civil que se
      realizaron entre diciembre de 2020 y enero de 2021, a raíz del diálogo que tuvo lugar el 27 de noviembre de 2020
      en el Ministerio de Cultura.
    </p>
  </article>

  <article>
    <h4>¿Tú, en algún momento, creíste en la Revolución?</h4>
    <p>Lo primero que me viene a la mente es esta frase: “Hay hombres que llevan en sí el decoro de muchos hombres”, y
      me parece que con las palabras pasa lo mismo. Hay palabras que llevan en sí lo que merecen y lo que no merecen. Y
      ‘Revolución’ es una de esas palabras.</p>
    <p>Yo vengo de una familia que se puede decir que es revolucionaria. Es decir, mi mamá y mi papá son personas que
      han apoyado el proceso desde siempre y han trabajado durante toda la vida en su profesión; aunque con un
      pensamiento crítico, pero también, en el fondo, de apoyo. Yo me crié en una familia así.</p>
    <p>Desde muy niña fui muy irreverente con casi todo lo que significaba la autoridad y así abrí caminos nuevos dentro
      de mi propia familia. Por ejemplo, en una familia totalmente atea, yo empecé a ir a la iglesia por decisión propia
      desde muy niña y eso también generó problemas.</p>
    <p>Siempre estuve muy cerca de todo lo que tenía que ver con la Historia de Cuba. Desde que somos niños nos enseñan
      que la historia de Cuba, desde la colonia, está indisolublemente unida a la Revolución, a lo que significa la
      Revolución. Después, con el tiempo, tú aprendes que no, que una cosa es la historia Cuba, una cosa son los
      procesos de la colonia, otros los de la República y otros, muy diferentes, los de la Revolución después del 59.
    </p>
    <p>Yo sí estaba muy unida, incluso, desde el punto de sentimental, emocional, a esa historia. Siempre me gustó mucho
      esa asignatura y la estudié tanto que incluso en el preuniversitario era concursante de historia, iba a otras
      provincias. Me identifiqué con Martí, con todo lo que tenía que ver con la historia esta de la clandestinidad, que
      es como que nos llega a través del ICAIC. Tú piensas en la clandestinidad y enseguida piensas en la música de
      Edesio, en Fernando Pérez. Esas cosas sí me llegaban desde que era muy joven y después aprendí que eso era una
      cosa y otra muy distinta la Revolución.</p>
    <p>Primero empecé a reaccionar contra la homogeneidad en la Revolución. Veía en la televisión esas reuniones que se
      hacían como parte de la Revolución, esos discursos que se hacían desde de la Revolución, para defender a la
      Revolución, y veía mucha homogeneidad ahí. Eso fue lo primero que me hizo reaccionar y empezar a sospechar que
      algo no estaba bien. Pensé en qué pasaría si yo también me desmarcaba de ese discurso, que me podría pasar a mí
      como individuo.</p>
    <p>Estaba en la secundaria, tal vez, cuando eso comenzó a ocurrirme y después en el preuniversitario siguió… En el
      pre ya yo no estaba de acuerdo con la Revolución. Aunque todavía decía que sí en mis pruebas (porque en las
      pruebas de ingreso para entrar a la universidad tienes que decirlo de alguna manera, en tus pruebas dentro de la
      Vocacional también tienes que decirlo y más yo que era concursante de historia) realmente no lo sentía ya.</p>
    <p>Cuando llegué a la universidad entonces sí me desmarqué completamente. De hecho, yo era de la Unión de Jóvenes
      Comunistas (UJC) desde muy niña. Desde que estaba en la secundaria me hicieron ese proceso excepcional que le
      hacen a algunas personas y cuando entré a la universidad escondí mi expediente de la Juventud. Evidentemente, yo
      no quería tener que ver con la organización, pero todavía no tenía la valentía para decir: “Yo no quiero ser de la
      Juventud”. Simplemente escondí el expediente, no declaré que lo era y, por supuesto, nadie se dio cuenta, por
      suerte.</p>
    <p>Empecé a desmarcarme así con total conciencia de todo lo que significaba ese proceso y cuando me gradué di clases
      en el Instituto Superior de Arte (ISA) y choqué con un problema que arrastro hasta hoy, que es cómo explicarles a
      los estudiantes los procesos históricos desde la Colonia hasta ahora, enfrentarme a la realidad que ellos viven
      todos los días, y a las contradicciones que empieza a tener esa realidad concreta con el discurso revolucionario.
    </p>
    <p>Cómo explicar eso y, a la vez, explicar que tú estás hablando desde una institución que se define todavía y que
      define a todas las personas que están dentro de ella como revolucionarios o como revolucionarios con el apellido,
      además, de socialista. Y empezar a explicar todo eso; explicármelo a mí misma y explicárselo a los estudiantes que
      ya no creen en esos discursos y que tienen que ser evaluados a partir de esos discursos, y tú eres el medio para
      para transmitir eso, para convencerlos y para que ellos entonces te den una respuesta acorde con todo eso.</p>
    <p>Cómo actuar acorde con ese tipo definiciones que te vienen desde fuera, y a la vez, acorde con la verdad, con la
      verdad de lo que está pasando, con una verdad que, además, ellos te van a replicar desde sus propias experiencias
      personales y contra eso nadie puede. Nadie puede contra mis experiencias personales y nadie puede contra las
      experiencias personales de cualquiera.</p>
    <p>Desde hace muchos años ya no me defino ni me siento parte de la Revolución. Después aprendí que es imposible una
      revolución que dure 60 años. Una revolución es una cosa muy corta, de un momento. Ya ahí empieza uno a ponerle
      argumentos teóricos que tienen que ver con las ciencias políticas, con los libros. Pero el primer desajuste, la
      primera reacción siempre es desde lo que uno vive, y desde lo que uno ve que viven otras personas que no eres tú.
    </p>
    <p>Y eso es duro. Es duro cuando uno lo vive a nivel personal, cuando uno se desmarca dentro de una familia, y es
      todavía más difícil cuando tienes que explicarlo a otras personas como profesora. Y ahí sí el encontronazo fue
      total.</p>
  </article>

  <article>
    <h4>Mientras estuviste mintiendo, ¿cómo expresabas la verdad?</h4>
    <p>Como profesora simplemente trataba de ir a las fuentes. Es decir, que ellos pudieran leer desde los protagonistas
      de cada una de esas épocas cómo habían vivido esos procesos y qué habían escrito sobre esos procesos y cómo había
      sido su actuar frente a esos procesos y qué les había pasado frente a sus procesos. Y cuando llegas a la
      Revolución, ahí está muy claro; porque si tú los pones a leer a ellos…Si tú no les haces el cuento de qué pasó con
      Padilla como te lo cuenta el poder sino que mandas a leer a Padilla, mandas a leer a los que acusaron a Padilla,
      mandas a leer a los que estuvieron de acuerdo con Padilla y que le pasó a esas personas después… Cuando tú
      muestras todo eso y les das las herramientas a la gente para que lea, para que vea por sí misma y después digan lo
      que creen sobre eso, entonces ya no hay manera de simular, no hay forma de simular. Está ahí. Esa es la historia,
      esa es la verdad. No hay forma de que tú digas: “Bueno, pero estábamos en un contexto complicado, y entonces la
      Revolución se tenía que defender”, que es siempre el discurso que al final prima, se tenían que defender.</p>
    <p>Todos los errores que son imposibles de ocultar se justifican como producto de que había que defenderse, y que al
      final, hay que imponer un tipo de discurso porque yo tengo enemigos más fuertes que nos van a matar. Tú
      simplemente te desmarcas de que hay un enemigo, de que los fines justifican los medios, y dices: “Bueno, vamos a
      ver los medios. ¿Qué pasa con esos medios, qué pasa con esas personas concretas a las cuales la vida se les
      destruyó o se la destruyeron y qué pasaba con esos otros espectadores que estaban ahí y que hoy podemos ser
      nosotros?”.</p>
    <p>Nosotros podemos ser los espectadores que fueron aquellas personas. Los que hoy critican y los que hoy se
      desmarcan y no se desmarcaron en un momento, van a tener que cargar para siempre con eso que no hicieron en su
      momento. Cómo hacer para que eso no nos ocurra a nosotros y cómo hacer para vivir el tiempo que te toca vivir a
      partir de que entiendes lo que vivieron otros en otro tiempo. Yo siempre he creído que la historia nos sirve sobre
      todo para vivir el presente. Es decir, la historia no puede seguir siendo ese cuento hermoso por el cual uno se
      enajena y piensa que está viviendo algo mucho más lindo de lo que le toca vivir en el presente. No puede ser más
      eso.</p>
    <p>Nietzsche lo decía: “La historia no es un jardín hermoso en el que tú te paseas y te sientes lo que realmente no
      eres”. Tiene que servirnos para el ahora. Si no, ¿para qué tantos libros leídos, para qué tantas películas vistas,
      para qué tantas conversaciones infinitas? Nosotros, los cubanos, nos pasamos la vida conversando y discutiendo
      sobre cosas que después no aplicamos en nuestra propia vida… Esa es la primera valentía. Tú vives en un momento y
      frente a ti hay una realidad y hay personas que están siendo juzgadas, vilipendiadas, vulneradas en sus derechos
      más elementales dentro de esa realidad.</p>
    <p>Frente a eso, ¿que tú haces? ¿Vas a seguir siendo un espectador toda tu vida o tú te vas a meter en el asunto a
      sabiendas de que eso te va a costar mucho, y además, lo primero que vas a tener que decirle a tu familia, a tus
      amigos más cercanos es: “Lo siento, yo sé que ustedes se preocupan por mí, pero yo creo que tengo que hacer esto y
      no me van a chantajear emocionalmente”? No va a haber nada, ni mi hijo, ni mi madre, ni mi padre…Nada de eso va a
      hacer que yo deje de ser quien yo creo que soy, y que yo deje de vivir este momento y que yo deje de tomar un
      partido determinado dentro de este momento.</p>
  </article>

  <article>
    <h4>En cuanto a la acción, ¿cuándo llegó esa ruptura tuya? ¿Qué la desencadenó?</h4>
    <p>El hecho de ser profesora te obliga a tomar partido, aunque sea sólo discursivamente, pero ya ahí están
      incidiendo en lo que esas personas que tienes al frente van a hacer en su vida. Pero fue exactamente después de
      que me expulsan del ISA. Después de que me sacan del ISA me doy cuenta de que había perdido mi escenario.</p>
    <p>A finales de julio de 2019, el Rector me llama a su oficina y me explica que él va a aplicarme una medida
      administrativa, no disciplinaria, porque no tenía la valentía de decir que yo había incumplido la disciplina del
      ISA, era administrativa. Por un resquicio legal muy dudoso, me aplican una resolución y me sacan del ISA.</p>
    <p>Ahí me doy cuenta de que yo había perdido mi escenario. Todo el mundo tiene un escenario. Cuando uno quiere hacer
      algo públicamente, primero tienes que tener cómo hacerlo. Si tú eres lo suficientemente valiente, te paras en el
      medio de la plaza y gritas; pero eso casi nadie lo hace de la nada, a no ser que estés muy fundido y que sea una
      cosa extrema.</p>
    <p>Primero uno se genera un escenario a partir de la profesión que tiene. Si uno es cineasta, hace un documental
      crítico; si una es profesora, se para delante de sus alumnos y lo dice. Entonces, cuando yo me doy cuenta de que
      había perdido ese escenario, me quedaban varios caminos: o irme del país y buscarme otro escenario o usar sólo los
      textos que yo podía seguir escribiendo en medios alternativos o generar un proyecto independiente hasta que me
      dejaran hacerlo y hablar desde ahí, desde el arte porque yo soy curadora, desde ahí podía seguir haciendo
      exposiciones críticas también sobre el poder. O podía, simplemente, buscar otro escenario y eso fue lo que hice.
      Mantuve los textos, traté de mantener los proyectos independientes hasta que me dejaran, pero también quise
      buscarme otros escenarios.</p>
    <p>Fui, conocí personas, decidí meterme más de lleno en lo que es el activismo, más directo. Ya no filtrado siempre
      por la parte cultural sino también un activismo más directamente social o político para empezar a decir desde ahí
      lo que yo creo que tenía que decir. Porque, además, fíjate qué interesante, yo no quise hacer público el proceso
      de apelación a la decisión del ISA. Yo empecé a apelar. Apelé primero al Órgano de Justicia Laboral; apelé,
      incluso, al Tribunal Municipal que es hasta donde te dejan llegar. Ya después no puedes apelar al provincial y
      puedes mandar el caso al Supremo, pero el Supremo se arroga el derecho de aceptártelo o no. Es decir, que es un
      poco así…loco.</p>
    <p>Yo hice todos esos pasos porque quería llegar hasta el final, hasta que me dijeran ―que sabía que iba a ocurrir
      eso, yo no era ingenua― yo sabía que me iban a decir al final: “No procede”. Pero yo quería hacerlo público al
      final y mostrar toda la historia. Mostrar el desamparo completo. Que no sólo estás desamparada en tu centro de
      trabajo; sino que te desampara la sociedad completa, los tribunales. Todo el mundo, al final, termina plegándose a
      lo que dice la Seguridad del Estado. Y eso era lo que yo quería mostrar.</p>
    <p>Cuando llegué al final estaba tan cansada, tan decepcionada, tan triste, tan destruida a nivel personal y a todos
      los niveles, que yo no tuve la energía de hacer eso público porque sabía que lo que venía en las redes sociales
      era otra historia, otra batalla y yo en ese momento no quería hacerlo. Pero sí quise vincularme a grupos y a
      personas que estuvieran haciendo activismo, que ya estuvieran convencidas de que por los canales legales no se
      conseguía justicia por ese mismo proceso que yo había vivido, y quise empezar directo a hacer cosas con signo
      positivo.</p>
    <p>Más allá de denunciar lo que me había pasado a mí, quise empezar a hacer cosas para cambiar este tema. Es decir,
      para tratar de construir un país diferente. Todavía hoy creo que esos procesos de cambio se están dando aunque no
      se caiga el gobierno, aunque el Estado siga siendo ese estado que tenemos hoy que difama, que genera una campaña
      absurda, delirante, de todo lo que nos ha pasado a nosotros. Aunque eso no se caiga, yo sí creo que las cosas las
      estamos cambiando con nuestro actuar, con las alianzas que se generan, consiguiendo que cada vez sean menos las
      personas que le creen a ese Estado que está diciendo todo eso, consiguiendo que muchas más personas empiecen a
      hablar por sí mismas.</p>
    <p>No de mí, o de Luis [Manuel Otero], o de Maykel [Obsorbo] sino de sus propias vidas, de las cosas que les pasan a
      ellos en su día a día, de lo que le pasa a su vecino, de lo que sienten cuando ven esas mismas campañas en la
      televisión, de lo que sienten cuando ven que la policía le quita la comida a un carretillero y le pone una multa
      de 2 000 pesos a un muchacho de 18 años porque se bajó un momentico el nasobuco para fumarse un cigarro. Todos
      esos atropellos que conocemos de siempre, en este país, hay que decirlos. Y eso no lo podemos hacer solo nosotros.
      Eso tiene que ir haciéndolo cada persona.</p>
    <p>Aprender a luchar o gritar lo que te pasa individualmente y lo que les pasa a las personas alrededor de ti.
      Cuando eso empiece a pasar ―y, de hecho, está pasando― el país cambiará. Eso lleva a que haya otro tipo de
      paradigma, a que ya no sea un problema o un temor o un caer en desgracia meterse en esas cosas. Sí, es eso, pero
      al mismo tiempo es hasta <em>cool</em>. Hasta ese tipo de cosas que pueden parecer muy superficiales. Es decir,
      como tú te opones a la policía es <em>cool</em> y ya lo <em>cool</em> no es: “Policía, policía, tú eres mi amigo”
      sino otra cosa. Hasta esas cosas tan superficiales influyen en que haya cambios.</p>
    <p>Yo siempre recuerdo a Carpentier que hablaba muy bien de los <em>snobs</em> en la década del 20 o del 30. Él
      decía: “Si todo el mundo critica a los <em>snobs</em>, pero no se dan cuenta de que los <em>snobs</em> muchas
      veces son la punta de lanza de los cambios, de cambios que después se hacen más profundos, que se asientan, que
      generan una creación” … Así mismo pasa con este tipo de cosas políticas y más hoy con todo esto de las redes, de
      los <em>youtubers</em>, de los <em>influencers</em>. Yo no desestimo nada de eso. Creo que cada cual tiene y hace
      lo que puede desde las herramientas que tiene, desde lo que le enseñaron, desde sus gustos y todas esas cosas
      importan.</p>
    <p>Importan tanto los <em>youtubers</em> que hacen directas como cualquier intelectual que haga un texto y que
      posicione ese texto en las academias del mundo o en la academia cubana. Tanto una cosa como la otra influyen en un
      público determinado y generan un cambio en un rango acción. Lo que sí me parece ya bobo, ingenuo, y muy
      totalitario es pretender que la crítica nazca de un centro como mismo nace el poder.</p>
    <p>El poder siempre va a tener un centro y, hasta el poder, ya hace mucho tiempo que se demostró por Foucault y
      quienes saben de eso, el poder ya tampoco tiene un centro. Entonces, cómo la resistencia va a tener un centro. La
      resistencia tiene que ser tan plural, tiene que ser capaz de pasar por encima de todos esos prejuicios como mismo
      el poder lo hace; porque el poder sí es muy inteligente. Nosotros tenemos que ser más inteligentes que el poder.
    </p>
  </article>

  <article>
    <h4>¿Tuviste problemas con tu familia cuando eso pasó?</h4>
    <p>Problemas con mi familia he tenido todo el tiempo. Yo veo en las redes a mucha gente que bloquea a su familia en
      Facebook. Yo también he tenido que bloquear a muchos de mi familia en Facebook para protegerlos, para que no vean
      cosas que yo sé que ellos no van a entender o que no van a saber procesar y les va a provocar que les suba la
      presión, que se molesten más de lo que deben, o que malentiendan… Problemas con mi familia he tenido todos los
      días de este mundo y sé que los voy a seguir teniendo. Desde problemas de molestia hasta tristeza.</p>
    <p>A veces, simplemente, es que ellos están profundamente preocupados por lo que me puede pasar. Desde esa
      preocupación y esa tristeza reaccionan y lo único que se les ocurre es decirme: “Por favor, para”. A quién le van
      a decir que pare, ¿al gobierno? ¿Cómo le van a decir al gobierno: “no le hagas eso a mi hija”? Al final me lo
      dicen a mí: “para, por favor”.</p>
    <p>También opera en esos casos un argumento, una cosa viciada que tenemos, y es que: “si esto me está pasando es
      porque algo mal estoy haciendo”. Ahí es cuando la cosa realmente se pone grave porque ya no es tu mamá diciéndote:
      “por favor, cuídate”, es la misma lógica que tiene el poder, y que te dice la Seguridad del Estado y que usa la
      policía cuando tú te enfrentas a ella. Eso mismo te lo está diciendo tu familia. Entonces, tú piensas: “¿Cómo es
      posible que este Estado haya conseguido poner en la mente de cada persona, no importa si te quieren o no, el mismo
      tipo de argumento?” Y el argumento que está detrás de eso, o la lógica que está detrás de eso, es que no tenemos
      derechos.</p>
    <p>No tenemos conciencia de los derechos que tenemos, aunque nos los violen diariamente. Ellos los pueden violar,
      pero esos derechos siguen siendo derechos, siguen siendo legítimos. Y tú te tienes que creer todos los días de tu
      vida que estos derechos son inviolables, aunque te los violen. Y tú tienes que pararte delante del policía y
      decir: “No, señor, yo no estoy haciendo nada mal, y aunque lo estuviera haciendo, de todas maneras, yo tengo
      derechos y usted no es la persona que me tiene que decir eso”. Usted no está para eso, usted está para cuidar,
      para mantener el orden, pero usted no está para reprimir personas que ni siquiera sabe por qué están siendo
      reprimidas y no está para decirle a esa persona: “Ay, mija, pero algo mal tú estás haciendo”. No está para suponer
      y para dar por sentado; esa no es su función, usted está siendo doblemente maltratador y doblemente violador de
      esos derechos al decirme eso, porque me los está violando y porque, además, ni siquiera me está dando el beneficio
      de la duda que tengo porque soy ciudadana. Yo soy inocente hasta que se demuestre lo contrario. Si usted no sabe
      por qué yo soy culpable, cómo usted me va a detener, cómo usted me va a decir todo eso.</p>
    <p>Ahí te das cuenta de que cuando le pase a él, cuando no sea yo a la que repriman sino a él, él tampoco va a saber
      cómo defenderse. Y eso es lo que está de base. Él no sabe por qué yo me defiendo, pero él tampoco sabe que él
      también se tendría que defender de una cantidad enorme de cosas porque eso que hace la Seguridad del Estado de
      poner policías delante para no salir ellos, para ellos no recibir esa responsabilidad, eso también es violar los
      derechos de ese policía. Y ese policía no tiene ni la remota idea de que eso que está ocurriendo con él también es
      una violación y que no debería estar pasando. Y que no debería él ser la persona que se interponga entre la
      Seguridad del Estado y yo. Que esa función que le están asignando, él no tiene por qué tenerla y que lo están
      echando a fajar conmigo por una cosa que ni sabe, porque tú no sabes la impotencia que yo siento cuando yo llego a
      la estación, me enfrento a la policía y le digo: “Búscame en el registro a fulano, por qué está detenido”. Y el
      policía lee: “CR”. Ni él mismo sabe qué es CR. Y le pregunta al superior: “¿Qué cosa es CR, por qué fulanito está
      detenido por CR?”. Y el superior le dice: “Eso es contrarrevolución”. “Ah, contrarrevolución”. Pero él ni sabe qué
      cosa es contrarrevolución tampoco. No sabe qué es CR, no sabe qué es contrarrevolución. Él sabe que está en un
      papel que supuestamente lo exime a él de responsabilidad personal y profesional, lo exime de todo. Pero ese papel
      no lo exime ni a él, ni a su superior, ni a la Seguridad del Estado, ni al Estado cubano de lo que está
      sucediendo. Al final, lo único que hace es ponerse a la defensiva conmigo, que tengo todo el derecho a preguntar e
      indagar por la persona que está detenida y lo enfrenta a mí y nunca lo enfrenta a lo que está detrás. Con esas
      trabazones el poder cuenta porque es lo único que mantiene esto.</p>
  </article>


  <article>
    <h4>¿No te da miedo con tu hijo?</h4>
    <p>Mi hijo no está en Cuba. Cuando todo empezó hace unos meses, que empezó con más fuerza, y tuvimos que hacer la
      campaña para sacar a Luis Manuel de la cárcel, mi hijo se fue. Se fue con su papá que vive en Argentina, que
      también se fue de Cuba por problemas políticos, hace como dos o tres años atrás. Ya esa decisión estaba tomada.
    </p>
    <p>No fue que yo mandé a mi hijo fuera porque yo estaba teniendo problemas políticos, sino que ya yo había decidido
      que mi hijo no iba a crecer en Cuba porque no hay un futuro que yo pudiera vislumbrar para él aquí. Y entonces ahí
      tu familia te dice: “Te van a matar o te van a meter presa o te van a hacer la vida imposible, para ya”. Y tú les
      dices: “Es que me están haciendo la vida imposible porque yo misma tuve que decidir mandar a mi hijo fuera y
      quedarme yo, por lo menos hasta que no me vaya, que seguramente también me iré porque es así, y hasta que eso no
      ocurra yo tendré que vivir separada de mi hijo. Entonces ya me están haciendo la vida imposible”.</p>
    <p>Mi hijo no está en Cuba y no temo por él ahora mismo.</p>
  </article>

  <article>
    <h4>¿Cómo te vinculaste al <em>Movimiento San Isidro</em>, cómo llegaste ahí?</h4>
    <p>Yo llegué al <em>Movimiento</em> por Luis. Al que conocí primero fue a Luis. Yo estaba escribiendo un texto, en
      octubre del año pasado, para una revista y quería hablar de Luis, pero no conocía a fondo su obra. Conseguí su
      número, lo llamé y fui a entrevistarme con él por su obra. ¿Qué sucede con la obra de Luis? La obra de Luis es ese
      tipo de obra que te lleva directamente al activismo. Es una obra que busca activarse socialmente, que sin eso no
      es obra. Es decir, eso es lo que la hace profundamente subversiva y demás. Entonces, de la obra, pasé rápido a qué
      cosa era el <em>Movimiento San Isidro</em> y cómo una cosa se retroalimentaba de la otra. Me interesó mucho esa
      manera del <em>Movimiento San Isidro</em> de hacer explícita su visión de la cultura como algo no de una élite.
    </p>
    <p>Esa cosa que nosotros vemos todo el tiempo en la televisión de que “la cultura está en buenas manos”, esos
      <em>spots</em> que promueve el Ministerio de Cultura, que por supuesto, no tiene la más remota idea de lo que es
      la cultura, eso a mí me parece fascista. Y el <em>Movimiento San Isidro</em> lucha en contra de eso todos los
      días.
    </p>
    <p>Es decir: ¿Qué cosa en buenas manos de qué? La cultura se genera y se genera, incluso, aunque tú la trates de
      meter en una cápsula y va a salir por donde sea que salga. Lo mismo uno que está en un solar tocando rumba, que en
      la Sinfónica Nacional. La cultura no hay manera de regularla.</p>
    <p>Ellos ―los que son del <em>Movimiento</em>― creo que entienden perfectamente eso y tratan de potenciar a todas
      esas personas que nunca van a estar en una galería, que nunca van a estar en un concierto del Estado o de alguna
      institución oficial. Tratan de potenciar a esa gente. A esa gente que van a ser desechadas o que ya están siendo
      desechadas a la par de otras personas que no son desechadas. Porque yo también soy del <em>Movimiento</em>, y
      bueno, soy desechada ahora o quieren ellos que lo sea por mis ideas política, pero hasta hace poco, fui curadora
      invitada del Centro de Desarrollo, hacía mis exposiciones donde me diera la gana. Es decir, hasta que no me metí
      directamente con ellos, yo fui aceptada. Y estudié en una universidad, en fin…</p>
    <p>Esa mezcla súper interesante de generaciones, pero también de acceso, de personas que tienen mucho acceso a la
      institución y otras que no tienen ninguna, esa mezcla fue lo que me interesó del <em>Movimiento</em> y por eso fue
      por lo que me vinculé a ellos.</p>
  </article>

  <article>
    <h4>¿Me puedes hacer un resumen de los días de la protesta?</h4>
    <p>Esa cosa del miedo. Y yo creo que es porque estuve muchos años de mi vida pensando en eso, pensando en qué iba a
      hacer yo frente a todo eso que estaba sucediendo en Cuba. Y como me demoré tanto en reaccionar visiblemente, es
      decir, confrontar directamente al poder desde lo político, me demoré tanto, tanto, tanto, lo pensé tanto, que
      cuando ya lo hice, lo hice completo. Entonces, la gente me dice: “Es que tu estrellato en esta historia ha sido
      muy precipitado”. Era una profesora ahí, tranquila, que hacía sus curadurías, reconocida y de momento…Y yo creo
      que es por eso.</p>
    <p>Yo esperé, esperé, esperé. Esperé a tener el mapa completo, todos los argumentos completos para entonces ya,
      lanzarme con todo. Yo le digo a esa gente que me atiende: “Miren, se equivocaron de persona porque no me dan
      miedo. Ustedes pueden hacerme lo que quieran, pueden meterme presa…Además, perdí muchas cosas también en muy poco
      tiempo. Perdí mi trabajo, tuve que dejar que mi hijo se fuera, por lo tanto, también perdí hasta cierto punto a mi
      hijo, por lo menos por un tiempo, me separé de mi marido que tampoco aguantó esta historia.</p>
    <p>Entonces ya, me quedé sin nada y eso también te ayuda. No solo a no tener miedo sino te ayuda a valorar la vida
      desde otro punto de vista, a que esas cosas que son muy importantes dejen de serlo un poco, y entonces te tomas
      las cosas un poco más desenfadadamente, te tomas la vida más desenfadadamente. No le das tanta importancia a la
      vida.</p>
  </article>

  <article>
    <h4>¿En cuántos calabozos has estado hasta hoy?</h4>
    <p>No, si tú supieras que he estado en pocos. He estado como tres veces en el mismo calabozo. Bueno, estuve una vez
      en Zanja, y como tres en Regla. Parece que les encanta mandarme para ahí y me alegra porque ahí son súper amables
      los policías. Pero todas las demás veces que me han detenido, no me han metido en calabozos. Ellos han esperado a
      esta confrontación… cuando pasó lo de Denis [Solís] para meterme en el calabozo.</p>
    <p>Pero hasta ese momento, ellos no me querían meter en ningún calabozo. Ellos me mantienen, incluso, cuando me
      llevan para las estaciones, prefieren mantenerme en una sala intermedia. Es como que me dan otro tratamiento
      porque soy intelectual y no sé qué. Y eso a mí me molesta de una manera tal, que entonces me pongo peor porque me
      molesta esas diferencias porque yo no soy más importante ni menos importante que nadie.</p>
    <p>Entonces, a unos les das golpes, a otros los tratan con respeto, a otros les dan una muela, a otros no les dan
      ninguna muela y van directo a la confrontación física y eso es duro. Cuando tú entiendes eso, porque, además,
      contra eso no puedes hacer nada. Es decir, tú le puedes decir a ellos: “Trátame igual que a fulano”, pero de todas
      maneras no te van a tratar igual. Luchar contra eso sí es difícil porque qué vas a hacer. Es decir, qué vas a
      hacer frente a eso. Lo único que puedes hacer es decirlo.</p>
  </article>

  <article>
    <h4>Nos habíamos quedado por el resumen de estos días de atrincheramiento.</h4>
    <p>Esos días fueron…No sé. Fíjate que yo he estado tratando de escribir un texto sobre esos días como lo hizo Carlos
      Manuel, que hizo una crónica más general y no he podido. Mientras yo estuve allá adentro, yo saqué textos pequeños
      sobre cosas puntuales, pero sé que una cosa así más general, sé que me va a costar tiempo porque fueron muchas
      cosas en muy pocos días.</p>
    <p>Además, era una mezcla de tristeza porque yo sabía que Luis y Maykel se podían morir, que eran los que se
      mantenían con la huelga de hambre y sed, ya iban para siete días y todo el mundo afuera me estaba diciendo a mí,
      que era la que coordinaba, me estaban diciendo: “A partir de siete días se pueden morir en cualquier momento”. Y
      yo decía: “Pero cómo se van a morir si yo los veo, están débiles, pero están, es decir, no vomitan, no los veo
      graves, graves, así, visiblemente. Y me decían: “Es que puede pasar así, vivo, muerto, vivo, muerto”. Así.</p>
    <p>Era esa preocupación constante, esa cosa que te genera como un nerviosismo diferente porque sabes que es extremo,
      pero a la vez era un clima tan de camaradería, de vamos a ayudarnos, vamos a cuidarnos los unos a los otros, te
      toca hacer esto y a ti aquello. Entonces, esa organización que se iba regenerando, e iba cambiando, los roles iban
      cambiando, pero todo rápido, porque además, no había tiempo, todo rápido y hasta cierto punto armónico. Nos
      fajábamos, las discusiones eran…Pero rápido, a las dos horas de la discusión, ya todo el mundo se llevaba bien de
      nuevo porque, además, qué ibas a hacer, no podías salir de ahí.</p>
    <p>“No te hablo más, me voy para mi casa”. No existía me voy para mi casa. Todo lo que ocurría tenía que ocurrir en
      ese espacio pequeño, para 14 o 15 personas, ese espacio se quedaba muy chiquito, y tenías no solo que estar, sino
      que funcionar. Los que estaban en huelga estaban como exonerados, digamos, de funcionar en muchas partes del día,
      podían estar, simplemente, sin hacer nada. Pero entonces, los que no estábamos en huelga, teníamos que hacer las
      cosas por nosotros y por ellos. Todo.</p>
    <p>No solo las cosas de ahí de la casa sino mandar la información para afuera, visibilizar las cosas, escribir,
      ponerte de acuerdo con… Ver cómo iba a entrar la comida para los que comíamos, fajarte con el de la esquina que no
      dejaba pasar. Es decir, tenías que generar toda una dinámica ahí de funcionamiento en tiempo récord por ti y por
      los demás. Fue muy difícil, pero a la vez fue sumamente placentero.</p>
    <p>Porque, además, había una diversidad tal en ese lugar. Cada vez que yo miraba a cada uno, yo decía: “Es como si
      lo hubiésemos preparado”. Y realmente no lo preparamos. Es decir, ahí nadie hizo un <em>casting</em> primero de
      cuáles son las personas con las que vamos a convivir diez días o los días que sean, porque, además, ni siquiera
      sabíamos que nos íbamos a quedar ahí en un principio, ni que nada de eso iba a ocurrir, ni que íbamos a entra en
      huelga los que entramos. Y la diversidad era tan grande que tú decías: “Parece mandado a hacer”. Porque hasta un
      musulmán. ¿Cuántos musulmanes hay en Cuba ahora mismo? Y ahí adentro había uno. No era posible esa diversidad.
      Entonces, eso siempre te genera como una alegría, de que estás viviendo una cosa que nunca más vas a vivir
      posiblemente, y que lo estás haciendo por una causa justa.</p>
    <p>Lo estás haciendo por una persona que está injustamente presa. Pero, además, lo estás haciendo por toda la
      fractura social que tú has vivido durante toda tu vida, y por las cosas que quieres regenerar, y por las cosas que
      quieres que funcionen bien para la gente, y por esos vecinos que se te paran en la puerta, que te quieren ayudar,
      y que no se atreven a decirle a la Seguridad de la esquina: “Eres un hijo de puta”, pero se atreven a pararse en
      tu ventana a decir: “¿En qué te puedo ayudar?”.</p>
    <p>Por esa gente tú lo estás haciendo y por todo el mundo. Incluso, los que todavía no entienden. Y eso da una
      satisfacción. Saber que tú estás haciendo algo por tu propia vida y por la vida de otros, eso genera siempre
      satisfacción. Es decir, que no estás de brazos cruzados, que estás actuando, y que eso está en consonancia con lo
      que tú crees, que no estás simulando. Mucha gente que ahí era muy joven, por primera vez sentía que no estaban
      simulando y eso genera satisfacción.</p>
  </article>

  <article>
    <h4>¿Crees que el Estado manejó bien esta situación?</h4>
    <p>No, un desastre. El Estado está sin cabeza. Es como… Todo lo han hecho mal. Si yo fuera Estado… Yo se lo digo
      muchas veces a los de la Seguridad cuando me detienen: ¿Cómo pueden hacer las cosas tan mal? Yo creo que lo hacen
      tan mal que por eso están en el poder. Porque yo creo que si lo hicieran un poquito mejor, uno supiera del lado de
      acá, como irles en contra, pero es que lo hacen todo tan mal, y tan disfuncional, y hoy hacen una cosa y mañana
      hacen otra, que uno se descoloca todo el tiempo porque…Yo a veces digo: “Es que quieren que se caiga”. Tienen que
      querer porque es que lo hacen todo demasiado mal. Un desastre.</p>
    <p>Nos sitiaron por gusto porque podíamos haber salido y haber hecho la peregrinación por Denis. Después nos
      quitaron la comida y fue peor porque entonces entramos en huelga de hambre. La cosa esa de envenenar el agua,
      mandaron al vecino ese a que le diera golpes a Luis, lo sacara de ahí. Es decir, cada cosa que hacían era peor que
      la anterior, mostrando su naturaleza mafiosa total, pero también su no saber gestionar una crisis. Porque, claro,
      no la pueden saber gestionar. Primero, no la han tenido de esta manera en mucho tiempo; segundo, ellos nos
      desprecian profundamente.</p>
    <p>Yo creo que la no gestión de esa crisis viene, sobre todo, porque ellos desprecian todo lo que no sea ellos
      mismos. Han perdido, realmente, la capacidad de mirar al otro, reconocer al otro, entender la inteligencia que
      tiene el otro, reconocerle su valía. Entonces, ya, como ellos pasan de todo eso, pasan soberanamente de todo eso,
      ellos de verdad se piensan que son los únicos que pueden hacer y que tienen derecho a hacer.</p>
    <p>Los que están arriba le enseñan eso a los que están abajo, y los que están abajo no tienen cara. No solo no
      tienen rostros porque no dicen su nombre real, porque tú no sabes quiénes son realmente. No. Es que tú los miras y
      esas personas no tienen ojos, es decir, tienen ojos vacíos, caras vacías. Tú les hablas de cosas y ellos te
      corresponden con consignas y tú les dices: “Sí, ya está bien, pero no me respondas con una consigna, no me
      respondas con una llamada a tu superior para que te diga lo que me tienes que responder, dime tu opinión como
      persona”. No tienen opinión como persona porque no son personas en ese momento. No son personas. Son como una
      máquina ahí que pusieron, y que ellos van a hacer exactamente lo que le diga alguien. No importa quién.</p>
  </article>

  <article>
    <h4>¿Pudieras decir aquí lo que hubieses dicho en el Sistema Informativo si te hubiesen dado derecho a replicar?
    </h4>
    <p>Yo creo que lo he dicho muchas veces. Es decir, en cada cosa que he hecho yo misma, porque lo que más hago ahora
      son directas, porque es la manera más efectiva de llegar rápido a la gente por ti misma y lo he dicho muchas
      veces: “Tenemos que convencernos de que nosotros tenemos la posibilidad de tener un país mejor”. Es decir, la cosa
      esa de la esperanza, pero la esperanza no puede estar en buscar la manera que sea para salir de aquí y, entonces,
      comenzar a vivir.</p>
    <p>Yo tengo amigos cercanos que están esperando a vivir cuando se vayan, que no hacen nada en Cuba, no hacen nada.
      Están en su casa, su mamá les da la comida, generalmente es porque les mandan dinero de afuera, y bueno, la mamá
      puede con ese dinero que le manda alguien, darle la comida. No trabajan porque el salario que les pagan es una
      mierda, por lo tanto, no quieren trabajar.</p>
    <p>Pero, además, están totalmente desmotivados porque&#8230; lo que sea. Es decir, la gestión de las instituciones,
      ellos piensan que es mediocre, y, por lo tanto, ahí con esa gente yo no voy a trabajar, para qué. Entonces, no
      hacen absolutamente nada. Viven de su mamá o del dinero que mandan y que gestiona su mamá o su papá y cuando tú
      les dices:</p>
    <p>― Bueno, ¿y tu vida?</p>
    <p>― No, yo me voy a ir en tal punto para tal lugar y ahí, entonces, yo voy a hacer una vida. Y ahí si yo friego
      platos, y ahí si yo…no sé qué.</p>
    <p>― ¿Y por qué no lo haces aquí, por qué no tratas de mejorar las cosas aquí?</p>
    <p>― No, pero mija, no seas ingenua. Eso es acabarme la vida.</p>
    <p>― ¿Y estar ahí sin hacer nada no es acabarte la vida? ¿Y postergar lo que tú puedes hacer no es acabarte la vida?
    </p>
    <p>―No, no, no…</p>
    <p>Entonces, si nosotros nos conectáramos con construir una vida digna para uno aquí, para los demás, y poner
      nuestra esperanza en eso, pero la esperanza de verdad. No es ilusiones. No, no. Es: “Yo creo que tú no tienes
      razón porque tú no entiendes lo que está viviendo la gente. Tú no tienes la capacidad de gestionar la vida de la
      gente ya. Ni de proporcionarle a la gente las vías correctas para vivir. Por lo tanto, yo creo que tú estás de más
      ahí, tú eres el que está de más aquí y por lo tanto tú te vas. Porque, además, tú no eres nadie”.</p>
    <p>Díaz Canel, tú no eres nadie, los ministros… ¿Qué son esos ministros? Los ministros no saben nada. La mayoría son
      militares que los han puesto ahí para cumplir con un poder que está más arriba y no sirven, quítalos. Alpidio
      Alonso, ¿qué obra tiene esa persona? Esa persona no tiene obra y, por lo tanto, no tiene capacidad de gestión
      tampoco, es decir, no tiene que estar ahí. El rector del ISA, ¿quién es el rector del ISA? El rector del ISA es un
      funcionario que estudió no sé qué cosa y que ha sido cuadro toda su vida, por lo tanto, no puede estar ahí. Ahí
      tienen que estar las personas que saben hacerlo, que pueden hacerlo y que quieren hacerlo.</p>
    <p>Tenemos que creer que nosotros podemos construir un país mejor. Desde nuestras capacidades para que ya no nos
      tengamos que ir para vivir. Podemos vivir aquí y podemos hacerlo bien, pero tenemos que creérnoslo y tenemos que
      tener la valentía suficiente y, sobre todo, la fe suficiente para hacerlo.</p>
    <p>Y para que nuestra vida cotidiana comience a parecerse un poquito más a lo que sale en el televisor, a lo que
      tienes que decir cuando te preguntan qué pasa con tu vida cotidiana y no tengas que mentir, y no tengas que decir
      enfrente de una cámara: “Nosotros los cubamos hemos tenido siempre una fuerza muy grande, una resistencia muy
      grande, vamos a luchar siempre…” No tengas que decir eso. Puedas hablar de lo que realmente pasa en tu vida
      cotidiana.</p>
    <p>Cuando ya tu vida cotidiana, y lo que tú haces normalmente, tú lo puedes decir en cualquier lugar, y puedas
      tratar de mejorar eso con instituciones de verdad, a las que tú acudas y te quejes de verdad y haya una respuesta
      de verdad y haya una persona con un rostro de verdad que te responde, y tú: “Bueno, no me respondiste, voy más
      para arriba”. Cuando eso empiece a pasar y todo empiece a normalizarse, democráticamente hablando, entonces ya,
      las cosas realmente están cambiando para bien. Pero mientras eso no ocurra…Todo se va a trabar.</p>
    <p>Y la gente va a seguir prefiriendo arriesgar sus vidas de verdad. Metiéndose en una balsa en el mar, o cruzando
      una frontera, enfrentándose a los coyotes y a no sé cuántas cosas, que son riesgos más duros que enfrentarse a la
      Seguridad del Estado, y empezar a construir un país aquí. Cuando la gente entienda que es el mismo riesgo, o tal
      vez, hasta menor, hacerlo desde acá dentro, entonces vamos a tener un país diferente.</p>
    <p>Pero mientras eso no pase, la gente se va a seguir arriesgando más en todas esas aventuras enloquecidas por ahí
      para llegar a un país donde, entonces, tú puedas participar. No. Todos podemos participar, estamos obligados a
      participar, eso es una obligación cívica, y eso es una responsabilidad que hay que asumir.</p>
    <p>Yo creo, realmente, que las personas que ven el noticiero y se creen lo que está diciendo el noticiero es por
      comodidad. Ahí hay una parte de comodidad, porque mentira, por muy bruto que tú seas, que yo no creo en
      brutalidades, yo creo que las personas tienen gustos y tienen maneras distintas de procesar la información, pero
      por muy bruto que tú seas, o por muy poco informado que tú estés, no es posible que tú mires lo que te diga el
      noticiero y mires para el lado, y no te des cuenta de que algo no funciona ahí.</p>
    <p>Yo creo que ahí lo que está sucediendo es comodidad de las personas que por no meterse en problemas, se callan
      las verdades. Y saben. Todo el mundo aquí sabe que lo que se dice en la televisión no es verdad. Eso, cualquiera,
      cualquiera…Hasta un niño chiquito, mi hijo, cuando era pequeño, no se lo creía. Entonces, si no se lo cree un
      niño, como te lo vas a creer tú que eres adulto. Es mucha la comodidad que hay. Mucha la comodidad y la no fe. Es
      decir, no creerse que realmente se puedan cambiar las cosas.</p>
    <p>Y eso es lo primero que hay que convencer. Hay que convencer a la gente de que sí es posible, de que sí podemos
      tener un país mejor, de que sí tenemos la posibilidad para cambiar, de que esas personas que están en el poder, ni
      saben nada, ni les importan y que no tienen tal poder. Es decir, el poder ese que ellos tienen se sustenta en
      muchas cosas, pero también se sustentan en nuestra comodidad. En esa falsa comodidad que al final te hace perder
      tu vida en sobrevivir. Estás sobreviviendo todos los días. Porque salir a una cola es sobrevivir. Salir a una cola
      es amargarte la vida todos los días de tu vida y para eso no es necesario irle en contra a la policía. Eso es,
      simplemente, vivir en Cuba. Vivir en Cuba te garantiza automáticamente la infelicidad.</p>
    <p>Hay gente que puede luchar contra eso, claro, todos lo hacemos, todos nos inventamos, y vemos El Paquete, y
      vivimos en la isla de no sé qué…un programa que hay, <em>La isla de las tentaciones</em>, qué sé yo. Tú vives en
      <em>La isla de las tentaciones</em> y al otro día tienes que salir a una cola. Entonces, si seguimos así vamos a
      malvivir para siempre. Estamos condenados a malvivir para siempre porque no nos creemos que tenemos el poder para
      cambiar este país. Y de tener un bar en la esquina donde yo pueda ir, y de tener un salario que me permita comprar
      en los supermercados, pero que también me permita comprar en un negocio orgánico…
    </p>
    <p>Podemos tener un país diverso para los gustos de todo el mundo, pero tenemos que creerlo y tenemos que hacerlo.
      Más nada que eso.</p>
  </article>

  <article>
    <h4>Háblame del 27 de noviembre….</h4>
    <p>Bueno, el 27 de noviembre para mí fue un día terrible porque yo estaba detenida. Yo salí el 27 de noviembre justo
      en la madrugada cuando me dejan en la casa. Como a la hora, yo volví a salir, y por supuesto, tenía vigilancia y
      sabía que iba a ir detenida. Me tuvieron doce horas dando vueltas. Primero, dando vueltas por la cuidad en la
      patrulla porque no sabían dónde ponerme. No me podían llevar para una estación porque, supuestamente, a mí me
      habían sacado de San Isidro porque Carlos había violado los protocolos sanitarios. Entonces, era por una situación
      sanitaria, epidemiológica, higiénica, no me podían llevar detenida.</p>
    <p>Me empezaron a dar vueltas por la cuidad y finalmente me dejaron dentro del carro de patrulla, me lo cambiaban
      cada cierto tiempo, en un parque que está a la salida del túnel de 5ta. Que, además, me he enterado después que
      allí llevan a otras personas. Parece que ese parque lo usa la Seguridad del Estado para eso, frente a la casa de
      las tejas verdes estas, y ahí me tuvieron hasta, más o menos, cinco y pico, seis de la tarde del 27.</p>
    <p>Que entonces ya, sin saber qué hacer, yo no estaba comiendo porque ese era mi segundo día de huelga de hambre.
      Recuerden que yo entré a la huelga al final ya de estar en San Isidro, y ellos querían que yo comiera unos panes
      de esos que les dan a ellos con jamón. Porque esa es la otra historia, ellos se pasan todo ese tiempo y a ellos le
      dan unas meriendas, hasta las meriendas son estándar, entonces les dan ese pan con jamón viejo y unos juguitos que
      son unas cajitas, que además, eso lo comprobé después con Carlos Manuel que le pasó lo mismo, los jugos dicen una
      cosa y son de otra. Es decir, que ni siquiera la caja del jugo que se toma la gente de la Seguridad del Estado
      coincide con la verdad. Ellos dicen que es una cosa y es otra. Son de limón y son realmente de mango y así.</p>
    <p>Ellos querían que yo me comiera eso y yo les dije que yo estaba de huelga, y me dijeron: “No, pero la huelga de
      hambre puedes tomar jugo”. Y yo dije: “Sí, pero no quiero tu jugo, no quiero nada, dame nada más agua”. Entonces,
      a eso de las seis, como ya no sabían que iban a hacer me dijeron: “Te vamos a llevar para tu casa”. Y yo les dije:
      “Mira, para mi casa no me lleves porque yo no tengo llave, mi llave está en San Isidro. Me llevas para San Isidro
      a buscar mi llave, con mi carnet y mis cosas que están en San Isidro y que no me permitiste llevarme, o me llevas
      para el ministerio porque yo sabía lo que estaba pasando en el ministerio porque ellos para tratar de conseguir mi
      segunda llave, ellos me permitieron llamar a un amigo que es el que tenía esa segunda llave. Cuando yo hablé con
      mi amigo, le dije: “¿Dónde tú estás?” y él me dijo: “En el ministerio porque hay aquí una protesta”. Supuestamente
      yo tenía que decirle: “Bueno, ven para mi casa para que me traigas la llave porque me van a llevar”. Y lo que le
      dije fue todo lo contrario: “Quédate donde estás y no me traigas la llave”.</p>
    <p>Cuando ellos oyeron: “No me traigas la llave”, enseguida me quitaron el teléfono y me dijeron: “Pero eso no era
      lo que ibas a decir”. Por favor, yo digo lo que yo quiera. Entonces, no me podían llevar para mi casa porque no
      había llave, por supuesto, para San Isidro yo sabía que no me iban a llevar, sabía que no me iban a llevar para el
      ministerio y cuando dije: “Llévame para el ministerio” … “¿Cómo tú sabes lo del ministerio?”</p>
    <p>Como no tenían para dónde, yo les dije: “Llévenme para casa de Omara”. Que ellos no querían al principio, pero
      entre tantas no opciones, decidieron traerme para acá. Yo llego aquí. Cuando yo llego aquí, primero decido comer
      porque me entero de que Luis no se sabía dónde estaba, me entero de que Maikel seguía en huelga en su casa y dije:
      “Evidentemente, los nueve días de huelgas de ellos, yo no puedo competir con eso, yo solo llevaba dos y un poco, y
      sabía que iba a necesitar fuerzas para empezar todo aquello”. Entonces como, pero no tenía manera de conectarme a
      internet.</p>
    <p>Omara no tenía internet en ese momento, yo tampoco. Yo sabía que había algo pasando en el ministerio, pero no
      sabía qué. Estaba loca por poder tener internet, por saber, por hacer una directa para que la gente supiera
      exactamente por dónde se tenía que ir. Porque ya yo intuía, porque por la historia que conozco de este país, que
      ahí eso podía salir algo muy bueno o podía ser un fiasco total, porque sabía lo que iba a hacer la gente del
      ministerio, sabía que iban a tratar de estabilizar la situación, de calmarlos, de hacerles promesas, para después
      hacer todo lo contrario.</p>
    <p>Entonces, yo quería, de alguna manera, incidir en eso y no podía. Hasta el otro día por la mañana, a media
      mañana, fue que nosotros logramos conseguir internet. Ahí es donde yo me pronuncio, se pronuncia Omara, pero ya la
      reunión había pasado, ya los acuerdos habían sido conseguidos. Entonces, para mí el 27 fue horrible porque era una
      ansiedad, no saber, querer hacer y no poder, querer acompañar a esa gente que estaba ahí y ni siquiera saber
      cuántos eran, cómo estaban y fue realmente terrible.</p>
  </article>

  <article>
    <h4>¿Tú crees en el diálogo como camino, como solución?</h4>
    <p>Yo siempre creo en el diálogo y creo que Cuba necesita un diálogo, pero el diálogo que necesita Cuba es al
      interior de Cuba misma. Y para mí, cuando yo digo Cuba no es ni los funcionarios de los ministerios esos que están
      puestos ahí…No porque ellos no cuenten sino que ellos no cuentan como personas. Es lo mismo que te decía ahorita.
      Como mismo no cuenta como persona la Seguridad del Estado, ellos tampoco porque ellos no evalúan la vida y no se
      enfrentan a las cosas como personas.</p>
    <p>Si tú mismo estás respondiendo a consignas, a un poder y a lo que te dicen, entonces yo no puedo dialogar contigo
      porque estoy dialogando con el poder directamente a través de ti. Y con ese poder yo no tengo nada que dialogar
      porque ese mismo poder que me estaba manteniendo con vigilancia, que me está dejando sin derechos, y que te está
      poniendo a ti no como persona sino como un ente ahí, que me está bloqueando el acceso a lo que yo puedo conseguir.
      Si tú no te comportas como persona, yo no te puedo tratar como persona porque no lo eres. En ese momento no estás
      asumiéndote como persona.</p>
    <p>Yo, cuando digo Cuba, me refiero a todas las personas, instituciones, organismos, proyectos que están tratando de
      existir y que muchas veces chocan entre ellos. Ese diálogo si es necesario. Es necesario que yo me entienda con el
      proyecto que está allá y que está tratando de luchar porque los animales no sé qué…Con ellos me tengo que
      entender. Me tengo que entender con las Damas de Blanco, me tengo que entender con los intelectuales, de los
      cuales ya no me siento tan parte, pero que también tienen sus demandas legítimas, me tengo que entender con ellos,
      me tengo que entender al interior de Cuba.</p>
    <p>Ese tejido social tiene que ser regenerado por nosotros mismos. Y para eso, por supuesto, es indispensable el
      diálogo. Ahora, el diálogo con una institucionalidad, con una legalidad, con unos aparatos represivos que lo único
      que les interesa es mantener el poder ese que me está violando los derechos, por supuesto que no puedo tener
      diálogo. Porque esas personas no dialogan. Esas personas no. Esas cosas no dialogan. Esas cosas están allí para
      imponerse y se están imponiendo minuto a minuto.</p>
    <p>Por lo tanto, qué vas a dialogar si ellos mismos hace rato que rompieron esa posibilidad de diálogo.</p>
  </article>

  <article>
    <h4>Entonces, con ellos, ¿cuál es el camino?</h4>
    <p>Quitarlos.</p>
  </article>

  <article>
    <h4>¿Cómo?</h4>
    <p>Dialogando entre nosotros. Y parándonos todos frente a ellos. No hay ni que hablar. Es bajanda. Tú no tienes la
      legitimidad para estar ahí, realmente no la tienes. ¿Por qué yo voy a dialogar contigo si tú no tienes que estar
      ahí? Tú estás para servirme a mí y me estás reprimiendo.</p>
    <p>¿Cómo yo te voy a convencer a ti, por las buenas, de que tú tienes que irte? Tú no te vas a convencer, porque si
      tú tuvieras esa capacidad, ya tú te hubieses ido, por ti mismo, solito. Por vergüenza. Tú mismo hubieses dicho:
      “Ay, a ver, yo no le puedo poner a esta niña una patrulla en la puerta porque yo no tengo ese derecho. Entonces,
      si se la pongo, es porque yo sé que eso está mal”. O bueno, ellos no lo saben, me da igual. Pero está mal. Y tiene
      que haber algo fuera que te diga a ti: “Esto está mal”. Si no existe ese algo fuera, esa cosa imparcial, entonces
      es que está mal por ahí para arriba. Porque no tienes manera de protegerte frente a los abusos de poder. Es un
      sistema entero basado en abusos de poder a la gente, y la gente: “Dialoga, dialoga conmigo para yo convencerte de
      que estás abusándome”. ¿Cómo tú le dices al violador: “Eres un violador”? El violador lo sabe o no, yo no sé, pero
      lo que sí está claro es que él no tiene el derecho a ser el violador. Y que hay que quitar al violador, hay que
      meter preso al violador porque el violador solo no te va a decir: “Convénceme, que te voy a hacer caso”. Entonces,
      a esa gente hay que quitarlos. Hay que quitarlas, quitarlas. Ya. Punto. No tienen que estar ahí. No tienen esa
      legitimidad.</p>
  </article>
</app-interview-template>