.logo-container {
  overflow: hidden;

  img {
    height: var(--top-navbar);
    max-width: 14.5rem;
    width: auto;
    animation: appearRight 1s ease-in-out forwards;
  }
}

@keyframes appearRight {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translateX(0);
  }
}
