<app-interview-template videoId="u4Gf__qp31w" audioId="1032576883">
  <article>
    <p>
      <span class="first-letter">P</span>
      <em>eriodismo de Barrio</em> entrevista Camila Acosta, periodista cubana.
      Esta entrevista forma parte de
      <em>
        <a class="link-higthlight" href="https://www.periodismodebarrio.org/2020/12/la-revolucion-de-los-aplausos/">La
          Revolución de los aplausos</a> </em>, una serie de conversaciones con actores de la sociedad civil, a raíz del
      diálogo que tuvo lugar el 27 de noviembre de 2020 en el Ministerio de Cultura.
    </p>
  </article>

  <article>
    <h4>¿Puedes hacer un recuento de tu vida periodística y como activista? </h4>
    <p>Me gradué de la carrera de Periodismo de la Facultad de Comunicación en el año 2016. Después comencé el servicio
      social en el Canal Habana, donde estuve aproximadamente un año y medio. Pedí la baja laboral por frustraciones
      profesionales relacionadas con la libertad de expresión. Luego estuve trabajando en una investigación sobre la
      masonería cubana hasta que, en agosto de 2019, comencé a trabajar en <em>Cubanet</em>. Antes de eso, había
      colaborado con <em>Periodismo de Barrio </em>y con <em>elTOQUE </em>esporádicamente. Pero en agosto de 2019
      comencé oficialmente como periodista independiente de <em>Cubanet</em>.</p>
  </article>

  <article>
    <h4>¿Cuándo te radicalizaste? ¿Cómo fue ese proceso?</h4>
    <p>Ha sido la represión de la Seguridad del Estado la que me ha obligado a radicalizar mi pensamiento y mi postura
      contra el gobierno. Mi rebeldía es proporcional a la represión. Después de reprimirme, regular mi salida del país
      (incluso, regularme dentro de territorio nacional), desalojarme de la renta – en varias ocasiones me he visto en
      la calle–, el gobierno no puede pretender que yo simplemente baje la cabeza.</p>
    <p>Comencé siendo una simple periodista, pero a los dos meses de estar trabajando en <em>Cubanet</em> comenzaron los
      interrogatorios de la Seguridad del Estado. Yo ni siquiera mencionaba en ese entonces las palabras “régimen”,
      “dictadura”. Trataba de no pasar la “línea”, algo propio del adoctrinamiento que tenemos todos los cubanos desde
      que nacemos… Pero ellos me obligaron a hacerlo, a tomar una postura más radical, poco a poco, a medida que fue
      aumentando la represión.</p>
  </article>

  <article>
    <h4>¿El activismo cuándo empieza? </h4>
    <p>Comienzo con la Campaña 370. Yo fui una de las multadas por el Decreto-Ley 370. Me multaron el 27 de marzo de
      2020. Antes de eso, ya me habían regulado y desalojado de una renta, citado en varias ocasiones para la estación
      policial, arrestado en la vía pública, y habían amenazado a mi familia. Entonces me aplican el Decreto-Ley 370. Un
      día me llega una multa acompañada de dos acusaciones: una por evasión de preso o detenido –supuestamente por
      haberme escapado de una estación policial–, y un acta de advertencia por violación de domicilio. Por supuesto, sin
      ninguna prueba, sin ningún testigo. Todo orientado por la Seguridad del Estado.</p>
    <p>La multa coincidió con un aumento de las imposiciones en el mes de abril de 2020. Y es cuando los multados y un
      grupo de amigos solidarizados con lo que estaba sucediendo, decidimos iniciar esta campaña contra el Decreto-Ley
      370, que lo catalogamos como la “Ley Azote”.</p>
  </article>

  <article>
    <h4>¿Fuiste censurada alguna vez mientras trabajabas con los medios estatales?</h4>
    <p>Sí. Yo trabajaba en Canal Habana, específicamente en el programa <em>Habana Noticiario</em>, que sale de lunes a
      viernes a las 5:30 p.m. Todas las coberturas periodísticas eran dirigidas. Muy pocas veces podíamos proponer
      temas, y cuando lo hacíamos, tenían que ser <em>light</em>, sin mucha problemática social. Casi siempre trabajamos
      con militantes del Partido Provincial de La Habana que, incluso, ponían el transporte para llevarnos a las
      coberturas.</p>
    <p>Por esa fecha empecé a trabajar en un documental relacionado con mi tesis de graduación de Periodismo. Primero
      tuve que pedir autorización al Partido Comunista de Cuba, concretamente en la Oficina de Atención a Asuntos
      Religiosos del Comité Central del Partido, porque para trabajar en los medios cubanos temas relacionados con
      órdenes fraternales o instituciones religiosas hay que pedir un permiso de esta oficina. Y después no quisieron
      presentarlo en Canal Habana.</p>
    <p>Y, bueno, la censura… Ya con decirte que es el Partido Comunista quien orienta toda la política editorial de
      <em>Habana Noticiario</em>…, ya eso dice mucho.</p>
  </article>

  <article>
    <h4>Háblame de la función social del periodismo y del periodismo que haces en Cuba.</h4>
    <p>Yo creo que una cosa es lo que te enseñan en la universidad y otra cosa cuando tú llegas a la praxis. Para mí el
      periodismo siempre tuvo una función pública: ser una especie de fiscalizador del poder. En los medios estatales
      nunca pude hacer nada de eso. Yo me sentía como una simple vocera gubernamental. Sin embargo, he encontraron en
      los medios independientes cubanos esa función pública, esa función de fiscalizador del poder.</p>
    <p>Yo digo que soy simplemente una intermediaria entre, digamos, la noticia y la opinión pública; cumplo el servicio
      de dar voz a esas personas que no tienen forma de hacer públicas sus denuncias, esas personas que sufren más
      represión, precisamente, por no tener visibilidad. Las personas –los opositores, los disidentes– que no tienen
      visibilidad son las más atacadas por la Seguridad del Estado; son ellos los que más trabajos pasan actualmente en
      estas condiciones de represión en Cuba.</p>
  </article>

  <article>
    <h4>¿Crees que el poder debería legalizar o permitir que las voces disidentes se escuchen y tengan espacio?</h4>
    <p>Sí, sí lo creo. Un Estado de derecho debería permitir que las diferentes opiniones tengan su voz. Esa unanimidad,
      uniformidad, no existe. Eso es una falacia. Eso de que las calles son de los revolucionarios, o las universidades
      de los revolucionarios, eso es un discurso que genera odio y discriminación.</p>
    <p>Cuba no es solamente un país de militantes del Partido Comunista o de personas que profesan esa ideología. Cuba
      es diversa. Es un poco el discurso que promovieron esos activistas cuando el 11M, el 11 de mayo 2019, fueron
      reprimidos; personas que solamente decían: “Cuba diversa”, y fueron reprimidos. Es también el discurso de la
      oposición.</p>
    <p>A mí, a muchos periodistas independientes o disidentes, simplemente por pensar diferente… No por decir que son de
      derecha. Simplemente por decir: “No soy comunista o no creo Partido Comunista”, pues ya son reprimidos. Pero para
      que eso suceda, para que un Estado de derecho en Cuba permita eso, primero tiene que ser un Estado de derecho.</p>
    <p>En la Constitución cubana dice que Cuba es un Estado socialista de derecho. No sé si eso existe. Pero bueno, lo
      dice. Una de las tantas contradicciones de la Constitución cubana, pero sí, por supuesto que se debe de permitir
      la diversidad de cubanos dentro y fuera Cuba.</p>
  </article>

  <article>
    <h4>Se habla mucho de que la oposición no tiene un proyecto político concreto para Cuba. Quiero preguntarte sobre
      eso: ¿Cuál es el proyecto político de la oposición, suponiendo que lo que ahora es oposición llegara a ser
      Gobierno? ¿Cuál sería la propuesta?</h4>
    <p>Es un tema complejo. Hay grupos opositores que tienen proyectos políticos, pero un proyecto político que…, quizás
      fuera del país, por ejemplo, pienso en Somos+, que lidera Eliécer Ávila. Pero dentro de Cuba la oposición está muy
      debilitada. Y eso forma parte también de la represión que han padecido durante tantos años. Una represión,
      incluso, que ha logrado penetrar a la oposición y causar divisiones internas. Divide y vencerás.</p>
    <p>Por ejemplo, Estado de SATS logró aunar a la oposición interna. Ahora está el Movimiento San Isidro, también en
      esa política de aunar a la oposición. Porque mientras existan diferentes grupos políticos, sí, quizás por su parte
      muchos van a lograr presionar, pero para considerarse o establecer una presión real sobre el gobierno, deben
      unirse.</p>
    <p>Y eso fue lo que vimos con el 27N. Es decir, no hay una disposición por parte del gobierno de cambiar. Como único
      ellos van a llegar al diálogo, como único se va a provocar ese cambio, es presionando de este lado, del lado de
      que no está de acuerdo con lo que está sucediendo en Cuba; si se presiona masivamente.</p>
  </article>

  <article>
    <h4>¿Tú perteneces a algunos de esos grupos?</h4>
    <p>El 27N me considera parte del grupo. Con la campaña contra el Decreto-Ley 370 nos aunamos en un movimiento que
      denominamos Movimiento Cubano por la Libertad de Expresión (MOLE). Pero fue, fundamentalmente, por la campaña
      contra el Decreto 370.</p>
  </article>

  <article>
    <h4>No me respondiste cuál es el proyecto de Cuba que propone la oposición.</h4>
    <p>No sé. Yo soy periodista. Te puedo hablar sobre los últimos días. A mí, si el día antes del 27N me hubiesen
      preguntado si yo estaría dispuesta a dialogar, hubiese dicho que no. Pero después del 27N me puse a razonar… De
      hecho, hay muchos grupos opositores que no confían en el diálogo, que atacaron muchísimo lo que estaba sucediendo.
      Muchos dicen: “Que la gente salga a la calle masivamente”. Pero ese tipo de cosas siempre conduce a la violencia,
      a la agresión. Y lo otro es cómo provocar que esas personas salgan a la calle si en Cuba existen muchísimos
      miedos.</p>
    <p>Respecto al diálogo, yo que he radicalizado un poco mi pensamiento obligatoriamente, tuve que, después de lo que
      sucedió ese día, decir: “Bien, quizás el diálogo con el poder sea el camino”. Pero repito: para llegar al diálogo
      tiene que haber presión.</p>
    <p>Si el Ministerio de Cultura recibió a los jóvenes ese día, fue porque había 300 o 500 personas reunidas,
      presionando para que hubiera un diálogo. Después vimos lo que sucedió: traicionaron todos los pactos que se
      hicieron ese día.</p>
    <p>Pero el proyecto político de la oposición, si te digo la verdad, yo no veo realmente uno claro, o uno que me
      diga: “Este es el camino”. Quizás, entre todos pueden construirlo, pero ahora mismo…</p>
  </article>

  <article>
    <h4>¿Cuál es la Cuba que tú quieres?</h4>
    <p>La Cuba que yo quiero, la Cuba que yo ansío, es una Cuba diversa, una Cuba en la que hasta los militantes del
      Partido Comunista tengan su voz, una Cuba con libertad de expresión. Con libertad, creo que esa es la palabra
      clave.</p>
  </article>

  <article>
    <h4>Háblame de las condiciones que llevaron al 27N. No es solo San Isidro…</h4>
    <p>Antes del 27 de noviembre, el Movimiento San Isidro nos mantuvo en vilo a todos, por lo menos a mí, que estaba
      cubriendo el tema desde la prensa. Yo no me percaté, realmente, de la magnitud que estaba alcanzando hasta que
      sucedió lo del 27N. Vimos que el día antes hubo un allanamiento en la sede del MSI, violencia policial. Y el
      viernes 27 de noviembre, un grupo de alrededor de 15 a 20 artistas se dieron cita frente al Ministerio de Cultura.
    </p>
    <p>Primero, para repudiar lo que había sucedido, porque consideraban que la violación de los derechos de un artista
      podía significar la violación de los derechos de todos. Estaban ahí para repudiar lo que había sucedido con el
      Movimiento San Isidro, pero también para exigir libertad. Muchas personas no estaban de acuerdo con la estrategia,
      la metodología usada por el Movimiento San Isidro, pero estaban ahí para defender su derecho a expresarse
      libremente, su derecho a existir. Y bueno, eso fue a las 11:00 a.m., ya a las de 2:00 p.m. había más de 50
      personas. Estaban exigiendo reunirse con el ministro de Cultura para expresar ese repudio y exigir esas
      libertades.</p>
    <p>A las 9:00 p.m., el viceministro de Cultura Fernando Rojas –supuestamente el ministro de Cultura no estaba en La
      Habana– recibió a unas 32 personas. Había artistas, intelectuales y también periodistas. Para entonces, frente al
      Ministerio había más de 300, 400 personas.</p>
    <p>Eso sí fue espontáneo. Me refiero a que no fue convocado. Si hubiese sido convocado no hubiese sucedido. Es
      decir, fueron artistas, un grupo de 15, 20 personas, pasando la información: “Estamos acá”. Fueron sumándose
      medios independientes, en mi caso, representando a <em>Cubanet</em>.</p>
    <p>Yo digo que lo sucedido ese día, además de espontáneo, demostró que realmente este país necesita un cambio. Ahí
      no se trataba de ideologías. Había personas de izquierda, de derecha, revolucionarias, que se consideran
      revolucionarias; había connotados contrarrevolucionarios también, pero a todos los unía ese deseo de un cambio: el
      deseo de una Cuba mejor.</p>
  </article>

  <article>
    <h4>¿Cómo funcionó la reunión?</h4>
    <p>Primero, no nos dejaron entrar teléfonos. Tampoco permitieron grabar. Yo como periodista tuve que tomar
      muchísimas notas. Recordar los viejos tiempos de las notas a mano. Fueron casi 5 horas de diálogo. Eran cinco
      funcionarios del Ministerio de Cultura: el viceministro Fernando Rojas, la vicepresidenta de la UNEAC, el
      vicepresidente de la Asociación Hermanos Saíz, el director del Museo Nacional de Bellas Artes, y estaba otro señor
      que creo es el director de Galerías Génesis.</p>
    <p>La reunión demoró porque casi cada una de las 32 personas tuvo la oportunidad de hablar. Yo digo que esa reunión
      fue la canalización de las frustraciones del gremio de los artistas por más de 60 años.</p>
    <p>Yo no hablé. Entré como prensa. A mí no me escogió nadie. Tuve el privilegio de estar ahí representando a
      <em>Cubanet</em>, porque cuando se decidió el grupo de 30 personas que iban a entrar, pues aceptaron que entraran
      tres medios de prensa independiente que nos encontrábamos en ese momento ahí; eso fue como a las 3:00 p.m.</p>
    <p>Cada una de esas personas tuvo la oportunidad de hablar, de expresarse. Yo ne decía: “Estas son las personas que
      van a cambiar este país, estas personas son más opositoras que yo”. Y todo lo decían desde el respeto, desde la
      tolerancia, y estaban ahí diciéndole al viceministro de Cultura: “Les estamos dando una oportunidad. Estamos aquí
      porque les estamos dando una oportunidad”.</p>
    <p>Todas esas personas se expresaron desde el corazón, desde la honestidad. Pero vimos a un viceministro de Cultura
      esquivando en todo momento; de hecho, se salió de ahí sin ninguna respuesta en concreto a las exigencias. Solo
      promesas. También me percaté de que estaba tratando de ganar tiempo. El viceministro estaba tratando de disolver
      lo antes posible lo que tenía reunido frente al Ministerio: unas 500 personas.</p>
    <p>Hubo un momento, por ejemplo, en que uno de los artistas le dijo: “Nosotros estamos aquí, incluso con miedo
      porque hay todo un dispositivo policial allá afuera, que es una amenaza y nosotros estamos aquí para dialogar, no
      representamos una amenaza para nadie, simplemente, queremos dialogar”. Y Fernando Rojas dijo que él no sabía eso,
      que él no sabía que había policías, que había oficiales de la Seguridad, que había brigadas de respuesta rápida.
      Todo muy cínico. Aunque después se comprometió, o lo hicieron comprometerse, a que garantizara la seguridad de las
      personas que estaban allá fuera, que se pudieran retirar sin peligro.</p>
  </article>

  <article>
    <h4>¿En algún momento creíste que ese diálogo iba a significar algo, que llegaría a alguna parte?</h4>
    <p>Como espectadora sabía que no. Yo inmediatamente me percaté de eso, de que estaban tratando de ganar tiempo;
      tengo un poco más de experiencia con este tema de la represión y el trato con la Seguridad del Estado cubano. Pero
      el resto de los jóvenes, por no decir la mayoría, estaban ahí desde la ingenuidad. Estaban diciendo: “Bueno,
      todavía tenemos la esperanza de dialogar con la institución”.</p>
    <p>Y bueno, después hemos visto que la institución misma les ha dado un portazo en la cara. Se ha negado
      rotundamente al diálogo. Ellos se iban a agarrar de cualquier justificación para romper ese diálogo porque,
      primero, aceptar un diálogo con personas que ellos consideran mercenarios, significaría una debilidad; lo otro es
      que aceptar un diálogo también significaría que tuvieran que ceder en, al menos, una de las demandas. No iban a
      ceder, porque la demanda principal, independientemente de la libertad de Denis Solís, del cese de la represión, la
      demanda principal era la libertad de expresión. Sabemos lo que representa la libertad de expresión para todas las
      dictaduras: un peligro para el poder.</p>
  </article>

  <article>
    <h4>Sin embargo, en Instar siguieron reuniéndose y planificando el encuentro con el ministro. </h4>
    <p>Esa fue una de las de las cuestiones que se negociaron. El arte independiente ha sido constantemente atacado
      desde la institución, pero era necesario debatir las agendas, entonces se acordó con Fernando Rojas que se podrían
      reunir en espacios independientes como Instar, porque muchas de las 32 personas que entraron en el Ministerio ni
      siquiera se conocían. Simplemente, se reunieron primero por gremios y, entre los gremios, decidieron quiénes
      serían los representantes. Después de eso venía la etapa de las conversaciones, de idear estrategias, de qué vamos
      a hacer a partir de ahora. Y eso lo respetaron por menos de una semana.</p>
    <p>Cuando se le enviaron al viceministro de Cultura las demandas de la próxima reunión, los temas a debatir en la
      próxima reunión con el ministro de Cultura Alpidio Alonso, pues inmediatamente, al otro día, todos amanecimos con
      una declaración del Ministerio de Cultura diciendo que nosotros, el 27N, como ya se nombró a este grupo, habíamos
      roto el diálogo; cuando fue totalmente lo contrario.</p>
  </article>

  <article>
    <h4>Ya el diálogo está roto. ¿Ahora qué?</h4>
    <p>Ahora el grupo se está reorganizando. Están buscando estrategias porque quieren seguir con el diálogo. Toda
      resistencia pacífica conlleva necesariamente a un diálogo con el poder. Yo digo que la Seguridad del Estado,
      incluso las instituciones, han actuado malísimamente mal. Porque si tú tienes un grupo de creadores, un grupo de
      jóvenes, que no son opositores ni mucho menos, simplemente están exigiendo un diálogo con el poder&#8230; Tú estás
      negando a las personas que te sustentan. Es decir, el Ministerio de Cultura existe porque existen los creadores,
      los artistas. Al negar la existencia de esos artistas, pues estás negando tu propia existencia como institución.
    </p>
    <p>El propio accionar del Ministerio es lo que está radicalizando a esos jóvenes que, quizás, la mayoría llegaron
      con ingenuidad. Ahora saben, efectivamente, que quizás lo que hicieron fue en vano y que lo que tendrán que hacer
      para lograr algo es radicalizarse un poco más.</p>
  </article>

  <article>
    <h4>¿Tú te consideras mercenaria?</h4>
    <p>Para nada. Porque a mí no me paga ningún gobierno para decir lo que pienso. Yo hago periodismo y si pudiera lo
      hiciera de gratis, pero es que el periodismo es una profesión como cualquier otra. Yo no hago periodismo en medios
      cubanos porque no hay libertad expresión en los medios cubanos. Comencé haciendo periodismo en los medios cubanos
      y pedí mi baja laboral, precisamente por eso, porque no existía libertad de expresión. Ahora trabajo con
      <em>Cubanet</em>.</p>
    <p>Pero hacer periodismo desde la oposición también es válido. ¿Por qué no se puede hacer periodismo desde la
      oposición? Yo no tengo por qué pensar igual que la ideología que está en el poder. Ahora sí, a mí no me dicen en
      ningún momento: “Tienes que decir esto, o esto otro; tienes que cubrir cualquier noticia”.</p>
    <p>El 27 de noviembre <em>Cubanet</em> no me dijo: “Ve para el Ministerio Cultura”. Yo dije: “Voy para el Ministerio
      Cultura porque yo como periodista, como cubana siento que debo estar ahí”. El periodista debe estar donde está la
      noticia. Y ese día estaba en el Ministerio de Cultura.</p>
  </article>

  <article>
    <h4>¿Crees que haya algún mercenario dentro del grupo de los 30?</h4>
    <p>Para nada. No considero que haya mercenarios dentro del grupo de los 30 y los dos invitados. Ninguno entró ahí
      porque fue pagado por un gobierno extranjero, ni siquiera los que estuvieron ahí representando al Movimiento San
      Isidro. Todos estaban ahí representando ansias de cambiar cuestiones que creen que están mal. Para empezar, si
      hubiesen sido mercenarios no hubiesen pedido un diálogo con la institución. Los mercenarios no piden diálogo. Los
      mercenarios van a hacer actos terroristas, o no sé… No sé qué hacen los mercenarios, porque no soy
      mercenaria&#8230; Eran artistas, intelectuales que simplemente querían expresarse, algo que han prohibido durante
      tantos años; querían exigir el derecho a existir.</p>
  </article>

  <article>
    <h4>¿Entonces, me estás diciendo que el grupo del 27N todavía cree en el diálogo, pero bajo qué condiciones?</h4>
    <p>Lo he dicho en varias ocasiones: para que vuelva a existir un diálogo o una voluntad de diálogo sana, tiene que
      haber presión. Y difícilmente la Seguridad del Estado cubana va a permitir que suceda lo mismo del 27 de
      noviembre. Es decir, que se reúnan tantas personas en un mismo lugar.</p>
    <p>Esto no tiene precedentes. Hay muchas personas que confían en el diálogo. Ahora, el diálogo tiene muchos peligros
      también. Es decir, no puede ser un diálogo condicionado, no puede ser un diálogo donde solamente una de las partes
      se vea obligada a cumplir lo pactado. Y ya sabemos que las instituciones y la Seguridad del Estado tienen la
      experiencia de más de 60 años lidiando con personas que piensan diferente, y no por gusto llevan tantos años en el
      poder.</p>
    <p>Yo creo que todavía en el 27N hay mucha ingenuidad en este sentido. Pero ingenuidad sana, desde el deseo de un
      mejor país, pero con la inexperiencia de lidiar con la Seguridad del Estado cubana. Te relataba ahorita lo que
      sucedió cuando la declaración de Ministerio de Cultura diciendo que el 27N había roto el diálogo, lo cual fue
      totalmente falso. Ese día, muchos de los miembros de los 30 que entraron al Ministerio de Cultura, amanecieron con
      vigilancia. Algunos se sorprendieron, ni siquiera habían escuchado que era una práctica común con los opositores,
      y nunca pensaron que les pudiera suceder algo así porque no se consideran opositores, sino ciudadanos cubanos que
      están exigiendo cambios y derecho a tener derechos: una de las principales exigencias del 27N.</p>
  </article>

  <article>
    <h4>¿Crees que haya cambiado algo en Cuba ese día?</h4>
    <p>Creo que ese día ha marcado un nuevo camino. De hecho, desde ese día, casi inmediatamente, hubo varias
      manifestaciones en otras partes del país. Hubo una de madres exigiendo el cierre de las tiendas en dólares. Otras
      marchas, por ejemplo, en la Isla de la Juventud, también en apoyo al Movimiento San Isidro. Fuera de Cuba también
      hemos visto muchísimas embajadas en las que hubo manifestaciones de apoyo.</p>
    <p>Pero yo creo que lo más importante es que ha despertado la conciencia de los cubanos de decir: “Tenemos derechos
      y para que nos respeten nuestros derechos hay que seguirlos”.</p>
  </article>

  <article>
    <h4>¿Está relacionado el 27N con la tiradera de piedras a las tiendas?</h4>
    <p>El 27N, yo que estuve ahí desde el mediodía, nos percatamos de que llegaron personas para provocar. Yo creo que
      la Seguridad del Estado cubano estaba esperando la más mínima justificación para disolver inmediatamente eso. No
      sé si esas provocaciones venían por parte de la Seguridad del Estado cubano o por grupos radicales del exterior,
      eso no lo pudiera asegurar porque no lo sé.</p>
    <p>Pero sí fue muy inteligente no dejarse provocar. Hugo un momento en que un señor lo intentó y enseguida lo
      acallaron. Es decir, nosotros no estamos aquí para incitar a la violencia, nosotros estamos aquí pidiendo diálogo
      y vamos a plantarnos hasta que haya un diálogo. Para nada era una resistencia violenta al poder. Tampoco creo que
      haya tenido nada que ver con lo que sucedió con las tiendas en dólares. Ni siquiera sé si eso sea cierto, porque
      sé que la Seguridad del Estado es experta en manipulación de opinión. Ahora mismo están manipulando la opinión
      pública nacional e internacional con toda esta campaña de descrédito y difamación, no solo contra el Movimiento
      San Isidro, sino contra los artistas e intelectuales que estuvieron ese día frente al Ministerio de Cultura.</p>
  </article>

  <article>
    <h4>¿Hay algún grupo opositor que abogue o crea que el camino para el cambio es la violencia?</h4>
    <p>Sí, hay grupos opositores y personas que abogan por la violencia, sobre todo del exterior del país. Pero yo no
      creo que ese sea el camino. La violencia engendra violencia; actualmente, con las redes sociales y toda la
      evolución que hay en mundo, no creo que la violencia sea el camino.</p>
    <p>Si en el futuro hay violencia en Cuba, yo creo que va a venir de parte del gobierno, quizás, para frenar la
      resistencia pacífica. Lo hemos visto con esta maquinaria represiva que han desplegado desde lo sucedido el 27 de
      noviembre. Así estás infundiendo el miedo, el terror, de eso se trata. Hasta las Fuerzas Armadas desplegadas en la
      calle con armas largas. Es un mensaje subliminal: “Si sales a la calle te vamos a reprimir”.</p>
    <p>Yo sí creo que la violencia vendrá de parte de ellos.</p>
    <p>Actualmente hay grupos opositores o personas que creen en la violencia como método de cambio, pero yo creo que
      son los menos.</p>

  </article>
</app-interview-template>
