<app-interview-template videoId="B_wKLMePWSY" audioId="1152466345">
  <article>
    <p>
      <span class="first-letter">P</span>
      <em>eriodismo de Barrio</em> entrevista a Luz Escobar, periodista cubana. Esta entrevista forma parte de
      <em>
        <a class="link-higthlight" href="https://www.periodismodebarrio.org/2020/12/la-revolucion-de-los-aplausos/">La
          Revolución de los aplausos</a> </em>, una serie de conversaciones con actores de la sociedad civil que se
      realizaron entre diciembre de 2020 y enero de 2021, a raíz del diálogo que tuvo lugar el 27 de noviembre de 2020
      en el Ministerio de Cultura.
    </p>
  </article>

  <article>
    <p><strong>¿Cómo llegaste al Periodismo? </strong></p>
    <p>Yo soy Luz Escobar, periodista independiente. Desde el año 2014 trabajo en el diario digital <em>14ymedio</em>.
      Soy fundadora de ese medio. Cuando comenzamos éramos un grupo. Ahora ese grupo ha crecido. El diario también ha
      crecido porque bueno, son cinco años ya en la escena del periodismo independiente.</p>
    <p>Comencé ahí como fotógrafa porque yo antes de empezar a trabajar ahí tenía un blog donde publicaba algunas de mis
      fotografías y así es como llego ahí; llevando también unas fichas que se hacían para una cartelera cultural que
      tiene periódico y ese era un trabajo bastante sencillo en los primeros meses.</p>
    <p>Con el tiempo y la necesidad de producir ―que sabes que tiene un diario― que es constante, empezaron a aparecer
      pequeños textos, crónicas, entrevistas, y hoy ya soy reportera del diario. Es un trabajo que, por supuesto, como
      sabes, lleva mucho tiempo. Son, a veces, 12, 14 horas de trabajo en un día.</p>
    <p>Lo que tratamos es contrarrestar un poco la desinformación que hay, que sabe que en Cuba durante muchos años el
      monopolio de la información la tuvo el Partido Comunista con los medios que tiene y gracias a la llegada de
      internet y todo, la escena de los medios independientes ha crecido y en ese entorno estamos nosotros.</p>
    <p><strong>¿En algún momento tú creíste en la Revolución?</strong></p>
    <p>No. Yo vengo de una familia que por razones que tienen que ver con la experiencia que tuvieron, no sólo desde le
      vista laboral como en el caso de mi papá, que fue expulsado del periódico <em>Juventud Rebelde</em> por ejercer el
      libre ejercicio del criterio, escribir lo que pensaba y no lo que le dictaba los lineamientos del Partido, sufrió
      la expulsión del periódico y se convirtió en una persona independiente que ejercía el periodismo sin la atadura de
      lo que es el periodismo oficial.</p>
    <p>No solo por eso, sino también porque en mi familia hay historias que tiene que ver con primos, tíos que han
      sufrido cárcel injusta, que han sufrido las arbitrariedades del sistema de este país y eso radicalizó mucho a mi
      familia y yo crecí en ese entorno. Entonces, por supuesto, nunca vi a la Revolución como muchas otras amigas de la
      escuela. Sí lo veían, que lo veían como algo que había que aplaudir, que había que seguir, que había que respetar.
    </p>
    <p>No. Siempre, para mí, ese proceso fue un proceso que había que cuestionar, que había que vigilar, que denunciar,
      porque estaba todo el tiempo cometiendo atrocidades, injusticias y no era transparente a la hora de relacionarse
      con los ciudadanos.</p>
    <p><strong>¿Era complicado eso para ti? Crecer viendo una cosa y que en la escuela te dijeran y te pusieran a hacer
        otras cosas. </strong></p>
    <p>Como niña nunca tuve contradicción con eso. Tuve los problemas que trae en Cuba expresarse con libertad, pero
      problemas desde el punto de vista psicológico, de cómo lidiar con eso, no. Porque, justamente, lo que aprendí fue
      eso: que siempre es más sano expresarse con libertad y asumir las consecuencias, a tener que lidiar con esa
      bipolaridad de lo que se aprende en la casa y lo que piensas tú como persona.</p>
    <p>Por supuesto que eso me trajo consecuencias. Cuando preparábamos los matutinos en la escuela, por ejemplo, que yo
      preparara composiciones que no era lo que esperaba de mí en ese momento. Siempre lo que se esperaba era un
      párrafo, dos, tres párrafos donde el estudiante hacía una apología de la Revolución o de sus líderes y yo no hacía
      eso.</p>
    <p>Lo que hacía era buscar, justamente, en la obra de Martí, de Villena, de otros revolucionarios expresiones que
      confirmaran lo que tiene que ver con lo que hemos defendido siempre, que es la libertad de expresión. Y eso les
      molestaba muchísimo a los maestros. Y siempre trataban de desviarse a lo que es apología de los héroes que son de
      intransigencia revolucionaria…y toda esa biografía que era un corta y pega para todos igual, cambiando las fechas
      y los nombres de los héroes.</p>
    <p><strong>¿Cómo empiezas a escribir? ¿Siempre lo hiciste? </strong></p>
    <p>Escribir me ha costado mucho. Yo escribía, claro, como todo adolescente que tiene gusto por leer determinadas
      cosas. Nunca fui una gran lectora, pero sí tenía mis pasiones puntuales. Sobre todo la poesía. Y, por supuesto,
      toda persona de 16 años con esa inquietud, claro que escribí poemas, claro que escribí cosas que me pasaban por la
      mente, pero nunca con ninguna pretensión de que eso podía convertirse en algo.</p>
    <p>Pero lo primero que escribí con la conciencia de que vamos a escribir algo que va a ser compartido con los demás,
      fue una crónica de una guagua del barrio donde yo estaba viviendo que es La Timba, que es un barrio…Bueno, como
      sabes es un barrio medio marginal, y entonces también hay muchas personas de la tercera edad y sufren mucho lo que
      es moverse a determinados puntos porque en ese barrio no entran guaguas. Y la única que entraba era la 67 y en un
      punto, se empezó a discutir en una asamblea que se iba eliminar la 67 y eso fue tremendo en el barrio a través de
      los comentarios.</p>
    <p>A raíz de ahí hice una pequeña crónica de lo que significaba esa guagua en el barrio y por ahí empecé. Después
      una Feria del libro, después una entrevista.</p>
    <p><strong>¿Ya existía <em>14ymedio</em> cuando eso?</strong></p>
    <p>Sí, sí. Ya te digo, fue un ejercicio que comenzó así. <em>14ymedio</em> ha sido una escuela para mí, como se dice
      muchas veces, así como una frase repetida, pero los maestros que trabajan ahí en lo que tiene que ver con el
      proceso editorial de un texto me han enseñado muchísimo. Y en ese momento en que te coge un texto y te lo
      desbaratan y te empiezan a pedir más y a decir que quites, y ahí, en ese momento, es cuando aprendes. Y no de un
      día para otro, por supuesto.</p>
    <p>Eso ha llevado años y todavía lo que falta. Pero acercarse a la realidad de Cuba lleva una dosis de valor que
      muchas veces los que saben escribir y tiene la experiencia y los conocimientos no la tienen. Entonces, yo siento
      que hay un poco de responsabilidad en todos los que no tenemos ese miedo de atreverse. Atreverse y meterse en esa
      Cuba profunda que no sale reflejado en muchos casos.</p>
    <p>Y hacer las preguntas y acercarse sin el temor tampoco de ser mal visto porque muchas veces somos vistos como
      personas que después vamos a tergiversar lo que ellos dicen, los testimonios que te dan. Y acercarse con la mayor
      sinceridad. Yo, hasta ahora, te digo, no he tenido experiencias desagradables en eso, pero muchos colegas sí han
      vivido situaciones difíciles.</p>
    <p>Lo peor que me ha pasado a mí en eso es un cuentapropista que me dio una vez una entrevista y después, al otro
      día, lo fue a ver la Seguridad del Estado. Y, sin embargo, él no fue agresivo conmigo. Él se solidarizó conmigo. Y
      me dijo: “Oye, es muy fuerte lo que ustedes viven. A mí, al otro día de tu visitarme vino la Seguridad del Estado
      y me dijo esto y esto”.</p>
    <p>Y después, el hombre que tenía un negocio, limpio, transparente, se sintió, por supuesto, intimidado. Porque,
      como sabes, aquí cuando los ojos de la Seguridad del Estado vienen hacia ti lo que se espera es lo peor siempre.
      Porque ya los antecedentes lo han demostrado. Hay cuentapropistas que le han quitado su finca, a otros que le han
      quitado su negocio.</p>
    <p>Entonces, es difícil en ese sentido. Pero siempre eso yo lo resuelvo con transparencia. O sea, cuando me
      presento, me presento como periodista de un diario digital independiente que se llama <em>14ymedio</em>. Si ellos
      están dispuestos a explicarme, a contarme lo que están viviendo, sale el reportaje o la entrevista, si no, no
      sale. O sea, no hay que hacer trampas en ese sentido porque el precio a pagar es alto.</p>
    <p><strong>¿No tienes un conflicto ético e interno cuando estás entrevistando a una persona, contando su historia,
        tener ese mismo miedo de que de pronto le puedas estar haciendo más daño que bien contando su historia? Por eso
        mismo, porque le pongan los ojos arriba…</strong></p>
    <p>Sí. Bueno, pero ese es un temor personal que yo superé. Y como yo superé en la manera que yo tengo de enseñarles
      a los demás que esa experiencia de vida para mí ha sido una experiencia de éxito, es de esa manera. O sea, cuando
      tú estás luchando por la libertad tiene que comportarse como una persona libre. No se puede luchar por la libertad
      comportándote como un esclavo y asumiendo las reglas de juego que pone el gobierno cubano, que al final, es una
      dictadura.</p>
    <p>Yo me desarrollo, me presentó y ando por la vida como una persona libre. Y yo no puedo transmitirles ese miedo a
      los demás porque yo no lo tengo. Si yo tuviera ese temor, por supuesto, lo transmitiría. Yo lo que sí soy
      transparente. O sea, yo soy incapaz de decirle a esa persona que soy otra persona, pero lo que no voy a decirle:
      “Mira, esto que va a ocurrir puede traerte consecuencias”.</p>
    <p>Las personas en este país durante muchos años han vivido con miedo a expresarse. Y para mí, eso es una
      herramienta. Expresarse en libertad es una herramienta. Y se ha demostrado. Se demostró 27N, se demostró cuando el
      11 de mayo salieron a las calles de los miembros de la comunidad LGBT, que recibieron muchísimo apoyo, se demostró
      en la marcha por los animales. Se ha mostrado en los últimos dos años ―desde que hay datos móviles― en cada escena
      de represión policial que hay en Cuba, donde sale la gente apoyar a personas que están siendo reprimidas.</p>
    <p><strong>¿La represión empezó contigo cuando comenzaste a ser periodista?</strong></p>
    <p>La represión sí. La vigilancia no. O sea, desde que Yoani Sánchez comenzó con su blog y mi papá empezó a trabajar
      en periodismo independiente y como sabes ya, la Seguridad de Estado se instauró en mi familia. He sufrido
      vigilancia, de mí como persona y de mis amigos. Gente que se me acerca y entonces siempre están tratando de captar
      a la persona que se acerca para conquistarlo, para que informe para la Seguridad del Estado. Y ese ha sido el
      detonante, el primer acercamiento, vamos a decirlo así, de mí de mi relación con la Seguridad del Estado. El
      primer acercamiento fue la vigilancia.</p>
    <p>La represión sí llegó cuando yo empecé a trabajar en <em>14ymedio</em>. Fue un 10 de diciembre, en el cine Yara,
      cuando un grupo de Damas de Blanco llegaron y fueron barridas por la Seguridad del Estado. Yo saqué mi cámara,
      empecé a hacer fotos, y en un momento me rodearon un grupo de agentes de la Seguridad del Estado, me sacaron de la
      escena y me llevaron para una unidad de policía en San Miguel del Padrón. Fue mi primer arresto.</p>
    <p>Cuatro horas ahí con un agente la Seguridad del Estado. Dándome mucha muela porque eso no fue otra cosa que
      muela. En ningún punto se pusieron argumentativo o se pusieron reflexivos, a decirme: “Mira estás haciendo esto
      mal”. No. Ahí trataron todo el tiempo de manipularme con falsa información de mi familia, de mi trabajo, de las
      consecuencias que yo podía estar asumiendo si seguía haciendo el trabajo en <em>14ymedio</em> y eso lo hicieron
      con cada uno de los colaboradores.</p>
    <p>Perdimos muchos colaboradores por eso, por ese tipo de amenazas de la Seguridad del Estado. Lo que pasa es que
      pronto ellos comprendieron que ese tipo de amenazas conmigo no iba a funcionar y comenzaron rápido con la
      represión y el ejercicio de este de acosarte, empezar a visitar a miembros de tu familia y a decirles que tratan
      de empujar para que tú cambies de opinión. Pero bueno, por suerte la familia que tengo es una familia que
      comprende el trabajo que hago porque, además de eso, lo aprendí, lo aprendí ahí. No hay manera.</p>
    <p>Lamentablemente, muchas personas sí tienen una familia que entonces entran en contradicción con eso y empiezan a
      presionar a la persona para que deje de hacer lo que está haciendo por las consecuencias que esto pueda traer.
      Pero en mi caso he tenido esa suerte, de poder contar con mi familia.</p>
    <p><strong>¿Hay una relación periodismo-activismo en tu trabajo?</strong></p>
    <p>Desde que nosotros empezamos en <em>14ymedio</em>, una de las cosas que hemos tenido más clara es que el
      periodismo debe hacer todo lo posible por deslindarse del activismo como acción. O sea, no puede ser un periódico
      el tablón de anuncios de ningún programa político, de ninguna agenda de ningún grupo de activistas. Eso no.</p>
    <p>Pero sí estamos ahí para narrar lo que estaba ocurriendo, sí estamos ahí para visibilizar lo que está ocurriendo;
      incluso amplificar porque recordemos que estamos en desventaja. El <em>Granma</em> no publica absolutamente nada,
      lo que hace es descalificar con estas agendas de la oposición y del activismo.</p>
    <p>Entonces, no es justo que mantengamos un equilibrio porque entonces hay muchos pesos de este lado y siempre se va
      a inclinar a favor del gobierno. Por supuesto, que sí tenemos que darle mucha importancia a todo lo que pasa en
      oposición, en la agenda de los activistas sin temor a que eso pueda generar un desbalance porque vivimos en una
      sociedad desbalanceada y desequilibrada en ese sentido, desde el punto de vista informativo.</p>
    <p>Te repito, por suerte, hace dos años en los teléfonos tenemos una gran herramienta que es los datos móviles y eso
      ha cambiado a favor del periodismo independiente, de los ciudadanos, ese ese panorama, y ha sido una gran
      herramienta.</p>
    <p><strong>¿Entonces no te consideras activista?</strong></p>
    <p>No yo… Muchas veces, con algunos colegas que sí son como más… vamos a decir ortodoxos, o yo no sé cuál sería la
      palabra, también son periodistas que viven en sociedades democráticas, me dicen que a veces es peligroso como
      sumarse a algunas iniciativas como periodista cuando tienes la pasión de defender esa causa también como
      ciudadano. Es un riesgo, pero vivimos en dictadura.</p>
    <p>O sea, no podemos seguir actuando como periodistas del primer mundo democrático que vive con todas las reglas del
      periodismo a su favor, cuando vivimos en dictadura, donde tenemos todo en nuestra contra todo. Todo está en contra
      nuestra en ese sentido que tiene que ver con el ejercicio de la libre expresión, el ejercicio de la prensa libre,
      el ejercicio del derecho de los ciudadanos al final. Porque no solamente contra los que quieren expresarse
      libremente.</p>
    <p>Entonces, por ahí es complicado de deslindar, pero yo no soy activista. A mí no me interesa hacer ningún tipo de
      activismo. Sí me interesa sumarme a cualquier iniciativa que defienda la libertad expresión. Ahí voy a estar yo
      como periodista y como ciudadana porque me parece que es la clave.</p>
    <p>Desde que yo soy chiquita, mi papá tiene una frase que he escuchado muchísimo y que yo repito cada vez que puedo,
      que es que los problemas de Cuba van a comenzar a solucionarse cuando se despenalice la discrepancia política,
      porque por ahí empieza todo.</p>
    <p>El gran problema que tiene esta sociedad parte de ahí. Parte de que todas las personas que han tenido un
      pensamiento distinto han sido eliminadas, barridas. Entonces toda la persona, ya no te estoy hablando de una
      agenda opositora, te estoy hablando de esa persona dentro del gobierno que tiene una idea distinta, esa persona
      también ha sido reprimida y marginada. Y por eso, las ideas buenas no florecen, están engavetadas.</p>
    <p>Estamos en una sociedad totalmente frágil y desarticulada porque está todo regido por un grupito de personas que
      solo piensa en su bienestar.</p>
    <p><strong>¿Qué función política y social tiene el periodismo dentro de ese contexto de dictadura?</strong></p>
    <p>El periodismo para mí siempre ha tenido una sola cosa. O sea, el periodismo, la labor que debe desempeñar en una
      sociedad como esta es aclarar el panorama. Eso se aclara reflejando con transparencia todas las escenas que se van
      dando en la sociedad sin temor ninguno. La escena, por ejemplo, cuando el deshielo, la escena de los emprendedores
      en Cuba fue una escena que explotó. Y no había que tener miedo a eso porque muchas veces, desde afuera, se veía
      eso como un destello de éxito, que entonces esas personas cómo están teniendo éxito en dictadura.</p>
    <p>Y eso era una historia muy buena para contar. Porque había que contrarrestar un poco esa mentalidad que había, de
      prejuicios, de años de prejuicio, de que en Cuba vamos a vivir siempre en la miseria, y eso para mí fue, por
      ponerte un ejemplo, una zona que había que ilustrar. No podíamos seguir entonces en los periódicos de la prensa
      independiente reportando solamente todas esas historias de dolor, fracaso que acumula esta sociedad.</p>
    <p>Había que contar esas historias de estos emprendedores que vieron ahí, en ese momento, una escena favorable para
      su desarrollo. Como mismo contamos después la escena que le sucedió, que fue que empezaron a tener problemas. No
      solamente por el gobierno que empieza a cerrar y cerrar y cerrar y qué demostró que al final no quería que se
      progresara en ese sentido porque le tienen terror a que las personas se empodere económicamente porque empoderarse
      económicamente significa libertad y libertad significa ser ciudadano. En fin, ellos no quieren ciudadanos, quieren
      esclavos. Entonces, para mí, esa es la labor. O sea, clarificar el escenario.</p>
    <p>Cuba es un país donde hay muchas realidades que están conviviendo en un mismo escenario y hay que contarlas todas
      absolutamente. Tampoco se puede hacer lo contrario. Tampoco se puede, de pronto, contar solamente la historia de
      éxito de las personas que le va bien. No. Hay que contarlo todo y hay que acercarse a las personas y muchas veces,
      incluso, salir de la Habana. La Habana ha sido muy narrada.</p>
    <p>Y hay muchas provincias en Cuba viviendo en realidades que ni imaginamos. Y eso ha sido otra de las obsesiones de
      <em>14ymedio</em>. Acercarse a esas provincias, a esos lugares, incluso, que no están en la capital provincial,
      que están lejos de los lugares donde están los ojos de los ciudadanos porque, incluso, los datos móviles han
      llegado con dificultad a esas zonas y por eso, muchas veces, es muy importante que llegue el periodista ahí.</p>
    <p>No solo porque tiene la experiencia de poder contar la historia tuya sino que tiene la herramienta para
      amplificarla y hacerla llegar a otras personas.</p>
    <p><strong>Y en una futura Cuba democrática ¿el periodismo seguiría teniendo la misma función, seguirías haciendo tú
        lo mismo?</strong></p>
    <p>Por supuesto. El periodismo siempre va a tener esa tarea. La tarea de reflejarlo todo, la tarea de contar. Ahora,
      otras de las historias del periodismo es que el periodismo tiene que tener ese ojo atento a lo que tiene que ver
      con las agendas políticas y con las agendas públicas que el gobierno se dicta hacia abajo. Ese ha sido una de las
      columnas de periodismo independiente, estar atento a lo que viene de arriba para abajo porque esta sociedad se
      construye así. La polea de transmisión siempre viene de arriba para abajo. De la ciudadanía para arriba no viene
      nada.</p>
    <p>En una Cuba democrática, por supuesto que igual vamos a tener los ojos como periodistas puestos en ese poder
      porque eso es natural en el periodismo. Poner los ojos en los políticos, en las personas que tienen un cargo
      público, que tiene una responsabilidad en la sociedad, que tienen poder en sus manos. Pero, por supuesto, que
      también nos van a seguir haciendo lo mismo: seguir narrando esa agenda cultural, esa agenda económica, esa agenda
      de los emprendedores, los artistas, del campesino, de la mujer, de todo.</p>
    <p>O sea, lo que va a cambiar es que, probablemente, vamos a tener un escenario donde podamos acceder a las fuentes
      sin dificultades, donde existe un gobierno que transparente sus gastos públicos, donde existe un gobierno que dé
      cuenta los ciudadanos cuando las pidan porque recordemos que aquí yo, como periodista independiente, no estoy,
      según ellos, capacitada legalmente para entrevistar a nadie, ni para ir a un ministerio a pedir cuentas.</p>
    <p>En una futura Cuba democrática yo podría ir al Ministerio de Salud Pública y pedir, por ejemplo, los datos de las
      personas que fallecieron en 2019, 2020, las causas por la que fallecieron, contrastarlo con otras fuentes, que no
      sean las únicas fuentes. Además, que existan ONG sobre las cuales se trabaja también, y tú pide esa estadística y
      la comparas. Puedes entrevistar a un doctor y decirle: “Estas son las estadísticas que dio el MINSAP, ¿a ti qué te
      parece?”.</p>
    <p>Hoy por hoy tenemos que tragarnos todas esas estadísticas porque es muy complicado contrastarlo con la realidad,
      sobre todo en un sector tan delicado como la salud. Sabes que un doctor que da información a la prensa
      independiente paga el precio alto de su carrera. Existen testimonios no solo de estudiantes sino también de
      doctores que han tenido que colgar su título porque han hecho algo que ha sido considerado como
      contrarrevolucionario y está escrito ahí, si no sigue las pautas el socialismo y de lo que ellos consideran que es
      defender el socialismo no puede ser un doctor. Yese escenario también tiene que cambiar.</p>
    <p><strong>Háblame del 27N.</strong></p>
    <p>El 27 comienza el 26 de noviembre por la noche, cuando alrededor de las 8 de la noche un grupo de paramilitares y
      oficiales vestidos de esa capa protectora que han usado todos los médicos durante este tiempo de pandemia para
      protegerse. O sea, aguantes, máscaras, zapatos así de médico. Forrados. Entró un grupo de personas forradas con
      mucha violencia a la sede Movimiento San Isidro donde había huelguistas, activistas, para reclamar la libertad de
      Denis Solís. Entraron con violencia y los sacaron de ahí con violencia.</p>
    <p><strong>Mi pregunta es sobre ti, no sobre lo que pasó. Tú en ese contexto. </strong></p>
    <p>Ok. A raíz de estas imágenes que se vieron en la noche del 26 de noviembre, a mi teléfono comenzaron a llegar un
      montón de mensajes: “¿De qué vamos a hacer?”, “Esto está de madre” “Esto no podemos aguantar, ya esto es el
      colmo”. Esos eran todos los mensajes. Y a partir de ahí, empezamos a crear unión. Un grupo en WhatsApp, otro en
      Telegram. ¿Ustedes para dónde van?&#8230; Bueno hasta que se consolidó un lugar, una hora y yo desde que empezó…
      Desde que empezaron a llegar las primeras personas, al fijo a las 11 de la mañana, yo estaba ya aquí, en la
      computadora, recibiendo las primeras informaciones y haciendo una nota y actualizando. No podía llegar en ese
      momento porque, bueno, yo tengo dos niñas chiquitas. Estaba esperando que ellas llegaran de la escuela para
      dejarles aquí ya todo listo, pero mientras tanto, se pudo hacer una cobertura en el diario <em>14ymedio</em> sobre
      todo lo que estaba ocurriendo ahí, que fue muy grande.</p>
    <p>O sea, que llegaran ahí primero 15, después 40, después 50, después 150, 300. Cuando yo llegué allí, que fue que
      pude llegar finalmente a las 9 de la noche, a las 9 ahí había…, qué se yo…, 400, 500 personas. Fue el momento
      donde más personas se concentraron porque al filo de las 10 empezaron a retirarse algunas personas.</p>
    <p>Y por supuesto que llegué ahí por mi pasión como periodista, pero también por esa indignación que llegaron todos
      ahí. Eso se vivió no solo entre los que estábamos ahí ese día porque viví las dos partes: viví la aparte de las
      redes y la parte de estar en el lugar. Y en las redes igual. Era la indignación. E independientemente de que
      después uno puede intelectualizar las razones por las que estaba ahí, que tiene que ver con la libertad expresión,
      con el ejercicio de una ciudadanía responsable, que es lo que estaban haciendo los muchachos del Movimiento San
      Isidro, se llegó ahí por ese sentimiento de indignación, que se le ocurrió fue inaceptable.</p>
    <p>Y cuando estaban ahí reunidos… eso me gustó mucho. Lo digo en todas las entrevistas que me hacen.
      Independientemente que fue una causa triste porque estaba Luis Manuel todavía en el hospital, y estaba y está
      Denis Solís preso, muchos de ellos estaban en su casa acuartelados, sin poder salir, el sentimiento que había ahí
      era de indignación, pero mucha alegría.</p>
    <p>Ahí nunca se perdió ese ese sentimiento de energía. O sea, era una energía que todo el que estaba ahí, a pesar
      del hambre, del cansancio, acuérdate, 11 de la mañana, 12; 1; 2; 3; 4; 5; 6; 7; 8; 9. ¿Cuántas horas no habían
      pasado? Y ahí estaba la gente.</p>
    <p>Compartiendo un café, compartiendo un cargador para el móvil al que se le estaba acabando la batería, cantando,
      aplaudiendo cada 15 minutos, primero para unirse y después para hacerle saber a los que estaban dentro que todo
      estaba bien afuera porque estábamos rodeados de policías, de agentes de la Seguridad del Estado, en fin, de
      personas dispuestas a cualquier cosa para sacarlos de ahí y ese era un temor que había, por supuesto.</p>
    <p>Pero el temor fue superado por la energía que se creó ahí entre esas personas, una energía que se concentró en
      esa cuadra. En momento se fue la electricidad y eso no significó absolutamente nada. Nadie salió corriendo. Al
      contrario. Encendieron los móviles hasta que los pocos minutos regresó la luz. O sea, eso fue… Yo creo que…
      Incluso, cuando he conversado con personas que han estado ahí ese día, todo el mundo me dice lo mismo: “Yo estaba
      indignado, yo tenía que ir para allá, yo no me podía quedar en mi casa”.</p>
    <p><strong>¿En algún momento creíste que ese diálogo iba a llegar a alguna parte, que iba a resultar en algo
        positivo?</strong></p>
    <p>Bueno, yo siempre tuve claro porque la experiencia que uno tiene con estas personas de la institución, es que
      ellos no. Ellos siempre van a tratar de dormir el acto de rebeldía. Lo que pasó con 349, pasó… todo lo que ha
      tenido que ver con un reclamo a la institución. O sea, siempre guardan eso en una gaveta y tratan de manejar la
      situación a su favor.</p>
    <p>Ellos tienen a su favor todo, todo. Tienen el aparato de propaganda a su favor, tienen el tiempo a su favor,
      porque no tiene ningún apuro, porque están todos viviendo en comodidad: la comodidad de su doble moral, de su
      bipolaridad política, en fin. Pero yo, en lo personal, estaba más concentrada en lo que se creó ahí ese día. Eso
      no se apagó. Eso está todavía.</p>
    <p>Todavía el grupo 27N se está reuniendo, y se está viendo, y se están compartiendo ideas y hay un grupo en
      Facebook, y hay una página donde se comparte contenido de lo que tiene que ser con toda la repercusión que tuvo
      ese día.</p>
    <p>Yo no pensé nunca en que se diálogo pudiera darse, ni cómo pudiera darse. Yo estaba concentrada en lo que se creó
      ese día porque le tengo mucha fe a esa unión de esas personas que ese día llegaron al Ministerio de Cultura. Y ahí
      era donde yo me estaba recreando. En algún punto, sí, por supuesto, te pasa por la mente: “¿Este diálogo en qué va
      parar?”, “Debimos hacer tal cosa, no debimos hacer otra”.</p>
    <p>Pero lo más fuerte. O sea, lo que para mí marcó una diferencia de todos los acontecimientos anteriores parecidos
      fue eso, que había un sentimiento compartido que se unificó en un grupo frente a un lugar, que es un espacio
      público de este país, reclamando una cosa.</p>
    <p><strong>¿Crees en el diálogo, en general, como un camino para resolver los problemas?</strong></p>
    <p>Por supuesto, el diálogo. Pero el diálogo no se puede ver como el diálogo de un grupo de personas con una
      institución. El diálogo es una palabra que, para mí, parte el diálogo con nosotros mismos. Y eso generó ese
      encuentro. Ahora mismo estamos dialogando entre cubanos. Y no importa si la institución escucha o quiere escuchar.
      Eso para mí es secundario.</p>
    <p>Yo no me puedo concentrar en la voluntad de ellos porque es que no está en mis manos. Si ellos tienen voluntad de
      diálogo, ahí vamos a estar. Yo creo que, por supuesto, es importante hacerles ver porque a ellos no les han
      cantado las 40, como se dice. En ningún espacio donde se desarrollan esas asambleas que ellos tienen, las personas
      van y hacen catarsis, pero no le dicen las cosas que le dijeron ese día que se reunieron con ellos.</p>
    <p>Y eso es bueno. Eso es bueno que ocurra. Y hoy se están defendiendo, pero mañana van a tener que hacer algo
      porque no pueden siempre están dando curvas, como se dice. Sin embargo, ya te digo, te repito, para mí lo más
      importante no está en lo que está ocurriendo en la expectativa de un diálogo. Lo más importante es algo que ya
      está ocurriendo, que es el diálogo entre estas personas, que es el diálogo entre cubanos. Eso es algo que no había
      ocurrido. Fuera de las redes sociales no había ocurrido.</p>
    <p>Recuérdate que estamos en un país en que la libertad de asociación es nula. Más de cuatro personas en una casa ya
      son vigiladas. Y ya después te ponen a una bajo vigilancia, otro te lo meten preso y después, a la otra actividad
      no va nadie.</p>
    <p><strong>¿Cuál crees que sería el camino entre el pueblo y las instituciones para llegar a algún
        entendimiento?</strong></p>
    <p>El pueblo y las instituciones siempre yo creo que van a tener un conflicto y lo más importante es crear un canal
      en el que se hable con transparencia. Ya te digo, lo que vaya a ocurrir después no creo que nadie pueda
      imaginarlo. Todas estas sociedades cerradas han movido milímetros para ceder a favor del pueblo la ciudadanía por
      chispazo. Nunca ha sido por voluntad. Y la tarea del activismo en este caso es buscar eso.</p>
    <p>Y eso está en la constancia, en escuchar al otro, en no cansarse, en perseverar. La perseverancia es fundamental
      en esto, porque muchas veces el trabajo de la Seguridad del Estado está enfocando es desarticular cualquier cosa
      que tenga que ver con armonía de la sociedad civil. Ellos han vendido una sociedad civil fragmentada, vieja,
      cansada, con proyectos vacíos, siempre vinculándolos a mercenarios. Eso trataron de hacer con el 27N y no lo han
      logrado.</p>
    <p>Al contrario, los han tratado de hacer el MSI, Movimiento San Isidro, tampoco lo han logrado. Mientras más hablan
      de ellos en la televisión, más simpatías tienen entre las personas que viven en el barrio de San Isidro y entre
      las personas que han seguido todo lo que han hecho desde el primer momento.</p>
    <p>Lo mismo ha ocurrido con el 27N. Ellos no tienen manera porque ya es un discurso viejo de seguir repitiendo ese
      teque del mercenarismo, y de que las personas no tienen una iniciativa, están ahí por dinero. Eso ya no lo pueden
      seguir repitiendo el mismo éxito que antes.</p>
    <p>Hay una cosa, con la oposición, vamos a decir de hace 20 años era muy fácil para ellos aislarlo y contar una
      realidad paralela. ¿Qué pasa? Que ellos han ampliado tanto el sector de lo que les llama oposición que ya el primo
      tuyo es opositor, tu madre es opositora. Y tú conoces a tu primo, conoces a tu madre, tú sabes que es mentira que
      están recibiendo dinero de la CIA.</p>
    <p>Por tanto, cada día son más personas que despiertan de esa falsedad. Hoy tocaron a tu amigo, mañana tocaron a un
      vecino que tú conoces, que tú sabes que es mentira. Entonces ya insostenible.</p>
    <p><strong>Es una pregunta muy tonta, pero se la estoy haciendo a todo el mundo. ¿Te consideras mercenaria
        tú?</strong></p>
    <p>Es muy simpático porque para mí eso de mercenario es como una palabra vacía que no significa nada. Yo no le veo
      ni sentido a eso de mercenarios. Incluso, muchas veces cuando a la gente que está cerca de mí le dicen mercenario,
      ellos devuelven el adjetivo: “No, más mercenario eres tú que trabajan para <em>Granma </em>y recibes un salario”.
      Yo a eso no lo veo ni siquiera gracia porque, para mí, mercenarismo es otro fenómeno, que no encaja en ninguno de
      los casos. Ni para el caso del trabajador de <em>Granma</em> ni para el caso de nosotros.</p>
    <p><strong>¿Sientes que vale la pena seguir haciendo periodismo y seguir defendiendo las cosas que tú defiendes y
        seguir fajada toda la vida con la Seguridad del Estado?</strong></p>
    <p>Yo no considero que yo esté fajada con la Seguridad del Estado. La Seguridad del Estado está fajada conmigo y con
      todos los que hacen… Yo ni siquiera me defiendo de eso. Yo, sencillamente, reacciono de la mejor manera que puedo.
    </p>
    <p>La fórmula que yo he encontrado es matar el miedo todo el tiempo. Yo trato de vivir sin miedo. No les creo
      ninguna de esas amenazas que dicen. Yo vivo así. Si mañana me meten 20 años y a mis hijas las mandan para un
      correccional, eso es algo con lo que yo no voy a contar. Eso a mí me va sorprender porque yo no tengo miedo de
      eso.</p>
    <p>O sea, es algo que, de verdad, no vivo con ese miedo, pero la pregunta que tú me haces es complicada en el
      sentido de que, por supuesto, yo voy a seguir haciendo periodismo independientemente al costo que haya que pagar.
      Hoy es este costo. Mañana puede ser otro. Recordemos que vivimos en un continente donde los periodistas cuando no
      están amenazados por un gobierno están amenazados por una mafia o por gente que tiene poder y que necesita estar
      en ese poder.</p>
    <p>Y el precio a pagar siempre va a ser el mismo. Luchar contra una persona que te quiere eliminar de ese escenario
      en el cual tú está denunciando lo que él está haciendo mal, en el cual estás narrando una historia que ellos no
      quieren narrar. Y yo voy a estar ahí siempre. O sea, ya yo llegué al periodismo y yo no pienso dar ningún paso
      atrás en ese en ese sentido de lo que es narrar Cuba. Siempre va a ser para adelante.</p>
  </article>
</app-interview-template>
