<div class="wrapper">
  <a>
    <img class="icon" appLazyImg src="./assets/images/icons/external/fblives.webp" alt="icono Facebook Live">
    <div class="info">
      <p>Facebook Live</p>
    </div>
  </a>

  <a href="https://periodismodebarrio.org/2021/01/por-que-seguiremos-contando-el-27n/" target="_blank"
    rel="noopener noreferrer">
    <img class="icon" appLazyImg src="./assets/images/icons/external/pdf.webp" alt="icono Editorial">
    <div class="info">
      <p>Editorial</p>
    </div>
  </a>

  <a href="https://periodismodebarrio.org/2021/03/el-27ene-y-la-zona-fria/" target="_blank" rel="noopener noreferrer">
    <img class="icon" appLazyImg src="./assets/images/icons/external/historieta.webp" alt="icono Historieta">
    <div class="info">
      <p>Historieta</p>
    </div>
  </a>
</div>