<div class="wrapper">
  <a>
    <img class="icon" src="./assets/images/icons/external/fblives.png" alt="icono Facebook Lives">
    <div class="info">
      <p>Facebook Lives</p>
    </div>
  </a>

  <a href="https://periodismodebarrio.org/2021/01/por-que-seguiremos-contando-el-27n/" target="_blank"
    rel="noopener noreferrer">
    <img class="icon" src="./assets/images/icons/external/pdf.png" alt="icono Editorial">
    <div class="info">
      <p>Editorial</p>
    </div>
  </a>

  <a href="https://periodismodebarrio.org/2021/03/el-27ene-y-la-zona-fria/" target="_blank" rel="noopener noreferrer">
    <img class="icon" src="./assets/images/icons/external/historieta.png" alt="icono Historieta">
    <div class="info">
      <p>Historieta</p>
    </div>
  </a>
</div>