$icon-size: 7rem;

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4.4rem;
  padding: 0 calc(1.35 * var(--border-margin));
  margin: 2rem 0;

  a {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    width: 22rem;
    height: 10rem;
    border-radius: 6rem;
    border: solid 2px var(--color-text-400);
    padding: 1.6rem;

    .icon {
      width: auto;
      height: $icon-size;
    }
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    gap: 6rem;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    gap: 9rem;

    a .info p {
      font-size: 1.55rem;
    }
  }
}
