<div class="wrapper">
  <a href="">
    <mat-icon
      aria-hidden="false"
      aria-label="facebook lives"
      svgIcon="facebookLives"
    ></mat-icon>
    <div class="info">
      <p>ESTOS SON LOS</p>
      <p>FACEBOOK LIVES</p>
    </div>
  </a>

  <a href="">
    <mat-icon
      aria-hidden="false"
      aria-label="download pdf"
      svgIcon="docPdf"
    ></mat-icon>
    <div class="info">
      <p>DESCARGAR LA</p>
      <p>VERSI&Oacute;N PDF</p>
    </div>
  </a>

  <a href=""
    ><mat-icon
      aria-hidden="false"
      aria-label="historieta"
      svgIcon="comicBook"
    ></mat-icon>
    <div class="info">
      <p>NOS ENCANTA</p>
      <p>ESTA HISTORIETA</p>
    </div>
  </a>
</div>
