<app-interview-template videoId="LSWYetlCEq0" audioId="991366891">
  <article>
    <p>
      <span class="first-letter">P</span>
      <em>eriodismo de Barrio</em> entrevista a Roberto Carcassés, pianista y compositor cubano, director de la banda
      Interactivo. Esta entrevista forma parte de
      <em>
        <a class="link-higthlight" href="https://www.periodismodebarrio.org/2020/12/la-revolucion-de-los-aplausos/">La
          Revolución de los aplausos</a> </em>, una serie de conversaciones con actores de la sociedad civil que se
      realizaron entre diciembre de 2020 y enero de 2021, a raíz del diálogo que tuvo lugar el 27 de noviembre de 2020
      en el Ministerio de Cultura:
    </p>
  </article>

  <article>
    <h4>¿Te consideras un artista censurado? </h4>
    <p>La censura tiene un espectro grande. A mí me consta, por periodistas y gente que conozco de la televisión y la
      radio, que la censura sobre mí sigue vigente. Es un tipo de censura que llaman “regulado” y consiste en programar
      tu música solo una vez cada una tremenda cantidad de meses, para que no puedas decir que existe la censura&#8230;
      Entonces, no es total como, por ejemplo, la censura que pende sobre Descemer Bueno a raíz de las últimas
      declaraciones que hizo.</p>
    <p>Uno no puede autocensurarse. Yo no he dejado de expresarme y de respaldar lo que digo con mi obra.</p>
  </article>

  <article>
    <h4>Tienes que vivir de lo que haces… ¿Cómo sorteas la censura? </h4>
    <p>Yo trabajo en lugares que pertenecen al Estado y en una empresa estatal. Para un músico no es una opción no
      trabajar con el Estado; es la única posibilidad que existe. Legalmente no puedes ser músico y trabajar libremente;
      tienes que pertenecer a una empresa.</p>
    <p>Claro, la empresa no me ha buscado mucho trabajo a lo largo de mi carrera. Más bien, me ha impedido viajes. He
      tenido que hacer muchos trámites, enfrentarme a funcionarios, etc. La empresa es más un obstáculo que un
      beneficio. Lo que no quiere decir que en la empresa no existan personas de buena fe, amante de lo que uno hace…
      Pero, en general, la empresa es más un lastre que una entidad que te ayuda y apoya.</p>
  </article>

  <article>
    <h4>Es decir, prácticamente te manejas de forma independiente&#8230;</h4>
    <p>Ahora existen los bares privados. Son un poco más amplias las posibilidades… Además, me presento también en
      muchos lugares estatales: en el Bertolt Brecht, en El Sauce. Hemos tocado en el Festival de Jazz. No somos los más
      beneficiados en cuanto a las posibilidades que existen, pero sí, trabajamos en lugares estatales.</p>
  </article>

  <article>
    <h4>¿Y esa censura camuflada cuándo empezó?</h4>
    <p>Existe una maquinaria que siempre ha recompensado a las personas que apoyan al gobierno; para ellos ser
      “revolucionarios” es decir que sí a todo lo que dice el Partido Comunista. Los artistas que apoyan, sin cuestionar
      nada, tienen más beneficios que los artistas contestatarios o neutrales.</p>
    <p>En Cuba hay una larga de historia de censura. Mi papá, por ejemplo, es uno de los casos. Yo heredé esa censura
      también&#8230; Pero, claro, mi papá tiene una obra tan grande que le tuvieron que dar el Premio Nacional de
      Música: es el creador del Festival de Jazz, etc.; ya a los 80 años cuentan con él para muchas cosas que antes no
      contaban…</p>
    <p>Desde que yo empecé como profesional experimenté el rechazo de algunos funcionarios con poder para decidir sobre
      viajes, contratos, etc. Cuando pasó lo de la Tribuna, en 2013, donde abiertamente dije una serie de cosas que
      molestaron mucho…, se trató de implementar una censura total sobre mí, pero hubo una solidaridad nacional e
      internacional que impidió que eso sucediera. Entonces, se implementó la censura solapada…</p>
    <p>Ya te digo, hay muchos funcionarios en el Ministerio de Cultura, en el Instituto de la Música, y muchas personas
      en el Centro de la Música Popular, la empresa que me representa, que aman lo que hago, me apoyan y quieren ayudar.
      Pero bueno, tú sabes, tienen que lidiar con las órdenes que reciben&#8230;</p>
  </article>

  <article>
    <h4>¿El arte tiene una responsabilidad social?</h4>
    <p>Las personas tienen una responsabilidad social de la que se van haciendo conscientes a medida que crecen,
      envejecen. Cuando tienes 20 años no eres consciente de ninguna responsabilidad social; no te parece algo que
      tengas que defender o practicar.</p>
    <p>Yo soy padre, tengo dos hijos, y al ser padre se asume la responsabilidad de educar, dar amor y ser ejemplo para
      ellos. Esa es la responsabilidad social que yo revindico; la de tener libertad, pero tener la conciencia de que no
      estás solo en el mundo, de que existe el otro. Debemos ayudarnos, respetarnos y querernos. Y si no nos queremos,
      por lo menos respetarnos.</p>
  </article>

  <article>
    <h4>¿Y a la hora de componer?</h4>
    <p>Yo respondo a mi entorno. Respondo a lo que vivo cada día. No lo veo como una responsabilidad, sino como un
      disfrute, una pulsión que es mi manera de expresarme. Me siento dichoso de poder hacerlo con el arte y con la
      música. Reflejar ahí todas mis frustraciones, deseos, vivencias&#8230;</p>
  </article>

  <article>
    <h4>Háblame sobre el 27 de noviembre. ¿Por qué fuiste?</h4>
    <p>Fue una iniciativa espontánea, una cosa bella. A esas mismas personas que estaban frente al Ministerio, yo las he
      visto en mis conciertos. De todas las vertientes artísticas e ideológicas. Vi una Cuba –la Cuba que a lo mejor
      quiero yo y que quieren todas esas personas– que no tiene que ser de una forma específica, sino de muchas formas.
      Y lo bonito que tenía era, precisamente, la variedad de gente y de formas de pensamiento. Por eso fui. Estuve un
      rato y fue muy lindo.</p>
    <p>El sentimiento de amor. La intención de dialogar, de hablar y no dejarse provocar por el miedo; porque las
      personas que buscan la violencia, la confrontación, la inexistencia del diálogo, lo que tienen es miedo. Y cuando
      tú percibes eso y dices: “No estoy de acuerdo contigo, pero quiero hablar, que no entendamos. No estoy poniendo
      bombas”. Es muy fuerte.</p>
    <p>Querer mezclar todo lo que pasó ahí con terroristas de Miami, eso me parece una cosa… Me parece bastante
      enfermizo…</p>
  </article>

  <article>
    <h4>¿Tu diálogo por dónde hubiera ido? ¿Tenías algún reclamo?</h4>
    <p>Varios medios me preguntaron por qué estaba ahí y cuál es el cambio que precisa Cuba. Para mí la consulta
      constitucional que se hizo en este país fue una gran pantomima. Una gran falta de respeto. Que los cubanos que
      están fuera no puedan votar en una reforma constitucional, ya, de entrada, invalida todo. Necesitamos una
      Constitución hecha por todos los cubanos y por todas las partes. Mientras no tengamos eso, no tendremos amparo
      legal, constitucional. Muchos cubanos no lo tienen… El Estado protege solo a una parte a través de un gobierno y
      de un partido.</p>
    <p>Otra cosa que dije fue que implantar el pluripartidismo en Cuba me parece un cambio muy drástico. Ahora bien, si
      va a existir un solo partido y de ahí se van a deslindar otros partidos u otras formas de pensar, ese partido
      único tendría que llamarse Partido Martiano o Partido de Martí. Porque el Partido Comunista nunca va a representar
      a todos los cubanos.</p>
    <p>A mí me da igual si hay un partido o no, yo pienso que las personas deben representarse a sí mismas. Las
      asociaciones son por empatía, por afinidad. No puedes evitar que las personas se asocien. Y si vas a tener presos
      en sus casas a cincuenta o sesenta personas, que no pueden salir para evitar que se asocien, lo único que estás
      provocando es que ese número de personas crezca.</p>
  </article>

  <article>
    <h4>¿Y tus reclamos particulares como artista perteneciente a la institución?</h4>
    <p>La institución…, ya te digo, se necesitan cambios medulares. No solo culturales. El Ministerio de Cultura no
      tiene autoridad para realizar esos cambios tan importantes que necesita este país.</p>
    <p>Debe existir un diálogo nacional en el que participemos todos. Y que en los medios públicos se vean las opiniones
      de todos. No solo la opinión del Partido Comunista, el gobierno, el Ministerio del Interior, etc.</p>
  </article>

  <article>
    <h4>¿Crees en el diálogo como el camino correcto para lograr esos cambios?</h4>
    <p>Pienso que sí. El diálogo, el arte, la poesía, la cultura y la música son el mejor camino para que esas cosas
      pasen sin violencia y generen comprensión y consenso. Por eso es tan lindo que haya surgido un grupo de personas
      frente el Ministerio de Cultura a raíz de lo que pasó en San Isidro, que también es muy importante…</p>
  </article>

  <article>
    <h4>¿Qué condiciones crees que deben existir para que ese diálogo sea productivo?</h4>
    <p>Existen intereses mezquinos en todos los lugares. Hay gente que prefiere que todo siga como está, que empeore y
      se produzca un estallido social, violencia en las calles, que se rompan cosas&#8230; Los artistas, los
      intelectuales, pueden ayudar a que eso no suceda.</p>
    <p>Desoír lo que pueda aportar una persona porque no está de acuerdo contigo; desoír a los que no están de acuerdo
      con el gobierno, con el socialismo, con las estructuras supuestamente inamovibles y eternas de la sociedad en
      Cuba; no querer oír lo que te dice una persona con palabras, con su arte y expresión, conduce a la violencia. El
      diálogo es la mejor manera de que en Cuba haya un cambio hacia esa Cuba que sería de todos realmente.</p>
  </article>

  <article>
    <h4>Sin embargo, el diálogo no existirá. Ellos se crearon su propio diálogo…</h4>
    <p>Si no hay diálogo nacional, lo que están buscando es lo otro: crearles cargos a las personas de terrorismo, de
      mercenarismo, para que haya una confrontación que ya no sería con las palabras.</p>
  </article>

  <article>
    <h4>¿Qué hubieras dicho tú si hubieras formado parte de una de esas reuniones?</h4>
    <p>Yo no tengo un interés particular por participar en esas reuniones. Nunca he dejado de decir lo que pienso en
      todas las partes y en todos los medios. No tengo que ir a una reunión para que escuchen lo que pienso.</p>
    <p>Una de las cosas importantes de lo que está pasando es que nadie tiene la solución ni la verdad… Es lo que tiene
      que entender el gobierno. No pueden seguir dictando lo que hay que pensar y lo que hay que decir. Todas las
      personas tienen derecho a expresarse. Hay pluralidad de opiniones; en esa pluralidad está la solución.</p>
    <p>Para mí el problema es estructural. El problema está en la Constitución. El problema es de raíz. No es solo del
      Ministerio de Cultura.</p>
  </article>

  <article>
    <h4>¿Te parece que cambió algo en Cuba después del 27 de noviembre?</h4>
    <p>Sí, muchas cosas. Lo que pasa es que una chispa como esa no puede cambiar todo de hoy para mañana. Cuando yo era
      joven tenía ideas, pero estaba equivocado en cómo implementar las cosas, en cómo decirlas. Es un aprendizaje
      mutuo, para todas las personas. Yo quiero una Cuba con todos.</p>
    <p>Voy a hacerte una anécdota de algo que pasó. Mi suegro es una persona que yo quiero mucho. Una persona buena,
      hermosa. Él pertenece al Partido Comunista y es fidelista. Ve las noticias por lo que dice el noticiero. El día de
      la Fuerzas Armadas Revolucionarias (FAR), que es el 2 de diciembre, le tiraron un papel dentro de la casa que
      decía: “Te queda poco, comunista”. Firmado: Movimiento San Isidro.</p>
    <p>Yo estoy seguro de que eso no tiene nada que ver con el Movimiento San Isidro. Son cuatro anormales que andan por
      el barrio y le tiran eso a mi suegro; una persona que, además, no tiene absolutamente ningún poder. Pero eso lo
      que te demuestra es que no puedes quemar a los que no concuerdan contigo; no puedes decir: “Que se vayan el
      comunismo, que se vayan los comunistas. Vamos a enjuiciarlos a todos, vamos a acabar con el comunismo, vamos
      prohibir el Partido Comunista. Vamos a hacer lo mismo que a lo mejor hicieron los revolucionarios cuando triunfó
      la Revolución: desaparecer todo lo anterior, fusilar; a los millonarios vamos a quitárselo todo…”.</p>
    <p>O sea, yo quiero una Cuba donde estén Fidel y el Che. Y donde estén las ideas, pero no como imposición, sino como
      una opción. Esa es la Cuba que yo quiero. Un país donde tú puedas no querer a Fidel Castro y no ser estigmatizado.
      Como mismo me gustaría que en Miami, las personas que aman a Fidel tampoco sean víctimas de actos de repudio. Esa
      es la Cuba que yo quiero. Donde todos convivamos y todos nos respetemos.</p>
  </article>
</app-interview-template>
