.grid-wrapper {
  width: min(80%, 140rem);
  margin: 3rem auto;
  padding: 3rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 500px) {
  .grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .grid-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid-wrapper {
    grid-template-columns: repeat(4, 1fr);

    // Center last items
    .cell-container {
      /* Dealing with 2 orphan items */

      &:last-child:nth-child(4n - 2) {
        grid-column-end: -2;
      }
      &:nth-last-child(2):nth-child(4n + 1) {
        grid-column-start: 2;
      }
    }
  }
}
