.w-100 {
  width: 100%;
}

.arrow-up {
  transform: rotateZ(-180deg);
}
.arrow-left {
  transform: rotateZ(90deg);
}
.arrow-rigth {
  transform: rotateZ(-90deg);
}

.interview-text {
  font-family: var(--font-family-text-regular);
  font-weight: normal;

  article {
    color: var(--color-text-100);

    h4 {
      padding: 1.3rem 0;
      font-weight: bold;
    }
  }

  p:first-child {
    display: flex;
    flex-direction: column;

    .first-letter {
      font-size: 10em;
      font-weight: bold;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 550px) {
  .interview-text {
    p:first-child {
      display: block;

      .first-letter {
        float: left;
        padding: 0 3rem 0 0;
        margin: 0;
        line-height: 1.2;
      }
    }
  }
}
