.w-100 {
  width: 100%;
}

.interview-text {
  article {
    color: var(--color-text-100);

    h4 {
      padding: 1.3rem 0;
    }
  }

  p:first-child {
    display: flex;
    flex-direction: column;

    .first-letter {
      font-size: 10em;
      font-weight: bold;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 415px) {
  .interview-text {
    p:first-child {
      display: block;

      .first-letter {
        float: left;
        line-height: 0.8;
        padding: 0 3rem 1.5rem 0;
        margin: 0;
      }
    }
  }
}
