<app-interview-template videoId="r16Qp64mYyg" audioId="964837681">
  <article>
    <p>
      <span class="first-letter">P</span>
      <em>eriodismo de Barrio</em> entrevista a Fernando Pérez, director de cine y escritor cubano. Esta entrevista
      forma parte de
      <em>
        <a class="link-higthlight" href="https://www.periodismodebarrio.org/2020/12/la-revolucion-de-los-aplausos/">La
          Revolución de los aplausos</a> </em>, una serie de conversaciones con actores de la sociedad civil que se
      realizaron entre diciembre de 2020 y enero de 2021, a raíz del diálogo que tuvo lugar el 27 de noviembre de 2020
      en el Ministerio de Cultura:
    </p>
  </article>

  <article>
    <p><strong>¿Qué función social tiene el cine en la Cuba de hoy?</strong></p>
    <p>El cine para mí siempre ha sido, primero, una expresión artística, de arte. Yo creo que no se le debe fijar un
      papel específico, porque el arte es libre. Lo que me ha identificado siempre, en mi formación y participación como
      cineasta en los primeros años del ICAIC, es que el ICAIC es el Instituto Cubano de Arte e Industria
      Cinematográficos. Y la definición fundamental de arte es ir, justamente, a la complejidad de los fenómenos y los
      temas.</p>
    <p>El arte es individual, subjetivo. Se abre a la polémica, a la herejía, a la provocación, pero siempre tratando de
      mantener la ambivalencia y la complejidad de cada fenómeno, de cada tema. Por eso, el arte siempre ha tenido un
      papel que, a diferencia de otras disciplinas, va justamente a la discusión, a la polémica y, por lo tanto, a la
      diversidad de criterios y al enriquecimiento del pensamiento. A lo largo de la historia de la humanidad, el arte
      ha desempeñado ese papel. Y ese es el cine que, con contradicciones, yo creo que se ha hecho en Cuba. Por eso,
      cada cierto tiempo, ha provocado conmociones, discusiones, incomprensiones.</p>
    <p>La política cultural tiene que ser abierta.</p>
    <p>La libertad creativa tiene que ver con la libertad de expresión. Y la libertad de expresión es libre o no lo es.
    </p>
    <p><strong>¿El ICAIC, como institución que rige el cine, tiene alguna función específica más allá de producir
        monetariamente?</strong></p>
    <p>El ICAIC es el organismo regulador de todo ese fenómeno que ya no solamente es el cine, sino el audiovisual, y
      debe hacerlo a partir de los principios que expresé antes.</p>
    <p>Es una institución que ha tenido que ir evolucionando en su perspectiva y directrices, en su manera de
      relacionarse con la realidad. No es lo mismo el ICAIC de los años 60, porque la realidad no es la misma. Hoy
      existe un cine independiente que se produce fuera de la industria y no necesariamente contra la industria. Estoy
      hablando de formas de producción. En esa evolución, el ICAIC es un organismo que debe estar atento.</p>
    <p>Hace unos años, los cineastas –tanto del ICAIC como independientes–, pedimos participar en una reflexión con el
      Estado y las instituciones; entonces se creó la Asamblea de Cineastas Cubanos, que fue muy controvertida, muy
      polémica. Pero de alguna manera ha sido un antecedente de lo que está ocurriendo hoy con los jóvenes –no solamente
      cineastas, también de otras expresiones artísticas–, reclamando participación y diálogo. En muchas ocasiones, las
      instituciones cubanas no han estado sincronizadas con la realidad que los artistas –sobre todo los jóvenes– están
      viviendo.</p>
    <p>Lamento mucho que esas asambleas ya no se continúan haciendo, pero bueno, la vida también es así, no todo va
      sobre un mismo canal y un mismo horizonte. De ahí han surgido respuestas a ciertos reclamos: el Fondo de Fomento,
      el reconocimiento del creador audiovisual independiente, etc. Medidas positivas que han sido señales de diálogo,
      de actualizar los procesos –porque el cine es una industria– de producción, pero siempre preservando el principio
      de que el cine es un arte y tiene que ser libre en su expresión, en su diversidad, etc.</p>
    <p><strong>Te repito la pregunta: más allá de su papel como productor monetario, es decir, como censor de las
        libertades que tienen los cineastas, ¿te parece que el ICAIC lo está haciendo bien? ¿Qué debería cambiar o
        evolucionar?</strong></p>
    <p>El ICAIC ha censurado películas y ha provocado la discusión de los cineastas frente a esa política censora: desde
      <em>P.M. </em>hasta hoy –la más reciente fue el documental de José Luis Aparicio y Fernando Fraguela sobre Mike
      Porcel–; cada cierto tiempo, una manifestación de censura ha respondido también a circunstancias. No es lo mismo
      la circunstancia histórica de <em>P.M.</em> que la circunstancia histórica de hoy con el caso de <em>Sueños al
        pairo</em>, el documental sobre Porcel.</p>
    <p>Más allá de las circunstancias, la censura siempre es lo mismo. Si el arte es libre, no puede existir censura. Y
      realmente, a veces, la censura responde a políticas con las cuales yo no estoy de acuerdo y que muchos cineastas
      también han objetado. Una mentalidad que, según la circunstancia, se expresa o no.</p>
    <p>No puedo afirmar tajantemente que lo que define al ICAIC es ser una institución censora. No es lo que lo define
      para mí. Es una institución que ha censurado, ha polemizado, pero también ha contribuido a crear una
      cinematografía y a favorecer espacios donde se puede crear un cine que aspire a una expresión artística y
      compleja. Eso es una discusión que va ser permanente. Esas mentalidades no están solamente en el ICAIC, yo lo
      extendería a todo el país: hay que cambiar y es una lucha de ideas. Pero las ideas no se cambian, ni las
      mentalidades, de un día para otro.</p>
    <p>Lo he vivido. Una línea que a veces uno siente que es plana, pero yo creo que es ascendente. He presenciado todas
      las discusiones. No viví la de <em>P.M.</em> porque era muy jovencito, pero si viví la de<em> Alicia en el pueblo
        de Maravillas </em>y yo creo que lo se discutió allí y lo que lograron los 19 cineastas que discutimos, fue una
      reafirmación de que el cine es una expresión abierta y compleja. Fuimos escuchados.</p>
    <p>Después vinieron otras. Me acuerdo de <em>Fuera de liga</em>, de Ian Padrón. En fin, ya&#8230; Eso nunca se
      termina: un año sí y un año no. Hay que seguir discutiendo para que la expresión de nuestro cine nacional,
      diverso, complejo, sea abierta como soñamos.</p>
    <p><strong>¿Ha sido censurado Fernando Pérez?</strong></p>
    <p>Directamente no, dedo decirlo. Yo he hecho las películas que me he planteado. Tampoco me he autocensurado. Pero
      sí he visto casos donde se han censurado películas.</p>
    <p><strong>¿Cómo es su relación con el ICAIC? Por su obra, usted está en el centro entre lo que quieren hacer
      </strong><strong>–</strong><strong>o están haciendo</strong><strong>–</strong><strong> los jóvenes y el ICAIC. Le
        pregunto por su relación con los dos bandos. </strong></p>
    <p>Es más complejo que eso. Porque el ICAIC es un referente, el referente de mi actitud ante la vida como cineasta,
      que no está separa de mi actitud como ciudadano de este país, como Fernando Pérez. No puedo definir si estoy en el
      centro, a la izquierda, a la derecha, porque no me gustan las definiciones tajantes en un sentido de filiación. Me
      formé en el ICAIC, crecí con el ICAIC, y eso para mí es una herencia que nunca voy a negar.</p>
    <p>Yo pienso que lo importante es mantener las ideas en las cuales creo. No puedo negar esa obra que ha enriquecido
      a nuestro cine y que pertenecen al ICAIC, pero al mismo tiempo me reconozco y comparto y apoyo y discuto las
      nuevas ideas que traen los jóvenes. Cuando digo los jóvenes no quisiera ser generalizador, porque creo que las
      expresiones del cine joven también son tan diversas como fueron las de nuestra generación.</p>
    <p>En ese desarrollo de las ideas, nunca me ha gustado decir: “Esto es de es un solo color y esto es así y yo estoy
      de este lado o estoy del otro”. Yo defiendo las políticas abiertas del ICAIC y he estado en contra de las
      políticas cerradas que en situaciones extremas ha mantenido el ICAIC.</p>
    <p>Yo comparto ideas de los jóvenes y otras no las comparto, pero defiendo el derecho a que se expresen.</p>
    <p>Yo creo que hay un principio y eso fue lo que definió la manifestación frente al Ministerio de Cultura: partió de
      la diversidad. En estos días me ha venido a la mente <em>Memorias del subdesarrollo</em> y recordé una reflexión
      del protagonista, Sergio, que indudablemente es una reflexión de su director también, de Titón, cuyas ideas y
      enseñanzas siempre van conmigo. Hay una escena en que muestran imágenes de la captura de los mercenarios de Playa
      Girón y recuerdo que él está leyendo el libro <em>Moral burguesa y revolución</em>, de León Rozitchner, un
      ensayista argentino; la reflexión es: “No, la verdad del grupo de esos mercenarios está en el asesino”.</p>
    <p>Me puse a pensar en el grupo que estaba frente al Ministerio de Cultura. Se ha divulgado mucho que la verdad de
      ese grupo está en el Movimiento de San Isidro –uno puede compartir o no las propuestas y reclamos que hace el
      grupo o la manera en lo hacen–; entonces se ha concentrado mucho en eso la prensa nacional, y yo pienso que no. La
      verdad del grupo está en el grupo mismo, que es un grupo diverso. Nadie se puso de acuerdo con nada, pero vinieron
      a reclamar principios: derecho a la libertad de expresión. Ese es el principio que a mí me ha ligado a ellos, y
      defendiendo, por supuesto, las otras ideas. Me interesa participar, aquí, en este país, defendiendo esos
      principios en un país complejo, una Cuba que quiero, una Cuba inclusiva. Y que sea una Cuba soberana. No una Cuba
      dependiendo ya en los términos políticos de injerencia, u otras cosas, porque aquí se polarizan los puntos de
      vista.</p>
    <p>Creo que es un momento en el que con las contradicciones que nosotros tenemos aquí adentro necesitamos diálogo,
      incluso con aquellos que han estado excluidos. No solamente por posiciones creadoras, sino también por posiciones
      políticas. Eso va a contribuir a que todo se relacione. Por lo tanto, no es una respuesta que yo te pueda dar en
      una sola palabra. A mí me gusta la complejidad, me gusta analizar los problemas desde todas las perspectivas y eso
      es lo que me permitiría, ya como individuo, como artista, como cineasta, y como cubano, mantener una sincronía con
      aquello que yo pienso en un escenario que es complejo.</p>
    <p><strong>Hablaste del 27 de noviembre, pero necesito hacerte una pregunta antes de caer ahí, una pregunta sobre el
        cine independiente de hoy. Lo que está pasando con él, si defiendes que ese cine independiente tenga espacios
        donde ser proyectado…</strong></p>
    <p>Fundamental. En tu pregunta están los principios que yo defiendo de ese cine independiente. Lo has dicho tú: que
      tengan ese espacio, que se exprese a partir de la diversidad, de la complejidad. Y que no sea excluido, ni
      marginado en ningún momento.</p>
    <p><strong>¿Te parece necesario ese cine independiente?</strong></p>
    <p>No es que sea necesario, es que forma parte de la realidad. Existe por sí mismo.</p>
    <p><strong>Entonces, volvemos al 27 de noviembre. ¿Cómo lo supo, cómo llegó, por qué llegó?</strong></p>
    <p>Mira, el fenómeno de San Isidro estaba en las redes. Yo no consulto mucho las redes. No tengo Facebook, no tengo
      Twitter. No porque los niegue, pero bueno, no me manejo bien. Tampoco soy muy mediático, no me gusta estar
      constantemente en la expresión pública, pero bueno, fue una decisión mía, personal, pero sí creo que es un
      fenómeno que realmente ha aireado y ha dinamizado la realidad informática; sobre todo en Cuba, donde la prensa no
      es sensacionalista ni amarillista, pero es una prensa más movilizativa que informativa muchas veces. Y eso ha
      permitido que los que participan en las redes –que para mí tienen una parte tóxica, pero por otro lado tienen una
      parte de verdad positiva de comunicación–, tengan espacios que en los medios de comunicación oficiales no lo
      poseen.</p>
    <p>Yo conocía la situación de San Isidro, pero mucho más de oída que por leer algunas cosas. Y, evidentemente, aquí,
      ni en la prensa ni en la televisión cubana nada se ponía. Era una información a medias. Porque, además, porque lo
      de San Isidro viene desde hace tiempo. No empezó ayer. Conozco que en muchos casos a Luis Manuel Alcántara lo
      habían reprimido por algún <em>performance </em>que había hecho, etc. Eso formaba parte de una discusión. Desde mi
      punto de vista, yo pudiera estar de acuerdo con lo que dice Alcántara o no, la manera en que se manifiesta, pero
      siempre guardando el principio de que no tenían por qué reprimirlo. Ese era mi principio.</p>
    <p>Después, supe que eso iba también entre los jóvenes teniendo más apoyo, etc. Y recuerdo que el día 27 de
      noviembre yo estaba aquí, en mi casa. Me llamó Pichi, y me dijo: “Fernando, mira, hay una situación en el
      Ministerio de Cultura”. Bueno, lo que ustedes vivieron. Y Pichi me dijo: “Yo creo que nosotros tenemos que ir allá
      a ver qué pasa”.</p>
    <p>Realmente yo no sabía ni qué decir, porque ni sabía lo que estaba reclamando. Me imaginé lo que estaban
      reclamando. Y allí llegué y bueno, ocurrió lo que ocurrió. Lo que yo viví allí, realmente fue… Constaté lo que me
      imaginaba. Había jóvenes que yo conozco de la Muestra, de otros lados, jóvenes que yo conozco, incluso, desde el
      edificio mío, que los he visto crecer y que estudian Comunicación Social, esto, lo otro. Diversidad. Y había otros
      artistas plásticos que no conocía y que después tuve la oportunidad de escuchar allá dentro, cuando logré entrar.
    </p>
    <p>Y lo que dijeron allí esos muchachos…, yo me identifiqué totalmente con ellos y con sus demandas. Te cito
      nombres: el primero que habló fue Michel Matos, no lo conocía mucho, pero sí de cuando el fenómeno de Rotilla, que
      fue desbaratado también, eliminado y que colaboró mucho con la Muestra en la época en la que yo estaba en la
      Muestra de Jóvenes Realizadores.</p>
    <p>Él planteó sus reclamaciones con mucha profundidad, respeto, argumentos, etc. Ahí estuvo Julio Llópiz-Casal
      también, que hizo una intervención analizando las ideas y los reclamos que ellos estaban haciendo desde un punto
      de vista histórico. Una muchacha que no conocía, Camila Lobón, que hizo una intervención realmente profunda de
      pensamiento. Una muchacha que después yo abracé, no recuerdo su nombre, que la hizo desde la emoción. Yunior
      García, que lo conozco desde Holguín, que ha mantenido siempre una actitud abierta, dinámica, de enfrentamiento,
      participando siempre y reclamando la participación. Yo sentí que realmente había algo esencial que unía ­–o une– a
      todos estos jóvenes dentro de esa diversidad: es el derecho a la expresión. Después vienen los matices. Después
      vienen las posiciones individuales, personales, de grupo, pero eso es, justamente, la riqueza de la diversidad.
      Esa unidad dentro de la diversidad es algo que se ha reclamado durante mucho tiempo y ahí se dio un paso
      fundamental para que a partir de ese diálogo, que ojalá se mantenga, se pueda mantener y se pueda lograr.</p>
    <p><strong>¿Planteó algo usted en la reunión?</strong></p>
    <p>Lo mismo que estoy diciendo aquí. Yo no pensaba hablar. Pero después de que habló la muchachita –no recuerdo su
      nombre, pero después la abracé–, levanté la mano porque me emocionó realmente. Yo no pensaba hablar, porque pienso
      que son los jóvenes los que tienen que hacerlo, no porque ya me cansé de hablar. No, no es eso. Pero creo que los
      jóvenes tienen que caminar por sí mismos y fueron ustedes lo que lo hicieron. No fue mi generación, aunque
      nosotros hayamos estado ahí, etc.</p>
    <p>Eso por supuesto, no se publica aquí, ni se pone en la prensa, por lo tanto, te lo voy a decir ahora sin que sea
      textual. Lo primero que dije fue que no pensaba hablar, pero después de escucharlos a ustedes sí quiero hacer mi
      intervención y yo creo que esto responde también a que se ha esperado mucho para dar respuestas. Esto se tendría
      que haber hecho antes.</p>
    <p>¿Por qué? Porque la prensa nuestra no responde a expresar la complejidad. La libertad de expresión es libre o no
      es libertad. Y eso hay que entenderlo. Habrá criterios diferentes, de oposición, etc., pero tienen que tener su
      espacio. Esos espacios no se no se pueden reprimir.</p>
    <p>Y algo que yo voy a seguir manteniendo y que creo que deben cesar ya, totalmente, son los actos de repudio.
      Pertenecen a la parte más oscura de una historia reciente y no tan reciente a lo largo de nuestra historia. Esa
      expresión de separación, exclusión, de odio, de violencia, también existían en los tiempos de Martí. Lo reflejé en
      la película que hice, <em>El ojo del canario. </em></p>
    <p>Quisiera que esa juventud que tiene tantas ideas esté aquí y que no se vaya. Yo tengo tres hijos y dos se han
      ido. Uno vive en Estados Unidos, otro en España. A mí me hubiera gustado que estuvieran aquí. Pero bueno, hay
      muchos jóvenes que se van, justamente, por esa falta de respuestas.</p>
    <p>Así lo dije.</p>
    <p><strong>¿Le parece entonces que fue un diálogo productivo y que es un buen camino a seguir?</strong></p>
    <p>Fue un primer paso. Y para que haya diálogo tiene que haber voluntad de ambas partes. Más allá del Misterio de
      Cultura, son muchas instituciones las que tienen o están emplazadas a dar respuesta a este grupo de jóvenes. Este
      grupo diverso de jóvenes tiene una voluntad de diálogo. Esa voluntad yo la sentí. La sentí, ¿sabes cómo?, a nivel
      emotivo. Yo no soy muy conceptualizador, pero pienso. Pienso mucho. A veces no logro expresar mis ideas
      exactamente con las palabras que quiero, pero por eso me dejo llevar más por la emotividad. Y yo sentí que esa
      voluntad sí está, estaba, en ese grupo de jóvenes que vi allí cuando salimos. Estaban esperando, cantaban
      canciones de Silvio, Pablo, Joan Manuel Serrat, y se cantó el Himno Nacional.</p>
    <p>Cuando yo llegué a mi casa… –vi por el camino que había perseguidoras, policías, grupos preparados para un
      posible acto de repudio–, cuando llegué, pensé, bueno, lo que ocurrió allí fue una manifestación política, por
      supuesto, porque todo es político, pero lo que define para mí ese momento es que fue una manifestación poética.
      Ahí hubo poesía.</p>
    <p>¿Y la poesía qué cosa es? La poesía es mirar la realidad en todos sus contornos. No cerrados. No con una sola
      mirada. No con imposiciones. No con violencia. Y eso fue lo que hizo grande a José Martí. Porque Martí fue un
      pensador, fue un filósofo, fue un escritor, fue un político, fue un luchador, pero todo lo hizo con una mirada
      poética, que es la que se abre al diálogo y al conflicto.</p>
    <p>Martí tuvo que discutir mucho para que nuestro país, la Cuba que el soñó, no fuera un campamento. No se puede
      dirigir un país como si fuera un campamento. Un campamento se dirige con una sola idea y con órdenes. Y esa no es
      la Cuba que ustedes quieren ni yo tampoco.</p>
    <p><strong>¿Estás convocado a la segunda reunión con el ministro?</strong></p>
    <p>Hasta ahora no.</p>
    <p><strong>¿Qué crees de la campaña de descrédito contra los artistas e intelectuales que participaron? </strong>
    </p>
    <p>Los medios de comunicación no han reflejado la totalidad de lo que allí ocurrió, incluso, porque esas
      intervenciones que yo escuché allí dentro…, los que se quedaron afuera y cantaron…, no se han mostrado a nadie.
      Solamente una foto fija, inmóvil, congelada y los comentarios que se ponen por arriba.</p>
    <p>Incluso –ahí yo me levanté y no quise seguir viéndolo– cuando ponen nuestras imágenes, el momento cuando llegamos
      Pichi y yo, ahí no se escucha lo que dijimos nosotros. Eso es incompleto y es una manera –lo dije también
      anteriormente– de no completar la información. Y por lo tanto, cuando tú das una información incompleta, lo que
      estás es influyendo en un posible prejuicio o una manera de ver que no permite la supuesta objetividad de que
      estén todas las partes. Yo creo que falta todavía –ese es uno de los reclamos– que las voces de esos muchachos,
      ustedes, que estuvieron ahí, tuviesen también su espacio en ese programa de televisión o en las noticias.</p>
    <p>Ustedes hacen periodismo, son de <em>Periodismo de Barrio</em>, creo que ese es el periodismo al que aspiran
      también. Hay que llegar a eso. En este momento se puede estar creando en la opinión pública un prejuicio hacia lo
      que ocurrió en el Ministerio de Cultura; yo no sé si le llaman movimiento o fenómeno. Hay cierto prejuicio. He
      recibido preguntas de vecinos míos, gente que me ve por la calle, que no está informada de todo esto, y me dicen:
      “Y porque tú estabas metido en eso”. No entienden, porque la información está incompleta. Esa es una de las
      aspiraciones que están en los reclamos que se hacen y espero que sí, que se entienda y que se llegue a eso. No va
      ser fácil, el camino va a ser largo. Pero es el primer paso para que exista voluntad de diálogo y entendimiento,
      para que haya participación. Y dondequiera que se exprese ese diálogo yo participaré.</p>
  </article>
</app-interview-template>
