<app-interview-template videoId="FUVitTh0hlg" audioId="961260154">
  <article>
    <p>
      <span class="first-letter">P</span>
      <em>eriodismo de Barrio</em> entrevista a la artista cubana Tania
      Bruguera, fundadora del Instituto Internacional de Artivismo «Hannah
      Arendt» (INSTAR). Esta entrevista forma parte de
      <em>
        <a
          class="link-higthlight"
          href="https://www.periodismodebarrio.org/2020/12/la-revolucion-de-los-aplausos/"
          >La Revolución de los aplausos</a
        > </em
      >, una serie de conversaciones con actores de la sociedad civil, a raíz
      del diálogo que tuvo lugar el 27 de noviembre de 2020 en el Ministerio de
      Cultura.
    </p>
  </article>

  <article>
    <h4>¿Podrías explicar la relación entre arte y provocación?</h4>
    <p>
      Para mí no es importante pensar en términos de provocación o no
      provocación, en los shocks que pueda tener una obra o en el escándalo: lo
      importante es entender cuál es la función que uno le da al arte.
    </p>
    <p>
      Muchas personas, sobre todo las personas que hacen performance, tratan de
      explorar con el arte los límites de la vida; no solamente los límites de
      la vida íntima, personal, sino también social. Qué sucede: nosotros
      vivimos en sociedades en las cuales se ha decidido –ya sea históricamente,
      de conjunto o en grupos, gremios–, qué es lo correcto, lo incorrecto, qué
      se debe hacer, qué no se debe hacer… Entonces, ahí sí defiendo la libertad
      que debe tener el arte de cuestionarlo todo, incluso cosas que se han
      decidido hace siglos, correctas o no. ¿Por qué? Porque el arte es una
      exploración a terrenos que no han estado codificados, de redistribución de
      sentidos.
    </p>
    <p>
      Cuando uno se dedica a cuestionar lo que todo el mundo hace sin
      preguntarse, se convierte en un escándalo, en una provocación. A mí me
      parece que el arte no es provocación. El arte es un viaje difícil,
      honesto, donde te lo cuestionas todo.
    </p>
  </article>

  <article>
    <h4>
      Ese cuestionamiento del artista se supone que debe llegar al público y que
      el público responda de cierta forma. ¿Buscas eso desde el principio?
    </h4>
    <p>
      Hay distintas maneras: a veces el artista se busca a sí mismo, busca
      dentro de sí, pero el artista siempre tiene la necesidad de compartir con
      otros su búsqueda y sus aciertos.
    </p>
    <p>
      Yo soy una artista que me posiciono desde el arte de conducta, desde el
      arte políticamente comprometido, y a mí sí me interesa ver el arte como
      una herramienta social. Por lo tanto, cuando hago una obra, no decido:
      “Ay, me gusta el color azul y por eso voy a pintar esta pared de azul”. Yo
      tengo que pensar cómo funciona el color azul para las personas que van a
      venir a la exposición, cómo han reaccionado ellos históricamente al color
      azul, qué significa el color azul para ese grupo y no para otro.
    </p>
    <p>
      En ese sentido, mi arte es una especie de “esclavitud” con respecto al
      público, porque yo hago la obra teniendo en cuenta emociones –formadas o
      deformadas– que tienen las personas que van a encontrarse con ella.
    </p>
  </article>

  <article>
    <h4>
      Entonces, en cada una de esas obras buscas que la gente responda de cierta
      manera…
    </h4>
    <p>
      Trato de que la gente no responda de una manera X o Y. Mis obras no son
      para hacer algo que está bien o está mal. Busco que la gente tenga que
      repensar las respuestas automáticas que han aprendido. Y ponerlos en una
      posición de vulnerabilidad donde dicen: “No sé cómo reaccionar”, o “Lo que
      sé, que siempre he utilizado, no me está funcionado para esto”.
    </p>
    <p>
      Entonces, en ese sentido, no hay una cosa correcta o incorrecta. Hay
      solamente un abrirse a buscar otras maneras de reaccionar o de tener,
      digamos, una experiencia con esa situación que yo creo a través de mi
      obra.
    </p>
  </article>

  <article>
    <h4>¿Puedes establecer una relación arte/activismo?</h4>
    <p>
      El arte tiene múltiples funciones. Generalmente las funciones estéticas,
      hedonistas –que hablan sobre la estética o sobre el arte en sí mismo–, son
      las que más fácilmente se promocionan, porque son cuestiones que no crean
      muchos conflictos.
    </p>
    <p>
      Pero nací en Cuba, mi educación artística viene de Cuba y volví a retomar
      preguntas que se hicieron al inicio de la Revolución: ¿Para qué es el
      arte? ¿Puede el arte cambiar la realidad? ¿Puede el arte hablar por
      situaciones que no tienen otra manera de representarse?
    </p>
    <p>
      En ese sentido, poco a poco, encontré el activismo. Porque el activismo es
      una práctica en la cual tú eres consciente de que eres un ciudadano
      activo, con una responsabilidad. No eres un cliente de una empresa, no
      eres un consumidor. Eres un ciudadano. Es decir, alguien que defiende sus
      derechos y que exige que se cambie lo que no le funciona, a él o a su
      grupo.
    </p>
    <p>
      El arte y el activismo, a lo que yo le he puesto artivismo –hay gente a la
      que no le gusta el término, a mí me gusta mucho–, es decir, el reclamo de
      interferencia en la realidad, el reclamo de cambio de la sociedad que
      pueden hacer los artistas desde el arte, necesita un componente que no sea
      solamente hedonista, espiritual. Necesita un componente de acción y de
      entendimiento de las energías y los sistemas que existen, a través de los
      cuales nuestros derechos son cercenados o eliminados.
    </p>
    <p>
      El arte que quiere ser activista tiene que ser en primer lugar buen arte y
      lo más vanguardista posible, porque debe también cuestionarse su forma.
    </p>
  </article>

  <article>
    <h4>¿Cómo debe ser entendido ese arte en una Cuba democrática?</h4>
    <p>
      Para llegar a una Cuba democrática, yo siempre he tenido una fe infinita
      en el arte. Como se vio en la manifestación delante del Ministerio de
      Cultura, los artistas tenemos varias ventajas. Tenemos una vida complicada
      igual que todo el mundo: hay que ir a la bodega, conseguir las cosas de la
      supervivencia, pero tenemos un espacio en nuestras mentes para imaginarnos
      algo que no ha existido todavía.
    </p>
    <p>
      A veces las personas tienen muchas ganas de que las cosas cambien, pero la
      vida cotidiana es tan densa y tan urgente que no tienen, ni siquiera, el
      entrenamiento para pensar: “Espérate, esto yo lo puedo hacer de otra
      manera”, “Espérate, yo quiero esto”. No pueden proyectar cómo quieren las
      cosas, aunque tengan el sentimiento.
    </p>
    <p>
      Nosotros los artistas nos entrenamos para imaginar algo que no existe. Es
      decir, un cineasta, hace una película en su cabeza, y después la filma…
    </p>
  </article>

  <article>
    <h4>¿Pero cuando dices “entrenarnos” te refieres a la academia?</h4>
    <p>
      Me refiero a la tradición del arte. No tiene que ser a la academia. No
      tiene que ser una escuela formal, también hay una formación “informal” del
      arte. Donde uno va aprendiendo de una historia, cómo se crea un lenguaje,
      cómo se articula la producción de una idea para que se haga realidad: cómo
      podemos hacer que lo que está en nuestra cabeza se convierta en algo
      físico fuera de nosotros. Esa es una posibilidad que tenemos los artistas
      de todos los ramos. Y es algo que nos puede ayudar en esa Cuba democrática
      que todos queremos. Yo creo que todos la quieren. No solamente los
      artistas, ni la gente descontenta.
    </p>
    <p>
      Los artistas también entienden el poder simbólico de las cosas. Cuando un
      artista ve un pedazo de tela, no ve una tela. Lo que ve es un cielo. Lo
      que ve es…, no sé, otra cosa. Para que haya un cambio democrático en Cuba
      tiene que haber cambios simbólicos, y cambios de significado de las cosas
      que tenemos hoy. Los artistas tienen las herramientas para hacer eso.
    </p>
  </article>

  <article>
    <h4>
      En una Cuba democrática y futura, ¿qué papel jugaría ese arte? ¿El
      artivismo dejaría de tener sentido?
    </h4>
    <p>
      En una Cuba democrática debe existir el arte contestatario. Debe existir
      el arte crítico, el arte que cuestiona al poder. El arte debe cuestionar
      al poder. No importa si la sociedad es de una manera u otra. En una Cuba
      democrática, al arte se le debe potencializar su capacidad para cuestionar
      al poder. Cuestionarlo sin que haya consecuencias para las personas. Sin
      consecuencias negativas. El arte será siempre una conciencia de la
      sociedad, una conciencia crítica de la sociedad.
    </p>
    <p>
      Hay otro tipo de arte, no digo todo el arte, esto es importante: yo
      defiendo el arte que me gusta hacer a mí. No digo que es el único que debe
      hacerse; adoro y disfruto otros tipos de arte. Pero defiendo el arte como
      una herramienta para rectificar o redireccionar cosas incorrectas que hace
      el poder, ahora o dentro de cien años.
    </p>
  </article>

  <article>
    <h4>
      Para llegar a eso, háblame sobre el diálogo, el camino del diálogo que
      está empezando ahora.
    </h4>
    <p>
      Soy una persona que ha pasado por muchas experiencias anteriores en Cuba y
      fuera de Cuba: diálogos, sentadas, manifestaciones. Quiero ser muy
      cautelosa. El día que hubo la sentada frente al Ministerio de Cultura, me
      pasé la mitad del tiempo llorando de la emoción: llevo 20 años esperando
      para ver eso en Cuba.
    </p>
    <p>
      Y ver que las personas fueron tan responsables que no se dejaron provocar,
      porque había agentes de la Seguridad del Estado tratando de provocar; que
      les echaron espray y no se dejaron provocar, y que entendieron el símbolo
      de estar ahí…, eso me pareció algo de una esperanza tremenda. Pero el
      camino del activismo tiene muchos vericuetos. Muchas trampas que se le
      ponen. Y tan fácil es emocionarse como desilusionarse. Es tan fácil
      emocionar a un grupo de gente y crear un espacio de esperanza como lo es,
      y tan rápido, decepcionar.
    </p>
    <p>
      Cuando se hace activismo –más en un país como Cuba que es una anomalía–,
      un activismo real, ciudadano, no un activismo falso, creado por el Estado
      para aparentar… Cuando se hace activismo real lo que estás haciendo es
      activar, precisamente, todos los sueños de todas las personas que llevan
      años pensando que nada va a pasar. Entonces, es muy difícil que tú puedas
      complacer a todas las personas que han visto en una acción la solución de
      todo, cuando es solo una acción.
    </p>
    <p>
      Yo quiero ser cautelosa. He sido la persona más feliz estos días. Hoy, la
      reunión que hemos tenido me ha dado unas esperanzas tremendas. Lo que más
      esperanza me da no es que la gente sabe o no sabe hacer las cosas, sino el
      nivel de honestidad y el nivel de respeto. Aquí se han dicho cosas muy
      fuertes. Eso para mí es un logro mucho más grande que cosas que quizás
      visualmente sean más poderosas. Porque significa que hay una fibra sana. Y
      solamente puede haber en Cuba una vida democrática si nosotros nos curamos
      todo el daño antropológico que tenemos; si nosotros podemos ser honestos
      unos con otros; respetar verdaderamente –no para hacer una pose– lo que
      piense el otro. Eso es lo que yo he visto en este grupo. Y eso me da más
      fe que nada.
    </p>
    <p>
      Yo pienso que dialogar siempre debe ser una opción. La gente dice que soy
      muy radical, pero en realidad no soy ese monstruo que pintan. Yo confío en
      las instituciones como estructura. No confío en las instituciones cubanas.
      Y no confío en las instituciones cubanas porque he visto cómo se han
      traicionado a sí mismas y cómo no han cumplido sus funciones. Pero yo en
      la institución, como estructura social, como mecanismo político, sí creo.
      De hecho, pienso que uno de los grandes problemas que hay en Cuba es que
      se vació de contenido y de función real la institución. Entonces, las
      instituciones se convierten en atrezo, donde la gente entra y sale de una
      oficina, pero no le importa nada. La gente verdaderamente no cree en esa
      institución.
    </p>
    <p>
      Para que nosotros podamos salir de un totalitarismo, para que en Cuba no
      haya dictadura, para que en Cuba pueda existir una sociedad como siempre
      se dice: “con todos y para el bien de todos”, hay que tener instituciones
      fuertes, que defiendan su misión. El diálogo es importante, nosotros
      estamos exigiendo con ese diálogo que la institución sea lo que dice que
      es, pero que no es.
    </p>
    <p>
      Para mí ese diálogo consiste en exigir a las instituciones, en este caso
      el Ministerio de Cultura, en la próxima el Ministerio del Interior o de
      Justicia, que sean en realidad lo que ellos dicen que son.
    </p>
  </article>

  <article>
    <h4>
      O sea, que de cierta forma estás confiando en ellos a través de esto…
    </h4>
    <p>
      Yo sé que la posición más popular es no confiar en las instituciones. Es
      la posición, digamos, anarquista, o la posición de irreverencia total. Yo,
      puede que en algún momento llegue ahí, pero quisiera tener un proceso.
      Quiero primero dar una oportunidad.
    </p>
    <p>
      Le dimos una oportunidad al viceministro de Cultura, falló. Yo no quiero
      llegar a un radicalismo sin haber ido paso por paso. Le dimos una
      oportunidad, falló. Rompió los acuerdos en menos de 24 horas. OK, hay una
      reunión ahora con el ministro. Un juego de espejos, como queriendo decir:
      “No es la institución, es la persona la que lo hizo mal”. Bueno, vamos a
      ver al ministro. Puede ser que yo en ese proceso llegue a un punto que
      diga: “Las instituciones aquí no funcionan, y no se puede dialogar con
      ellas”. Es mi derecho como ciudadana, tener una opinión sobre las
      instituciones cubanas. Yo quiero darle la oportunidad para que después no
      me digan que no tratamos esto…, que no tratamos lo otro…
    </p>
    <p>
      De hecho, a veces los activistas no están de acuerdo conmigo, pero yo soy
      una persona que todo lo hago por la ley. Aunque yo creo que la ley en Cuba
      es injusta. Es una ley inoperativa y es una ley que se usa con carácter de
      castigo político. La ley en Cuba no se hace para defender al ciudadano, se
      hace para defender al Estado. Yo no estoy de acuerdo con eso, pero creo
      que hay que empezar por un diálogo. Decepcióname y yo iré al próximo
      punto. Hay que dar oportunidades. Es lo que pienso.
    </p>
  </article>

  <article>
    <h4>¿Cuál sería el próximo punto después de la decepción?</h4>
    <p>
      Yo no puedo hablar en nombre de nadie ni de ningún grupo. Yo, como Tania
      Bruguera, artista, activista, pienso que si las instituciones defraudan la
      expectativa que hemos puesto en ellas, si las instituciones tienen miedo
      de las personas que deben representar, que son su misión, entonces hay que
      buscar otros mecanismos. Otros mecanismos pueden ser: buscar instituciones
      que no sean las que nos deben representar, digamos, a nivel de gremio,
      sino a otros niveles; puede ser también pedir que esas instituciones
      cambien, o crear otras instituciones nuevas, que no existen en este
      momento.
    </p>
    <p>
      Por ejemplo, yo tengo ideas de instituciones que deberían existir en Cuba
      y que no existen. El Ministerio de Cultura tiene que tener transparencia
      institucional. Yo quiero saber, por ejemplo, ¿qué pasó con el dinero que
      se pagó por filmar Fast and Furious? ¿Que pasó con el dinero que pagó
      Chanel? ¿Dónde está?
    </p>
    <p>
      Las instituciones aquí no funcionan. Yo sí creo que aquí hay instituciones
      que hacen falta y que no existen todavía y hay que proponerlas. Y si el
      gobierno no está dispuesto a crearlas, las tenemos que hacer nosotros. Y
      el gobierno no puede sentirse amenazado porque hay cuatro personas que no
      tienen poder ninguno. Vaya, a lo mejor tienen redes sociales, pero eso no
      es un poder político real, eso es un poder mediático mediano; ellos no
      pueden sentirse amenazados porque hay cuatro cubanos que quieren pensar la
      Cuba distinta y quieren empezarla a construir a su manera, equivocarse o
      no.
    </p>
    <p>
      Ese es un problema que tenemos en Cuba con las instituciones. Por ejemplo,
      se ha hablado mucho de las instituciones activistas. Las ONG,
      instituciones de LGBTI, feministas, por qué razón en Cuba solo puede
      existir la institución independiente de un tipo y nadie más puede hacer
      una versión diversa. Y por qué esas instituciones, por ejemplo, LGBTIQ+,
      que están interesadas en las mujeres, en la raza, en la clase, en la
      economía, por qué solamente pueden pertenecer al gobierno de Cuba,
      pretendiendo que son ciudadanas. Eso es una cosa distrófica. Y es la razón
      por la que Cuba no funciona. El gobierno no tiene fe, no tiene confianza
      en sus ciudadanos.
    </p>
    <p>
      Lo que está pasando en Cuba hoy no es culpa de las personas que están
      protestando, no es culpa de las personas que están presas como presos
      políticos; lo que está pasando en Cuba hoy está pasando porque el gobierno
      no está equipado políticamente para no tenerle miedo a su pueblo.
    </p>
  </article>

  <article>
    <h4>
      Entonces en el caso contrario, qué tiene que pasar para que el diálogo sí
      sea productivo y fluya…
    </h4>
    <p>
      Que no le tengan miedo a la crítica, que no le tengan miedo a la
      sugerencia, y que haya una modestia de parte de la institución. La
      institución no puede reunirse con uno como se reunió el viceministro de
      cultura, con prepotencia, o burlándose de personas que estaban ahí, o
      queriendo decir: “No, con ustedes no voy a hablar, porque ustedes son
      radicales”, o tratando de crear división dentro del grupo. En vez de estar
      hablando de los problemas concretos y humanos que estaban expresándose en
      ese lugar.
    </p>
    <p>
      No podemos tener una conversación institucional cuando la discusión no es
      de contenido, sino de maneras de evitar responder. Eso es lo primero. Como
      mismo todas las personas que fuimos ahí fuimos honestas, fuimos a corazón
      abierto, dijimos experiencias directas, personales, no mentimos, los
      tratamos con respeto, ellos nos tienen que tratar con respeto a nosotros.
      Y tienen que ser honestos. Que reconozca los problemas: el Ministerio de
      Cultura es corrupto. Se roba, hay tráfico de influencia. Mira, si nosotros
      te lo decimos, tú tienes que aceptarlo. Y decir: sabemos que tenemos
      problemas, déjame ver cómo lo resolvemos. ¿Tienen alguna idea? Ayúdenme.
    </p>
    <p>
      Eso es lo primero, que haya una modestia por parte de la institución y una
      honestidad. Va a ser difícil, porque todo aquí es hipócrita, pero bueno. Y
      lo otro es que estén abiertos a sugerencias.
    </p>
    <p>
      ¿Por qué razón las instituciones en Cuba, desde el CDR hasta el INDER,
      creen que ellos son los únicos capacitados para encontrar una solución
      cuando no está funcionando lo que ellos están haciendo? Entonces que estén
      abiertos a que uno, se equivoque o no, pueda traer propuestas.
    </p>
    <p>
      A lo mejor ellos dicen: “Mira, no nos funciona”. OK. Pero que estén
      abiertos a las propuestas.
    </p>
    <p>
      Y lo tercero es que sean completamente honestos en llevar a cabo los
      acuerdos. Yo me sentí extraordinariamente decepcionada, aunque Rojas, el
      viceministro, es una persona con un historial de represión largo, de 30
      años. Con un historial de intermediario entre el Ministerio de Cultura y
      el Ministerio del Interior, que no daba mucha esperanza.
    </p>
    <p>
      Allí en esa mesa, excepto dos personas que yo no los conocía, todas las
      personas eran represores culturales conocidos, con 20 años de trabajo de
      represión. Si quieren las instituciones hablar con nosotros, también
      pónganos a dialogar con nosotros a personas que no tengan esos historiales
      y esas respuestas automáticas de reprimir, callar y censurar como la clav
    </p>
  </article>

  <article>
    <h4>
      ¿En algún momento confiaste o tuviste la esperanza de que no fueran a
      romper lo que se acordó en la reunión?
    </h4>
    <p>
      Yo quise pensarlo. ¿Sabes por qué? Porque había 500 personas afuera. Yo
      pensé que el Ministerio de Cultura iba a respetar e iba a entender lo que
      simbólicamente significaba que había 500 personas afuera, más los que no
      pudieron llegar, más los que estaban desde las redes, que eran desde
      estudiantes de San Alejandro, hasta aristas con el Premio Nacional;
      personas de 70 y 80 años que llevan 50 años siendo artistas y lidiando con
      ellos mismos, con esa misma institución.
    </p>
    <p>
      Yo pensé, quizás fue una ingenuidad, que ellos por primera vez se habían
      sentido verdaderamente presionados. Evidentemente, lo que ha sucedido es
      que el interlocutor que pusieron ha dañado la confiabilidad en el diálogo.
      Nosotros vamos a hacer una segunda opción. Estamos dando todos los
      chances. Pero yo voy a esa segunda reunión con dudas. Para que en esa
      segunda reunión nosotros podamos creer lo que nos están diciendo, tienen
      que haber seguridades, cosas que se van seguir.
    </p>
    <p>
      No me voy a parar hasta que me aseguren que las cosas discutidas,
      congeniadas, se van a respetar.
    </p>
  </article>

  <article>
    <h4>Pero, igual, te lo aseguraron esta vez y no pasó.</h4>
    <p>
      Acuérdate de que el interlocutor es una persona a la que le dimos el
      beneficio de la duda que él no merecía.
    </p>
  </article>

  <article>
    <h4>
      ¿En tu cabeza hay algún momento en el que ya es tiempo de decir: “Bueno,
      ya no”?
    </h4>
    <p>
      Va a llegar el momento en que yo voy a decir: “No puedo seguir
      dialogando”, porque es una burla. Porque, además, ya no podemos seguir
      esperando.
    </p>
    <p>
      Ese día de la reunión se dijo que había otra reunión pendiente sobre el
      caso de un muchacho que se llama Ítalo, que tenía una galería
      independiente al que le hicieron destruir obras que estaban ahí para que
      el no pudiera tener su galería; hace dos años que el viceministro dijo que
      íbamos a tener una reunión y todavía estamos esperando… Ese muchacho ya se
      fue de Cuba. Se fue a vivir a otro lado porque no pudo aguantar más.
    </p>
    <p>
      Es decir, las instituciones que tenemos en Cuba hoy son las culpables de
      que este país no funcione y son las culpables de que los jóvenes se vayan
      de Cuba. Tienen que asumirlo. No pueden seguir pretendiendo que no es su
      culpa. Tiene que asumir que es culpa de su mal funcionamiento y del
      oportunismo. Las instituciones cubanas se han convertido en un espacio de
      oportunismo. No un espacio funcional para hacer algo, para construir. No.
      Voy a estar aquí porque resuelvo un viaje, porque tengo un dolarito. Eso
      no es una institución.
    </p>
    <p>
      Para que Cuba sea democrática hay que empezar por hacer las cosas con la
      misión que llevan. No pretender que una cosa es lo que no es.
    </p>
  </article>
</app-interview-template>
