.share-social-wrapper {
  display: flex;
  justify-content: center;
  gap: calc(var(--icon-size-social-link) * 0.25);
  margin: 4.1vw 0 9.1vw 0;

  a {
    height: var(--icon-size-social-link);
    width: var(--icon-size-social-link);

    .icon-link {
      height: 100%;
      width: 100%;
      font-size: var(--icon-size-social-link);
    }
  }
}
