<app-interview-template videoId="_BJX2LJzrVM" audioId="1158092842">
  <article>
    <p>
      <span class="first-letter">P</span>
      <em>eriodismo de Barrio</em> entrevista
      <em>
        <a class="link-higthlight" href="https://www.periodismodebarrio.org/2020/12/la-revolucion-de-los-aplausos/">La
          Revolución de los aplausos</a> </em>, una serie de conversaciones.
    </p>
  </article>

  <article>
    <h4>¿Podrías explicar la relación entre arte y provocación?</h4>
    <p>
      Para mí no es importante pensar en términos de provocación o no.
    </p>
    <p>
      Cuando uno se dedica a cuestionar lo que todo el mundo hace sin
      preguntarse.
    </p>
  </article>
</app-interview-template>
