<app-interview-template videoId="_BJX2LJzrVM" audioId="1158092842">
  <article>
    <p>
      <span class="first-letter">P</span>
      <em>eriodismo de Barrio</em> entrevista a Julio Llópiz-Casal, artista visual cubano. Esta entrevista forma parte
      de
      <em>
        <a class="link-higthlight" href="https://www.periodismodebarrio.org/2020/12/la-revolucion-de-los-aplausos/">La
          Revolución de los aplausos</a> </em>, una serie de conversaciones con actores de la sociedad civil que se
      realizaron entre diciembre de 2020 y enero de 2021, a raíz del diálogo que tuvo lugar el 27 de noviembre de 2020
      en el Ministerio de Cultura.
    </p>
  </article>

  <article>
    <p>Yo era un niño al que le gustaba dibujar y tal, aunque no lo tuve así en tan grande estima, o sea, no intenté
      nunca entrar a San Alejandro ni nada que se pareciera. Sin embargo, cuando terminé el preuniversitario, una opción
      que tenía para estudiar era la carrera de Educación Plástica, que es la carrera en que te forman como profesor
      para los niños en las escuelas primaria y secundaria.</p>
    <p>Era una carrera que me llamó la atención, en primer lugar, porque solamente tenía que sacar 30 puntos de promedio
      en las pruebas de ingreso, lo cual era maravilloso, y hacer una pequeña prueba de actitud, dibujando un bodegón y
      tal. Hice las pruebas, las aprobé, pero nunca pude comenzar la carrera porque el año en que terminé 12 grado,
      implicó que el Instituto Pedagógico desaparecía, que era donde se estudiaba la carrera, porque recién comenzaba el
      asunto de los profesores emergentes y tal.</p>
    <p>Luego de eso pasé el Servicio Militar. Matriculé en Historia del Arte, más por estudiar algo que estuviese afín
      con lo que yo pensaba que iba a hacer con mi vida, que en ese momento lo que yo quería hacer con mi vida era
      absolutamente nada. Quería dedicarme a ser simplemente un espectador, supongo que eran cosas de la juventud.</p>
    <p>De cualquier modo, desde que estaba en segundo año ya me empezó a picar la necesidad de querer ser un artista
      visual. Era un fenómeno bastante complejo, pero desde esa carrera tenía las herramientas necesarias para
      enfocarlo. La literatura, el conocimiento sobre el arte, y poco a poco, fui perfilando una manera de entender lo
      que era el Arte. Y en 2011, cuando me gradué, inmediatamente, ya comencé a trabajar.</p>
    <p>Tenía algunos trabajos adelantados, había hecho algunas fotos, algunos cuadros, tenía algunas pequeñas esculturas
      hechas con objetos encontrados, y así fui perfilando una manera de trabajar que ha sido más o menos la misma hasta
      hoy, simplemente con el tiempo he incorporado lo performativo, lo fotográfico y videográfico para documentar
      pequeños performances y pequeñas acciones. Y me gusta definirme como un artista que lo que hace es convertir los
      estados de ánimo en objetos e imágenes.</p>
    <p><strong>¿Vives del arte? ¿Has podido vivir del arte? ¿Cómo funciona ese negocio?</strong></p>
    <p>Vivir del arte es algo que es un poco complicado y a la misma vez puede ser muy sencillo, depende de si, como
      artista, haces algo que el mercado puede absorber de manera orgánica y rápida.</p>
    <p>Ese no ha sido mi caso, independientemente de que en algún momento he podido vender una obra o no. Pero nunca ha
      sido un conflicto para mí, porque estoy claro desde el principio de que el tipo de trabajo que hago es un poco más
      complicado de ser sometido a la lógica del mercado, pero como siempre para mí el arte ha sido una necesidad
      humana, ante todo, yo no tengo ningún problema con dedicar mis recursos, los que sea que tenga, a producir mi
      trabajo, y eso es lo que hago.</p>
    <p>Yo sobrevivo de la manera que puedo, oscilo entre la caridad y la habilidad que pueda tener para prestar algunos
      servicios como puede ser el diseño, la escritura, y así es como subvenciono mi propio trabajo. Por supuesto que me
      gustaría en algún momento poder vivir del arte, pero tengo muy claro que, en caso de que eso no suceda, yo no voy
      a dejar de hacer arte.</p>
    <p><strong>Me dices que tu trabajo no es muy vendible. ¿Por qué? ¿De qué va tu obra?</strong></p>
    <p>Fundamentalmente hago pequeñas esculturas, además de videos y fotografías e instalaciones. No suele ser sencillo
      que el mercado asuma eso de manera tan simple. Yo, digamos que no he corrido con esa suerte, por una cuestión
      multifactorial que va desde tal vez la no simpleza de mi discurso, a simplemente la suerte: no haber podido estar
      en el lugar indicado a la hora indicada. Pero voy trabajando, voy comprendiendo, me gusta, es algo que atiendo de
      manera muy cercana, la manera en que el mercado funciona, trato de alinearme con lo que son sus pautas, siempre y
      cuando no tenga que sacrificar la necesidad y la forma en que quiero decir las cosas, y simplemente es un proceso
      que sucede en un momento, o sucede en otro, o nunca sucede. El arte para mí se trata de otra cosa. El mercado es
      simplemente una variable que está o no está, y siempre para mí es sustituible.</p>
    <p><strong>¿Conceptualmente de qué va tu trabajo?</strong></p>
    <p>Me gusta enfocarme como si hiciera una especie de archivo personal. Un archivo que es biográfico, porque habla
      mucho de lo que ha sido mi vida, y de lo que ha sido mi vida fundamentalmente a la hora de enfocar el arte. Oscilo
      entre un relato cotidiano de algo que me tocó, o una idea que esté relacionada con la Historia del Arte, con la
      historia de la cultura. Y trato de verlo todo como si fuese una misma cosa.</p>
    <p>Me gusta trabajar mucho a partir de lo que hay: una cosa, un objeto que yo encuentro, casi inmediatamente le
      empiezo a ver cosas de mí: la manera en que el objeto fue abandonado, si fue abandonado; la manera en que el
      objeto está dispuesto, con lo que le falta, con lo que le sobra; y a partir de ahí voy estructurando mi discurso.
    </p>
    <p>También me gusta mirar mi trabajo y la idea de una imagen como un proceso que es ante todo, conceptual. Hay,
      obviamente, una cuestión material en la vida cotidiana, está, lo sabemos, pero las imágenes y los objetos también
      son imágenes y objetos culturales, o sea, son procesos mentales que se grafican de distintas maneras. Eso es lo
      que yo trato de hacer: contribuir a esa graficación, dando una imagen totalmente nueva, o simplemente apuntando
      determinado aspecto a una imagen que ya existe.</p>
    <p><strong>¿Has sido censurado alguna vez?</strong></p>
    <p>No he sido censurado de una manera tan tradicional. Sí he tenido a lo largo de mi trabajo, tal vez, sugerencias
      de determinado trabajo que no es conveniente mostrar en algún momento determinado, pero para mí no ha sido un
      problema porque, a pesar de que trabajo con dimensiones muy pequeñas, siempre tengo mucho trabajo disponible. Me
      gusta verlo así también. Si, por alguna razón, determinado trabajo no puede tener cabida dentro de un proyecto,
      dentro de una exposición o lo que sea, siempre tengo una complementaria.</p>
    <p>Por otro lado, tampoco me interesa hablar desde mi arte de una cosa específica. A mí, de hecho, me parece que esa
      construcción, aunque la entiendo, de lo que es un artista político, a mí me parece una tautología. Yo creo que un
      artista es político por naturaleza, el arte es un acto político por naturaleza, y así me trato de enfocar.</p>
    <p>Todas las personas sensatas que yo conozco tienen una idea sobre la política, sobre la muerte, sobre la vida,
      sobre el amor, y sobre el medio ambiente. Yo soy una persona que trato de tener dos dedos de frente, al menos. Y
      simplemente el hecho de ser un artista es una condición más.</p>
    <p>Un artista es una persona regular, que simplemente tiene la capacidad de crear imágenes. Yo, mi obra, oscila
      entre cuestiones políticas que tienen que ver con Cuba, y saltan a cuestiones políticas que pueden no tener que
      ver con Cuba, salta a cuestiones poéticas que pueden tener que ver precisamente con la muerte, con el amor, con el
      dolor, y así voy conformando mi discurso, y no le doy prioridad a absolutamente nada. Depende de mis estados de
      ánimo.</p>
    <p>Hay momentos en la vida en que obviamente siento más la necesidad de hablar de cuestiones que tienen que ver con
      mi cotidianidad, a veces tengo la posibilidad de elevarme por encima de mi cotidianidad y conectarme con
      cuestiones más trascendentales, por llamarlas de alguna manera, pero trato de hacerlo todo siempre con el mismo
      rigor.</p>
    <p><strong>¿Cómo ha sido y cómo es tu relación con las instituciones?</strong></p>
    <p>Mi relación las instituciones ha sido lo que yo diría “normal”, con todo y las comillas que eso implica. Nunca me
      he sentido rechazado por la institución, aunque sí he sentido cierta resistencia a mis procesos de libertad, pero
      eso es algo a lo que me enfrento de manera cotidiana, no con la institución, me enfrento de manera cotidiana con
      las personas que yo me encuentro.</p>
    <p>Yo simplemente tengo muy claro que hay cosas que puedo hacer con la institución y que la institución puede estar
      simplemente involucrada. Cuando yo siento que la institución no estaría interesada en que eso no tuviese cabida,
      yo simplemente miro a otro lugar.</p>
    <p>Por suerte el mundo es mucho más vasto. Tengo un sistema de relaciones bastante amplio con personas en Cuba,
      fuera de Cuba, cubanos o no, y yo siempre encuentro una manera de tener un <em>feedback</em>, y así es como
      desarrollo mis proyectos. Si la institución no está disponible, yo entonces hago una acción en la calle y la
      documento y la comparto a través de las redes sociales o la comparto con un grupo de personas que les pueda
      interesar, o lo hago en un espacio alternativo, o lo hago en mi casa. Eso para mí no es un problema. Yo lo que sí
      no puedo hacer es parar de trabajar.</p>
    <p><strong>¿Perteneces a alguna institución? ¿Estás asociado a alguna?</strong></p>
    <p>Bueno, digamos, tengo desde el año pasado, después de muchos años de haberlo exigido, tengo el carné del Registro
      Nacional del Creador, que es simplemente un protocolo. Un carné que medio que te autoriza a ser artista. Yo nunca
      he sentido la necesidad de tenerlo para ser artista, pero obviamente es una carta con la que hay que jugar. Para
      mí tener ese carné del Registro del Creador es como tener una propiedad física donde poder vivir y no tener que
      vivir alquilado. Así es como yo lo veo.</p>
    <p>El año pasado, después de un largo proceso, después incluso de que me hubieran suspendido el proceso por haber
      participado en la Bienal 00, logré que me dieran el carné. En ese sentido digamos que tal vez yo pertenezco a la
      institución, pero sinceramente es algo en lo que yo no pienso nunca. Yo voy a trabajar como quiera que sea, con
      carné, sin carné, trabajando con una galería o no, vendiendo mi trabajo o no, yo voy a hacer mi trabajo porque es
      lo que quiero hacer en mi vida, y en ese sentido conduzco todas mis energías.</p>
    <p><strong>¿Cuáles fueron tus exigencias personales el 27N? ¿Qué condiciones te llevaron a participar?</strong></p>
    <p>Yo, desde que tengo un poco de uso de razón, estoy muy consciente de que vivo en un contexto donde la libertad de
      expresión se ataca, de muchas más maneras, a veces más sofisticadas, a veces más burdas. Durante muchos años
      sorteé esa censura. Como te decía, prácticamente nunca me he sentido interpelado por lo que quiero decir y la
      manera en que lo quiero decir, pero en los últimos años, sobre todo a raíz de la emisión del Decreto 349, yo
      empecé a sentir que era una persona más que podía correr el peligro de ser censurado, incluso de ser demonizado,
      de ser calificado como un delincuente, o sea, de delinquir, de cometer un delito simplemente por expresarme de una
      determinada manera.</p>
    <p>Formé parte de las personas, de los artistas que protestaron, que intentaron dialogar con el Ministerio de
      Cultura en torno a la emisión de este decreto. Y este año en particular, a raíz de la pandemia, a inicios de año,
      a raíz de la campaña por la liberación de Luis Manuel Otero, simplemente me acerqué más a esta posibilidad, y en
      los meses que han sucedido lo que me he visto es cada vez más en peligro en ese sentido, y lo que he hecho
      simplemente es reaccionar, aunque a mí no me hayan atacado de manera tan directa, aunque últimamente sí está
      pasando más, estoy siendo víctima de esas campañas de descrédito, de pronto ves cómo las personas se limitan de
      interactuar conmigo, y entonces lo estoy sufriendo en carne propia.</p>
    <p>En ese sentido, fue un catalizador importante lo que sucedió la noche anterior. El 27N empieza el 26 de
      noviembre, la noche en que eso sucedió. Para mí, de hecho, sucedió un poco antes. En horas de la tarde yo estaba
      con un grupo de amigos, artistas y personas pertenecientes a la comunidad creativa, en el suelo de las
      inmediaciones de la Iglesia de Paula, haciendo la lectura poética que llevaba sucediendo desde hacía algunos días,
      en solidaridad con los huelguistas del Movimiento San Isidro. En la noche sucedió esta extracción, como la llamó
      la oficialidad, y sentí una gran impotencia, sentí que me quebraba y sentí que más que nunca yo necesitaba hacer
      algo.</p>
    <p>Afortunadamente ya había sucedido algo en la tarde, luego de la lectura, que es que nos habíamos puesto de
      acuerdo un grupo de personas para hacer la lectura de nuevo en las afueras del Museo de Bellas Artes. Pero en la
      noche, al suceder esto, a través de grupos de WhatsApp y de mensajes personales, empecé a ver cómo otros grupos,
      personas fundamentalmente de la comunidad creativa, pero ya de otros ámbitos, no solo de las artes visuales, sino
      del cine y del teatro, estaban pensando en hacer algo.</p>
    <p>En algún punto, no recuerdo exactamente cómo, estaba latente la posibilidad de ir al Ministerio. A mí me pareció
      que simbólicamente tenía mucho más sentido que ir al Museo de Bellas Artes. Lo compartí con mi círculo inmediato,
      que teníamos planeado ir al Museo de Bellas Artes, la idea de ir al Ministerio. Ellos aceptaron y así fue cómo
      sucedió.</p>
    <p>Entre 10 y media y 11 de la mañana estábamos afuera del Ministerio, exigimos el diálogo con el ministro, y bueno
      lo que sucedió se supo a través de las redes sociales.</p>
    <p><strong>¿Qué dijiste en la reunión y cómo sentiste que te respondieron?</strong></p>
    <p>La respuesta fue de silencio y de alguna manera yo sentí un poco de indignación por parte de la institución. No
      tengo ningún conflicto con eso porque creo que me asistía la razón universal y me asistían además los cientos de
      personas que estaban fuera esperándonos.</p>
    <p>Lo que yo dije tuvo que ver con cuestiones específicas en torno a la historia de Cuba. Yo hablé desde el punto de
      vista personal de lo importante que fue para mí, le dije a Fernando Rojas lo importante que había sido para mí la
      lectura del trabajo de Rafael Rojas a lo largo del tiempo, específicamente de “Tumba sin sosiego”, el hecho de
      haber podido visualizar una Cuba en la República con muchos defectos, obviamente, pero en la cual había una
      especie de pacto republicano en que se respetaban todas las tendencias, se respetaban todas las maneras de
      entender el mundo, los grupos se organizaban, existía una variedad de prensa y de expresión tremenda, y yo hablé
      específicamente de por qué Cuba, en el momento de la Revolución, no podía parecerse a eso.</p>
    <p>Hablé de que para mí la experiencia de la Revolución tiene que ver con el dolor, en primer lugar. Lo que primero
      me salta a mí a la vista de la Revolución tiene que ver con cómo muchas personas se odiaron para siempre. Lo pude
      ver desde dentro de mi familia, lo he visto a lo largo del tiempo con amigos, lo he sabido a través de la
      literatura. Entonces todo eso me hizo hablar de esa manera, pero yo siento que simplemente estaba hablando del
      hecho de que la libertad de expresión se tiene que respetar. De eso es de lo que yo siento que yo hablé. Lo otro
      son matices.</p>
    <p><strong>¿Habías tenido algún problema antes con la Seguridad del Estado?</strong></p>
    <p>Bueno, unos días antes, el 22 de noviembre, asistí con Luz Escobar a la manifestación que estaba convocada en el
      Parque Central, en torno a la exigencia de la liberación de Denis Solís. Ese día fui detenido por primera vez.
      Estuve cuatro horas detenido en la unidad de Zanja, y de esas cuatro horas, la última hora me la pasé conversando
      con un Mayor de la Contrainteligencia, que me habló de que era peligroso lo que yo estaba haciendo, que yo era
      distinto, que él no sabía cómo era que yo había caído en eso, que tal vez tenía que ver con que ellos sabían cosas
      que yo no sé.</p>
    <p>Esto tiene que ver mucho con lo que he escuchado a lo largo de los años que hace la Seguridad del Estado. La
      Seguridad del Estado trata de llamar la atención, que tal vez tú estás confundido, tal vez si adoptas otra postura
      ellos sean más severos y te agredan de una manera más particular. Yo me sentí tremendamente agredido en ese
      sentido, desde el momento en que ellos piensan que yo puedo no estar claro de lo que yo estoy haciendo. Yo estoy
      muy, muy claro de lo que creo del mundo, estoy muy, muy claro de lo que quiero decir, y no tengo miedo más allá
      del miedo que me inspiran ellos porque sé que pueden castigarme de manera muy severa simplemente por el hecho de
      lo que yo pienso. Pero yo no lo tengo miedo a mi propio pensamiento.</p>
    <p>Me siento seguro porque no soy impropio. Yo me muevo siempre desde un registro que se basa en el respeto,
      independientemente de que pienso que ellos llevan muchos años haciendo las cosas tremendamente mal, aun así, yo
      tengo una postura de respeto y por eso no tengo ningún problema en decirle lo que yo pienso ni a ellos ni a nadie.
    </p>
    <p>Esa fue mi experiencia previa con la Seguridad del Estado.</p>
    <p>Luego de esto, no sé: contenidos compartidos por perfiles falsos que me tratan de asociar con algo que yo no soy,
      me tratan de acusar de persona que comete delitos comunes, cosa que es totalmente falsa. Y por otro lado yo siento
      que hay cierta reserva tal vez por parte de algunos amigos, de algunos vecinos. Pero, afortunadamente, también por
      otro lado, he sentido que me he hermanado, me he unido con personas con las cuales no tenía una relación tan
      estrecha, y esto ha servido para eso, para darnos cuenta de que tenemos mucho que ver en cuanto a manera de
      pensar, y me apoyan. Entonces, en este sentido, esto se sopesa, ¿no?</p>
    <p><strong>Cuéntame del apoyo familiar, de la carta de tu mamá a Fernando Rojas…</strong></p>
    <p>Eso es una gran fortuna que tengo. En primer lugar, me emocionó mucho la carta de mi madre a Fernando Rojas, y,
      en segundo lugar, me confirmó lo que yo soy. Mi madre, como decía en su carta, fue militante del Partido, mi madre
      fue una persona que creyó en la Revolución, que no es mi caso.</p>
    <p>Actualmente ella es muy diferente a mí en muchos aspectos, pero estamos de acuerdo en muchas cosas, y en lo que
      más estamos de acuerdo es en que yo aprendí en el seno familiar, sobre todo con mi madre que es quien me ha criado
      fundamentalmente, que yo a lo que le debo dedicar lo mejor de mis energías y de mis fuerzas es a decir lo que yo
      creo que es correcto.</p>
    <p>Me di cuenta con esa carta, rememoré muchos momentos a lo largo de mi vida, que esto no tiene que ver con la
      política, tiene que ver con la condición humana más elemental. Eso atraviesa la política casi que por
      <em>default</em>. Pero, eso: tiene que ver con que los seres humanos sensatos y los seres humanos buenos, lo que
      hacen precisamente es compartir lo que piensan con la convicción de que pueden aportar cosas positivas a la vida
      cotidiana. Eso fue algo que pude comprobar con esa carta.</p>
    <p><strong>¿En algún momento pensaste que el supuesto diálogo con el ministro iba a suceder, y que eso iba a llevar
        a algún camino?</strong></p>
    <p>Yo, por supuesto que lo pensé. Lo pienso hasta hoy independientemente de que tengo muchas, muchísimas razones
      para pensar que ese diálogo nunca va a ocurrir.</p>
    <p>Lo que a mí me pasa es que yo no creo en el diálogo simplemente por las posibilidades que existen en torno a que
      un diálogo suceda. Yo creo en el diálogo porque yo, el único patrimonio que tengo son las palabras y mi capacidad
      para generar imágenes. Eso para mí es casi una religión. Como yo creo en eso, siempre voy a estar abocado al
      diálogo.</p>
    <p>Si el Ministerio de Cultura, o determinado funcionario, tiene incapacidad para involucrarse en un diálogo, eso es
      un problema que está fuera de mi alcance. Yo siempre voy a estar en condiciones de dialogar. Si ellos no quieren
      dialogar, yo voy a dialogar con otras personas, porque de los diálogos es de donde salen las cosas que para mí son
      representativas en la historia de la humanidad y en mi historia personal. Así es como yo lo enfoco.</p>
    <p><strong>¿Te parece que esa es la postura del resto de los 30?</strong></p>
    <p>Tal vez no exactamente, pero a mí me gusta insistir, y me gusta insistirme yo mismo, en lo que a mí me pareció
      más poderoso del 27N, que fue el hecho de que a pesar de que estuviesen reunidas ahí personas tan distintas,
      estábamos de acuerdo en una cosa, aunque fuera desde distintos puntos de vista: en el hecho de que la libertad de
      expresión se debe respetar. Yo creo que quien cree en eso, cree en algún punto en la posibilidad del diálogo.</p>
    <p>También es que no tenemos otras cosas. No tenemos estructuras legales que nos amparen en ese sentido, no tenemos
      armas, y que bueno que no las tenemos, porque yo tampoco tengo ninguna intención de coger un arma de fuego para
      convencer a absolutamente nadie de absolutamente nada. Eso es algo que yo nunca en la vida voy a hacer, ni en Cuba
      ni en Groenlandia. No lo voy a hacer, simplemente. Entonces mis balas son las palabras, y las imágenes. De esas sí
      les voy a disparar todas las que tenga y las que no tenga y cuando se me acaben voy a buscar más, y que ellos
      reaccionen a esos disparos como ellos quieran reaccionar. Yo lo estoy haciendo desde mi posición de respeto. Si
      ellos no me quieren respetar a mí, si no quieren respetar al 27N, es absolutamente su problema. El mundo está
      viendo cómo ellos nos irrespetan. Y entretanto nosotros vamos generando una sinergia poderosa, que tiene que ver
      con el hecho de que sobre todo nos estamos conociendo más entre nosotros mismos. Y estamos viendo cuales son los
      puntos que tenemos en común, sean los que sean. En esos son en los que hay que centrarse. Para las discrepancias
      hay otros espacios, y ahí estarán, y con eso tendremos que lidiar de alguna manera. Pero el punto fuerte es lo que
      nos une, y nos une la necesidad que sentimos de que se respete la libertad de expresión.</p>
    <p><strong>¿Cómo ves el arte y los artistas cubanos después del 27 de noviembre? ¿Crees que cambió algo?</strong>
    </p>
    <p>Yo creo que sí. A mí me gusta creer que sí. No he podido, después del 27N, ver a todos los artistas y amigos que
      me gustaría ver, me imagino que los iré viendo, pero hasta ahora coincidimos en eso.</p>
    <p>El arte en Cuba, ahora mismo, está de cara a la precariedad y la complejidad económica en que estamos viviendo,
      pero a nivel de fermento, de materia prima, estamos como nunca. Y eso está más allá de las implicaciones políticas
      de determinadas cuestiones, de las implicaciones totales, de todo tipo.</p>
    <p>Estamos simplemente alineados con un estado de cosas en que está claro que tenemos muchas cosas que decir, y no
      nos podemos quedar, como artistas, con eso por dentro. Las tenemos que decir, y que eso se concrete en obras, en
      proyectos. Paso a paso, de muchas maneras. Qué bueno que no vamos a saber todas las maneras en que eso va a
      suceder.</p>
    <p>A mí en lo personal me excita la posibilidad de que esas cosas van a suceder y están sucediendo de una manera que
      yo no puedo monitorear, están sucediendo de una manera totalmente nueva, y tienen que ver con las redes, tiene que
      ver con sistemas de relaciones que no hubiese sospechado, y esa es una bendición, y sobre todo una buena noticia.
      De cara a eso es que tenemos que trabajar.</p>
    <p><strong>¿Y socialmente? ¿Crees que cambió algo?</strong></p>
    <p>Socialmente también estoy convencido de que cambió algo.</p>
    <p>El cambio tiene que ver, como decía ahorita, con que las personas, desde distintos puntos de vista, están claras
      de que deben ser respetadas. Eso es un cambio. Yo, en los años que tengo de vida, no vi eso en Cuba nunca. Lo
      estoy viendo ahora. Y eso se está dando con todas las contradicciones que implica, con todos los temores que
      implica por parte de algunas gentes, con todo el desafuero que puede implicar por parte de otros, pero qué bueno.
      Eso va a ir caminando y eso va a ir cobrando forma de manera positiva en la sociedad.</p>
    <p>La postura política que tiene el poder, eso es otra cosa. Eso mutará de alguna manera, o no. Yo lo que quiero, y
      lo que siento que quiere mucha gente, es que respeten sus libertades. Si eso se hace por mandato divino, se hace
      porque salió del poder quien está y entró otra persona, se hace porque esa persona que está en el poder cambió de
      parecer, sea por lo que sea, lo que queremos es que eso se respete. Y ese es el primer paso que yo creo que
      estamos dando como sociedad. Lo que suceda después, bueno, ya veremos, pero tenemos que empezar por ese primer
      paso, si no, no vamos a ir a ninguna parte.</p>
    <p>Lo que sí no puede pasar es que nos quedemos en el lugar, empantanados y descendiendo en el lodo. Esa sí ya no
      debe ser más una posibilidad. Yo creo que la gente está clara de que esa no puede ser más una posibilidad.</p>
  </article>
</app-interview-template>
