footer {
  position: relative;
  padding: var(--border-margin);
  margin-top: 3rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1rem;

  .logo {
    position: absolute;
    transform: translateX(-5000rem);
  }

  .site-info {
    text-align: center;

    p {
      padding: 0;
    }
  }

  .social-links {
    text-align: center;

    a {
      transition: transform 0.3s ease-in-out, box-shadow 0.2s ease;

      .mat-icon {
        width: 3.5rem;
        height: 3.5rem;
      }
    }
  }
}

.detail-view-margin {
  padding: 3.6rem;
}

@media screen and (min-width: 535px) {
  footer {
    margin-top: 6rem;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
}

@media screen and (min-width: 700px) {
  footer {
    .logo {
      position: relative;
      transform: translateX(0);
    }
  }
}
