.navbar {
  margin-top: var(--border-margin);
  padding: 0 var(--border-margin);
  justify-content: space-between;
  align-items: center;
  height: var(--top-navbar);

  .menu-btn {
    transform: translate(0);
    width: var(--icon-size-menu);
    height: var(--icon-size-menu);

    .icon {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .mat-toolbar {
    .menu-btn {
      transform: translateY(-150rem);
    }
  }
}
