$sidenavPadding: 2rem;
$icon-size: 4rem;

.navbar {
  padding: 0 calc(1.6rem + #{$sidenavPadding});
  justify-content: space-between;
  align-items: flex-end;
  height: var(--top-navbar);

  .menu-btn {
    transform: translateX(0);
    width: $icon-size;
    height: $icon-size;
  }
}

@media screen and (min-width: 1024px) {
  .mat-toolbar {
    .menu-btn {
      transform: translateY(-150rem);
    }
  }
}
