$sidenavPadding: 2rem;
$icon-size: 4rem;

.mat-toolbar {
  padding: 0 calc(1.6rem + #{$sidenavPadding});
  justify-content: space-between;
  height: calc(2 * #{$icon-size});

  button,
  .mat-icon {
    width: $icon-size;
    height: $icon-size;
  }
}
