<app-interview-template videoId="UCOxzfisuxM" audioId="1165066780">
  <article>
    <p>
      <span class="first-letter">P</span>
      <em>eriodismo de Barrio</em> entrevista a Katherine Bisquet, poetisa cubana. Esta entrevista forma parte de
      <em>
        <a class="link-higthlight" href="https://www.periodismodebarrio.org/2020/12/la-revolucion-de-los-aplausos/">La
          Revolución de los aplausos</a> </em>, una serie de conversaciones con actores de la sociedad civil que se
      realizaron entre diciembre de 2020 y enero de 2021, a raíz del diálogo que tuvo lugar el 27 de noviembre de 2020
      en el Ministerio de Cultura.
    </p>
  </article>

  <article>
    <p>Soy Katherine Bisquet, escritora. Voy a leerles algo de mi libro <em>Uranio empobrecido</em>, que pronto saldrá a
      la luz por Ediciones Rialta. Está en proceso de edición ahora mismo. Y estos fueron algunos poemas que leí delante
      de la estación de Cuba y Chacón antes del acuartelamiento, cuando decidimos ir a esta estación a protestar por la
      detención de Denis Solís.</p>
    <p>Leí muchos poemas ahí, una tarde entera. Creo que muchas personas se conectaron con ese aliento poético y de ahí
      en adelante todo lo que sucedió, que también fue poético.</p>
    <p>Este poema se titula: “Algo aquí se descompone”.</p>
    <p>Los niños juegan pelota en la piscina olímpica</p>
    <p>los niños se bañan bajo los muelles</p>
    <p>y bajo los muelles y bajo los niños</p>
    <p>raíles ahogados.</p>
    <p>Algo huele mal</p>
    <p>no hay muertos ni idea de muerte</p>
    <p>no hay historia ni idea de historia</p>
    <p>toda el agua es salada</p>
    <p>todo es piedra sobre piedra</p>
    <p>alguien tiene miedo</p>
    <p>se mide la energía o con sigilo o sabiamente</p>
    <p>porque ellos sí saben de qué se trata</p>
    <p>alguien me ha traicionado.</p>
    <p>Se crea una idea de comunidad</p>
    <p>improvisaciones de una juventud inexperta</p>
    <p>resultan animales sacrificados</p>
    <p>animales que bordean la comunidad entera</p>
    <p>con la idea de abastecer el hambre de tantas bocas delgadas</p>
    <p>y por las noches me despierto espantado</p>
    <p>porque definitivamente algo huele mal.</p>
    <p><strong>¿Qué relación hay entre arte y activismo?</strong></p>
    <p>Básicamente, esto se ha funcionado desde hace algún tiempo. Es lo que conocemos como artivismo. Cuba está un poco
      atrás con estos conceptos… Digamos, no se reconoce dentro de las artes visuales este “ismo”, este fenómeno
      cultural. Pero hay muchos artistas, incluso desde los ochenta, haciendo este tipo de arte que incide directamente
      en lo social, en lo político. Directamente en la sociedad. Tal es el caso de Tania Bruguera, Luis Manuel Otero
      Alcántara, muchos artistas de los ochenta que también emigraron. Entonces, sí, yo creo que hay una relación, una
      conexión aquí fundamental. Sobre todo, cuando el arte se encarga de correr estos límites, de incidir en la
      sociedad y, sobre todo, de provocar.</p>
    <p>En mi caso, por ejemplo, yo trato la poesía como una manera de activismo también. Activismo poético. Amaury
      Pacheco, por ejemplo, que viene manejando también el <em>performance</em> dentro de la poesía desde los años 90,
      con “Poesía sin fin”, Omni-Zona Franca, le llama esto “la poesía operativa”. Una poesía que realmente puede
      incidir en la sociedad, que pueda servir para algo.</p>
    <p>O sea, esta poesía que puede ser oral o escrita al final, digamos, que la violencia, lo bueno, lo malo que pueda
      generar esta poesía lo recibe directamente es el cuerpo. Entonces, digamos, que él lo enfoca por ahí.</p>
    <p>Yo lo veo como algo mucho más marcial. Más directamente político, más… no sé. Me recuerda mucho la poesía
      soviética. Toda la poesía que se gestó en los años 30, escritores tomaban la poesía realmente como arma y esa
      poesía era realmente peligrosa para el sistema. Y ahí está el caso de todos estos poetas que fueron luego
      exiliados en la Siberia.</p>
    <p>Entonces yo veo el activismo poético como esa manera también de hacer política. El hecho de que yo leyera frente
      a la estación de Cuba y Chacón poesía es un hecho sumamente político, de protesta, de activismo, pero dentro de mi
      canal creativo. Si yo tengo como forma de expresión la poesía, yo no me voy a expresar con una directa, no me voy
      a expresar haciendo un <em>performance</em>, no me voy a expresar… no sé, haciendo directamente activismo social,
      porque ni soy un político, ni soy artista visual, no soy esas cosas. Realmente escribo poesía.</p>
    <p>Entonces, la manera que tengo de vincular ese activismo, digamos que está en la sociedad, que todos tenemos
      derecho a usarlo, porque somos antes de ser artistas somos agentes sociales, agentes cívicos que estamos en
      contacto directo con el resto de la sociedad y nosotros tenemos que primero plantearnos esos derechos desde
      nuestra condición de ente cívico.</p>
    <p>Entonces, cómo hacer eso desde lo que yo creo, desde lo que yo hago. Yo enfoco, entonces, mi poesía por ahí. Este
      poema que yo leí es de <em>Uranio empobrecido </em>y tiene que ver específicamente con mi experiencia, la
      infancia, con lo que yo viví. Trato de que esos poemas estén enfocados en solucionar algo, para que incidan, para
      que corran límites, para que resuelvan algo, para que traten de activar algo. Yo enfoco lo poético hacia el
      activismo.</p>
    <p>No soy una comunicadora; todas estas cosas me cuestan trabajo porque tengo un tipo de expresión muy específica a
      la que me he dedicado muchos años. Y es la que me resulta orgánica. Entonces, trato de que ese activismo mío vaya
      por ahí. Todo lo que pasó en San Isidro, lo del 27N, todas estas cosas donde yo me manifiesto. Incluso, cuando
      salí con un pulóver que decía: “Yo voto no”, en el Pabellón Cuba, fue durante una lectura de poesía.</p>
    <p>Por el momento, enfoco mi activismo por ahí. Como mismo lo pudiera hacer Carlos Manuel desde el periodismo o lo
      hace Luis Manuel desde las artes o lo hace Tania Bruguera desde las artes visuales también. Cada persona lleva su
      activismo por la forma que resulte más fácil, por la forma que resulte más orgánica, y yo lo llevo por ahí.</p>
    <p><strong>¿Cuál crees que sería el papel de ese arte en una Cuba democrática?</strong></p>
    <p>¿A cuál arte te refieres? ¿A este arte político?</p>
    <p><strong>Al tuyo propio…</strong></p>
    <p>Es totalmente relativo, porque eso cambia según las circunstancias. O sea, yo no quisiera hacer poemas de gente
      presa o de gente que sufre&#8230; A lo mejor, de pronto, yo empiezo a escribir poemas del desamor. Pero creo que
      nunca he estado en esa circunstancia como para escribir poemas así. Nunca he sentido una afinidad hacia lo
      erótico, por tanto, no escribo poemas eróticos. Mis poemas tienen un corte mucho más social, un corte más
      político; he estado más vinculada a eso.</p>
    <p>Y eso, realmente, es lo que me causa una emotividad mucho más fuerte. Es totalmente relativo. No sé lo que pueda
      pasar en una Cuba democrática y qué pueda yo escribir en una Cuba democrática. A lo mejor son otros problemas;
      evidentemente vamos a tener muchos problemas. Somos humanos cargados de problemas, que los problemas los llevamos
      nosotros mismos; así estemos en cualquier lugar, con más libertades, sin censura, pero vamos a tener nuestros
      problemas. Va a seguir existiendo el racismo, va a seguir existiendo homofobia&#8230;</p>
    <p><strong>¿Cuál es tu situación y tus demandas como artista independiente? </strong></p>
    <p>Después de todas las cosas que me han ocurrido en mi vida, ya yo me encuentro con cierta responsabilidad,
      digamos, social, política, cultural. Creo que más allá de sentirme con esa responsabilidad por todo lo que he
      pasado, es por seguirme encontrando personas que necesitan de mi ayuda. Yo también necesito ayuda de muchas
      personas, pero mientras yo pueda ayudar a las personas, mientras que yo pueda, digamos, educar o simplemente darle
      una mano, simplemente protestar por esas personas que no tienen voz, simplemente visibilizar algún problema… Es
      una cuestión de empatía, pero una cuestión también de identificación con todos esos problemas.</p>
    <p>En mi caso particular, yo siento esa necesidad realmente de estar involucrada en esos procesos, de estar, de
      participar. Porque es una manera de liberación total. O sea, una manera de cargar también con una paz: estar
      ayudando, sentirte útil, sentirte que estás ayudando a personas, sentir que estás trabajando por algo bueno, por
      algo bonito. O sea, eso es realmente es muy reconfortable.</p>
    <p><strong>¿Crees que el diálogo es el camino al entendimiento con las instituciones?</strong></p>
    <p>No sé, no creo que el diálogo sea la única vía de entendimiento, la única solución posible para para lograr algo.
      El diálogo es una vía. El diálogo es, digamos…, yo siempre lo llamo como el teatro que se hace en el momento de
      las guerras, ¿no? Ese diálogo donde ambos grupos deponen las armas para replantearse no sus diferencias, sus
      cosas, para ver si llegan a un entendimiento, ¿no?, supongo, para no llegar a la sangre.</p>
    <p>Pero ya hemos pasado por demasiadas negativas institucionales y ha pasado también demasiada violencia y
      hostigamiento por parte del poder político, y no creo que eso sea como la forma más viable para para llegar a
      algo. Es una vía, sí, y yo la apoyo, y voy a estar presente en ese camino. Pero yo soy partícipe de usar otros
      métodos. Si el Estado, el poder, sigue violentando, hostigando y maltratando personas; sigue encarcelando
      personas… yo soy bastante radical en ese sentido y creo más en la acción, creo más en la acción porque es un poder
      ya que se está desentendiendo de los derechos humanos y está pasándole la cuenta a todo el que se le interpone en
      el camino.</p>
    <p>Entonces, eso es una manera también de resistencia, pero es una manera, coño, de tener un poco de dignidad
      también y de verte como igual, o sea, no como la cosa…, el poder, la cosa endiosada que está encima de tu cabeza y
      que te han hecho creer todos estos años que debes respetar, ¿no? Entonces la sociedad tiene totalmente el derecho
      de exigir esos derechos, la sociedad está ahora mismo entendiendo eso, aprendiendo eso, y nosotros tenemos que
      posicionarnos, porque nadie va a venir a darte tus derechos, tú tienes que exigir esos derechos, tú tienes que
      fajarte por esos derechos, siempre ha sido así.</p>
    <p>Sale una persona al paso porque no está de acuerdo, esa persona puede ser exterminada, no sé, a esa persona la
      pueden, no sé, eliminar… Puede pasar cualquier cosa con esa persona, pero básicamente, a la larga, esa persona
      exigió sus derechos, que van a servir para el resto de la comunidad.</p>
    <p><strong>¿Qué condiciones deben existir para que ese diálogo sea productivo?</strong></p>
    <p>Yo creo que sí tienen que existir condiciones para que un diálogo sea efectivo, y lo primero que tiene que
      existir es el respeto.</p>
    <p>El poder lo primero que está haciendo es una campaña de difamación y de descrédito y de no reconocimiento a la
      otra parte. O sea, cuando tú no reconoces a la otra parte, la desacreditas, y haces toda esa campaña de difamación
      en las redes sociales, en los medios de prensa que dominan, ahí no hay un diálogo, ahí no hay un respeto, estás
      violando acuerdos. Y fueron unas de las primeras cosas que se le planteó a la institución. Entonces eso es una
      condición primordial que si tú incumples…</p>
    <p>Es que nosotros hemos sido demasiado indulgentes con el poder político, es que somos demasiado nobles, digamos, o
      sea, porque en otro espacio, en otro escenario, en otro país, ya eso se hubiese roto desde el primer momento,
      cuando el poder político fractura ese diálogo. Nosotros básicamente no hemos hecho nada malo, a no ser existir y
      exigir algo totalmente viable, que es el derecho de expresión. Si ellos no pueden respetar eso, ahí no se efectúa
      ningún diálogo.</p>
    <p>Entonces, ahora mismo hay muchas presiones internacionales, la presión de la opinión pública que incide en ellos
      directamente. A ellos les conviene tener un diálogo y nosotros nos agarramos de eso. Nos agarramos de esas
      debilidades para tener un diálogo también porque es que nos interesa ir por esa vía pacífica. Nos interesa llegar
      a acuerdos. Nos interesa correr límites. Y entonces, estamos viendo cómo se efectúa eso. Pero la cosa no está de
      un solo lado, la cosa es de dos. O sea, un diálogo es de dos.</p>
    <p><strong>¿Cómo ves la situación del arte y los artistas cubanos después de 27N?</strong></p>
    <p>Ya eso lo estábamos hablando. Yo creo que existe una familiaridad mayor, una unión increíble. Muchas personas se
      están conociendo, muchas personas se están aglutinando. Es algo increíble, es algo que va a seguir pasando.</p>
    <p>Hay mucha conexión ahora mismo entre las personas. Las personas están como cansadas de tanto tiempo…, digamos de
      tanto de tanto tiempo soportar golpes, ¿no? De la misma institución para la que ellos mismos han estado
      trabajando, de las que ellos mismos han estado involucrados, han pertenecido.</p>
    <p>O sea, ya esas personas han llegado al punto del hartazgo. De ese maltrato, de esa, digamos, ineficiencia, de esa
      mediocridad. La institución está cada vez más sola y los artistas cada vez más unidos, los artistas están cada vez
      creando más, creyendo más. Es algo realmente inspirador y creo que la cultura cubana puede tener, digamos, ahora
      mucha más fuerza. Incluso, los artistas del exilio de los años ochenta, noventa, que se han exiliado, de pronto
      ven esto como una llama de inspiración para su retorno, porque es que todo el mundo sigue conectado con su tierra,
      con esa cosa que dejaron frustrada.</p>
    <p>Y siempre han estado, de alguna manera, conectados y, además, también con esa rencilla que te queda dentro cuando
      eres censurado, cuando eres expulsado desde tu propio país, de tu propia tierra, de tu propio espacio, de tu
      propia familia. Muchas personas han sufrido mucho, sobre todo, por supuesto, la comunidad entera cubana. Pero los
      artistas han sufrido mucho su ser, su creación, su vida completa.</p>
    <p>Entonces, ahora mismo hay un reconocimiento entre iguales. Todos sufrimos diferentes procesos, tenemos
      experiencias diferentes, pero todos queremos algo en común y es crear libremente. Crear. Las personas quieren
      crear y no quieren que venga alguien que se interponga, y te diga lo que tengo que hacer, y te corte esa creación,
      esa inspiración.</p>
    <p>Las personas ya se cansaron de eso. Las personas, los artistas, simplemente quieren crear. Y eso es algo que
      todos tenemos en común y es algo por lo que ahora vamos a luchar, así, completamente unidos.</p>
    <p><strong>Tú fuiste de las que se atrincheró en San Isidro. Cuéntame cómo llegaste ahí y cómo fue compartir ese
        período de tiempo con personas tan diferentes.</strong></p>
    <p>Llego a San Isidro por la amistad. Se llama todo esto San Isidro porque nos acuartelamos en San Isidro y se
      conoce como Movimiento San Isidro porque toda la información, digamos, empezó a salir por las páginas del
      Movimiento San Isidro, y por supuesto, el Movimiento San Isidro estuvo detrás de todo esto y muchos de los que
      estaban ahí acuartelados eran parte del Movimiento San Isidro. Pero lo que pasó ahí es algo mucho más grande. O
      sea, algo que excede al Movimiento San Isidro.</p>
    <p>Había personas, como tú dices, de muchos sustratos, personas totalmente diferentes, personas que nos estábamos
      conociendo ahí por primera vez, y aquello era, digamos, que una sociedad perfecta. Era mucha gente diferente.
      Todos, cada uno, digamos, que representábamos algo.</p>
    <p>Había un muchacho de 18 años, había una académica, había un artista, había un musulmán, había un cristiano,
      estaba Maykel Obsorbo, estaba Ileana Hernández. O sea, era increíble la comunidad que se gestó ahí. Fue
      espectacular vivir ahí, pero fue…Era una especie de implosión. Un espacio pequeño, viviendo gente que se acababa
      de conocer, nosotros teníamos chistes, así como que “no aguantamos una semana más, ya tienen que entrar esta gente
      porque no aguantamos una semana más”. Todo desde la base del cariño porque ahí empezamos a conocernos, empezamos a
      crear una familia.</p>
    <p>Y entonces, como mismo es una familia tiene de todo: tiene el amor, pero también tiene… ya, cuando te sacan los
      pines completamente porque alguien hace algo que no debe hacer y tiene que aprender. Entonces uno se impone y el
      otro dice…, era así. Totalmente caótico, pero era muy orgánico a la vez. Fue otra realidad. O sea, la realidad que
      vivimos allá dentro era una realidad completamente diferente a la que se estaba viviendo fuera. Yo lo sentía.</p>
    <p>Yo sentía como esa puerta representaba una plaqueta, una división entre dos películas diferentes. Nosotros
      teníamos un tiempo, una velocidad, todo diferente a lo que estaba sucediendo fuera y nos estábamos jugando la
      vida. Nos estábamos jugando la vida porque estamos convencidos de algo, estamos enfadados y estábamos con esa
      convicción de sacar a alguien, y de que estamos luchando por una injusticia que representa la injusticia de muchas
      cosas. No es que estábamos solamente ahí, peleando por la liberación de Denis Solís. Es que ese mismo
      encarcelamiento representa el encarcelamiento de muchos presos de conciencia durante la historia de la Revolución.
    </p>
    <p>Entonces, eso era algo ahí… vital. O sea, era lo que nos mantenía a nosotros en pie, en pie de lucha, y toda la
      energía que había fuera, todo el apoyo que se generó, toda la conexión, todo eso fue como mágico. Ese despertar de
      pronto de la sociedad, nosotros creíamos que se podía generar algo, pero no creímos que fuese así, tan grande.</p>
    <p>Y fue sorprendente. Fue sorprendente para la persona que se estaban manifestando fuera desde San Isidro como para
      nosotros mismos. Y fue algo bellísimo. Es algo sin precedentes, y creo que es algo que me va a marcar a mí por
      toda la vida. Yo aprendí muchos valores, ahí me conecté con gente brillante, aprendí, fuimos más tolerantes,
      fuimos muy inclusivos, inclusivos de verdad. De ser iguales todos, y ser todos muy diferentes. Era la Cuba
      realmente que soñamos.</p>
    <p>Aquello era la Cuba que soñamos. Era todo. Es algo que nos va a marcar de por vida.</p>
    <p>No solo a nosotros que estábamos ahí viviendo esa experiencia, yo creo que es algo que va a marcar de por vida a
      muchas personas. Y fue la inspiración para muchos artistas, fue lo que detonó esa cosa que pasó el 27N, pero ha
      sido también la esperanza para todo ese exilio de lograr una Cuba nueva, de lograr una Cuba mejor, de unir
      cubanos. Fue un momento muy lindo así de unión. Y creo que es algo importante para la sociedad cubana.</p>
    <p><strong>Cuéntame cómo fue hacer una huelga de hambre</strong></p>
    <p>Yo estuve de huelga de hambre cinco días y fue…, no sé, nunca había hecho huelga, pensaba que iba a ser mucho más
      violento estar sin comer y a mí me gusta mucho comer. O sea, no era que estaba haciendo algo fácil, no, no. Era
      una tarea difícil para mi organismo. Yo me mantuve…, nunca tomé agua, yo tomaba té, tomaba té negro todo el
      tiempo, o sea, mi huelga de hambre fue a base de infusión. Tomaba té negro, tomaba… en algún momento tomé té de
      jengibre y en algún momento entraron como unas hierbas menta… y también tomé ese tipo de infusión. Y eso fue lo
      que realmente me dio energía, digamos vitalidad, para poder mantener mis tareas allá dentro.</p>
    <p>Porque digamos que estábamos…, cada uno tenía como un rol allá dentro, y Anamely, Omara y yo nos encargábamos de
      toda la organización del caos aquel; los demás, los que más estaban delicados, bueno, tenían que estar en huelga,
      por supuesto, pero cuando entré en huelga fue como algo conflictivo porque tenía que estar reposando, pero asumí
      mi rol que era estar conectada con la prensa, las personas que estaban fuera conectando cosas, tratando de que no
      se nos fuera de las manos, y en fin. También estaba escribiendo, estaba tirando fotos, estaba haciendo quinientas
      cosas y yo nunca reposaba.</p>
    <p>O sea, estaba todo el tiempo caminando de aquí para allá como una loca. Entonces, en algún momento, por supuesto,
      sentí debilidad, sentía mucho sueño, las energías se me agotaban, pero la adrenalina que nosotros teníamos de
      estar allá dentro, el tiempo, que llevábamos otra velocidad, todo, los mantuvo a nosotros despierto, nos mantuvo
      alerta, además, de ese monstruo allá fuera, de esa Seguridad del Estado que podría hacer cualquier cosa en
      cualquier momento, todo eso nos mantuvo en estado de alerta.</p>
    <p>No hubo tiempo de descansar ni dormir ni nada. O sea, que básicamente, era esa energía cuando veía que se estaba
      apagando, enseguida se reactivaban. Y creo que pasó con todo el mundo, porque Luis Manuel estaba agonizando en una
      cama y de pronto se paraba cuando sucedía cualquier cosa. De hecho, lo violentaron en algún momento, le hicieron
      como unos cortes en la cara cuando tiraron, cuando trataron de romper la puerta, en fin. Todas esas cosas… todo el
      mundo estuvo como siempre: despierto. Y sí, fue difícil.</p>
    <p>De hecho, cuando llegué al 27N yo estaba prácticamente levitando por entre las personas, porque yo venía de otra
      realidad, aquello del 27… O sea, yo no había concientizado todavía lo que estaba pasando ahí cuando vi a todas
      esas personas reunidas frente al Ministerio. A lo largo de la noche fue que fui cayendo en lo que estaba
      sucediendo.</p>
    <p>Pero como yo venía de algo tan <em>heavy</em>, esto que estaba pasando en el Ministerio era como nada.
      Básicamente fui allí a ver a mis amistades que estaban allí, que no veía hacía semanas. Y después, a lo largo de
      la noche, fui cayendo en lo que estaba sucediendo: en algo totalmente inédito y en algo grandísimo para la
      historia de la cultura cubana. Pero sí fue una experiencia insólita, estas cosas que han ocurrido así… en tan
      corto período de tiempo.</p>
    <p><strong>¿Qué tú quieres que pase y qué crees que pase en un futuro inmediato?</strong></p>
    <p>Bueno, de querer quiero muchas cosas. Uno siempre…, yo no soy tan ambicioso con eso, yo soy más calmada por ahí.
      Entiendo que todo lleva un proceso y creo que estamos, básicamente, en ese proceso pioneril de aprender y
      ensayando cosas.</p>
    <p>Están sucediendo cosas que nunca habían sucedido, por lo menos nosotros no somos políticos ni nada, ni tenemos
      agendas políticas, ni planes de lo que va a ser Cuba ni mucho menos. Somos artistas que sentimos una necesidad por
      expresarnos, sentimos una necesidad por discrepar y demás, y estamos defendiendo eso. Pero ahora, tener un
      proyecto de lo que es una nación y todas esas cosas, se lo dejo a los políticos, a los sociólogos…</p>
    <p>Quiero muchas cosas. Quiero libertades, todas esas cosas más allá de lo que pueda facilitar o no un poder
      político son cosas que podemos mejorar, que puede mejorar el humano. Quiero muchas cosas, pero, básicamente, las
      cosas que quiero son cosas que se pueden mejorar desde el ser humano. Como no tirar un papel en la calle, ¿me
      entiendes? Una cosa tan simple como esa. No discriminar, no violar, no maltratar, no muchas cosas, ¿me entiendes?
    </p>
    <p>Que no necesariamente lo tiene que solucionar un poder político, lo solucionamos nosotros, los humanos. Entonces,
      esas cosas, que muchas personas no entienden o quieren que lo revuelva otro, son bases tan sencillas las que
      podemos mejorar nosotros mismos.</p>
    <p>Yo creo que mi trabajo como ciudadana y el trabajo de muchas personas afín a mí, amistades, básicamente, es dar
      el ejemplo con esas cosas tan sencillas, que podemos solucionar.</p>
    <p>Hablaba con Camila hace un tiempo…, cómo uno hace política sin hacer política. Y estas son cosas que podemos
      mejorar nosotros mismos para poder ser mejores, sentirnos mejor y para cambiar esta sociedad. Esas cosas como la
      misma dignidad… dice Maykel Obsorbo que hay que darse un baño de dignidad. Yo creo que sí, esta sociedad lo que
      lleva es un baño de dignidad. Hemos aprendido a vivir sin dignidad durante muchos años, las personas necesitan ese
      baño de dignidad, las personas necesitan reconocer que tienen esos derechos y tienen que pelear por esos derechos,
      pero tienen que ser mejores personas ellos mismos también.</p>
    <p>Todo empieza desde la casa, todo empieza desde la educación, por supuesto que el sistema incide en eso porque el
      sistema te está dando una educación y el sistema es patriarcal, y el sistema viola los derechos de los animales, y
      el sistema discrimina a los homosexuales y ta, ta, ta.</p>
    <p>Y por supuesto, atrás hay una pared que impide al humano hacer muchas cosas, pero ya cuando el humano tiene eso
      incorporado, en su cuerpo, en su alma, va por ahí para adelante.</p>
    <p>Entonces, creo que es algo a la par. Trabajar uno como ser humano y pujar para desbaratar, para tumbar, para
      hacer cualquier cosa con ese sistema obsoleto que no sirve, que no funciona, que lo que está haciendo es
      impidiendo un mejoramiento humano, básicamente.</p>
  </article>
</app-interview-template>
