header {
  position: relative;

  .top-bar {
    position: absolute;
    padding-top: var(--border-margin);
    padding-left: var(--border-margin);
  }
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;

  h1 {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-medium);
    padding: 1rem 0;
    z-index: 2;
    pointer-events: none;
  }

  p {
    pointer-events: none;
    font-size: calc(0.36 * var(--font-size-title));
    z-index: 2;
  }

  .sroll-down-button {
    margin-top: 3rem;
    pointer-events: all;
    z-index: 2;
    width: calc(var(--font-size-title) + 1rem);
    height: calc(var(--font-size-title) + 1rem);
    animation: bounceUpDown 2s linear infinite;
  }
}

.scroll-up {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5rem;

  img.arrow-up {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@keyframes bounceUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50%);
  }
}

@media screen and (min-width: 786px) {
  .home {
    .sroll-down-button {
      pointer-events: none;
    }
  }
}