<header>
  <mat-toolbar class="top-bar">
    <app-logo></app-logo>
  </mat-toolbar>
</header>

<section class="home" #homeRef>
  <app-canvas-balls></app-canvas-balls>
  <h1>
    LA REVOLUCI&Oacute;N <br />
    DE LOS APLAUSOS
  </h1>
  <p>
    Serie de entrevistas <br />
    de la sociedad civil cubana <br />
    a ra&iacute;z de los sucesos <br />
    del 27n
  </p>
  <img
    class="sroll-down-button"
    (click)="scrollTo(interviewedRef)"
    src="./assets/images/icons/utils/arrow-down.png"
    alt="arrow down button"
  />
</section>

<section #interviewedRef>
  <app-interviewed-grid></app-interviewed-grid>
</section>

<section>
  <app-external-views></app-external-views>
</section>

<app-scroll-up-button></app-scroll-up-button>

<app-footer></app-footer>
