<section class="home">
    <app-canvas-balls></app-canvas-balls>
    <h1> LA REVOLUCI&Oacute;N <br /> DE LOS APLAUSOS</h1>
    <p>
        Serie de entrevistas <br />
        de la sociedad civil cubana <br />
        a ra&iacute;z de los sucesos <br />
        del 27n
    </p>
    <button mat-icon-button class="sroll-down-button" (click)="scrollTo(interviewedRef)">
        <mat-icon>expand_more</mat-icon>
    </button>
</section>

<section #interviewedRef>
    <app-interviewed-grid></app-interviewed-grid>
</section>

<app-footer></app-footer>
