<app-interview-template videoId="v4lJwHjEP6I" audioId="971490643">
  <article>
    <p>
      <span class="first-letter">P</span>
      <em>eriodismo de Barrio</em> entrevista a Juan Pin Vilar, director de televisión y documentalista cubano. Esta
      entrevista forma parte de
      <em>
        <a class="link-higthlight" href="https://www.periodismodebarrio.org/2020/12/la-revolucion-de-los-aplausos/">La
          Revolución de los aplausos</a> </em>, una serie de conversaciones con actores de la sociedad civil, a raíz del
      diálogo que tuvo lugar el 27 de noviembre de 2020 en el Ministerio de Cultura.
    </p>
  </article>

  <article>
    <p><strong>¿Por qué es importante la provocación desde el arte?</strong></p>
    <p>La provocación está en la Historia del Arte. Todo depende de la estructura de poder que exista, de las reglas del
      juego en la sociedad. Los impresionistas fueron provocadores, pero al lado de Madonna son niños de teta. Hay quien
      se dedica a provocar con la idea de establecer un diálogo con la sociedad que lleve al límite; límite que
      significa la respuesta popular o del espectador a la obra.</p>
    <p>En los últimos años, dentro del arte independiente cubano ha tomado fuerza el <em>performance</em>. No estoy al
      tanto de si a nivel institucional hay alguien que desarrolle esa propuesta. Hay provocaciones que son políticas,
      otras que son estéticas. Si mañana decido salir caminado desnudo por la calle, estoy rompiendo una norma social,
      porque la gente no anda desnuda por la calle. Me imagino que si salgo desnudo en Austria, la gente pensará que
      quiero significar la pobreza, no quiero ponerme tela, o quiero significar algo relacionado con la protección de
      los animales… Si lo hago en el paradero de la Víbora, es posible que alguien me de dos cabillazos, porque estoy
      ofendiendo a su mujer.</p>
    <p>La provocación en el arte es tan vieja como la Historia del Arte y la relación con el poder, que es la historia
      de la humanidad. Hay quien desarrolla esa tendencia y quien no. Desde la literatura o el cine. Cuando le enseñas
      un libro a alguien que no sabe leer y escribir –o le pones una película–, él difícilmente pueda comprender cuál es
      tu provocación. Sin embargo, si haces en un <em>performance</em>, aunque esa persona sea analfabeta, comprende, o
      por lo menos se hace una idea de lo que tú estás representando. Eso para mí es la provocación en el arte.</p>
    <p><strong>Crees que el cine provoca cuando intenta cubrir áreas “oscuras” o “grises” de la Historia. ¿Esa puede ser
        también la función del cine: ser provocador? </strong></p>
    <p>Realmente, yo no hago ninguna obra para provocar. Mi obra es una manera de transmitir lo que pienso. No sabría
      cómo lo haría si fuera pelotero. Pero el arte tiene esa ventaja: puede comunicar sentimientos, pensamientos.</p>
    <p>Nunca me propongo provocar. La provocación existe en la mirada de los que encargan la obra. Da igual si es una
      compañía estadounidense, una compañía mexicana, una marca de cigarro o un partido político. Trato de ser
      consciente y consecuente con lo que quiero decir. Si alguien se siente provocado, ese es su problema y su lectura.
    </p>
    <p><strong>¿Qué relación existe entre el cine, el arte y la política?</strong></p>
    <p>¿El cine, el arte y la ideología? Bueno, el cine es arte. Era minusválido, no tenía voz, y ya se le llamaba el
      séptimo arte. La humanidad no ha creado un octavo arte, no ha creado un noveno arte. Ha desarrollado en los siete
      que existen una cantidad de posibilidades enormes.</p>
    <p>La ideología… Nunca pienso en la ideología. No tengo claro que es la ideología. El discurso sobre la ideología en
      Cuba es muy politizado. No tiene que ver con el sentido común, sino con las necesidades del poder de difundir un
      pensamiento, una agenda política. No me interesa. Me interesa hacer mi obra. Si tú la lees de un modo y otros la
      leen de otro, es su problema. Si pongo una escena donde le cortan la cabeza a un gatico en pantalla, a lo mejor mi
      idea era que el espectador sintiera terror y pensara en lo débiles que son los animales. Sin embargo, alguien
      dirá: “Él está propagando que hay que asesinar a los animales”. Cuando esas posiciones se expresan es cuando tengo
      que explicar: “A lo mejor lo que yo hice no tuvo el resultado esperado, no quiero promover que hay que asesinar
      animales. Me salió el efecto contrario”.</p>
    <p>En un país tan politizado como este, los márgenes son muy estrechos. Los márgenes para expresar tu agenda
      política, tus concepciones ideológicas, están muy ligados a las estructuras de poder a todos los niveles: desde un
      agromercado hasta el ministro de Agricultura. A veces hablas de un agro y los medios oficiales te responden como
      si hubieras dicho que el ministro es ineficiente. No, lo que es ineficiente es que el agro esté vacío. Si el
      ministro responde a eso, entonces tengo que argumentar que el agro está vacío, y ahí me doy cuenta de que es por
      su ineficiencia.</p>
    <p><strong>El poder se siente atacado…</strong></p>
    <p>Es algo incomprensible. Algo que las sociedades resolvieron ya, hace mucho tiempo. Los problemas que se están
      planteando, o que se enfrentan en la Cuba de hoy, son problemas que ya el mundo superó.</p>
    <p>Si ahora agarro a un mamut y lo llevo con un veterinario, probablemente el veterinario –aunque sea el mejor del
      mundo– me diga: “Yo no sé qué hacer con esto, porque estas enfermedades ya se superaron hace años. No sé cómo
      tratarlo. Posiblemente, la penicilina no funcione con este animal, porque este animal debió desaparecer. Esta
      enfermedad ya no existe”.</p>
    <p>En Cuba lidiamos con problemas que el mundo ya resolvió… A nadie le importa que salgas desnudo a la calle, o con
      una bandera. A la gente le importa la agenda que puede desestabilizar la sociedad. Es decir, si salir desnudo
      provoca un problema en este edificio…, entonces viene la policía. Aquí, en Costa Rica y en Hong Kong. Pero el
      hecho de salir desnudo, de hacer un documental, ya no es un problema en el mundo. Bueno, si haces un documental
      que promueve la pederastia, es difícil que encuentres una sala de cine –particular u oficial– que lo presente, o
      un canal de televisión que lo proyecte; tampoco el tema de la pederastia es algo que las sociedades superan&#8230;
      Se trata de que esa obra no desestabilice la sociedad. No quiere decir que no la cambie. A nombre de la
      desestabilización, tú no puedes prohibir mi obra, porque a lo mejor esa obra está rompiendo el molde de una
      sociedad estrecha… Por eso te decía al principio: los impresionistas fueron un escándalo y hoy están en todos los
      museos; los miras y es admirable. Imagínate tú Madonna…, hubiera detonado solo por el hecho de bañarse en bikini.
    </p>
    <p><strong>¿Cómo debe ser pensado y entendido el cine en una Cuba democrática?</strong></p>
    <p>Como una herramienta de comunicación entre el poder y los creadores. El cine pone el ojo de una cámara sobre el
      problema que el poder no ve, o que a veces ve y quiere ocultar. El cine –aunque sea una novela de amor, la
      historia de la guerra de Angola, o la del 27 de noviembre en el Ministerio de Cultura– tiene su razón de ser en la
      representación. Ese día, dos muchachos me preguntaron: “¿Juan Pin, por qué estás aquí?”. Primero, porque yo creo
      que Cuba tiene que cambiar; segundo, porque como intelectual tengo que estar donde está sucediendo algo; es mi
      trabajo.</p>
    <p>Santiago Álvarez posiblemente no estuviese de acuerdo con la agenda del Movimiento San Isidro, pero seguro
      hubiese estado frente al Ministerio de Cultura. ¿Cómo hacer un noticiero, cómo realizar un documental si como
      intelectual no te vinculas con la sociedad, con la trayectoria estética y ética a la que te debes?</p>
    <p>Recuerdo una frase de Silvio Rodríguez –creo que la leí o quizás me la dijo alguna vez, no puedo asegurarlo–
      cuando la guerra de Angola: “Si me van a pedir canciones, tienen que dejarme ir a la guerra. De lo contrario, no
      me pidan canciones”.</p>
    <p>Si está sucediendo algo frente al Ministerio de Cultura, es mi deber intelectual, como cubano, estar presente. Yo
      no construyo una pared de ladrillos, ahí no se estaba forjando un horno. Por eso, me parece estúpido, mediocre y
      tonto, más allá de la manipulación o la antidemocracia, que los periódicos como el <em>Granma</em>, <em>Juventud
        Rebelde</em>, etc., escriban una nota sin haber estado presentes.</p>
    <p>Yo vi 300 muchachos sentados en armonía, esperando ser atendidos. No estaban con una bandera de “Viva el Partido
      Comunista”, ni con una bandera de “Viva el Movimiento San Isidro”; tampoco portaban una bandera de “Vivan los
      rusos” o “Viva la embajada americana”. Después, cuando salí, vi a montones de figuras de la cultura cubana. Todos
      estaban presentes porque Cuba tiene que cambiar.</p>
    <p>Ninguno dijo: “Yo estoy aquí representando a los jesuitas”, o “Estoy representando aquí a los protestantes”.
      Nosotros estábamos representando a Cuba, que es la tierra de todos: los protestantes, los católicos, los
      presbiterianos, los comunistas, los opositores, los que están a favor de Miguel Díaz-Canel, y los que están en
      contra.</p>
    <p><strong>¿El diálogo es el camino?</strong></p>
    <p>Tiene que haber diálogo. No solo con el poder, con cualquiera. El diálogo es el camino en la medida que es un
      diálogo, no un monólogo. Si tú y yo tuvimos un problema hace diez años, y diez años después nos vamos a sentar a
      dialogar, esa conversación no puede comenzar con rencores. El diálogo se trata de que yo te diga:</p>
    <p>―¿Qué te parece el disco de Bob Dylan?.</p>
    <p>Y tú me digas:</p>
    <p>―No me gusta nada.</p>
    <p>―Chico, ¿por qué no podemos ponerlo en Radio Ciudadana?</p>
    <p>―Bueno, es que el perfil de Radio Ciudadana es de trova, entonces no me interesa Bob Dylan ahí.</p>
    <p>―Coño, pero Bob Dylan es un trovador.</p>
    <p>―Sí, pero no habla español.</p>
    <p>―OK. Habla inglés. Bueno, vamos a ver como subtitulamos en radio…</p>
    <p>Dialogar se trata de puntos de vista. A lo mejor yo salgo diciendo: “No van a poner a Bob Dylan en Ciudadana, van
      a ponerlo en Radio Taíno”.</p>
    <p>Me parece bien. Dialogar también es conciliar: “OK, va en Radio Taíno, no en Ciudadana, pero va”.</p>
    <p><strong>¿Hacia dónde quisiera que fuera el diálogo? ¿Qué significado tendría ese entendimiento para la sociedad
        cubana?</strong></p>
    <p>Lo que sucedió frente al Ministerio de Cultura es una cosa histórica. Algo que no había ocurrido nunca. He
      participado en millones de batallas y he sido un gran disidente institucional. Las instituciones y yo no nos
      llevamos bien. Nos atendemos, nos hablamos. Muchas veces, los funcionarios dejan de saludarte… Entonces, como te
      decía, sentarme al lado de artistas opositores y no sentirme incómodo con ellos, ni ellos conmigo… Eso es
      histórico. Eso es único. Trecientas, cuatrocientas, veinticinco personas, no importa el número. Sin un liderazgo,
      solo con la humildad de sentarse ahí, es inédito en Cuba. Que nadie le hubiese preguntado al otro por qué viene.
      Nadie me preguntó el idioma que yo hablaba. Lo único que se me pidió es que me hiciera entender.</p>
    <p>Yo, salvo Tania Bruguera –a quien conozco desde que era niña–, no tuve contacto con nadie. No los conocía. Me
      enteré de quiénes eran cuando estábamos adentro, sentados en el mismo lugar donde estaba también Fernando Pérez.
      Eso es histórico.</p>
    <p>Cuando yo tenía cinco años de edad, los hombres que se ponían aretes eran homosexuales, y hoy yo tengo un arete.
      Negar que cuando yo tenía cinco años de edad, en el 1968, todo el que yo supuse o me dijeron o escuché que fumaba
      marihuana era un delincuente…, y después conocí a Santiago Feliú que toda su vida, hasta diez minutos antes de
      morir, posiblemente, fumó marihuana y era un sol de persona… Cuando yo tenía cinco años de edad, la televisión
      puso los tatuajes como atributos de gente que vino a invadir Cuba, gente que había robado en una fábrica, etc.;
      eran delincuentes…, y hoy en día yo tengo tatuado una bandera y mi hija un mandala y la otra una rosa y el otro un
      barco con un vikingo y ninguno es delincuente. Entonces, tú tienes que darte cuenta de que no puedes juzgar el
      arete, ni la marihuana, ni el tatuaje, como lo mirabas en 1968. ¿Qué hacen las fuerzas represivas atendiendo un
      cuadro, un documental, un<em> performance</em>, la página en un libro, un poema escrito por alguien? Eso es
      responsabilidad de las instituciones culturales, si es que van a existir, de lo contrario que se vayan y que
      envíen personas capacitadas para ver una página.</p>
    <p>En mi caso personal, me da igual lo que escriban, filmen, conviertan en <em>performances</em>… Lo que no me mueve
      es la mediocridad. Si tu página, yo no coincido con ella, pero está bien escrita, siempre la voy a leer. Aldo y
      Bian, que son los más grandes raperos que hay en este país, son como hijos míos; los escucho, pero no me meto
      todos sus discos porque no es mi tiempo, no es mi género. Sin embargo, no se me ocurre descalificarlos por eso.
      Una cosa es el ciudadano y otra cosa es el artista.</p>
    <p>Eliseo Diego me enseñó hace muchos años que se compromete el hombre, no la obra. Tú no me puedes pedir que haga
      un documental de algo que no siento. Mi obra es sagrada. Estoy absolutamente comprometido, emotiva e
      históricamente, con el papel que jugó Cuba en la liberación de África. Pero yo no le he hecho un documental a
      Angola. Hay que aprender a diferenciar. Tú no me puedes pedir que yo le haga un poema al Che como buen padre,
      porque yo conozco a sus hijos, son amigos míos, y ese hombre no tuvo tiempo de criarlos, por las razones que
      fueran: heroísmo o maldad, como lo quieran ver. No puedes hacer un poema sobre el Che diciendo que era un buen
      padre. No puedes imponerme una imagen y un deber ser.</p>
    <p>Por otro lado, nadie me va a inducir a realizar una obra contra Cuba, ni que desestabilice este país. Pero
      tampoco nadie me va a inducir a filmar una obra a favor de Cuba. Lo que pasó en el Ministerio de Cultura no solo
      era a favor de un diálogo, sino a favor de la estabilidad. El programa de televisión que hicieron después me
      desestabiliza mucho más que lo sucedido allí. Ese programa sí era desestabilizador. No lo era lo que vivimos allí.
      A pesar de la bestial situación que había alrededor, totalmente desproporcionada, porque yo sentí que me estaban
      amenazando con Mijaín López a mí, que tengo 57 años y peso 60 kilogramos. Tú me trajiste a Mijaín López y a Félix
      Savón&#8230;. Eso es lo que yo sentí&#8230; Por lo tanto, tengo que sentir miedo. Y el miedo, por ósmosis, generó
      apoyo y solidaridad entre todas esas personas que no se conocían.</p>
    <p>Bien, puede que yo con 57 años tenga miedo –la vida mía ha pasado, tengo otros compromisos– y me rinda. Pero
      deben saber que quien tiene 17 años, aunque tenga miedo asalta el Moncada; aunque tenga miedo está en las calles
      de París formando lío; aunque tenga miedo sale con los chilenos a la calle y revierte un montón de reformas
      horribles de la derecha; aunque tenga miedo se le planta a Bolsonaro con la agenda fascista que tiene; aunque
      tenga miedo&#8230;</p>
    <p>Si tú no cuidas eso, que es el tesoro más grande, el ímpetu de los jóvenes por existir y por reclamarte a ti, no
      por apartarte, sino por decirte: “¿Por qué no me quieres, por qué no me comprendes?”. Eso conduce a un camino sin
      fin que no favorece a nadie y puede, algún día, colocar los tanques en la calle.</p>
    <p>¿Cuál es el propósito? ¿Poner los tanques en la calle? Estoy hablando para todas las agendas políticas: el día
      que los tanques salgan a la calle ya se perdió todo. ¡Ya se acabó todo!</p>
    <p>Tengo una propuesta: todo el que fuera o dentro de Cuba esté diciendo que no va a dialogar con la tiranía y la
      dictadura, que hay es que pelearse…, bueno, que los dejen entrar por el aeropuerto; incluso, que el gobierno
      consiga los pasajes, los ponga en guaguas con aire acondicionado y los lleve para el Estadio Latinoamericano. Que
      a todos los talibanes del gobierno cubano, todas esas personas y los que está empujando por “Vietnam nuestra
      propia sangre”, “Aquí esta tierra es de Fidel”, etc., que los lleven también para el Latinoamericano. Que los
      encueren a todos, les den condones de colores, sabores, de lo que quieran, y que hagan una orgía entre ellos.
      Tríos, cuartetos, quintetos, que se encuentren. Muchos saldrán del clóset. Otros se meterán en el clóset. Pero de
      esa relación, de las mujeres que queden embarazadas, saldrá el “hombre nuevo”.</p>
  </article>
</app-interview-template>
