.top-progress-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    height: 5px;
    width: 100vw;
    z-index: 9999;
}

.top-progress-bar {
    background-color: var(--color-accent);
    height: 100%;
    width: 0%;
    z-index: inherit;
}