<div class="wrapper">
  <mat-toolbar>
    <mat-toolbar-row class="close-btn">
      <button mat-icon-button (click)="closeMenu()">
        <img
          class="icon"
          src="./assets/images/icons/utils/close.png"
          alt="close icon"
        />
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="title">
      <a [routerLink]="['/']">
        LA REVOLUCI&Oacute;N <br />
        DE LOS APLAUSOS
      </a>
    </mat-toolbar-row>
  </mat-toolbar>

  <ul class="links">
    <li
      *ngFor="let interviewed of interviewees"
      [routerLink]="['/interview', interviewed.id]"
      routerLinkActive="active-interviewed"
      (click)="closeMenu()"
    >
      <a>{{ interviewed.name | uppercase }}</a>
    </li>
  </ul>
</div>
