<app-interview-template videoId="LoJJxgoKi8A" audioId="1166014456">
  <article>
    <p>
      <span class="first-letter">P</span>
      <em>eriodismo de Barrio</em> entrevista a Camila Lobón, artista visual cubana. Esta entrevista forma parte de
      <em>
        <a class="link-higthlight" href="https://www.periodismodebarrio.org/2020/12/la-revolucion-de-los-aplausos/">La
          Revolución de los aplausos</a> </em>, una serie de conversaciones con actores de la sociedad civil que se
      realizaron entre diciembre de 2020 y enero de 2021, a raíz del diálogo que tuvo lugar el 27 de noviembre de 2020
      en el Ministerio de Cultura.
    </p>
  </article>

  <article>
    <p>Me llamo Camila Ramírez Lobón, soy artista visual, graduada del Instituto Superior de Arte el año pasado y soy
      actualmente una de las coordinadoras de INSTAR, el Instituto de Artivismo Hannah Arendt.</p>
    <p><strong>¿Qué relación hay entre arte y activismo?</strong></p>
    <p>Para mí es muy complicado esto de tratar de establecer definiciones o conceptos, no me gusta. Hay algo que dice
      Gombrich en uno de sus libros de Historia del Arte que empieza así, con una línea que me encanta, que dice que no
      existe tal cosa como el arte, solo existen los artistas. Yo creo que eso es completamente real, no existe más nada
      que lo que los seres humanos, por supuesto, somos capaces de construir, y luego tratamos de definirlo. Pero, por
      ejemplo, para mí el arte es obligatoriamente político-social, o sea, el arte es la expresión, el producto del
      hombre dialogando y entrando en conflicto con su realidad, ¿no?, y tratando de hacer algún tipo de justicia
      personal, estética, en fin.</p>
    <p>Y el activismo es llevar eso a un espacio público y tratar de interceder directamente en cambios sociales y en
      protagonizar y visibilizar causas sociales que den al traste con cambios reales en la vida práctica por el
      beneficio de la mayoría.</p>
    <p>Yo creo que ni el arte deja de ser social… Yo, de hecho, trabajo en el Instituto de Artivismo y estoy muy cercana
      a ese tipo de prácticas, he estado muy cercana y he tenido que trabajar mucho con eso, pero al mismo tiempo mi
      trabajo como artista es un trabajo, de hecho, bastante tradicional en términos formales y de medios y de recursos,
      que tiene más que ver con la ilustración, con el dibujo, con la narración, o sea, es bastante tradicional en
      términos artísticos.</p>
    <p>Y yo no me considero una activista, a lo mejor tampoco ni una artista, pero sí, sí creo que simplemente soy una
      persona con sentido de la justicia, ¿no?, con una conciencia política y con un sentido de la justicia creciente en
      un contexto como este en el que la arbitrariedad es algo… es la realidad misma que se vive. O sea, la realidad es
      completamente arbitraria en todos los sentidos y absurda también, y más que interesarme definir realmente qué es
      una cosa o qué es la otra, creo que he intentado como reaccionar o responder o involucrarme o manifestarme por las
      cosas que considero injustas, y sea en los espacios que sea, desde el espacio estético, desde el espacio
      artístico, hasta el espacio ya más social.</p>
    <p>Y eso inevitablemente te coloca en una posición en la que todo el mundo intenta definir si es activismo o no.
      Para mí, el activismo es algo que respeto mucho, es toda una vocación de vida y es algo que yo no asumo como una
      vocación, no lo he hecho hasta ahora, pero, por supuesto, las situaciones y el contexto te van llevando a
      reaccionar.</p>
    <p>Lo importante es eso, que la gente desde donde pueda, desde sus recursos, desde sus posibilidades, pues se
      involucre cuando vea una injusticia y trate de visibilizarla y de luchar contra eso.</p>
    <p><strong>¿Cómo debe ser pensado y entendido el arte en una Cuba democrática?</strong></p>
    <p>Antes que el arte, creo que Cuba y los cubanos necesitan entender, experimentar, lo que es una condición humana
      digna, ¿no?, una vida digna.</p>
    <p>Cuba es como una especie de teatro, en Cuba se vive en una simulación constante, nos enseñan desde niños a
      simular y nos convierten en monstruos, realmente nos convierten en seres con la incapacidad de ser honestos
      consigo mismos y con el contexto, y decir libremente lo que piensan porque, bueno, eso implica riesgos que no
      estamos dispuestos a correr y ya la vida a nivel material, espiritual, es bastante difícil como para también
      complicarse con eso.</p>
    <p>Entonces yo, más que el arte, creo que lo primero que necesita Cuba es que cada cubano tenga la posibilidad y el
      derecho a ser honesto, y a poder vivir entonces con un mínimo de dignidad, y luego de ahí moverse en el espacio
      social que entienda y ser lo que lo que entienda ser. Hasta que eso no sea una condición humana asumida pues yo
      creo que no se puede aspirar a un arte completamente libre ni completamente honesto, que es lo que se supone deba
      ser el arte: esa esa narración paralela y crítica constantemente con la condición humana y con la realidad.</p>
    <p>Y nada, creo que el arte tiene que ser sobre todo eso, sobre todo honesto y sobre todo auténtico, y no deberse a
      otras agendas ni a otros compromisos que no sean los éticos del hombre consigo mismo y con lo que quiere decir.
    </p>
    <p>Y para eso tienes que vivir en un contexto democrático, y para llegar a ese contexto democrático, pues todavía
      hay muchos derechos en Cuba que hay que ganar, y hay primero una condición ciudadana que hay que tener. Entonces,
      nada, eso aspiramos a que pueda llegar pronto.</p>
    <p><strong>Situación y demandas como artista independiente.</strong></p>
    <p>Mis demandas son muy básicas. Mi demanda de vida básicamente es poder vivir en libertad, poder vivir en un
      espacio en el que no se condene, no se castigue, no se persiga, no se reprima la libertad de pensamiento y la
      libertad de creación, y en el que no se reprima ninguna… es decir, en un país donde el Estado, por cuestiones
      ideológicas, no decida y dicte quién tiene derecho a participar o no del destino del país.</p>
    <p>Mi demanda básicamente es vivir en un espacio en el que se pueda denunciar la injusticia y se pueda hacer algo
      realmente para revertir la injusticia y para construir en positivo una sociedad mejor. Y lamentablemente, bueno,
      el contexto totalitario cubano es uno en el que no se puede o es muy difícil hacerlo, cuando partes del hecho de
      que no tienes el derecho a prácticamente participar de tu vida, y cuando no te identificas o eres crítico con las
      políticas del Estado pues eres excluido básicamente de todo. Se te es casi retirada ya no la nacionalidad, sino
      casi la condición humana y ciudadana.</p>
    <p>Pero esa es mi aspiración, mi aspiración es vivir en un país, en una sociedad, donde la gente pueda ejercer con
      dignidad su vida, ¿no?, pueda vivir dignamente: recibir el pago que merece el trabajo que realice, crear con total
      libertad y con total honestidad, entender y tolerar al otro, y sobre todo donde no haya odio, y mucho menos por
      razones políticas. Donde el odio no sea una realidad, una realidad tan presente como lo es hoy, ¿no?, tan presente
      que, bueno, destruye familias, destruye relaciones personales, destruye el núcleo mismo de la sociedad. Esa es mi
      aspiración, básicamente.</p>
    <p><strong>Tú has sufrido el acoso de la Seguridad del Estado. ¿Cómo ha sido esa experiencia luego del 27N?</strong>
    </p>
    <p>Bueno, yo estuve involucrada en la campaña contra el Decreto 349, luego comienzo a trabajar en el Instituto de
      Artivismo y desde ahí justo fue que empezó la intervención en mi vida de la Seguridad del Estado, por, obviamente,
      mi trabajo en ese espacio, que es un espacio pues condenado y visto como un peligro para la Seguridad del Estado,
      la Seguridad que atiende específicamente la cultura.</p>
    <p>Desde ahí empezó mi experiencia de interrogatorios, de acoso, en fin, y luego se fue incrementando en la medida
      en que ya me fui involucrando más, después de la campaña por la liberación del Luis Manuel, y se empezó a crear
      como una especia de afinidad y de comunidad más fuerte entre este grupo de artistas e intelectuales a la hora de
      protestar y de manifestar públicamente una opinión. Y desde ahí empezó hasta después del 27N, que pasó todo lo que
      lo que pasó: estuvimos de arresto domiciliario, todas estas cosas que hemos visto.</p>
    <p>Es una experiencia que ya lleva algún tiempo y que lamentablemente uno va convirtiendo en… no naturalizando
      porque nunca es natural, pero uno va como adaptándose a que es algo que está ahí, con lo que vas a tener que
      lidiar ya casi permanentemente.</p>
    <p><strong>¿Consideras que el diálogo es el camino para el entendimiento con las instituciones?</strong></p>
    <p>Yo, particularmente, desde que me gradué de la Universidad, de hecho, me he movido y he trabajado completamente
      al margen de la institución, o sea, yo no pertenezco a ninguna institución ni a ninguna organización, y como
      artista ni siquiera he sacado mi registro del creador, al que tengo derecho, pero no lo he sacado, o sea, yo estoy
      completamente deslindada de la institución, y la última vez que iba a exponer en una institución, eso fue creo que
      todavía no había terminado de graduarme, hubo un problema y la exposición fue censurada. En mi caso, mi
      participación en la exposición fue a discreción y secretamente censurada.</p>
    <p>Entonces yo realmente me he movido en ese espacio, un espacio completamente al margen de la institución. Pasa que
      la institución tiene una responsabilidad, desde que la institución es la que dicta las políticas culturales, y
      desde que la institución apoya políticas culturales que están encaminadas directamente y que tienen ver
      directamente con la represión, y ya con una represión de tipo grave, una represión que viene desde las fuerzas
      militares, del aparato de Seguridad del Estado, de todo esto. Y creo que la institución sí tiene que encarar esa
      responsabilidad y sí tiene que responder por eso.</p>
    <p>En el caso de un diálogo… para tener un diálogo lo primero es que hay que tener igualdad de condiciones, y yo
      creo que ese pujar por un diálogo es precisamente poner a la institución frente a la discusión de tener que
      reconocer a una zona de la sociedad que normalmente margina, que condena, que estigmatiza y que no quiere
      reconocer. Y es a esa zona incómoda para ellos porque disienten políticamente, porque son críticos, porque son
      frontales en su crítica frente al Estado y frente a la realidad.</p>
    <p>Entonces, obvio, para haber un diálogo tiene que haber un respeto y un reconocimiento mutuo, y en este caso es lo
      primero por lo que se está empujando, ¿no?, porque tengan que reconocerlo. Y de alguna manera se demostró que lo
      hicieron, o sea, el 27 de noviembre al Ministerio de Cultura entraron personas absolutamente vetadas, marginadas y
      reprimidas cotidianamente por la Seguridad del Estado cubano, reconocidas como enemigos del Estado, y tuvieron
      que, por la presión, por supuesto, que había afuera, tuvieron que aceptar que entraran al Ministerio.</p>
    <p>Luego salió Fernando Rojas en el Noticiero Nacional diciendo que eran compañeros revolucionarios, para el otro
      día entonces salir en la prensa diciendo que los que habían entrado eran una parte mercenarios, otros que habían
      manipulado a otros, en fin, toda esa campaña de difamación y de mentiras y de omisión sobre la realidad de los
      sucesos que han venido ocurriendo desde la manifestación frente al Ministerio.</p>
    <p>Pero creo que el diálogo…, fundamentalmente la comunidad artística e intelectual siempre va a dialogar, o sea,
      siempre va a entablar un diálogo, del tipo que sea, ya sea un diálogo desde la acción, desde el performance, pero
      en definitiva es un diálogo, porque se trata de expresiones absolutamente pacíficas, de dar criterios, por vías
      completamente pacíficas y cívicas, sobre todo.</p>
    <p>Entonces tiene que estarse dando el diálogo a todos los niveles. El diálogo tiene que estarse dando con la
      familia, tiene que estarse dando con tu espacio social, con tu vecino, con el Ministerio, con todo el mundo.</p>
    <p>Tenemos que comenzar a aprender que tenemos que reconocernos el uno al otro y tenemos que confrontar criterios y
      que esa es la única manera, lo otro, el otro camino que queda, es el de la represión. No hay otro. Es el de ya
      directamente la violencia y la represión, que es lo que ha estado haciendo el Estado por mucho tiempo, de una
      represión más psicológica, más evidente, más física, lo que sea. Pero es el diálogo. O sea, sea lo que sea, los
      contextos que sean, institucionales o no institucionales, esa va a ser la única manera.</p>
    <p>Cuba no se va a construir con otras personas que no sean los cubanos que ya están aquí, o en el exilio, pero los
      que estamos. Y tenemos que acabar de entender eso: o nos matamos o nos ponemos de acuerdo.</p>
    <p><strong>Situación del arte y los artistas cubanos después del 27N.</strong></p>
    <p>Siento que hay como un ambiente muy esperanzador. Se experimentó ya a una escala mucho mayor un sentimiento de
      comunidad, una identificación mutua, una solidaridad que creo es un proceso que ya no tiene vuelta atrás, ¿no?</p>
    <p>Nos hemos conocido muchas personas, hemos derrumbado muchos límites personales, muchos miedos, muchos prejuicios
      con el otro, mucha desconfianza, en fin, todo lo que nos crea este estado de constante paranoia que provoca el
      miedo, ¿no?, y que provoca el terror en el que vivimos. Y creo que eso no tiene vuelta atrás.</p>
    <p>Creo que es muy esperanzador ver que hay tantas personas proyectando los mismos deseos para su país, proyectando
      las mismas ganas, preguntando las mismas cosas y haciéndolo además con los mismos principios, ¿no?, haciéndolo
      básicamente sobre el principio de la paz, de la comunión, de la tolerancia mutua, incluso cuando no nos gusta, y
      hemos hecho como una especie de pequeño ejercicio democrático. Hemos venido ensayando un país desde hace mucho
      tiempo, han sucedido muchas cosas en Cuba que nos han ido enseñando internamente a ir ya poniendo en práctica ese
      ejercicio de democracia que para muchos de nosotros es completamente novedoso, es nuevo, y eso ha sido muy
      positivo. Y sobre todo para el arte ha sido y va a ser muy saludable eso, que hemos roto la barrera del miedo y
      que estamos todos juntos como apoyándonos y comprendiendo realmente la necesidad que tenemos de entender y de
      llevar todo lo que podamos nuestra responsabilidad ciudadana, ¿no?, y de ejercerla, y de defender los derechos
      nuestros y los derechos de todos, y de poner los privilegios que tenemos todos en función de las carencias y el
      desamparo del otro, y de, por lo tanto, ampararnos todos ya que todos estamos desamparados, ¿no?</p>
    <p>Y eso ha sido a nivel humano y a nivel político… ha sido algo que, para mí…, por lo menos yo, nunca había
      experimentado a esa escala, a ese nivel en Cuba. Y ha sido algo súper alentador, súper alentador, sobre todo por
      las personas que he conocido, que no conocía, y que han sido una sorpresa tremenda… Saber que en este país sigue
      habiendo un material humano así, y creativo, de una calidad tremenda y de una magnitud humana impresionante.</p>
    <p>Y para mí ha sido muy bueno. Inevitablemente eso va a incidir directamente en la salud del arte y en la salud de
      la ciudadanía cubana.</p>
    <p><strong>¿Cómo transcurrió la reunión, el 27N, con el viceministro de Cultura? ¿Cuáles fueron tus
        planteamientos?</strong></p>
    <p>Realmente en la reunión los funcionarios que estaban, que ya hemos relatado quienes eran, básicamente escucharon,
      ¿no?, nosotros los ametrallamos con una ola de criterios, de realidades, de verdades que ellos en muchos casos se
      negaban a reconocer, y todo el tiempo los estábamos interpelando, ¿no?</p>
    <p>Yo creo que mi intervención básicamente la abrí diciendo eso, ¿no?, diciendo que para tener una sociedad
      mínimamente justa hay que aceptar el derecho al disenso, y que sabemos y no somos para nada ingenuos, sabemos
      perfectamente cuál es la naturaleza del poder que nos está reprimiendo. O sea, recuerdo que… creo que comencé
      diciendo eso, ¿no? Desde la hora en punto en que se acaba de aprobar en Cuba una Constitución, y siempre ha sido
      así, que declara y adjetiva la nación desde principios ideológicos y políticos como una nación marxista-leninista-
      fidelista, no hay posibilidades de tolerancia ni de diálogo alguno. Una nación no puede ser adjetivada con nada
      que no sea el respeto absoluto a la dignidad humana, que es un principio además martiano que se cansan de repetir
      y que no se practica. Y que, desde ese punto, por supuesto, que toda discusión está cerrada, porque se me está
      negado el derecho a participar de la vida de mi país porque, en fin, estamos montados sobre un discurso de odio
      político en el que es la ideología la que marca los derechos que se tienen y los que no, y la participación que
      podemos tener o no en la sociedad. Y es un círculo cerrado, es un círculo vicioso que no nos va a llevar a nada y
      que no nos ha llevado nada por 60 años más que a la ruina, al fracaso y a la destrucción constante y cotidiana y
      diaria del espíritu humano.</p>
    <p>Yo básicamente dije eso, dije que tenían que acabar de aceptar, que tenían que acabar de entender que todo nacido
      en Cuba tenía el derecho a opinar, a decir libremente lo que pensaba, ya fuera sobre el gobierno, sobre el Estado,
      sobre la sociedad que quiere, y no solo a pensarla sino a participar de ella y a construirla también. Y que hasta
      que eso no pasara, estamos destinados a una dinámica de represión constante y de violencia constante entre
      nosotros mismos. Y es lo que ha pasado y es lo que está pasando, ¿no?</p>
    <p>Recuerdo que hablé de muchas cosas, ¿no?, hablé de Luis Manuel, hablé de la experiencia así que hemos tenido
      todos con la Seguridad del Estado, y de lo sorprendente que es que realmente el Estado vea un peligro, una amenaza
      a su seguridad en la libertad de expresión, o sea, en el derecho de cualquier cubano a expresarse libremente. Por
      supuesto que tiene que haber un peligro en esto, porque el día que eso no sea totalmente controlado pues vamos a
      tener la sociedad que todos realmente queremos tener y no la que el poder quiere conservar y quiere perpetuar.</p>
    <p>Pero nada, básicamente dije eso, ¿no?, y el ambiente de la reunión fue tenso porque las personas fueron como muy
      firmes, muy directas y muy frontales con sus discursos y con su experiencia y sobre todo con su negación absoluta.
      Casi fue una advertencia a la institución, el decirles que tienen que escuchar, que tienen que abrirse, que tienen
      que aceptar el disenso y aceptar al que piensa diferente y al que diga que se opone al Estado. Hasta que eso no
      empiece a pasar en Cuba no va a haber país, y no nos podemos llamar a nosotros mismos un país, mucho menos un país
      democrático.</p>
    <p>Fue lo que todo el mundo dijo, y los funcionarios fueron bastante como… de hecho, en muchas ocasiones, hablaban y
      se sentían como agredidos o por lo menos amenazados. En algún momento hablaron de cierta hostilidad por parte
      nuestra, cosa que no fue tal, simplemente estábamos intentando ser lo más directos y lo más frontales y lo más
      honestos posible. Y fue complicado, fue complicado.</p>
    <p>Recuerdo un momento en el que estaba, bueno, ese muchacho, el vicepresidente de la AHS y yo le decía, bueno,
      ustedes acaban de sacar una declaración llamando mercenario a Luis Manuel y al Movimiento San Isidro, ¿cuáles son
      tus argumentos?, o sea, ¿cuáles son tus evidencias de que son mercenarios, por qué los llaman mercenarios? Él todo
      el tiempo trataba de evadir la pregunta. Decía “Bueno, estamos aquí para dialogar”, y yo decía “Sí, estamos aquí
      para dialogar, eso es lo que estoy intentando hacer, responde, es una pregunta de sí o no y es muy simple: ¿son
      mercenarios o no? ¿Tú los consideras mercenarios, sí o no? Tú eres el vicepresidente de la AHS, debes saber, debes
      haber aprobado esa declaración que salió y estar de acuerdo con ella, ¿no?, para soltar semejante discurso de
      odio, además, y difamatorio”.</p>
    <p>Y él todo el tiempo: “Bueno, pero no, pero yo no sé…”, hasta un punto en el que ya se le dijo “Sí o no, o sea,
      responde sí o no” y él evadió la pregunta y dijo “Bueno, escuchándolos a ustedes ahora, viendo algunos miembros
      del Movimiento San Isidro que están acá, yo pensaría que no, que no son mercenarios”.</p>
    <p>Y fue como: “No se trata de lo que piensas o no, se trata de los hechos, se trata de lo que es o lo que no, dejen
      de manipular la realidad de esa manera, y retráctense”.</p>
    <p>Y todo el tiempo se les exigió, así, muy fuertemente, aunque sabíamos o suponíamos cuál iba a ser la respuesta a
      todo, ¿no?</p>
    <p>Y fue lindo, fue muy lindo, porque la gente que estaba ahí, que además muchos no nos conocíamos, nos conocimos
      justo allá adentro, hablando, nos fuimos identificando mucho unos con otros, y todo el mundo de verdad fue muy
      claro y muy honesto y se abrió completamente para hablar, ¿no?</p>
  </article>
</app-interview-template>
