$sidenavPadding: 2rem;

.wrapper {
  position: relative;

  .interview {
    min-height: calc(100vh - var(--top));

    &-sidenav {
      padding: $sidenavPadding;
      border: none;

      .expand-icon {
        transition: transform 0.5s ease-in-out;
        width: 4rem;
        height: 4rem;
      }

      .arrow-up {
        transform: rotate(-180deg);
      }

      .mat-expansion-panel {
        box-shadow: none;

        .mat-list-item {
          font-size: calc(var(--font-size-text) * 0.8);
          letter-spacing: 0;

          &.active-interviewed {
            color: var(--color-accent);
          }
        }
      }
    }

    &-content {
      max-width: 90rem;
      width: 70%;
      margin: 0 auto;
      padding-top: calc(
        2 * 2rem + #{$sidenavPadding}
      ); // 2rem = mat-toolbar.row's height
    }
  }
}
