$sidenavWidth: 35rem;
$sidenavPadding: 2rem;

.wrapper {
  position: relative;

  .interview {
    height: calc(100vh - var(--top-navbar));

    &-sidenav {
      max-width: $sidenavWidth;
      padding: $sidenavPadding;
      padding-right: 0;
      border: none;

      .expand-icon {
        transition: transform 0.5s ease-in-out;
        width: 4rem;
        height: 4rem;
      }

      .arrow-up {
        transform: rotate(-180deg);
      }

      .mat-expansion-panel {
        box-shadow: none;

        .mat-list-item {
          height: 3rem;
          font-size: calc(var(--font-size-text) * 0.8);
          letter-spacing: 0;

          &.active-interviewed {
            color: var(--color-accent);
          }
        }
      }
    }

    .mat-drawer-content {
      margin-left: $sidenavWidth;
    }

    &-content {
      max-width: 100rem;
      width: 80%;
      margin: 0 auto;
      margin-right: max(35%, #{$sidenavWidth});
      padding-top: calc(
        2 * 2rem + #{$sidenavPadding}
      ); // 2rem = mat-toolbar.row's height
      padding-left: 10rem;

      &.centered {
        margin: 0 auto;
        padding-left: 0;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    .interview {
      &-sidenav {
        .mat-expansion-panel {
          .mat-list-item {
            height: 4rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1700px) {
  .wrapper {
    .interview {
      &-content {
        margin-right: max(30%, #{$sidenavWidth});
      }
    }
  }
}
