$sidenav-padding: 2rem;

.wrapper {
  position: relative;

  .interview {
    position: relative;
    height: calc(100vh - var(--top-navbar));
    display: flex;
    justify-content: center;

    &-sidenav {
      position: absolute;
      top: 0;
      left: -150%;
      max-width: var(--sidenav-width);
      padding: $sidenav-padding;
      padding-right: 0;
      border: none;

      .mat-toolbar-row {
        height: var(--sidenav-banner-height);
        line-height: 1;
        margin: 1rem 0;
      }

      .expand-icon {
        transition: transform 0.5s ease-in-out;
        width: var(--sidenav-banner-height);
        height: var(--sidenav-banner-height);
      }

      .mat-expansion-panel {
        box-shadow: none;

        .mat-list-item {
          height: fit-content;
          padding: 0.4rem 0;
          font-size: calc(var(--font-size-text) * 0.7);
          letter-spacing: 0;

          &.active-interviewed {
            color: var(--color-text-400);
            font-weight: bold;
            letter-spacing: 0.5px;
          }
        }
      }
    }

    &-detail {
      width: var(--interview-detail-width);
      height: 100%;
      padding-top: calc(var(--sidenav-banner-height) + #{$sidenav-padding});
    }
  }

  .content {
    width: max(80%, var(--interview-content-width));
    margin: 0 auto;
    padding: 0 2rem;

    &__body {
      padding: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    .content {
      width: 70%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    .interview {
      &-sidenav {
        left: 0;
      }
    }

    .content {
      width: max(55%, var(--interview-content-width));
      padding: 0;

      &__body {
        padding: 0 3.2rem;
      }
    }
  }
}
