<app-menu
  *ngIf="isMenuOpened"
  (closeMenu)="closeMenu()"
  [interviewees]="interviewees$ | async"
></app-menu>

<div class="wrapper">
  <app-navbar (openMenu)="openMenu()"></app-navbar>

  <section class="interview">
    <nav class="interview-sidenav">
      <mat-toolbar>
        <mat-toolbar-row class="banner">
          <a [routerLink]="['/']">
            LA REVOLUCI&Oacute;N <br />
            DE LOS APLAUSOS
          </a>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <img
            class="expand-icon"
            [ngClass]="{ 'arrow-up': expansionPanelRef.expanded }"
            (click)="expansionPanelRef.toggle()"
            src="./assets/images/icons/utils/arrow-down.webp"
            alt="arrow button"
          />
        </mat-toolbar-row>
      </mat-toolbar>

      <mat-expansion-panel #expansionPanelRef hideToggle expanded>
        <ng-template matExpansionPanelContent>
          <mat-nav-list>
            <a
              mat-list-item
              *ngFor="let interviewed of interviewees$ | async"
              [routerLink]="['/entrevista', interviewed.path]"
              routerLinkActive="active-interviewed"
            >
              {{ interviewed.name | uppercase }}
            </a>
          </mat-nav-list>
        </ng-template>
      </mat-expansion-panel>
    </nav>

    <div class="interview-detail">
      <app-interviewed-detail></app-interviewed-detail>
      <app-interview-buttons></app-interview-buttons>
    </div>
  </section>

  <section class="content">
    <div class="content__body">
      <router-outlet></router-outlet>
    </div>
    <app-share-social-network></app-share-social-network>
    <app-card-slider></app-card-slider>
  </section>

  <app-scroll-up-button></app-scroll-up-button>

  <app-footer></app-footer>
</div>
