<app-interview-template videoId="iMeULJdLqng" audioId="979363561">
  <article>
    <p>
      <span class="first-letter">P</span>
      <em>eriodismo de Barrio</em> entrevista a la actriz Lynn Cruz y al director de cine Miguel Coyula. Esta entrevista
      forma parte de
      <em>
        <a class="link-higthlight" href="https://www.periodismodebarrio.org/2020/12/la-revolucion-de-los-aplausos/">La
          Revolución de los aplausos</a> </em>, una serie de conversaciones con actores de la sociedad civil, a raíz del
      diálogo que tuvo lugar el 27 de noviembre de 2020 en el Ministerio de Cultura.
    </p>
  </article>

  <article>
    <p><strong>¿Por qué es importante la provocación en el cine?</strong></p>
    <p><strong>Miguel: </strong>El cine, cualquier forma de arte independiente fuera de la industria, tiene que ser un
      arte incómodo; un arte que sea independiente en contenido y forma, más allá de cómo se financia. El cine
      independiente tiene que cuestionar la realidad de una forma que no se puede hacer dentro de la industria, no ya en
      Cuba, sino en cualquier país.</p>
    <p><strong>Lynn: </strong>Hacer, hablar, decir, expresar lo que no se está diciendo&#8230; ¿Qué necesito yo decir
      como actriz censurada? En el teatro, por ejemplo, que es subvencionado, lo político siempre tiene un límite muy
      claro: el lugar, el edificio, el teatro pertenece a la institución. Entonces, ¿si me salgo de la institución puedo
      decir lo que quiera? Esa es mi pregunta. Y lo que me lleva a querer “provocar”, algo que no es posible dentro de
      los espacios institucionales.</p>
    <p>Yo trabajo en Producciones Pirámide, pero también he hecho teatro independiente. Mi primera película con Miguel
      fue <em>Nadie</em>, luego <em>Corazón Azul</em>. El caso de <em>Nadie</em> fue muy importante por la personalidad
      de Rafael Alcides y el tratamiento dado a la figura de Fidel Castro.</p>
    <p><strong>¿Qué sentido tiene provocar al público? ¿Qué quieren lograr? </strong></p>
    <p><strong>M: </strong>Socavar la moral tradicional o burguesa del espectador, como decía Buñuel. El cine tiene que
      ser un arte incómodo, un arte que eleve el espíritu más allá del entretenimiento y el consumo.</p>
    <p><strong>L: </strong>Con relación al público, por ejemplo, el teatro es una experiencia más directa. El cine se
      hace con un grupo reducido de personas, muy íntimo, pero la película comienza a ser verdaderamente confrontacional
      en una sala de cine. Y más en el caso nuestro: un documental tan político como <em>Nadie</em>, por ejemplo, ha
      despertado reacciones lo mismo dentro que fuera de Cuba. Porque tú no descubres realmente la película hasta que la
      enfrentas al público. El arte es para mostrar. Si eliges quedarte en casa, la obra de arte no existe.</p>
    <p>En el teatro, por ejemplo, me interesa más que el público se involucre y complete la obra. Sin esa
      retroalimentación, el arte muere. No puede haber un espectador pasivo. Tiene que haber un espectador activo. Que
      la obra despierte reacciones, como decía Miguel, que socave la moral burguesa de los que quieren una película
      digestiva, un cine para consumir feliz. El arte tiene la responsabilidad de dejarte incómodo.</p>
    <p><strong>M:</strong> Cuando se hace arte político, cine político, uno tiene que buscar siempre las
      contradicciones. Hay un cineasta que decía: “Nunca hagas una película sobre un tema que odies o ames, porque se
      convierte en propaganda. Solo haz la película si existen suficientes contradicciones”.</p>
    <p>En el caso de <em>Nadie</em>, yo sabía que el tratamiento dado a la figura de Fidel Castro sería problemático…
      Fidel es sagrado en el audiovisual cubano. Solo se le hacen loas. Sin embargo, <em>Nadie</em> es la historia de
      amor entre dos hombres y una mujer. La mujer es la Revolución y los dos hombres son Rafael Alcides y Fidel Castro.
      Se trata de un duelo. Pero en el cine cubano puedes ser crítico hasta cierto punto, sin mencionar nombres, sin
      responsables&#8230;</p>
    <p><strong>¿Existe una relación arte/activismo?</strong></p>
    <p><strong>L:</strong> Depende. En mi caso están separados. Yo tengo una personalidad para el activismo y otra para
      crear. En el activismo buscas un efecto… Me “activo” porque quiero libertad de expresión, por ejemplo, y ese es mi
      objetivo. Pero cuando haces arte, no quieres que la obra tenga una sola lectura, sino múltiples. Con el activismo
      corres el riesgo de que la creación pierda su pureza. Me explico: una vez escuché en una conferencia sobre teatro
      posdramático que la resistencia nos podría llevar a una transacción con el poder, a convertirnos en sustitutos de
      los políticos; entonces ya no estaríamos haciendo arte.</p>
    <p><strong>M:</strong> La creación cinematográfica no tiene nada que ver con el activismo. A la hora de concebir un
      proyecto, pensar en el efecto puede ser una limitante. En ese sentido, el activismo se parece al mercado: tiene un
      mensaje muy claro que vender.</p>
    <p>Para mí la obra ideal tiene que ser polisémica: una obra que pueda funcionar y ser interpretada de muchas
      maneras. Lo importante es explorar tus demonios y entrar en diálogo con ellos. Muchas veces la gente consume cine
      político para reforzar la opinión sobre un tema determinado, pero no para entrar en un debate. La política se ve
      en blanco y negro. Mis películas en Cuba son tildadas de contrarrevolucionarias, sin embargo, en la comunidad de
      Miami dicen que son comunistas. Me encanta. “Estoy haciendo bien las cosas”, me digo.</p>
    <p><strong>¿Cómo debe ser el arte en una Cuba futura y democrática?</strong></p>
    <p><strong>L:</strong> El arte casi siempre tiene problemas, en cualquier sociedad. Llega un artista “rompedor”, que
      hace algo distinto, y de pronto comienza a ser estudiado por las instituciones culturales; se le va creando un
      molde donde tiene que encajar… Arte y política están muy unidos. El espacio es de los políticos; los fondos casi
      siempre son administrados por burócratas y funcionarios que obligan al artista a pactar.</p>
    <p>En una Cuba más democrática, en el caso nuestro específicamente, la mayor dificultad no es hacer la película,
      sino proyectarla. Nosotros nos hemos enfrentado desde 2017 a un problema con los espacios. Se trata de una
      decisión política que nos ha llevado a redadas policiales, a la Seguridad del Estado, etc.; todo por decir: “Somos
      independientes y, por tanto, buscamos espacios independientes”.</p>
    <p><strong>M: </strong>Se ha hablado mucho sobre el 27 de noviembre; algunas personas dicen que la protesta no llegó
      a nada, que la gente sucumbió a las demandas del Ministerio de Cultura de tener un diálogo y que eso ya es un
      compromiso… Sin embargo, yo creo que la protesta fue importante. Asistieron muchas personas que hace dos años
      jamás hubiesen salido del carril&#8230;</p>
    <p>Pienso también que los sucesos en torno al Movimiento San Isidro no fueron gestados por el Ministerio de Cultura,
      sino por el Ministerio del Interior y la Seguridad del Estado. Es decir, técnicamente, la protesta del 27 de
      noviembre tenía que haber sido enfrente del Ministerio del Interior o del Comité Central. Como mismo en Estados
      Unidos la gente se manifiesta frente a la Casa Blanca. Ese sería, digamos, el paso que yo quisiera ver en este
      país.</p>
    <p><strong>¿Dialogar es el camino?</strong></p>
    <p><strong>M: </strong>Mi personalidad me impide dialogar con una institución que ha censurado, continúa censurando,
      y seguirá censurando mientras dure el gobierno actual. Hay personas más capacitadas que yo para la diplomacia.
      Nosotros fuimos allí para meter presión, pero yo no esperaba un diálogo, ni sería capaz de sentarme con un
      funcionario, porque es algo que no hago en mi cine. Ahí no hago compromisos de ningún tipo. Tampoco los pudiera
      hacer en la política. Y al final la política es compromiso: ceder un poco y no ceder. No tengo nada que ver con
      ese universo, pero estoy contento de que existan personas que puedan hacer progresar la estructura social de
      alguna forma, por pequeña que sea.</p>
    <p><strong>Pero, ¿tú crees que exista esa posibilidad?</strong></p>
    <p><strong>M: </strong>No tengo una bola de cristal.</p>
    <p>Por ejemplo, ahí está el Decreto-Ley 373, que para mí representa la pérdida de la libertad de expresión, porque
      tiene un acápite que dice que los contenidos tienen que responder a las libertades que permite la Revolución
      cubana. Eso se puede interpretar de cualquier manera. Entonces, yo pienso seguir trabajando completamente fuera
      del radar como lo he hecho hasta el momento. Pero muchos cineastas sí se han acoplado al Decreto-Ley 373 y
      pertenecen al Registro del Creador. Entiendo que es difícil. No todo el mundo está dispuesto a sacrificarse y
      pasar varios años para poder hacer una película; se necesita una infraestructura de producción. En mis películas
      yo hago la fotografía, la edición, los efectos especiales, pero no todo el mundo trabaja de esa forma.</p>
    <p>Yo no quiero una Ley de cine. Quiero libertad de expresión. Es decir, eliminaría los Decretos-Ley 370, 349 y 373.
      Sería lo ideal y lo que habría que lograr. No solo para los periodistas, los cineastas o los escritores, sino para
      el ciudadano común.</p>
    <p><strong>L:</strong> No fui al Ministerio de Cultura esperando diálogo alguno. Me escribieron amigos por WhatsApp
      y comencé a ver imágenes en Facebook, entonces dijimos: “Tenemos que estar ahí”. Había muchos colegas y gente que
      piensa como uno. Pero, una vez en el Ministerio, yo no esperaba nada de ese diálogo. A mí lo que me gustó fue ver
      líderes. Se habla mucho de que la oposición carece de liderazgo. Y el hecho de ver a los artistas disidentes en el
      mismo lugar de los institucionalizados… Esa ha sido siempre la batalla del poder: no reunir en el mismo espacio a
      los revolucionarios con los “contrarrevolucionarios”.</p>
    <p>Esa comunión que se creó allí, y que dentro de ese liderazgo estuvieran personas como el dramaturgo y director de
      teatro Yunior García Aguilera, por ejemplo, para mí fue más importante que la acción misma de entrar al
      Ministerio; aunque el hecho de entrar ya es un cisma. Hubo una fractura ese día. Sentarse a la mesa con un
      viceministro que sabemos que no nos representa… No nos representa porque, sencillamente, los que no dialogan son
      ellos. Y se demostró ahí.</p>
    <p><strong>¿Qué esperaban?</strong></p>
    <p><strong>L: </strong>Nosotros fuimos por curiosidad. Queríamos ver qué era aquello. Para mí todo fue una
      experiencia… Fui cambiando durante la protesta. Primero me dije: “Estamos en la calle, todo el mundo está en la
      calle, yo voy a plantar mi demanda, voy a expresarme”. Luego vi que había otra intención, y dije: “Bueno, vamos a
      ver qué es lo que plantean los que estaban aquí antes de que yo llegara”. Antes había una organización y yo traté
      de respetarla. Traté de entrar en la dinámica de la protesta, pero luego eso se fue convirtiendo en otra cosa. Al
      final llegó mucha gente, sociedad civil también. Llegaron amistades mías que son cuentapropistas; saludaron y me
      dijeron con valentía: “Estamos aquí porque Cuba es plural. Basta ya de esto…”.</p>
    <p><strong>¿Qué debe suceder para que el diálogo sea productivo? </strong></p>
    <p><strong>L:</strong> En realidad, para mí fue productivo. La política es algo circunstancial. Lo que yo siento es
      que hay que seguir hacia otro lugar. ¿A qué me refiero? El Ministerio es como el esqueleto de la señora Morales.
      Es un símbolo hueco. Miguel y yo estamos fuera de las instituciones, estamos prohibidos, pero la mayor parte de
      las personas que estaban ahí militan en ese Ministerio. Y a esos militantes no los respetaron. Las demandas
      principales eran muy claras: la liberación de Denis Solís y el derecho de Luis Manuel Otero Alcántara de volver a
      su casa; estaban en juego cosas muy delicadas: la libertad de expresión y el derecho al espacio privado.</p>
    <p>¿Y con qué sale el viceministro en la televisión? Con una respuesta negativa. No. Hay un divorcio entre este
      hombre, esta figura, este burócrata y sus partidarios. Y eso es importante. Lo que está faltando es un
      autorreconocimiento de los artistas e intelectuales de la soledad en la que nos encontramos. Ese viceministro, esa
      persona no está ahí para representarme a mí. Esa persona es, simplemente, una marioneta de un poder que no muestra
      su rostro verdadero. Es lo que yo siento.</p>
    <p>Lo que tocaría ahora es legitimar entre nosotros los espacios que sí han roto con esa política cultural. ¿Cuáles
      son esos espacios? Casa-galería El círculo, del artista visual Luis Trápaga; INSTAR, que dirige Tania Bruguera; el
      Movimiento San Isidro, con Luis Manuel Otero Alcántara a la cabeza; Espacio Aglutinador, que dirige Sandra
      Ceballos. Son los principales. Y han sido multidisciplinarios. La lógica para mí sería la siguiente: “Vámonos para
      los lugares donde nos sentimos identificados y ahí vamos a hacer nuestra acción”. Esa sería para mí la respuesta.
    </p>
    <p><strong>Una especie de atrincheramiento… </strong></p>
    <p><strong>L: </strong>Tienes razón. Puede ser un atrincheramiento, pero no se me ocurre otra solución.</p>
    <p><strong>M: </strong>Yo creo que la solución ideal es que todos los artistas hagan su arte sin autocensurarse. Las
      protestas son efímeras. Si todos los artistas, escritores, cineastas, artistas visuales, etc., hicieran su obra
      sin interferencia de ningún tipo, sería la mejor manera de silenciar la interferencia del Estado en las
      manifestaciones artísticas.</p>
    <p>Muchas veces los artistas piensan: “Yo quiero que mi obra se exhiba en Cuba, quiero que mi película se exhiba,
      que mi libro se publique, que mis pinturas se exhiban en Cuba”. Y yo creo que es un error, porque tú no estás
      trabajando para el presente. Tú estás trabajando para sacar tus demonios. Y después, si encuentras un público
      pequeño, bueno, es así. Pero lo importante es que seas sincero contigo mismo.</p>
    <p><strong>L:</strong> No hay solución al problema momentáneamente, creo. Ya el poder dio su respuesta. La respuesta
      es no. No a la reunión entre los que considerábamos políticamente correctos y los que no.</p>
    <p><strong>Sí, pero se proyecta una segunda reunión. ¿Ese segundo diálogo puede ser productivo? ¿Qué condiciones
        debe existir para que lo sea?</strong></p>
    <p><strong>L: </strong>Productivo será. El hecho de entrar en el Ministerio sin que hubiese discriminación política
      ya es valioso. Romper esa barrera, quitar la cerca, ya es productivo. Si hay una segunda reunión, ahora con el
      ministro, claro que siempre va a ser productiva. Lo único lamentable es que no entren los medios. No sé si se
      filman estos encuentros.</p>
    <p><strong>Sí, estuvieron filmando…</strong></p>
    <p><strong>L: </strong>Eso me parece injusto. Ellos tienen la narración de ese día y nosotros no, es decir, los que
      no entramos al Ministerio. Me parece que no sería algo a tener en cuenta para la segunda reunión. Es razonable que
      no tengamos que escuchar la interpretación de los hechos, sino los hechos tal cual.</p>
    <p>La protesta demostró que se puede lograr una comunión, más allá de esa desconfianza en la que nos han hecho
      vivir: la desconfianza en el otro. Incluso, si el otro es un agente que está haciendo su trabajo. Pensarlo de esa
      forma también me gustó: estaban ellos y estábamos nosotros con esa tensión. Quizás esa es la Cuba que nos espera
      en poco de tiempo, aunque ahora mismo yo no veo horizonte para que haya un cambio. No lo veo. Porque no hay
      economía. Y sin economía no se puede dar un paso más allá. Si no tienes economía tienes que quedarte atrincherado,
      porque si no te cortan la cabeza. Simple.</p>
  </article>
</app-interview-template>
