.carousel-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;

  .carousel {
    height: 100%;
    overflow: hidden;

    .slides {
      display: flex;

      .slide {
        flex: 1 0 100%;
      }
    }
  }
  .btn-arrow {
    font-size: var(--icon-size-slider);
    width: var(--icon-size-slider);
    height: var(--icon-size-slider);
    border-radius: 50%;
    cursor: pointer;
  }
}

@media screen and (min-width: 520px) {
  .carousel-container {
    .carousel {
      .slides {
        .slide {
          flex: 1 0 calc(100% / 2);
        }
      }
    }
  }
}

@media screen and (min-width: 770px) {
  .carousel-container {
    .carousel {
      .slides {
        .slide {
          flex: 1 0 calc(100% / 3);
        }
      }
    }
  }
}
