<div class="carousel-container">
  <img
    class="btn-arrow arrow-left"
    (click)="setPreviousSlide()"
    src="./assets/images/icons/utils/arrow-down.webp"
    alt="arrow left button"
  />

  <div class="carousel">
    <div #slidesRef class="slides" *ngIf="interviewees">
      <ng-container
        *ngFor="
          let interviewed of interviewees.slice(
            interviewees.length - numberOfShownSlides
          )
        "
      >
        <div #slideRef class="slide">
          <app-interviewed-card
            [routerLink]="['/entrevista', interviewed.path]"
            [interviewed]="interviewed"
            [showShadow]="false"
            (click)="setIntervieweeById(interviewed.id)"
          ></app-interviewed-card>
        </div>
      </ng-container>

      <ng-container *ngFor="let interviewed of interviewees">
        <div class="slide">
          <app-interviewed-card
            [routerLink]="['/entrevista', interviewed.path]"
            [interviewed]="interviewed"
            [showShadow]="false"
            (click)="setIntervieweeById(interviewed.id)"
          ></app-interviewed-card>
        </div>
      </ng-container>

      <ng-container
        *ngFor="let interviewed of interviewees.slice(0, numberOfShownSlides)"
      >
        <div class="slide">
          <app-interviewed-card
            [routerLink]="['/entrevista', interviewed.path]"
            [interviewed]="interviewed"
            [showShadow]="false"
            (click)="setIntervieweeById(interviewed.id)"
          ></app-interviewed-card>
        </div>
      </ng-container>
    </div>
  </div>

  <img
    class="btn-arrow arrow-rigth"
    (click)="setNextSlide()"
    src="./assets/images/icons/utils/arrow-down.webp"
    alt="arrow right button"
  />
</div>
