$arrow-size: 3.2rem;

.carousel-container {
  display: flex;
  width: 110%;            // arrow buttons outside main margin
  margin-left: -5%;       // center carousel
  align-items: center;
  justify-content: space-evenly;

  .carousel {
    height: 100%;
    overflow: hidden;

    .slides {
      display: flex;

      .slide {
        flex: 1 0 100%;
      }
    }
  }
  .btn-arrow {
    font-size: $arrow-size;
    width: $arrow-size;
    height: $arrow-size;
    border-radius: 50%;
  }
}

@media screen and (min-width: 520px) {
  .carousel-container {
    .carousel {
      .slides {
        .slide {
          flex: 1 0 calc(100% / 2);
        }
      }
    }
  }
}

@media screen and (min-width: 770px) {
  .carousel-container {
    .carousel {
      .slides {
        .slide {
          flex: 1 0 calc(100% / 3);
        }
      }
    }
  }
}
