<div class="carousel-container">
  <button mat-icon-button (click)="setPreviousSlide()">
    <mat-icon
      class="btn-arrow prev"
      aria-hidden="false"
      aria-label="Scroll down"
      svgIcon="arrowDown"
    ></mat-icon>
  </button>

  <div class="carousel">
    <div #slidesRef class="slides" *ngIf="interviewees">
      <ng-container
        *ngFor="
          let interviewed of interviewees.slice(
            interviewees.length - numberOfShownSlides
          )
        "
      >
        <div #slideRef class="slide">
          <app-interviewed-card
            [routerLink]="['/interview', interviewed.id]"
            [interviewed]="interviewed"
            [showShadow]="false"
            (click)="setIntervieweeById(interviewed.id)"
          ></app-interviewed-card>
        </div>
      </ng-container>

      <ng-container *ngFor="let interviewed of interviewees">
        <div class="slide">
          <app-interviewed-card
            [routerLink]="['/interview', interviewed.id]"
            [interviewed]="interviewed"
            [showShadow]="false"
            (click)="setIntervieweeById(interviewed.id)"
          ></app-interviewed-card>
        </div>
      </ng-container>

      <ng-container
        *ngFor="let interviewed of interviewees.slice(0, numberOfShownSlides)"
      >
        <div class="slide">
          <app-interviewed-card
            [routerLink]="['/interview', interviewed.id]"
            [interviewed]="interviewed"
            [showShadow]="false"
            (click)="setIntervieweeById(interviewed.id)"
          ></app-interviewed-card>
        </div>
      </ng-container>
    </div>
  </div>

  <button mat-icon-button (click)="setNextSlide()">
    <mat-icon
      class="btn-arrow next"
      aria-hidden="false"
      aria-label="Scroll down"
      svgIcon="arrowDown"
    ></mat-icon>
  </button>
</div>
